openapi: 3.2.0
info:
  title: Eve Online User Interface API
  version: '1.36'
  description: 'Operations tagged User Interface across 7 of this provider''s published API definitions: eve-online-openapi.yml, swagger.json, swagger_2.json, swagger_3.json, swagger_4.json, swagger_5.json, swagger_6.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://esi.evetech.net/latest
- url: https://esi.evetech.net
- url: https://esi.evetech.net/legacy
- url: https://esi.evetech.net/dev
tags:
- name: User Interface
paths:
  /ui/autopilot/waypoint/:
    post:
      description: 'Set a solar system as autopilot waypoint


        ---

        Alternate route: `/dev/ui/autopilot/waypoint/`


        Alternate route: `/legacy/ui/autopilot/waypoint/`


        Alternate route: `/v2/ui/autopilot/waypoint/`

        '
      operationId: post_ui_autopilot_waypoint
      parameters:
      - description: Whether this solar system should be added to the beginning of all waypoints
        in: query
        name: add_to_beginning
        required: true
        schema:
          type: boolean
          default: false
        example: false
      - description: Whether clean other waypoints beforing adding this one
        in: query
        name: clear_other_waypoints
        required: true
        schema:
          type: boolean
          default: false
        example: false
      - $ref: '#/components/parameters/datasource'
      - description: The destination to travel to, can be solar system, station or structure's id
        in: query
        name: destination_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      - $ref: '#/components/parameters/token'
      responses:
        '204':
          description: Open window request received
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-ui.write_waypoint.v1
      summary: EVE Online Set Autopilot Waypoint
      tags:
      - User Interface
      x-alternate-versions:
      - dev
      - legacy
      - v2
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /ui/openwindow/contract/:
    post:
      description: 'Open the contract window inside the client


        ---

        Alternate route: `/dev/ui/openwindow/contract/`


        Alternate route: `/legacy/ui/openwindow/contract/`


        Alternate route: `/v1/ui/openwindow/contract/`

        '
      operationId: post_ui_openwindow_contract
      parameters:
      - description: The contract to open
        in: query
        name: contract_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/token'
      responses:
        '204':
          description: Open window request received
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-ui.open_window.v1
      summary: EVE Online Open Contract Window
      tags:
      - User Interface
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /ui/openwindow/information/:
    post:
      description: 'Open the information window for a character, corporation or alliance inside the client


        ---

        Alternate route: `/dev/ui/openwindow/information/`


        Alternate route: `/legacy/ui/openwindow/information/`


        Alternate route: `/v1/ui/openwindow/information/`

        '
      operationId: post_ui_openwindow_information
      parameters:
      - $ref: '#/components/parameters/datasource'
      - description: The target to open
        in: query
        name: target_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      - $ref: '#/components/parameters/token'
      responses:
        '204':
          description: Open window request received
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-ui.open_window.v1
      summary: EVE Online Open Information Window
      tags:
      - User Interface
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /ui/openwindow/marketdetails/:
    post:
      description: 'Open the market details window for a specific typeID inside the client


        ---

        Alternate route: `/dev/ui/openwindow/marketdetails/`


        Alternate route: `/legacy/ui/openwindow/marketdetails/`


        Alternate route: `/v1/ui/openwindow/marketdetails/`

        '
      operationId: post_ui_openwindow_marketdetails
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/token'
      - description: The item type to open in market window
        in: query
        name: type_id
        required: true
        schema:
          type: integer
          format: int32
        example: 587
      responses:
        '204':
          description: Open window request received
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-ui.open_window.v1
      summary: EVE Online Open Market Details
      tags:
      - User Interface
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /ui/openwindow/newmail/:
    post:
      description: 'Open the New Mail window, according to settings from the request if applicable


        ---

        Alternate route: `/dev/ui/openwindow/newmail/`


        Alternate route: `/legacy/ui/openwindow/newmail/`


        Alternate route: `/v1/ui/openwindow/newmail/`

        '
      operationId: post_ui_openwindow_newmail
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/token'
      requestBody:
        content:
          application/json:
            schema:
              description: new_mail object
              properties:
                body:
                  description: body string
                  maxLength: 10000
                  title: post_ui_openwindow_newmail_body
                  type: string
                recipients:
                  description: recipients array
                  items:
                    description: recipient integer
                    format: int32
                    title: post_ui_openwindow_newmail_recipient
                    type: integer
                  maxItems: 50
                  minItems: 1
                  title: post_ui_openwindow_newmail_recipients
                  type: array
                subject:
                  description: subject string
                  maxLength: 1000
                  title: post_ui_openwindow_newmail_subject
                  type: string
                to_corp_or_alliance_id:
                  description: to_corp_or_alliance_id integer
                  format: int32
                  title: post_ui_openwindow_newmail_to_corp_or_alliance_id
                  type: integer
                to_mailing_list_id:
                  description: Corporations, alliances and mailing lists are all types of mailing groups. You may only send to one mailing group, at a time, so you may fill out either this field or the to_corp_or_alliance_ids field
                  format: int32
                  title: post_ui_openwindow_newmail_to_mailing_list_id
                  type: integer
              required:
              - subject
              - body
              - recipients
              title: post_ui_openwindow_newmail_new_mail
              type: object
            examples:
              PostUiOpenwindowNewmailRequestExample:
                summary: Default post_ui_openwindow_newmail request
                x-microcks-default: true
                value:
                  body: example
                  recipients:
                  - 1
                  subject: example
                  to_corp_or_alliance_id: 99005338
                  to_mailing_list_id: 1001
        description: The details of mail to create
        required: true
      responses:
        '204':
          description: Open window request received
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '422':
          description: Invalid request
          content:
            application/json:
              schema:
                description: Unprocessable entity
                properties:
                  error:
                    description: Unprocessable entity message
                    title: post_ui_openwindow_newmail_422_unprocessable_entity
                    type: string
                title: post_ui_openwindow_newmail_unprocessable_entity
                type: object
              examples:
                response:
                  value:
                    error: Unprocessable entity message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-ui.open_window.v1
      summary: EVE Online Open New Mail Window
      tags:
      - User Interface
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /v1/ui/openwindow/contract/:
    post:
      description: 'Open the contract window inside the client


        ---

        '
      operationId: post_ui_openwindow_contract
      parameters:
      - description: The contract to open
        in: query
        name: contract_id
        required: true
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/token'
      responses:
        '204':
          description: Open window request received
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-ui.open_window.v1
      summary: Open Contract Window
      tags:
      - User Interface
      x-alternate-versions:
      - latest
      - legacy
      - v1
    servers:
    - url: https://esi.evetech.net
  /v1/ui/openwindow/information/:
    post:
      description: 'Open the information window for a character, corporation or alliance inside the client


        ---

        '
      operationId: post_ui_openwindow_information
      parameters:
      - $ref: '#/components/parameters/datasource'
      - description: The target to open
        in: query
        name: target_id
        required: true
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/token'
      responses:
        '204':
          description: Open window request received
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-ui.open_window.v1
      summary: Open Information Window
      tags:
      - User Interface
      x-alternate-versions:
      - latest
      - legacy
      - v1
    servers:
    - url: https://esi.evetech.net
  /v1/ui/openwindow/marketdetails/:
    post:
      description: 'Open the market details window for a specific typeID inside the client


        ---

        '
      operationId: post_ui_openwindow_marketdetails
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/token'
      - description: The item type to open in market window
        in: query
        name: type_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '204':
          description: Open window request received
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-ui.open_window.v1
      summary: Open Market Details
      tags:
      - User Interface
      x-alternate-versions:
      - latest
      - legacy
      - v1
    servers:
    - url: https://esi.evetech.net
  /v1/ui/openwindow/newmail/:
    post:
      description: 'Open the New Mail window, according to settings from the request if applicable


        ---

        '
      operationId: post_ui_openwindow_newmail
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/token'
      responses:
        '204':
          description: Open window request received
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '422':
          description: Invalid request
          content:
            application/json:
              schema:
                description: Unprocessable entity
                properties:
                  error:
                    description: Unprocessable entity message
                    title: post_ui_openwindow_newmail_422_unprocessable_entity
                    type: string
                title: post_ui_openwindow_newmail_unprocessable_entity
                type: object
              example:
                error: Unprocessable entity message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-ui.open_window.v1
      summary: Open New Mail Window
      tags:
      - User Interface
      x-alternate-versions:
      - latest
      - legacy
      - v1
      requestBody:
        content:
          application/json:
            schema:
              description: new_mail object
              properties:
                body:
                  description: body string
                  maxLength: 10000
                  title: post_ui_openwindow_newmail_body
                  type: string
                recipients:
                  description: recipients array
                  items:
                    description: recipient integer
                    format: int32
                    title: post_ui_openwindow_newmail_recipient
                    type: integer
                  maxItems: 50
                  minItems: 1
                  title: post_ui_openwindow_newmail_recipients
                  type: array
                subject:
                  description: subject string
                  maxLength: 1000
                  title: post_ui_openwindow_newmail_subject
                  type: string
                to_corp_or_alliance_id:
                  description: to_corp_or_alliance_id integer
                  format: int32
                  title: post_ui_openwindow_newmail_to_corp_or_alliance_id
                  type: integer
                to_mailing_list_id:
                  description: Corporations, alliances and mailing lists are all types of mailing groups. You may only send to one mailing group, at a time, so you may fill out either this field or the to_corp_or_alliance_ids field
                  format: int32
                  title: post_ui_openwindow_newmail_to_mailing_list_id
                  type: integer
              required:
              - subject
              - body
              - recipients
              title: post_ui_openwindow_newmail_new_mail
              type: object
        description: The details of mail to create
        required: true
    servers:
    - url: https://esi.evetech.net
  /v2/ui/autopilot/waypoint/:
    post:
      description: 'Set a solar system as autopilot waypoint


        ---

        '
      operationId: post_ui_autopilot_waypoint
      parameters:
      - description: Whether this solar system should be added to the beginning of all waypoints
        in: query
        name: add_to_beginning
        required: true
        schema:
          type: boolean
          default: false
      - description: Whether clean other waypoints beforing adding this one
        in: query
        name: clear_other_waypoints
        required: true
        schema:
          type: boolean
          default: false
      - $ref: '#/components/parameters/datasource'
      - description: The destination to travel to, can be solar system, station or structure's id
        in: query
        name: destination_id
        required: true
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/token'
      responses:
        '204':
          description: Open window request received
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-ui.write_waypoint.v1
      summary: Set Autopilot Waypoint
      tags:
      - User Interface
      x-alternate-versions:
      - latest
      - legacy
      - v2
    servers:
    - url: https://esi.evetech.net
components:
  schemas:
    error_limited:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
          example: example
      required:
      - error
      title: Error limited
      type: object
    gateway_timeout:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
          example: example
        timeout:
          description: number of seconds the request was given
          type: integer
          example: 1
      required:
      - error
      title: Gateway timeout
      type: object
    forbidden:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
          example: example
        sso_status:
          description: status code received from SSO
          type: integer
          example: 1
      required:
      - error
      title: Forbidden
      type: object
    unauthorized:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
          example: example
      required:
      - error
      title: Unauthorized
      type: object
    bad_request:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
          example: example
      required:
      - error
      title: Bad request
      type: object
    service_unavailable:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
          example: example
      required:
      - error
      title: Service unavailable
      type: object
    internal_server_error:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
          example: example
      required:
      - error
      title: Internal server error
      type: object
    error_limited_2:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    gateway_timeout_2:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    forbidden_2:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
        sso_status:
          description: status code received from SSO
          type: integer
      required:
      - error
      title: Forbidden
      type: object
    unauthorized_2:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
      required:
      - error
      title: Unauthorized
      type: object
    bad_request_2:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    service_unavailable_2:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    internal_server_error_2:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    error_limited_3:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    gateway_timeout_3:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    forbidden_3:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
        sso_status:
          description: status code received from SSO
          type: integer
      required:
      - error
      title: Forbidden
      type: object
    unauthorized_3:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
      required:
      - error
      title: Unauthorized
      type: object
    bad_request_3:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    service_unavailable_3:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    internal_server_error_3:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    error_limited_4:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    gateway_timeout_4:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    forbidden_4:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
        sso_status:
          description: status code received from SSO
          type: integer
      required:
      - error
      title: Forbidden
      type: object
    unauthorized_4:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
      required:
      - error
      title: Unauthorized
      type: object
    bad_request_4:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    service_unavailable_4:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    internal_server_error_4:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    error_limited_5:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    gateway_timeout_5:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    forbidden_5:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
        sso_status:
          description: status code received from SSO
          type: integer
      required:
      - error
      title: Forbidden
      type: object
    unauthorized_5:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
      required:
      - error
      title: Unauthorized
      type: object
    bad_request_5:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    service_unavailable_5:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    internal_server_error_5:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    error_limited_6:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    gateway_timeout_6:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    forbidden_6:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
        sso_status:
          description: status code received from SSO
          type: integer
      required:
      - error
      title: Forbidden
      type: object
    unauthorized_6:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
      required:
      - error
      title: Unauthorized
      type: object
    bad_request_6:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    service_unavailable_6:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    internal_server_error_6:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    error_limited_7:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    gateway_timeout_7:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    forbidden_7:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
        sso_status:
          description: status code received from SSO
          type: integer
      required:
      - error
      title: Forbidden
      type: object
    unauthorized_7:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
      required:
      - error
      title: Unauthorized
      type: object
    bad_request_7:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    service_unavailable_7:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    internal_server_error_7:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
  parameters:
    datasource:
      description: The server name you would like data from
      in: query
      name: datasource
      schema:
        type: string
        enum:
        - tranquility
        default: tranquility
    token:
      description: Access token to use if unable to set a header
      in: query
      name: token
      schema:
        type: string
  securitySchemes:
    evesso:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.eveonline.com/v2/oauth/authorize
          scopes:
            esi-alliances.read_contacts.v1: EVE SSO scope esi-alliances.read_contacts.v1
            esi-assets.read_assets.v1: EVE SSO scope esi-assets.read_assets.v1
            esi-assets.read_corporation_assets.v1: EVE SSO scope esi-assets.read_corporation_assets.v1
            esi-calendar.read_calendar_events.v1: EVE SSO scope esi-calendar.read_calendar_events.v1
            esi-calendar.respond_calendar_events.v1: EVE SSO scope esi-calendar.respond_calendar_events.v1
            esi-characters.read_agents_research.v1: EVE SSO scope esi-characters.read_agents_research.v1
            esi-characters.read_blueprints.v1: EVE SSO scope esi-characters.read_blueprints.v1
            esi-characters.read_contacts.v1: EVE SSO scope esi-characters.read_contacts.v1
            esi-characters.read_corporation_roles.v1: EVE SSO scope esi-characters.read_corporation_roles.v1
            esi-characters.read_fatigue.v1: EVE SSO scope esi-characters.read_fatigue.v1
            esi-characters.read_fw_stats.v1: EVE SSO scope esi-characters.read_fw_stats.v1
            esi-characters.read_loyalty.v1: EVE SSO scope esi-characters.read_loyalty.v1
            esi-characters.read_medals.v1: EVE SSO scope esi-characters.read_medals.v1
            esi-characters.read_notifications.v1: EVE SSO scope esi-characters.read_notifications.v1
            esi-characters.read_standings.v1: EVE SSO scope esi-characters.read_standings.v1
            esi-characters.read_titles.v1: EVE SSO scope esi-characters.read_titles.v1
            esi-characters.write_contacts.v1: EVE SSO scope esi-characters.write_contacts.v1
            esi-clones.read_clones.v1: EVE SSO scope esi-clones.read_clones.v1
            esi-clones.read_implants.v1: EVE SSO scope esi-clones.read_implants.v1
            esi-contracts.read_character_contracts.v1: EVE SSO scope esi-contracts.read_character_contracts.v1
            esi-contracts.read_corporation_contracts.v1: EVE SSO scope esi-contracts.read_corporation_contracts.v1
            esi-corporations.read_blueprints.v1: EVE SSO scope esi-corporations.read_blueprints.v1
            esi-corporations.read_contacts.v1: EVE SSO scope esi-corporations.read_contacts.v1
            esi-corporations.read_container_logs.v1: EVE SSO scope esi-corporations.read_container_logs.v1
            esi-corporations.read_corporation_membership.v1: EVE SSO scope esi-corporations.read_corporation_membership.v1
            esi-corporations.read_divisions.v1: EVE SSO scope esi-corporations.read_divisions.v1
            esi-corporations.read_facilities.v1: EVE SSO scope esi-corporations.read_facilities.v1
            esi-corporations.read_fw_stats.v1: EVE SSO scope esi-corporations.read_fw_stats.v1
            esi-corporations.read_medals.v1: EVE SSO scope esi-corporations.read_medals.v1
            esi-corporations.read_standings.v1: EVE SSO scope esi-corporations.read_standings.v1
            esi-corporations.read_starbases.v1: EVE SSO scope esi-corporations.read_starbases.v1
            esi-corporations.read_structures.v1: EVE SSO scope esi-corporations.read_structures.v1
            esi-corporations.read_titles.v1: EVE SSO scope esi-corporations.read_titles.v1
            esi-corporations.track_members.v1: EVE SSO scope esi-corporations.track_members.v1
            esi-fittings.read_fittings.v1: EVE SSO scope esi-fittings.read_fittings.v1
            esi-fittings.write_fittings.v1: EVE SSO scope esi-fittings.write_fittings.v1
            esi-fleets.read_fleet.v1: EVE SSO scope esi-fleets.read_fleet.v1
            esi-fleets.write_fleet.v1: EVE SSO scope esi-fleets.write_fleet.v1
            esi-industry.read_character_jobs.v1: EVE SSO scope esi-industry.read_character_jobs.v1
            esi-industry.read_character_mining.v1: EVE SSO scope esi-industry.read_character_mining.v1
            esi-industry.read_corporation_jobs.v1: EVE SSO scope esi-industry.read_corporation_jobs.v1
            esi-industry.read_corporation_mining.v1: EVE SSO scope esi-industry.read_corporation_mining.v1
            esi-killmails.read_corporation_killmails.v1: EVE SSO scope esi-killmails.read_corporation_killmails.v1
            esi-killmails.read_killmails.v1: EVE SSO scope esi-killmails.read_killmails.v1
            esi-location.read_location.v1: EVE SSO scope esi-location.read_location.v1
            esi-location.read_online.v1: EVE SSO scope esi-location.read_online.v1
            esi-location.read_ship_type.v1: EVE SSO scope esi-location.read_ship_type.v1
            esi-mail.organize_mail.v1: EVE SSO scope esi-mail.organize_mail.v1
            esi-mail.read_mail.v1: EVE SSO scope esi-mail.read_mail.v1
            esi-mail.send_mail.v1: EVE SSO scope esi-mail.send_mail.v1
            esi-markets.read_character_orders.v1: EVE SSO scope esi-markets.read_character_orders.v1
            esi-markets.read_corporation_orders.v1: EVE SSO scope esi-markets.read_corporation_orders.v1
            esi-markets.structure_markets.v1: EVE SSO scope esi-markets.structure_markets.v1
            esi-planets.manage_planets.v1: EVE SSO scope esi-planets.manage_planets.v1
            esi-planets.read_customs_offices.v1: EVE SSO scope esi-planets.read_customs_offices.v1
            esi-search.search_structures.v1: EVE SSO scope esi-search.search_structures.v1
            esi-skills.read_skillqueue.v1: EVE SSO scope esi-skills.read_skillqueue.v1
            esi-skills.read_skills.v1: EVE SSO scope esi-skills.read_skills.v1
            esi-ui.open_window.v1: EVE SSO scope esi-ui.open_window.v1
            esi-ui.write_waypoint.v1: EVE SSO scope esi-ui.write_waypoint.v1
            esi-universe.read_structures.v1: EVE SSO scope esi-universe.read_structures.v1
            esi-wallet.read_character_wallet.v1: EVE SSO scope esi-wallet.read_character_wallet.v1
            esi-wallet.read_corporation_wallets.v1: EVE SSO scope esi-wallet.read_corporation_wallets.v1
x-refined-from:
- eve-online-openapi.yml
- swagger.json
- swagger_2.json
- swagger_3.json
- swagger_4.json
- swagger_5.json
- swagger_6.json
