openapi: 3.2.0
info:
  title: Eve Online Routes API
  version: '1.36'
  description: 'Operations tagged Routes across 7 of this provider''s published API definitions: eve-online-openapi.yml, swagger.json, swagger_2.json, swagger_3.json, swagger_4.json, swagger_5.json, swagger_6.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://esi.evetech.net/latest
- url: https://esi.evetech.net
- url: https://esi.evetech.net/legacy
- url: https://esi.evetech.net/dev
tags:
- name: Routes
paths:
  /route/{origin}/{destination}/:
    get:
      description: 'Get the systems between origin and destination


        ---

        Alternate route: `/dev/route/{origin}/{destination}/`


        Alternate route: `/legacy/route/{origin}/{destination}/`


        Alternate route: `/v1/route/{origin}/{destination}/`


        ---

        This route is cached for up to 86400 seconds'
      operationId: get_route_origin_destination
      parameters:
      - description: avoid solar system ID(s)
        in: query
        name: avoid
        style: form
        explode: false
        schema:
          type: array
          items:
            format: int32
            type: integer
          maxItems: 100
          uniqueItems: true
        example:
        - 1
      - description: connected solar system pairs
        in: query
        name: connections
        style: form
        explode: false
        schema:
          type: array
          items:
            items:
              format: int32
              type: integer
            maxItems: 2
            minItems: 2
            type: array
            uniqueItems: true
          maxItems: 100
          uniqueItems: true
        x-s2o-warning: Nested collectionFormats are not supported
        example:
        - - 1
      - $ref: '#/components/parameters/datasource'
      - description: destination solar system ID
        in: path
        name: destination
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      - description: route security preference
        in: query
        name: flag
        schema:
          type: string
          enum:
          - shortest
          - secure
          - insecure
          default: shortest
        example: shortest
      - $ref: '#/components/parameters/If-None-Match'
      - description: origin solar system ID
        in: path
        name: origin
        required: true
        schema:
          type: integer
          format: int32
        example: 1
      responses:
        '200':
          description: Solar systems in route from origin to destination
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: Solar systems in route
                items:
                  description: Solar system in route
                  format: int32
                  title: Solar system ID
                  type: integer
                maxItems: 1000
                title: get_route_origin_destination_ok
                type: array
              examples:
                response:
                  value:
                  - 30002771
                  - 30002770
                  - 30002769
                  - 30002772
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '404':
          description: No route found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_route_origin_destination_404_not_found
                    type: string
                title: get_route_origin_destination_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Route
      tags:
      - Routes
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 86400
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /v1/route/{origin}/{destination}/:
    get:
      description: 'Get the systems between origin and destination


        ---


        This route is cached for up to 86400 seconds'
      operationId: get_route_origin_destination
      parameters:
      - description: avoid solar system ID(s)
        in: query
        name: avoid
        schema:
          type: array
          items:
            format: int32
            type: integer
          maxItems: 100
          uniqueItems: true
      - description: connected solar system pairs
        in: query
        name: connections
        schema:
          type: array
          items:
            collectionFormat: pipes
            items:
              format: int32
              type: integer
            maxItems: 2
            minItems: 2
            type: array
            uniqueItems: true
          maxItems: 100
          uniqueItems: true
      - $ref: '#/components/parameters/datasource'
      - description: destination solar system ID
        in: path
        name: destination
        required: true
        schema:
          type: integer
          format: int32
      - description: route security preference
        in: query
        name: flag
        schema:
          type: string
          enum:
          - shortest
          - secure
          - insecure
          default: shortest
      - $ref: '#/components/parameters/If-None-Match'
      - description: origin solar system ID
        in: path
        name: origin
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Solar systems in route from origin to destination
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: Solar systems in route
                items:
                  description: Solar system in route
                  format: int32
                  title: Solar system ID
                  type: integer
                maxItems: 1000
                title: get_route_origin_destination_ok
                type: array
              example:
              - 30002771
              - 30002770
              - 30002769
              - 30002772
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '404':
          description: No route found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_route_origin_destination_404_not_found
                    type: string
                title: get_route_origin_destination_not_found
                type: object
              example:
                error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      summary: Get route
      tags:
      - Routes
      x-alternate-versions:
      - latest
      - legacy
      - v1
      x-cached-seconds: 86400
    servers:
    - url: https://esi.evetech.net
components:
  schemas:
    service_unavailable:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
          example: example
      required:
      - error
      title: Service unavailable
      type: object
    error_limited:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
          example: example
      required:
      - error
      title: Error limited
      type: object
    bad_request:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
          example: example
      required:
      - error
      title: Bad request
      type: object
    internal_server_error:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
          example: example
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
          example: example
        timeout:
          description: number of seconds the request was given
          type: integer
          example: 1
      required:
      - error
      title: Gateway timeout
      type: object
    service_unavailable_2:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_2:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_2:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_2:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_2:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    service_unavailable_3:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_3:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_3:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_3:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_3:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    service_unavailable_4:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_4:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_4:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_4:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_4:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    service_unavailable_5:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_5:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_5:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_5:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_5:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    service_unavailable_6:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_6:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_6:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_6:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_6:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    service_unavailable_7:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_7:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_7:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_7:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_7:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
  parameters:
    If-None-Match:
      description: ETag from a previous request. A 304 will be returned if this matches the current ETag
      in: header
      name: If-None-Match
      schema:
        type: string
    datasource:
      description: The server name you would like data from
      in: query
      name: datasource
      schema:
        type: string
        enum:
        - tranquility
        default: tranquility
  securitySchemes:
    evesso:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.eveonline.com/v2/oauth/authorize
          scopes:
            esi-alliances.read_contacts.v1: EVE SSO scope esi-alliances.read_contacts.v1
            esi-assets.read_assets.v1: EVE SSO scope esi-assets.read_assets.v1
            esi-assets.read_corporation_assets.v1: EVE SSO scope esi-assets.read_corporation_assets.v1
            esi-calendar.read_calendar_events.v1: EVE SSO scope esi-calendar.read_calendar_events.v1
            esi-calendar.respond_calendar_events.v1: EVE SSO scope esi-calendar.respond_calendar_events.v1
            esi-characters.read_agents_research.v1: EVE SSO scope esi-characters.read_agents_research.v1
            esi-characters.read_blueprints.v1: EVE SSO scope esi-characters.read_blueprints.v1
            esi-characters.read_contacts.v1: EVE SSO scope esi-characters.read_contacts.v1
            esi-characters.read_corporation_roles.v1: EVE SSO scope esi-characters.read_corporation_roles.v1
            esi-characters.read_fatigue.v1: EVE SSO scope esi-characters.read_fatigue.v1
            esi-characters.read_fw_stats.v1: EVE SSO scope esi-characters.read_fw_stats.v1
            esi-characters.read_loyalty.v1: EVE SSO scope esi-characters.read_loyalty.v1
            esi-characters.read_medals.v1: EVE SSO scope esi-characters.read_medals.v1
            esi-characters.read_notifications.v1: EVE SSO scope esi-characters.read_notifications.v1
            esi-characters.read_standings.v1: EVE SSO scope esi-characters.read_standings.v1
            esi-characters.read_titles.v1: EVE SSO scope esi-characters.read_titles.v1
            esi-characters.write_contacts.v1: EVE SSO scope esi-characters.write_contacts.v1
            esi-clones.read_clones.v1: EVE SSO scope esi-clones.read_clones.v1
            esi-clones.read_implants.v1: EVE SSO scope esi-clones.read_implants.v1
            esi-contracts.read_character_contracts.v1: EVE SSO scope esi-contracts.read_character_contracts.v1
            esi-contracts.read_corporation_contracts.v1: EVE SSO scope esi-contracts.read_corporation_contracts.v1
            esi-corporations.read_blueprints.v1: EVE SSO scope esi-corporations.read_blueprints.v1
            esi-corporations.read_contacts.v1: EVE SSO scope esi-corporations.read_contacts.v1
            esi-corporations.read_container_logs.v1: EVE SSO scope esi-corporations.read_container_logs.v1
            esi-corporations.read_corporation_membership.v1: EVE SSO scope esi-corporations.read_corporation_membership.v1
            esi-corporations.read_divisions.v1: EVE SSO scope esi-corporations.read_divisions.v1
            esi-corporations.read_facilities.v1: EVE SSO scope esi-corporations.read_facilities.v1
            esi-corporations.read_fw_stats.v1: EVE SSO scope esi-corporations.read_fw_stats.v1
            esi-corporations.read_medals.v1: EVE SSO scope esi-corporations.read_medals.v1
            esi-corporations.read_standings.v1: EVE SSO scope esi-corporations.read_standings.v1
            esi-corporations.read_starbases.v1: EVE SSO scope esi-corporations.read_starbases.v1
            esi-corporations.read_structures.v1: EVE SSO scope esi-corporations.read_structures.v1
            esi-corporations.read_titles.v1: EVE SSO scope esi-corporations.read_titles.v1
            esi-corporations.track_members.v1: EVE SSO scope esi-corporations.track_members.v1
            esi-fittings.read_fittings.v1: EVE SSO scope esi-fittings.read_fittings.v1
            esi-fittings.write_fittings.v1: EVE SSO scope esi-fittings.write_fittings.v1
            esi-fleets.read_fleet.v1: EVE SSO scope esi-fleets.read_fleet.v1
            esi-fleets.write_fleet.v1: EVE SSO scope esi-fleets.write_fleet.v1
            esi-industry.read_character_jobs.v1: EVE SSO scope esi-industry.read_character_jobs.v1
            esi-industry.read_character_mining.v1: EVE SSO scope esi-industry.read_character_mining.v1
            esi-industry.read_corporation_jobs.v1: EVE SSO scope esi-industry.read_corporation_jobs.v1
            esi-industry.read_corporation_mining.v1: EVE SSO scope esi-industry.read_corporation_mining.v1
            esi-killmails.read_corporation_killmails.v1: EVE SSO scope esi-killmails.read_corporation_killmails.v1
            esi-killmails.read_killmails.v1: EVE SSO scope esi-killmails.read_killmails.v1
            esi-location.read_location.v1: EVE SSO scope esi-location.read_location.v1
            esi-location.read_online.v1: EVE SSO scope esi-location.read_online.v1
            esi-location.read_ship_type.v1: EVE SSO scope esi-location.read_ship_type.v1
            esi-mail.organize_mail.v1: EVE SSO scope esi-mail.organize_mail.v1
            esi-mail.read_mail.v1: EVE SSO scope esi-mail.read_mail.v1
            esi-mail.send_mail.v1: EVE SSO scope esi-mail.send_mail.v1
            esi-markets.read_character_orders.v1: EVE SSO scope esi-markets.read_character_orders.v1
            esi-markets.read_corporation_orders.v1: EVE SSO scope esi-markets.read_corporation_orders.v1
            esi-markets.structure_markets.v1: EVE SSO scope esi-markets.structure_markets.v1
            esi-planets.manage_planets.v1: EVE SSO scope esi-planets.manage_planets.v1
            esi-planets.read_customs_offices.v1: EVE SSO scope esi-planets.read_customs_offices.v1
            esi-search.search_structures.v1: EVE SSO scope esi-search.search_structures.v1
            esi-skills.read_skillqueue.v1: EVE SSO scope esi-skills.read_skillqueue.v1
            esi-skills.read_skills.v1: EVE SSO scope esi-skills.read_skills.v1
            esi-ui.open_window.v1: EVE SSO scope esi-ui.open_window.v1
            esi-ui.write_waypoint.v1: EVE SSO scope esi-ui.write_waypoint.v1
            esi-universe.read_structures.v1: EVE SSO scope esi-universe.read_structures.v1
            esi-wallet.read_character_wallet.v1: EVE SSO scope esi-wallet.read_character_wallet.v1
            esi-wallet.read_corporation_wallets.v1: EVE SSO scope esi-wallet.read_corporation_wallets.v1
x-refined-from:
- eve-online-openapi.yml
- swagger.json
- swagger_2.json
- swagger_3.json
- swagger_4.json
- swagger_5.json
- swagger_6.json
