openapi: 3.0.0
info:
  description: An OpenAPI for EVE Online
  title: EVE Swagger Interface Alliance Killmails API
  version: '1.36'
servers:
- url: https://esi.evetech.net/latest
tags:
- name: Killmails
paths:
  /characters/{character_id}/killmails/recent/:
    get:
      description: 'Return a list of a character''s kills and losses going back 90 days


        ---

        Alternate route: `/dev/characters/{character_id}/killmails/recent/`


        Alternate route: `/legacy/characters/{character_id}/killmails/recent/`


        Alternate route: `/v1/characters/{character_id}/killmails/recent/`


        ---

        This route is cached for up to 300 seconds'
      operationId: get_characters_character_id_killmails_recent
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of killmail IDs and hashes
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    killmail_hash:
                      description: A hash of this killmail
                      title: get_characters_character_id_killmails_recent_killmail_hash
                      type: string
                    killmail_id:
                      description: ID of this killmail
                      format: int32
                      title: get_characters_character_id_killmails_recent_killmail_id
                      type: integer
                  required:
                  - killmail_id
                  - killmail_hash
                  title: get_characters_character_id_killmails_recent_200_ok
                  type: object
                maxItems: 1000
                title: get_characters_character_id_killmails_recent_ok
                type: array
              examples:
                response:
                  value:
                  - killmail_hash: 8eef5e8fb6b88fe3407c489df33822b2e3b57a5e
                    killmail_id: 2
                  - killmail_hash: b41ccb498ece33d64019f64c0db392aa3aa701fb
                    killmail_id: 1
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-killmails.read_killmails.v1
      summary: EVE Online Get a Character's Recent Kills and Losses
      tags:
      - Killmails
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 300
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /corporations/{corporation_id}/killmails/recent/:
    get:
      description: 'Get a list of a corporation''s kills and losses going back 90 days


        ---

        Alternate route: `/dev/corporations/{corporation_id}/killmails/recent/`


        Alternate route: `/legacy/corporations/{corporation_id}/killmails/recent/`


        Alternate route: `/v1/corporations/{corporation_id}/killmails/recent/`


        ---

        This route is cached for up to 300 seconds


        ---

        Requires one of the following EVE corporation role(s): Director

        '
      operationId: get_corporations_corporation_id_killmails_recent
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of killmail IDs and hashes
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    killmail_hash:
                      description: A hash of this killmail
                      title: get_corporations_corporation_id_killmails_recent_killmail_hash
                      type: string
                    killmail_id:
                      description: ID of this killmail
                      format: int32
                      title: get_corporations_corporation_id_killmails_recent_killmail_id
                      type: integer
                  required:
                  - killmail_id
                  - killmail_hash
                  title: get_corporations_corporation_id_killmails_recent_200_ok
                  type: object
                maxItems: 1000
                title: get_corporations_corporation_id_killmails_recent_ok
                type: array
              examples:
                response:
                  value:
                  - killmail_hash: 8eef5e8fb6b88fe3407c489df33822b2e3b57a5e
                    killmail_id: 2
                  - killmail_hash: b41ccb498ece33d64019f64c0db392aa3aa701fb
                    killmail_id: 1
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-killmails.read_corporation_killmails.v1
      summary: EVE Online Get a Corporation's Recent Kills and Losses
      tags:
      - Killmails
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 300
      x-required-roles:
      - Director
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /killmails/{killmail_id}/{killmail_hash}/:
    get:
      description: 'Return a single killmail from its ID and hash


        ---

        Alternate route: `/dev/killmails/{killmail_id}/{killmail_hash}/`


        Alternate route: `/legacy/killmails/{killmail_id}/{killmail_hash}/`


        Alternate route: `/v1/killmails/{killmail_id}/{killmail_hash}/`


        ---

        This route is cached for up to 30758400 seconds'
      operationId: get_killmails_killmail_id_killmail_hash
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - description: The killmail hash for verification
        in: path
        name: killmail_hash
        required: true
        schema:
          type: string
        example: example
      - description: The killmail ID to be queried
        in: path
        name: killmail_id
        required: true
        schema:
          type: integer
          format: int32
        example: 84572568
      responses:
        '200':
          description: A killmail
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  attackers:
                    description: attackers array
                    items:
                      description: attacker object
                      properties:
                        alliance_id:
                          description: alliance_id integer
                          format: int32
                          title: get_killmails_killmail_id_killmail_hash_alliance_id
                          type: integer
                        character_id:
                          description: character_id integer
                          format: int32
                          title: get_killmails_killmail_id_killmail_hash_character_id
                          type: integer
                        corporation_id:
                          description: corporation_id integer
                          format: int32
                          title: get_killmails_killmail_id_killmail_hash_corporation_id
                          type: integer
                        damage_done:
                          description: damage_done integer
                          format: int32
                          title: get_killmails_killmail_id_killmail_hash_damage_done
                          type: integer
                        faction_id:
                          description: faction_id integer
                          format: int32
                          title: get_killmails_killmail_id_killmail_hash_faction_id
                          type: integer
                        final_blow:
                          description: 'Was the attacker the one to achieve the final blow

                            '
                          title: get_killmails_killmail_id_killmail_hash_final_blow
                          type: boolean
                        security_status:
                          description: 'Security status for the attacker

                            '
                          format: float
                          title: get_killmails_killmail_id_killmail_hash_security_status
                          type: number
                        ship_type_id:
                          description: 'What ship was the attacker flying

                            '
                          format: int32
                          title: get_killmails_killmail_id_killmail_hash_ship_type_id
                          type: integer
                        weapon_type_id:
                          description: 'What weapon was used by the attacker for the kill

                            '
                          format: int32
                          title: get_killmails_killmail_id_killmail_hash_weapon_type_id
                          type: integer
                      required:
                      - security_status
                      - final_blow
                      - damage_done
                      title: get_killmails_killmail_id_killmail_hash_attacker
                      type: object
                    maxItems: 10000
                    title: get_killmails_killmail_id_killmail_hash_attackers
                    type: array
                  killmail_id:
                    description: ID of the killmail
                    format: int32
                    title: get_killmails_killmail_id_killmail_hash_killmail_id
                    type: integer
                  killmail_time:
                    description: 'Time that the victim was killed and the killmail generated

                      '
                    format: date-time
                    title: get_killmails_killmail_id_killmail_hash_killmail_time
                    type: string
                  moon_id:
                    description: Moon if the kill took place at one
                    format: int32
                    title: get_killmails_killmail_id_killmail_hash_moon_id
                    type: integer
                  solar_system_id:
                    description: 'Solar system that the kill took place in

                      '
                    format: int32
                    title: get_killmails_killmail_id_killmail_hash_solar_system_id
                    type: integer
                  victim:
                    description: victim object
                    properties:
                      alliance_id:
                        description: alliance_id integer
                        format: int32
                        title: get_killmails_killmail_id_killmail_hash_victim_alliance_id
                        type: integer
                      character_id:
                        description: character_id integer
                        format: int32
                        title: get_killmails_killmail_id_killmail_hash_victim_character_id
                        type: integer
                      corporation_id:
                        description: corporation_id integer
                        format: int32
                        title: get_killmails_killmail_id_killmail_hash_victim_corporation_id
                        type: integer
                      damage_taken:
                        description: 'How much total damage was taken by the victim

                          '
                        format: int32
                        title: get_killmails_killmail_id_killmail_hash_damage_taken
                        type: integer
                      faction_id:
                        description: faction_id integer
                        format: int32
                        title: get_killmails_killmail_id_killmail_hash_victim_faction_id
                        type: integer
                      items:
                        description: items array
                        items:
                          description: item object
                          properties:
                            flag:
                              description: 'Flag for the location of the item

                                '
                              format: int32
                              title: get_killmails_killmail_id_killmail_hash_flag
                              type: integer
                            item_type_id:
                              description: item_type_id integer
                              format: int32
                              title: get_killmails_killmail_id_killmail_hash_item_type_id
                              type: integer
                            items:
                              description: items array
                              items:
                                description: item object
                                properties:
                                  flag:
                                    description: flag integer
                                    format: int32
                                    title: get_killmails_killmail_id_killmail_hash_item_flag
                                    type: integer
                                  item_type_id:
                                    description: item_type_id integer
                                    format: int32
                                    title: get_killmails_killmail_id_killmail_hash_item_item_type_id
                                    type: integer
                                  quantity_destroyed:
                                    description: quantity_destroyed integer
                                    format: int64
                                    title: get_killmails_killmail_id_killmail_hash_item_quantity_destroyed
                                    type: integer
                                  quantity_dropped:
                                    description: quantity_dropped integer
                                    format: int64
                                    title: get_killmails_killmail_id_killmail_hash_item_quantity_dropped
                                    type: integer
                                  singleton:
                                    description: singleton integer
                                    format: int32
                                    title: get_killmails_killmail_id_killmail_hash_item_singleton
                                    type: integer
                                required:
                                - item_type_id
                                - singleton
                                - flag
                                title: get_killmails_killmail_id_killmail_hash_items_item
                                type: object
                              maxItems: 10000
                              title: get_killmails_killmail_id_killmail_hash_item_items
                              type: array
                            quantity_destroyed:
                              description: 'How many of the item were destroyed if any

                                '
                              format: int64
                              title: get_killmails_killmail_id_killmail_hash_quantity_destroyed
                              type: integer
                            quantity_dropped:
                              description: 'How many of the item were dropped if any

                                '
                              format: int64
                              title: get_killmails_killmail_id_killmail_hash_quantity_dropped
                              type: integer
                            singleton:
                              description: singleton integer
                              format: int32
                              title: get_killmails_killmail_id_killmail_hash_singleton
                              type: integer
                          required:
                          - item_type_id
                          - singleton
                          - flag
                          title: get_killmails_killmail_id_killmail_hash_item
                          type: object
                        maxItems: 10000
                        title: get_killmails_killmail_id_killmail_hash_items
                        type: array
                      position:
                        description: 'Coordinates of the victim in Cartesian space relative to the Sun

                          '
                        properties:
                          x:
                            description: x number
                            format: double
                            title: get_killmails_killmail_id_killmail_hash_x
                            type: number
                          y:
                            description: y number
                            format: double
                            title: get_killmails_killmail_id_killmail_hash_y
                            type: number
                          z:
                            description: z number
                            format: double
                            title: get_killmails_killmail_id_killmail_hash_z
                            type: number
                        required:
                        - x
                        - y
                        - z
                        title: get_killmails_killmail_id_killmail_hash_position
                        type: object
                      ship_type_id:
                        description: 'The ship that the victim was piloting and was destroyed

                          '
                        format: int32
                        title: get_killmails_killmail_id_killmail_hash_victim_ship_type_id
                        type: integer
                    required:
                    - damage_taken
                    - ship_type_id
                    title: get_killmails_killmail_id_killmail_hash_victim
                    type: object
                  war_id:
                    description: 'War if the killmail is generated in relation to an official war

                      '
                    format: int32
                    title: get_killmails_killmail_id_killmail_hash_war_id
                    type: integer
                required:
                - killmail_id
                - killmail_time
                - victim
                - attackers
                - solar_system_id
                title: get_killmails_killmail_id_killmail_hash_ok
                type: object
              examples:
                response:
                  value:
                    attackers:
                    - character_id: 95810944
                      corporation_id: 1000179
                      damage_done: 5745
                      faction_id: 500003
                      final_blow: true
                      security_status: -0.3
                      ship_type_id: 17841
                      weapon_type_id: 3074
                    killmail_id: 56733821
                    killmail_time: 2016-10-22 17:13:36+00:00
                    solar_system_id: 30002976
                    victim:
                      alliance_id: 621338554
                      character_id: 92796241
                      corporation_id: 841363671
                      damage_taken: 5745
                      items:
                      - flag: 20
                        item_type_id: 5973
                        quantity_dropped: 1
                        singleton: 0
                      position:
                        x: 452186600569.4748
                        y: 146704961490.90222
                        z: 109514596532.54477
                      ship_type_id: 17812
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '422':
          description: Invalid killmail_id and/or killmail_hash
          content:
            application/json:
              schema:
                description: Unprocessable entity
                properties:
                  error:
                    description: Unprocessable entity message
                    title: get_killmails_killmail_id_killmail_hash_422_unprocessable_entity
                    type: string
                title: get_killmails_killmail_id_killmail_hash_unprocessable_entity
                type: object
              examples:
                response:
                  value:
                    error: Unprocessable entity message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get a Single Killmail
      tags:
      - Killmails
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 30758400
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/characters/{character_id}/killmails/recent/:
    get:
      description: 'Return a list of a character''s kills and losses going back 90 days


        ---


        This route is cached for up to 300 seconds'
      operationId: get_characters_character_id_killmails_recent
      parameters:
      - $ref: '#/parameters/character_id'
      - $ref: '#/parameters/datasource'
      - $ref: '#/parameters/If-None-Match'
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/token'
      responses:
        '200':
          description: A list of killmail IDs and hashes
          examples:
            application/json:
            - killmail_hash: 8eef5e8fb6b88fe3407c489df33822b2e3b57a5e
              killmail_id: 2
            - killmail_hash: b41ccb498ece33d64019f64c0db392aa3aa701fb
              killmail_id: 1
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
            X-Pages:
              default: 1
              description: Maximum page number
              format: int32
              type: integer
          schema:
            description: 200 ok array
            items:
              description: 200 ok object
              properties:
                killmail_hash:
                  description: A hash of this killmail
                  title: get_characters_character_id_killmails_recent_killmail_hash
                  type: string
                killmail_id:
                  description: ID of this killmail
                  format: int32
                  title: get_characters_character_id_killmails_recent_killmail_id
                  type: integer
              required:
              - killmail_id
              - killmail_hash
              title: get_characters_character_id_killmails_recent_200_ok
              type: object
            maxItems: 1000
            title: get_characters_character_id_killmails_recent_ok
            type: array
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '401':
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: '#/definitions/unauthorized'
        '403':
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: '#/definitions/forbidden'
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
        '504':
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
      security:
      - evesso:
        - esi-killmails.read_killmails.v1
      summary: Get a character's recent kills and losses
      tags:
      - Killmails
      x-alternate-versions:
      - latest
      - legacy
      - v1
      x-cached-seconds: 300
  /v1/corporations/{corporation_id}/killmails/recent/:
    get:
      description: 'Get a list of a corporation''s kills and losses going back 90 days


        ---


        This route is cached for up to 300 seconds


        ---

        Requires one of the following EVE corporation role(s): Director'
      operationId: get_corporations_corporation_id_killmails_recent
      parameters:
      - $ref: '#/parameters/corporation_id'
      - $ref: '#/parameters/datasource'
      - $ref: '#/parameters/If-None-Match'
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/token'
      responses:
        '200':
          description: A list of killmail IDs and hashes
          examples:
            application/json:
            - killmail_hash: 8eef5e8fb6b88fe3407c489df33822b2e3b57a5e
              killmail_id: 2
            - killmail_hash: b41ccb498ece33d64019f64c0db392aa3aa701fb
              killmail_id: 1
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
            X-Pages:
              default: 1
              description: Maximum page number
              format: int32
              type: integer
          schema:
            description: 200 ok array
            items:
              description: 200 ok object
              properties:
                killmail_hash:
                  description: A hash of this killmail
                  title: get_corporations_corporation_id_killmails_recent_killmail_hash
                  type: string
                killmail_id:
                  description: ID of this killmail
                  format: int32
                  title: get_corporations_corporation_id_killmails_recent_killmail_id
                  type: integer
              required:
              - killmail_id
              - killmail_hash
              title: get_corporations_corporation_id_killmails_recent_200_ok
              type: object
            maxItems: 1000
            title: get_corporations_corporation_id_killmails_recent_ok
            type: array
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '401':
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: '#/definitions/unauthorized'
        '403':
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: '#/definitions/forbidden'
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
        '504':
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
      security:
      - evesso:
        - esi-killmails.read_corporation_killmails.v1
      summary: Get a corporation's recent kills and losses
      tags:
      - Killmails
      x-alternate-versions:
      - latest
      - legacy
      - v1
      x-cached-seconds: 300
      x-required-roles:
      - Director
  /v1/killmails/{killmail_id}/{killmail_hash}/:
    get:
      description: 'Return a single killmail from its ID and hash


        ---


        This route is cached for up to 30758400 seconds'
      operationId: get_killmails_killmail_id_killmail_hash
      parameters:
      - $ref: '#/parameters/datasource'
      - $ref: '#/parameters/If-None-Match'
      - description: The killmail hash for verification
        in: path
        name: killmail_hash
        required: true
        type: string
      - description: The killmail ID to be queried
        format: int32
        in: path
        name: killmail_id
        required: true
        type: integer
      responses:
        '200':
          description: A killmail
          examples:
            application/json:
              attackers:
              - character_id: 95810944
                corporation_id: 1000179
                damage_done: 5745
                faction_id: 500003
                final_blow: true
                security_status: -0.3
                ship_type_id: 17841
                weapon_type_id: 3074
              killmail_id: 56733821
              killmail_time: '2016-10-22T17:13:36Z'
              solar_system_id: 30002976
              victim:
                alliance_id: 621338554
                character_id: 92796241
                corporation_id: 841363671
                damage_taken: 5745
                items:
                - flag: 20
                  item_type_id: 5973
                  quantity_dropped: 1
                  singleton: 0
                position:
                  x: 452186600569.4748
                  y: 146704961490.90222
                  z: 109514596532.54477
                ship_type_id: 17812
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok object
            properties:
              attackers:
                description: attackers array
                items:
                  description: attacker object
                  properties:
                    alliance_id:
                      description: alliance_id integer
                      format: int32
                      title: get_killmails_killmail_id_killmail_hash_alliance_id
                      type: integer
                    character_id:
                      description: character_id integer
                      format: int32
                      title: get_killmails_killmail_id_killmail_hash_character_id
                      type: integer
                    corporation_id:
                      description: corporation_id integer
                      format: int32
                      title: get_killmails_killmail_id_killmail_hash_corporation_id
                      type: integer
                    damage_done:
                      description: damage_done integer
                      format: int32
                      title: get_killmails_killmail_id_killmail_hash_damage_done
                      type: integer
                    faction_id:
                      description: faction_id integer
                      format: int32
                      title: get_killmails_killmail_id_killmail_hash_faction_id
                      type: integer
                    final_blow:
                      description: 'Was the attacker the one to achieve the final blow

                        '
                      title: get_killmails_killmail_id_killmail_hash_final_blow
                      type: boolean
                    security_status:
                      description: 'Security status for the attacker

                        '
                      format: float
                      title: get_killmails_killmail_id_killmail_hash_security_status
                      type: number
                    ship_type_id:
                      description: 'What ship was the attacker flying

                        '
                      format: int32
                      title: get_killmails_killmail_id_killmail_hash_ship_type_id
                      type: integer
                    weapon_type_id:
                      description: 'What weapon was used by the attacker for the kill

                        '
                      format: int32
                      title: get_killmails_killmail_id_killmail_hash_weapon_type_id
                      type: integer
                  required:
                  - security_status
                  - final_blow
                  - damage_done
                  title: get_killmails_killmail_id_killmail_hash_attacker
                  type: object
                maxItems: 10000
                title: get_killmails_killmail_id_killmail_hash_attackers
                type: array
              killmail_id:
                description: ID of the killmail
                format: int32
                title: get_killmails_killmail_id_killmail_hash_killmail_id
                type: integer
              killmail_time:
                description: 'Time that the victim was killed and the killmail generated

                  '
                format: date-time
                title: get_killmails_killmail_id_killmail_hash_killmail_time
                type: string
              moon_id:
                description: Moon if the kill took place at one
                format: int32
                title: get_killmails_killmail_id_killmail_hash_moon_id
                type: integer
              solar_system_id:
                description: 'Solar system that the kill took place in

                  '
                format: int32
                title: get_killmails_killmail_id_killmail_hash_solar_system_id
                type: integer
              victim:
                description: victim object
                properties:
                  alliance_id:
                    description: alliance_id integer
                    format: int32
                    title: get_killmails_killmail_id_killmail_hash_victim_alliance_id
                    type: integer
                  character_id:
                    description: character_id integer
                    format: int32
                    title: get_killmails_killmail_id_killmail_hash_victim_character_id
                    type: integer
                  corporation_id:
                    description: corporation_id integer
                    format: int32
                    title: get_killmails_killmail_id_killmail_hash_victim_corporation_id
                    type: integer
                  damage_taken:
                    description: 'How much total damage was taken by the victim

                      '
                    format: int32
                    title: get_killmails_killmail_id_killmail_hash_damage_taken
                    type: integer
                  faction_id:
                    description: faction_id integer
                    format: int32
                    title: get_killmails_killmail_id_killmail_hash_victim_faction_id
                    type: integer
                  items:
                    description: items array
                    items:
                      description: item object
                      properties:
                        flag:
                          description: 'Flag for the location of the item

                            '
                          format: int32
                          title: get_killmails_killmail_id_killmail_hash_flag
                          type: integer
                        item_type_id:
                          description: item_type_id integer
                          format: int32
                          title: get_killmails_killmail_id_killmail_hash_item_type_id
                          type: integer
                        items:
                          description: items array
                          items:
                            description: item object
                            properties:
                              flag:
                                description: flag integer
                                format: int32
                                title: get_killmails_killmail_id_killmail_hash_item_flag
                                type: integer
                              item_type_id:
                                description: item_type_id integer
                                format: int32
                                title: get_killmails_killmail_id_killmail_hash_item_item_type_id
                                type: integer
                              quantity_destroyed:
                                description: quantity_destroyed integer
                                format: int64
                                title: get_killmails_killmail_id_killmail_hash_item_quantity_destroyed
                                type: integer
                              quantity_dropped:
                                description: quantity_dropped integer
                                format: int64
                                title: get_killmails_killmail_id_killmail_hash_item_quantity_dropped
                                type: integer
                              singleton:
                                description: singleton integer
                                format: int32
                                title: get_killmails_killmail_id_killmail_hash_item_singleton
                                type: integer
                            required:
                            - item_type_id
                            - singleton
                            - flag
                            title: get_killmails_killmail_id_killmail_hash_items_item
                            type: object
                          maxItems: 10000
                          title: get_killmails_killmail_id_killmail_hash_item_items
                          type: array
                        quantity_destroyed:
                          description: 'How many of the item were destroyed if any

                            '
                          format: int64
                          title: get_killmails_killmail_id_killmail_hash_quantity_destroyed
                          type: integer
                        quantity_dropped:
                          description: 'How many of the item were dropped if any

                            '
                          format: int64
                          title: get_killmails_killmail_id_killmail_hash_quantity_dropped
                          type: integer
                        singleton:
                          description: singleton integer
                          format: int32
                          title: get_killmails_killmail_id_killmail_hash_singleton
                          type: integer
                      required:
                      - item_type_id
                      - singleton
                      - flag
                      title: get_killmails_killmail_id_killmail_hash_item
                      type: object
                    maxItems: 10000
                    title: get_killmails_killmail_id_killmail_hash_items
                    type: array
                  position:
                    description: 'Coordinates of the victim in Cartesian space relative to the Sun

                      '
                    properties:
                      x:
                        description: x number
                        format: double
                        title: get_killmails_killmail_id_killmail_hash_x
                        type: number
                      y:
                        description: y number
                        format: double
                        title: get_killmails_killmail_id_killmail_hash_y
                        type: number
                      z:
                        description: z number
                        format: double
                        title: get_killmails_killmail_id_killmail_hash_z
                        type: number
                    required:
                    - x
                    - y
                    - z
                    title: get_killmails_killmail_id_killmail_hash_position
                    type: object
                  ship_type_id:
                    description: 'The ship that the victim was piloting and was destroyed

                      '
                    format: int32
                    title: get_killmails_killmail_id_killmail_hash_victim_ship_type_id
                    type: integer
                required:
                - damage_taken
                - ship_type_id
                title: get_killmails_killmail_id_killmail_hash_victim
                type: object
              war_id:
                description: 'War if the killmail is generated in relation to an official war

                  '
                format: int32
                title: get_killmails_killmail_id_killmail_hash_war_id
                type: integer
            required:
            - killmail_id
            - killmail_time
            - victim
            - attackers
            - solar_system_id
            title: get_killmails_killmail_id_killmail_hash_ok
            type: object
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '422':
          description: Invalid killmail_id and/or killmail_hash
          examples:
            application/json:
              error: Unprocessable entity message
          schema:
            description: Unprocessable entity
            properties:
              error:
                description: Unprocessable entity message
                title: get_killmails_killmail_id_killmail_hash_422_unprocessable_entity
                type: string
            title: get_killmails_killmail_id_killmail_hash_unprocessable_entity
            type: object
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
        '504':
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
      summary: Get a single killmail
      tags:
      - Killmails
      x-alternate-versions:
      - latest
      - legacy
      - v1
      x-cached-seconds: 30758400
components:
  schemas:
    internal_server_error:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
          example: example
      required:
      - error
      title: Internal server error
      type: object
    forbidden:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
          example: example
        sso_status:
          description: status code received from SSO
          type: integer
          example: 1
      required:
      - error
      title: Forbidden
      type: object
    service_unavailable:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
          example: example
      required:
      - error
      title: Service unavailable
      type: object
    bad_request:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
          example: example
      required:
      - error
      title: Bad request
      type: object
    unauthorized:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
          example: example
      required:
      - error
      title: Unauthorized
      type: object
    gateway_timeout:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
          example: example
        timeout:
          description: number of seconds the request was given
          type: integer
          example: 1
      required:
      - error
      title: Gateway timeout
      type: object
    error_limited:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
          example: example
      required:
      - error
      title: Error limited
      type: object
  parameters:
    corporation_id:
      description: An EVE corporation ID
      in: path
      name: corporation_id
      required: true
      schema:
        type: integer
        format: int32
        minimum: 1
    datasource:
      description: The server name you would like data from
      in: query
      name: datasource
      schema:
        type: string
        enum:
        - tranquility
        default: tranquility
    character_id:
      description: An EVE character ID
      in: path
      name: character_id
      required: true
      schema:
        type: integer
        format: int32
        minimum: 1
    page:
      description: Which page of results to return
      in: query
      name: page
      schema:
        type: integer
        format: int32
        minimum: 1
        default: 1
    token:
      description: Access token to use if unable to set a header
      in: query
      name: token
      schema:
        type: string
    If-None-Match:
      description: ETag from a previous request. A 304 will be returned if this matches the current ETag
      in: header
      name: If-None-Match
      schema:
        type: string
  securitySchemes:
    evesso:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.eveonline.com/v2/oauth/authorize
          scopes:
            esi-alliances.read_contacts.v1: EVE SSO scope esi-alliances.read_contacts.v1
            esi-assets.read_assets.v1: EVE SSO scope esi-assets.read_assets.v1
            esi-assets.read_corporation_assets.v1: EVE SSO scope esi-assets.read_corporation_assets.v1
            esi-calendar.read_calendar_events.v1: EVE SSO scope esi-calendar.read_calendar_events.v1
            esi-calendar.respond_calendar_events.v1: EVE SSO scope esi-calendar.respond_calendar_events.v1
            esi-characters.read_agents_research.v1: EVE SSO scope esi-characters.read_agents_research.v1
            esi-characters.read_blueprints.v1: EVE SSO scope esi-characters.read_blueprints.v1
            esi-characters.read_contacts.v1: EVE SSO scope esi-characters.read_contacts.v1
            esi-characters.read_corporation_roles.v1: EVE SSO scope esi-characters.read_corporation_roles.v1
            esi-characters.read_fatigue.v1: EVE SSO scope esi-characters.read_fatigue.v1
            esi-characters.read_fw_stats.v1: EVE SSO scope esi-characters.read_fw_stats.v1
            esi-characters.read_loyalty.v1: EVE SSO scope esi-characters.read_loyalty.v1
            esi-characters.read_medals.v1: EVE SSO scope esi-characters.read_medals.v1
            esi-characters.read_notifications.v1: EVE SSO scope esi-characters.read_notifications.v1
            esi-characters.read_standings.v1: EVE SSO scope esi-characters.read_standings.v1
            esi-characters.read_titles.v1: EVE SSO scope esi-characters.read_titles.v1
            esi-characters.write_contacts.v1: EVE SSO scope esi-characters.write_contacts.v1
            esi-clones.read_clones.v1: EVE SSO scope esi-clones.read_clones.v1
            esi-clones.read_implants.v1: EVE SSO scope esi-clones.read_implants.v1
            esi-contracts.read_character_contracts.v1: EVE SSO scope esi-contracts.read_character_contracts.v1
            esi-contracts.read_corporation_contracts.v1: EVE SSO scope esi-contracts.read_corporation_contracts.v1
            esi-corporations.read_blueprints.v1: EVE SSO scope esi-corporations.read_blueprints.v1
            esi-corporations.read_contacts.v1: EVE SSO scope esi-corporations.read_contacts.v1
            esi-corporations.read_container_logs.v1: EVE SSO scope esi-corporations.read_container_logs.v1
            esi-corporations.read_corporation_membership.v1: EVE SSO scope esi-corporations.read_corporation_membership.v1
            esi-corporations.read_divisions.v1: EVE SSO scope esi-corporations.read_divisions.v1
            esi-corporations.read_facilities.v1: EVE SSO scope esi-corporations.read_facilities.v1
            esi-corporations.read_fw_stats.v1: EVE SSO scope esi-corporations.read_fw_stats.v1
            esi-corporations.read_medals.v1: EVE SSO scope esi-corporations.read_medals.v1
            esi-corporations.read_standings.v1: EVE SSO scope esi-corporations.read_standings.v1
            esi-corporations.read_starbases.v1: EVE SSO scope esi-corporations.read_starbases.v1
            esi-corporations.read_structures.v1: EVE SSO scope esi-corporations.read_structures.v1
            esi-corporations.read_titles.v1: EVE SSO scope esi-corporations.read_titles.v1
            esi-corporations.track_members.v1: EVE SSO scope esi-corporations.track_members.v1
            esi-fittings.read_fittings.v1: EVE SSO scope esi-fittings.read_fittings.v1
            esi-fittings.write_fittings.v1: EVE SSO scope esi-fittings.write_fittings.v1
            esi-fleets.read_fleet.v1: EVE SSO scope esi-fleets.read_fleet.v1
            esi-fleets.write_fleet.v1: EVE SSO scope esi-fleets.write_fleet.v1
            esi-industry.read_character_jobs.v1: EVE SSO scope esi-industry.read_character_jobs.v1
            esi-industry.read_character_mining.v1: EVE SSO scope esi-industry.read_character_mining.v1
            esi-industry.read_corporation_jobs.v1: EVE SSO scope esi-industry.read_corporation_jobs.v1
            esi-industry.read_corporation_mining.v1: EVE SSO scope esi-industry.read_corporation_mining.v1
            esi-killmails.read_corporation_killmails.v1: EVE SSO scope esi-killmails.read_corporation_killmails.v1
            esi-killmails.read_killmails.v1: EVE SSO scope esi-killmails.read_killmails.v1
            esi-location.read_location.v1: EVE SSO scope esi-location.read_location.v1
            esi-location.read_online.v1: EVE SSO scope esi-location.read_online.v1
            esi-location.read_ship_type.v1: EVE SSO scope esi-location.read_ship_type.v1
            esi-mail.organize_mail.v1: EVE SSO scope esi-mail.organize_mail.v1
            esi-mail.read_mail.v1: EVE SSO scope esi-mail.read_mail.v1
            esi-mail.send_mail.v1: EVE SSO scope esi-mail.send_mail.v1
            esi-markets.read_character_orders.v1: EVE SSO scope esi-markets.read_character_orders.v1
            esi-markets.read_corporation_orders.v1: EVE SSO scope esi-markets.read_corporation_orders.v1
            esi-markets.structure_markets.v1: EVE SSO scope esi-markets.structure_markets.v1
            esi-planets.manage_planets.v1: EVE SSO scope esi-planets.manage_planets.v1
            esi-planets.read_customs_offices.v1: EVE SSO scope esi-planets.read_customs_offices.v1
            esi-search.search_structures.v1: EVE SSO scope esi-search.search_structures.v1
            esi-skills.read_skillqueue.v1: EVE SSO scope esi-skills.read_skillqueue.v1
            esi-skills.read_skills.v1: EVE SSO scope esi-skills.read_skills.v1
            esi-ui.open_window.v1: EVE SSO scope esi-ui.open_window.v1
            esi-ui.write_waypoint.v1: EVE SSO scope esi-ui.write_waypoint.v1
            esi-universe.read_structures.v1: EVE SSO scope esi-universe.read_structures.v1
            esi-wallet.read_character_wallet.v1: EVE SSO scope esi-wallet.read_character_wallet.v1
            esi-wallet.read_corporation_wallets.v1: EVE SSO scope esi-wallet.read_corporation_wallets.v1
definitions:
  internal_server_error:
    description: Internal server error model
    properties:
      error:
        description: Internal server error message
        type: string
    required:
    - error
    title: Internal server error
    type: object
  error_limited:
    description: Error limited model
    properties:
      error:
        description: Error limited message
        type: string
    required:
    - error
    title: Error limited
    type: object
  unauthorized:
    description: Unauthorized model
    properties:
      error:
        description: Unauthorized message
        type: string
    required:
    - error
    title: Unauthorized
    type: object
  service_unavailable:
    description: Service unavailable model
    properties:
      error:
        description: Service unavailable message
        type: string
    required:
    - error
    title: Service unavailable
    type: object
  forbidden:
    description: Forbidden model
    properties:
      error:
        description: Forbidden message
        type: string
      sso_status:
        description: status code received from SSO
        type: integer
    required:
    - error
    title: Forbidden
    type: object
  bad_request:
    description: Bad request model
    properties:
      error:
        description: Bad request message
        type: string
    required:
    - error
    title: Bad request
    type: object
  gateway_timeout:
    description: Gateway timeout model
    properties:
      error:
        description: Gateway timeout message
        type: string
      timeout:
        description: number of seconds the request was given
        type: integer
    required:
    - error
    title: Gateway timeout
    type: object
parameters:
  corporation_id:
    description: An EVE corporation ID
    format: int32
    in: path
    minimum: 1
    name: corporation_id
    required: true
    type: integer
  token:
    description: Access token to use if unable to set a header
    in: query
    name: token
    type: string
  If-None-Match:
    description: ETag from a previous request. A 304 will be returned if this matches the current ETag
    in: header
    name: If-None-Match
    type: string
  datasource:
    default: tranquility
    description: The server name you would like data from
    enum:
    - tranquility
    in: query
    name: datasource
    type: string
  page:
    default: 1
    description: Which page of results to return
    format: int32
    in: query
    minimum: 1
    name: page
    type: integer
  character_id:
    description: An EVE character ID
    format: int32
    in: path
    minimum: 1
    name: character_id
    required: true
    type: integer
