openapi: 3.2.0
info:
  title: Eve Online Corporation API
  version: '1.36'
  description: 'Operations tagged Corporation across 7 of this provider''s published API definitions: eve-online-openapi.yml, swagger.json, swagger_2.json, swagger_3.json, swagger_4.json, swagger_5.json, swagger_6.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://esi.evetech.net/latest
- url: https://esi.evetech.net
- url: https://esi.evetech.net/legacy
- url: https://esi.evetech.net/dev
tags:
- name: Corporation
paths:
  /corporations/npccorps/:
    get:
      description: 'Get a list of npc corporations


        ---

        Alternate route: `/dev/corporations/npccorps/`


        Alternate route: `/legacy/corporations/npccorps/`


        Alternate route: `/v1/corporations/npccorps/`


        Alternate route: `/v2/corporations/npccorps/`


        ---

        This route expires daily at 11:05'
      operationId: get_corporations_npccorps
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: A list of npc corporation ids
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok integer
                  format: int32
                  title: get_corporations_npccorps_200_ok
                  type: integer
                maxItems: 500
                title: get_corporations_npccorps_ok
                type: array
              examples:
                response:
                  value:
                  - 1000001
                  - 1000002
                  - 1000003
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Npc Corporations
      tags:
      - Corporation
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/:
    get:
      description: 'Public information about a corporation


        ---

        Alternate route: `/dev/corporations/{corporation_id}/`


        Alternate route: `/legacy/corporations/{corporation_id}/`


        Alternate route: `/v4/corporations/{corporation_id}/`


        Alternate route: `/v5/corporations/{corporation_id}/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_corporations_corporation_id
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: Public information about a corporation
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  alliance_id:
                    description: ID of the alliance that corporation is a member of, if any
                    format: int32
                    title: get_corporations_corporation_id_alliance_id
                    type: integer
                  ceo_id:
                    description: ceo_id integer
                    format: int32
                    title: get_corporations_corporation_id_ceo_id
                    type: integer
                  creator_id:
                    description: creator_id integer
                    format: int32
                    title: get_corporations_corporation_id_creator_id
                    type: integer
                  date_founded:
                    description: date_founded string
                    format: date-time
                    title: get_corporations_corporation_id_date_founded
                    type: string
                  description:
                    description: description string
                    title: get_corporations_corporation_id_description
                    type: string
                  faction_id:
                    description: faction_id integer
                    format: int32
                    title: get_corporations_corporation_id_faction_id
                    type: integer
                  home_station_id:
                    description: home_station_id integer
                    format: int32
                    title: get_corporations_corporation_id_home_station_id
                    type: integer
                  member_count:
                    description: member_count integer
                    format: int32
                    title: get_corporations_corporation_id_member_count
                    type: integer
                  name:
                    description: the full name of the corporation
                    title: get_corporations_corporation_id_name
                    type: string
                  shares:
                    description: shares integer
                    format: int64
                    title: get_corporations_corporation_id_shares
                    type: integer
                  tax_rate:
                    description: tax_rate number
                    format: float
                    maximum: 1
                    minimum: 0
                    title: get_corporations_corporation_id_tax_rate
                    type: number
                  ticker:
                    description: the short name of the corporation
                    title: get_corporations_corporation_id_ticker
                    type: string
                  url:
                    description: url string
                    title: get_corporations_corporation_id_url
                    type: string
                  war_eligible:
                    description: war_eligible boolean
                    title: get_corporations_corporation_id_war_eligible
                    type: boolean
                required:
                - name
                - ticker
                - member_count
                - ceo_id
                - tax_rate
                - creator_id
                title: get_corporations_corporation_id_ok
                type: object
              examples:
                response:
                  value:
                    alliance_id: 434243723
                    ceo_id: 180548812
                    creator_id: 180548812
                    date_founded: 2004-11-28 16:42:51+00:00
                    description: This is a corporation description, it's basically just a string
                    member_count: 656
                    name: C C P
                    tax_rate: 0.256
                    ticker: -CCP-
                    url: http://www.eveonline.com
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '404':
          description: Corporation not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_corporations_corporation_id_404_not_found
                    type: string
                title: get_corporations_corporation_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Corporation Information
      tags:
      - Corporation
      x-alternate-versions:
      - dev
      - legacy
      - v4
      - v5
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/alliancehistory/:
    get:
      description: 'Get a list of all the alliances a corporation has been a member of


        ---

        Alternate route: `/dev/corporations/{corporation_id}/alliancehistory/`


        Alternate route: `/legacy/corporations/{corporation_id}/alliancehistory/`


        Alternate route: `/v2/corporations/{corporation_id}/alliancehistory/`


        Alternate route: `/v3/corporations/{corporation_id}/alliancehistory/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_corporations_corporation_id_alliancehistory
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: Alliance history for the given corporation
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    alliance_id:
                      description: alliance_id integer
                      format: int32
                      title: get_corporations_corporation_id_alliancehistory_alliance_id
                      type: integer
                    is_deleted:
                      description: True if the alliance has been closed
                      title: get_corporations_corporation_id_alliancehistory_is_deleted
                      type: boolean
                    record_id:
                      description: An incrementing ID that can be used to canonically establish order of records in cases where dates may be ambiguous
                      format: int32
                      title: get_corporations_corporation_id_alliancehistory_record_id
                      type: integer
                    start_date:
                      description: start_date string
                      format: date-time
                      title: get_corporations_corporation_id_alliancehistory_start_date
                      type: string
                  required:
                  - start_date
                  - record_id
                  title: get_corporations_corporation_id_alliancehistory_200_ok
                  type: object
                maxItems: 10000
                title: get_corporations_corporation_id_alliancehistory_ok
                type: array
              examples:
                response:
                  value:
                  - alliance_id: 99000006
                    is_deleted: true
                    record_id: 23
                    start_date: 2016-10-25 14:46:00+00:00
                  - record_id: 1
                    start_date: 2015-07-06 20:56:00+00:00
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Alliance History
      tags:
      - Corporation
      x-alternate-versions:
      - dev
      - legacy
      - v2
      - v3
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/blueprints/:
    get:
      description: 'Returns a list of blueprints the corporation owns


        ---

        Alternate route: `/dev/corporations/{corporation_id}/blueprints/`


        Alternate route: `/legacy/corporations/{corporation_id}/blueprints/`


        Alternate route: `/v2/corporations/{corporation_id}/blueprints/`


        Alternate route: `/v3/corporations/{corporation_id}/blueprints/`


        ---

        This route is cached for up to 3600 seconds


        ---

        Requires one of the following EVE corporation role(s): Director

        '
      operationId: get_corporations_corporation_id_blueprints
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: List of corporation blueprints
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    item_id:
                      description: Unique ID for this item.
                      format: int64
                      title: get_corporations_corporation_id_blueprints_item_id
                      type: integer
                    location_flag:
                      description: Type of the location_id
                      enum:
                      - AssetSafety
                      - AutoFit
                      - Bonus
                      - Booster
                      - BoosterBay
                      - Capsule
                      - CapsuleerDeliveries
                      - Cargo
                      - CorpDeliveries
                      - CorpSAG1
                      - CorpSAG2
                      - CorpSAG3
                      - CorpSAG4
                      - CorpSAG5
                      - CorpSAG6
                      - CorpSAG7
                      - CorporationGoalDeliveries
                      - CrateLoot
                      - Deliveries
                      - DroneBay
                      - DustBattle
                      - DustDatabank
                      - FighterBay
                      - FighterTube0
                      - FighterTube1
                      - FighterTube2
                      - FighterTube3
                      - FighterTube4
                      - FleetHangar
                      - FrigateEscapeBay
                      - Hangar
                      - HangarAll
                      - HiSlot0
                      - HiSlot1
                      - HiSlot2
                      - HiSlot3
                      - HiSlot4
                      - HiSlot5
                      - HiSlot6
                      - HiSlot7
                      - HiddenModifiers
                      - Implant
                      - Impounded
                      - InfrastructureHangar
                      - JunkyardReprocessed
                      - JunkyardTrashed
                      - LoSlot0
                      - LoSlot1
                      - LoSlot2
                      - LoSlot3
                      - LoSlot4
                      - LoSlot5
                      - LoSlot6
                      - LoSlot7
                      - Locked
                      - MedSlot0
                      - MedSlot1
                      - MedSlot2
                      - MedSlot3
                      - MedSlot4
                      - MedSlot5
                      - MedSlot6
                      - MedSlot7
                      - MobileDepotHold
                      - MoonMaterialBay
                      - OfficeFolder
                      - Pilot
                      - PlanetSurface
                      - QuafeBay
                      - QuantumCoreRoom
                      - Reward
                      - RigSlot0
                      - RigSlot1
                      - RigSlot2
                      - RigSlot3
                      - RigSlot4
                      - RigSlot5
                      - RigSlot6
                      - RigSlot7
                      - SecondaryStorage
                      - ServiceSlot0
                      - ServiceSlot1
                      - ServiceSlot2
                      - ServiceSlot3
                      - ServiceSlot4
                      - ServiceSlot5
                      - ServiceSlot6
                      - ServiceSlot7
                      - ShipHangar
                      - ShipOffline
                      - Skill
                      - SkillInTraining
                      - SpecializedAmmoHold
                      - SpecializedAsteroidHold
                      - SpecializedCommandCenterHold
                      - SpecializedFuelBay
                      - SpecializedGasHold
                      - SpecializedIceHold
                      - SpecializedIndustrialShipHold
                      - SpecializedLargeShipHold
                      - SpecializedMaterialBay
                      - SpecializedMediumShipHold
                      - SpecializedMineralHold
                      - SpecializedOreHold
                      - SpecializedPlanetaryCommoditiesHold
                      - SpecializedSalvageHold
                      - SpecializedShipHold
                      - SpecializedSmallShipHold
                      - StructureActive
                      - StructureFuel
                      - StructureInactive
                      - StructureOffline
                      - SubSystemBay
                      - SubSystemSlot0
                      - SubSystemSlot1
                      - SubSystemSlot2
                      - SubSystemSlot3
                      - SubSystemSlot4
                      - SubSystemSlot5
                      - SubSystemSlot6
                      - SubSystemSlot7
                      - Unlocked
                      - Wallet
                      - Wardrobe
                      title: get_corporations_corporation_id_blueprints_location_flag
                      type: string
                    location_id:
                      description: References a station, a ship or an item_id if this blueprint is located within a container.
                      format: int64
                      title: get_corporations_corporation_id_blueprints_location_id
                      type: integer
                    material_efficiency:
                      description: Material Efficiency Level of the blueprint.
                      format: int32
                      maximum: 25
                      minimum: 0
                      title: get_corporations_corporation_id_blueprints_material_efficiency
                      type: integer
                    quantity:
                      description: A range of numbers with a minimum of -2 and no maximum value where -1 is an original and -2 is a copy. It can be a positive integer if it is a stack of blueprint originals fresh from the market (e.g. no activities performed on them yet).
                      format: int32
                      minimum: -2
                      title: get_corporations_corporation_id_blueprints_quantity
                      type: integer
                    runs:
                      description: Number of runs remaining if the blueprint is a copy, -1 if it is an original.
                      format: int32
                      minimum: -1
                      title: get_corporations_corporation_id_blueprints_runs
                      type: integer
                    time_efficiency:
                      description: Time Efficiency Level of the blueprint.
                      format: int32
                      maximum: 20
                      minimum: 0
                      title: get_corporations_corporation_id_blueprints_time_efficiency
                      type: integer
                    type_id:
                      description: type_id integer
                      format: int32
                      title: get_corporations_corporation_id_blueprints_type_id
                      type: integer
                  required:
                  - item_id
                  - type_id
                  - location_id
                  - location_flag
                  - quantity
                  - time_efficiency
                  - material_efficiency
                  - runs
                  title: get_corporations_corporation_id_blueprints_200_ok
                  type: object
                maxItems: 1000
                title: get_corporations_corporation_id_blueprints_ok
                type: array
              examples:
                response:
                  value:
                  - item_id: 1000000010495
                    location_flag: CorpSAG1
                    location_id: 60014719
                    material_efficiency: 0
                    quantity: 1
                    runs: -1
                    time_efficiency: 0
                    type_id: 691
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-corporations.read_blueprints.v1
      summary: EVE Online Get Corporation Blueprints
      tags:
      - Corporation
      x-alternate-versions:
      - dev
      - legacy
      - v2
      - v3
      x-cached-seconds: 3600
      x-required-roles:
      - Director
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/containers/logs/:
    get:
      description: 'Returns logs recorded in the past seven days from all audit log secure containers (ALSC) owned by a given corporation


        ---

        Alternate route: `/dev/corporations/{corporation_id}/containers/logs/`


        Alternate route: `/legacy/corporations/{corporation_id}/containers/logs/`


        Alternate route: `/v2/corporations/{corporation_id}/containers/logs/`


        Alternate route: `/v3/corporations/{corporation_id}/containers/logs/`


        ---

        This route is cached for up to 600 seconds


        ---

        Requires one of the following EVE corporation role(s): Director

        '
      operationId: get_corporations_corporation_id_containers_logs
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: List of corporation ALSC logs
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    action:
                      description: action string
                      enum:
                      - add
                      - assemble
                      - configure
                      - enter_password
                      - lock
                      - move
                      - repackage
                      - set_name
                      - set_password
                      - unlock
                      title: get_corporations_corporation_id_containers_logs_action
                      type: string
                    character_id:
                      description: ID of the character who performed the action.
                      format: int32
                      title: get_corporations_corporation_id_containers_logs_character_id
                      type: integer
                    container_id:
                      description: ID of the container
                      format: int64
                      title: get_corporations_corporation_id_containers_logs_container_id
                      type: integer
                    container_type_id:
                      description: Type ID of the container
                      format: int32
                      title: get_corporations_corporation_id_containers_logs_container_type_id
                      type: integer
                    location_flag:
                      description: location_flag string
                      enum:
                      - AssetSafety
                      - AutoFit
                      - Bonus
                      - Booster
                      - BoosterBay
                      - Capsule
                      - CapsuleerDeliveries
                      - Cargo
                      - CorpDeliveries
                      - CorpSAG1
                      - CorpSAG2
                      - CorpSAG3
                      - CorpSAG4
                      - CorpSAG5
                      - CorpSAG6
                      - CorpSAG7
                      - CorporationGoalDeliveries
                      - CrateLoot
                      - Deliveries
                      - DroneBay
                      - DustBattle
                      - DustDatabank
                      - FighterBay
                      - FighterTube0
                      - FighterTube1
                      - FighterTube2
                      - FighterTube3
                      - FighterTube4
                      - FleetHangar
                      - FrigateEscapeBay
                      - Hangar
                      - HangarAll
                      - HiSlot0
                      - HiSlot1
                      - HiSlot2
                      - HiSlot3
                      - HiSlot4
                      - HiSlot5
                      - HiSlot6
                      - HiSlot7
                      - HiddenModifiers
                      - Implant
                      - Impounded
                      - InfrastructureHangar
                      - JunkyardReprocessed
                      - JunkyardTrashed
                      - LoSlot0
                      - LoSlot1
                      - LoSlot2
                      - LoSlot3
                      - LoSlot4
                      - LoSlot5
                      - LoSlot6
                      - LoSlot7
                      - Locked
                      - MedSlot0
                      - MedSlot1
                      - MedSlot2
                      - MedSlot3
                      - MedSlot4
                      - MedSlot5
                      - MedSlot6
                      - MedSlot7
                      - MobileDepotHold
                      - MoonMaterialBay
                      - OfficeFolder
                      - Pilot
                      - PlanetSurface
                      - QuafeBay
                      - QuantumCoreRoom
                      - Reward
                      - RigSlot0
                      - RigSlot1
                      - RigSlot2
                      - RigSlot3
                      - RigSlot4
                      - RigSlot5
                      - RigSlot6
                      - RigSlot7
                      - SecondaryStorage
                      - ServiceSlot0
                      - ServiceSlot1
                      - ServiceSlot2
                      - ServiceSlot3
                      - ServiceSlot4
                      - ServiceSlot5
                      - ServiceSlot6
                      - ServiceSlot7
                      - ShipHangar
                      - ShipOffline
                      - Skill
                      - SkillInTraining
                      - SpecializedAmmoHold
                      - SpecializedAsteroidHold
                      - SpecializedCommandCenterHold
                      - SpecializedFuelBay
                      - SpecializedGasHold
                      - SpecializedIceHold
                      - SpecializedIndustrialShipHold
                      - SpecializedLargeShipHold
                      - SpecializedMaterialBay
                      - SpecializedMediumShipHold
                      - SpecializedMineralHold
                      - SpecializedOreHold
                      - SpecializedPlanetaryCommoditiesHold
                      - SpecializedSalvageHold
                      - SpecializedShipHold
                      - SpecializedSmallShipHold
                      - StructureActive
                      - StructureFuel
                      - StructureInactive
                      - StructureOffline
                      - SubSystemBay
                      - SubSystemSlot0
                      - SubSystemSlot1
                      - SubSystemSlot2
                      - SubSystemSlot3
                      - SubSystemSlot4
                      - SubSystemSlot5
                      - SubSystemSlot6
                      - SubSystemSlot7
                      - Unlocked
                      - Wallet
                      - Wardrobe
                      title: get_corporations_corporation_id_containers_logs_location_flag
                      type: string
                    location_id:
                      description: location_id integer
                      format: int64
                      title: get_corporations_corporation_id_containers_logs_location_id
                      type: integer
                    logged_at:
                      description: Timestamp when this log was created
                      format: date-time
                      title: get_corporations_corporation_id_containers_logs_logged_at
                      type: string
                    new_config_bitmask:
                      description: new_config_bitmask integer
                      format: int32
                      title: get_corporations_corporation_id_containers_logs_new_config_bitmask
                      type: integer
                    old_config_bitmask:
                      description: old_config_bitmask integer
                      format: int32
                      title: get_corporations_corporation_id_containers_logs_old_config_bitmask
                      type: integer
                    password_type:
                      description: Type of password set if action is of type SetPassword or EnterPassword
                      enum:
                      - config
                      - general
                      title: get_corporations_corporation_id_containers_logs_password_type
                      type: string
                    quantity:
                      description: Quantity of the item being acted upon
                      format: int32
                      title: get_corporations_corporation_id_containers_logs_quantity
                      type: integer
                    type_id:
                      description: Type ID of the item being acted upon
                      format: int32
                      title: get_corporations_corporation_id_containers_logs_type_id
                      type: integer
                  required:
                  - logged_at
                  - container_id
                  - container_type_id
                  - character_id
                  - location_id
                  - action
                  - location_flag
                  title: get_corporations_corporation_id_containers_logs_200_ok
                  type: object
                maxItems: 1000
                title: get_corporations_corporation_id_containers_logs_ok
                type: array
              examples:
                response:
                  value:
                  - action: set_password
                    character_id: 2112625428
                    container_id: 1000000012279
                    container_type_id: 17365
                    location_flag: CorpSAG1
                    location_id: 1000000012278
                    logged_at: 2017-10-10 14:00:00+00:00
                    password_type: general
                  - action: lock
                    character_id: 2112625428
                    container_id: 1000000012279
                    container_type_id: 17365
                    location_flag: CorpSAG1
                    location_id: 1000000012278
                    logged_at: 2017-10-11 12:04:33+00:00
                    quantity: 30
                    type_id: 1230
                  - action: configure
                    character_id: 2112625428
                    container_id: 1000000012279
                    container_type_id: 17365
                    location_flag: CorpSAG2
                    location_id: 1000000012278
                    logged_at: 2017-10-11 12:06:29+00:00
                    new_config_bitmask: 31
                    old_config_bitmask: 23
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-corporations.read_container_logs.v1
      summary: EVE Online Get All Corporation ALSC Logs
      tags:
      - Corporation
      x-alternate-versions:
      - dev
      - legacy
      - v2
      - v3
      x-cached-seconds: 600
      x-required-roles:
      - Director
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/divisions/:
    get:
      description: 'Return corporation hangar and wallet division names, only show if a division is not using the default name


        ---

        Alternate route: `/dev/corporations/{corporation_id}/divisions/`


        Alternate route: `/legacy/corporations/{corporation_id}/divisions/`


        Alternate route: `/v1/corporations/{corporation_id}/divisions/`


        Alternate route: `/v2/corporations/{corporation_id}/divisions/`


        ---

        This route is cached for up to 3600 seconds


        ---

        Requires one of the following EVE corporation role(s): Director

        '
      operationId: get_corporations_corporation_id_divisions
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: List of corporation division names
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  hangar:
                    description: hangar array
                    items:
                      description: hangar object
                      properties:
                        division:
                          description: division integer
                          format: int32
                          maximum: 7
                          minimum: 1
                          title: get_corporations_corporation_id_divisions_division
                          type: integer
                        name:
                          description: name string
                          maxLength: 50
                          title: get_corporations_corporation_id_divisions_name
                          type: string
                      title: get_corporations_corporation_id_divisions_hangar_hangar
                      type: object
                    maxItems: 7
                    title: get_corporations_corporation_id_divisions_hangar
                    type: array
                  wallet:
                    description: wallet array
                    items:
                      description: wallet object
                      properties:
                        division:
                          description: division integer
                          format: int32
                          maximum: 7
                          minimum: 1
                          title: get_corporations_corporation_id_divisions_wallet_division
                          type: integer
                        name:
                          description: name string
                          maxLength: 50
                          title: get_corporations_corporation_id_divisions_wallet_name
                          type: string
                      title: get_corporations_corporation_id_divisions_wallet_wallet
                      type: object
                    maxItems: 7
                    title: get_corporations_corporation_id_divisions_wallet
                    type: array
                title: get_corporations_corporation_id_divisions_ok
                type: object
              examples:
                response:
                  value:
                    hangar:
                    - division: 1
                      name: Awesome Hangar 1
                    wallet:
                    - division: 1
                      name: Rich Wallet 1
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-corporations.read_divisions.v1
      summary: EVE Online Get Corporation Divisions
      tags:
      - Corporation
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 3600
      x-required-roles:
      - Director
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/facilities/:
    get:
      description: 'Return a corporation''s facilities


        ---

        Alternate route: `/dev/corporations/{corporation_id}/facilities/`


        Alternate route: `/legacy/corporations/{corporation_id}/facilities/`


        Alternate route: `/v1/corporations/{corporation_id}/facilities/`


        Alternate route: `/v2/corporations/{corporation_id}/facilities/`


        ---

        This route is cached for up to 3600 seconds


        ---

        Requires one of the following EVE corporation role(s): Factory_Manager

        '
      operationId: get_corporations_corporation_id_facilities
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: List of corporation facilities
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    facility_id:
                      description: facility_id integer
                      format: int64
                      title: get_corporations_corporation_id_facilities_facility_id
                      type: integer
                    system_id:
                      description: system_id integer
                      format: int32
                      title: get_corporations_corporation_id_facilities_system_id
                      type: integer
                    type_id:
                      description: type_id integer
                      format: int32
                      title: get_corporations_corporation_id_facilities_type_id
                      type: integer
                  required:
                  - facility_id
                  - type_id
                  - system_id
                  title: get_corporations_corporation_id_facilities_200_ok
                  type: object
                maxItems: 1000
                title: get_corporations_corporation_id_facilities_ok
                type: array
              examples:
                response:
                  value:
                  - facility_id: 123
                    system_id: 45678
                    type_id: 2502
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-corporations.read_facilities.v1
      summary: EVE Online Get Corporation Facilities
      tags:
      - Corporation
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 3600
      x-required-roles:
      - Factory_Manager
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/icons/:
    get:
      description: 'Get the icon urls for a corporation


        ---

        Alternate route: `/dev/corporations/{corporation_id}/icons/`


        Alternate route: `/legacy/corporations/{corporation_id}/icons/`


        Alternate route: `/v1/corporations/{corporation_id}/icons/`


        Alternate route: `/v2/corporations/{corporation_id}/icons/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_corporations_corporation_id_icons
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: Urls for icons for the given corporation id and server
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  px128x128:
                    description: px128x128 string
                    title: get_corporations_corporation_id_icons_px128x128
                    type: string
                  px256x256:
                    description: px256x256 string
                    title: get_corporations_corporation_id_icons_px256x256
                    type: string
                  px64x64:
                    description: px64x64 string
                    title: get_corporations_corporation_id_icons_px64x64
                    type: string
                title: get_corporations_corporation_id_icons_ok
                type: object
              examples:
                response:
                  value:
                    px128x128: https://images.evetech.net/corporations/1000010/logo?tenant=tranquility&size=128
                    px256x256: https://images.evetech.net/corporations/1000010/logo?tenant=tranquility&size=256
                    px64x64: https://images.evetech.net/corporations/1000010/logo?tenant=tranquility&size=64
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '404':
          description: No image server for this datasource
          content:
            application/json:
              schema:
                description: No image server for this datasource
                properties:
                  error:
                    description: error message
                    title: get_corporations_corporation_id_icons_error
                    type: string
                title: get_corporations_corporation_id_icons_not_found
                type: object
              examples:
                response:
                  value:
                    error: No image server for this datasource
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Corporation Icon
      tags:
      - Corporation
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/medals/:
    get:
      description: 'Returns a corporation''s medals


        ---

        Alternate route: `/dev/corporations/{corporation_id}/medals/`


        Alternate route: `/legacy/corporations/{corporation_id}/medals/`


        Alternate route: `/v1/corporations/{corporation_id}/medals/`


        Alternate route: `/v2/corporations/{corporation_id}/medals/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_corporations_corporation_id_medals
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of medals
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    created_at:
                      description: created_at string
                      format: date-time
                      title: get_corporations_corporation_id_medals_created_at
                      type: string
                    creator_id:
                      description: ID of the character who created this medal
                      format: int32
                      title: get_corporations_corporation_id_medals_creator_id
                      type: integer
                    description:
                      description: description string
                      maxLength: 1000
                      title: get_corporations_corporation_id_medals_description
                      type: string
                    medal_id:
                      description: medal_id integer
                      format: int32
                      title: get_corporations_corporation_id_medals_medal_id
                      type: integer
                    title:
                      description: title string
                      maxLength: 100
                      title: get_corporations_corporation_id_medals_title
                      type: string
                  required:
                  - medal_id
                  - title
                  - description
                  - creator_id
                  - created_at
                  title: get_corporations_corporation_id_medals_200_ok
                  type: object
                maxItems: 1000
                title: get_corporations_corporation_id_medals_ok
                type: array
              examples:
                response:
                  value:
                  - created_at: 2017-10-10 14:00:00+00:00
                    creator_id: 46578
                    description: An Awesome Medal
                    medal_id: 123
                    title: Awesome Medal
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-corporations.read_medals.v1
      summary: EVE Online Get Corporation Medals
      tags:
      - Corporation
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 3600
      x-required-roles: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/medals/issued/:
    get:
      description: 'Returns medals issued by a corporation


        ---

        Alternate route: `/dev/corporations/{corporation_id}/medals/issued/`


        Alternate route: `/legacy/corporations/{corporation_id}/medals/issued/`


        Alternate route: `/v1/corporations/{corporation_id}/medals/issued/`


        Alternate route: `/v2/corporations/{corporation_id}/medals/issued/`


        ---

        This route is cached for up to 3600 seconds


        ---

        Requires one of the following EVE corporation role(s): Director

        '
      operationId: get_corporations_corporation_id_medals_issued
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of issued medals
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    character_id:
                      description: ID of the character who was rewarded this medal
                      format: int32
                      title: get_corporations_corporation_id_medals_issued_character_id
                      type: integer
                    issued_at:
                      description: issued_at string
                      format: date-time
                      title: get_corporations_corporation_id_medals_issued_issued_at
                      type: string
                    issuer_id:
                      description: ID of the character who issued the medal
                      format: int32
                      title: get_corporations_corporation_id_medals_issued_issuer_id
                      type: integer
                    medal_id:
                      description: medal_id integer
                      format: int32
                      title: get_corporations_corporation_id_medals_issued_medal_id
                      type: integer
                    reason:
                      description: reason string
                      maxLength: 1000
                      title: get_corporations_corporation_id_medals_issued_reason
                      type: string
                    status:
                      description: status string
                      enum:
                      - private
                      - public
                      title: get_corporations_corporation_id_medals_issued_status
                      type: string
                  required:
                  - medal_id
                  - character_id
                  - reason
                  - status
                  - issuer_id
                  - issued_at
                  title: get_corporations_corporation_id_medals_issued_200_ok
                  type: object
                maxItems: 1000
                title: get_corporations_corporation_id_medals_issued_ok
                type: array
              examples:
                response:
                  value:
                  - character_id: 45678
                    issued_at: 2017-10-10 14:00:00+00:00
                    issuer_id: 67890
                    medal_id: 123
                    reason: Awesome Reason
                    status: private
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-corporations.read_medals.v1
      summary: EVE Online Get Corporation Issued Medals
      tags:
      - Corporation
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 3600
      x-required-roles:
      - Director
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/members/:
    get:
      description: 'Return the current member list of a corporation, the token''s character need to be a member of the corporation.


        ---

        Alternate route: `/dev/corporations/{corporation_id}/members/`


        Alternate route: `/legacy/corporations/{corporation_id}/members/`


        Alternate route: `/v3/corporations/{corporation_id}/members/`


        Alternate route: `/v4/corporations/{corporation_id}/members/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_corporations_corporation_id_members
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: List of member character IDs
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: A list of character IDs
                items:
                  description: 200 ok integer
                  format: int32
                  title: get_corporations_corporation_id_members_200_ok
                  type: integer
                maxItems: 12601
                title: get_corporations_corporation_id_members_ok
                type: array
              examples:
                response:
                  value:
                  - 90000001
                  - 90000002
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-corporations.read_corporation_membership.v1
      summary: EVE Online Get Corporation Members
      tags:
      - Corporation
      x-alternate-versions:
      - dev
      - legacy
      - v3
      - v4
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/members/limit/:
    get:
      description: 'Return a corporation''s member limit, not including CEO himself


        ---

        Alternate route: `/dev/corporations/{corporation_id}/members/limit/`


        Alternate route: `/legacy/corporations/{corporation_id}/members/limit/`


        Alternate route: `/v1/corporations/{corporation_id}/members/limit/`


        Alternate route: `/v2/corporations/{corporation_id}/members/limit/`


        ---

        This route is cached for up to 3600 seconds


        ---

        Requires one of the following EVE corporation role(s): Director

        '
      operationId: get_corporations_corporation_id_members_limit
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: The corporation's member limit
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok integer
                format: int32
                title: get_corporations_corporation_id_members_limit_ok
                type: integer
              examples:
                response:
                  value: 40
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-corporations.track_members.v1
      summary: EVE Online Get Corporation Member Limit
      tags:
      - Corporation
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 3600
      x-required-roles:
      - Director
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/members/titles/:
    get:
      description: 'Returns a corporation''s members'' titles


        ---

        Alternate route: `/dev/corporations/{corporation_id}/members/titles/`


        Alternate route: `/legacy/corporations/{corporation_id}/members/titles/`


        Alternate route: `/v1/corporations/{corporation_id}/members/titles/`


        Alternate route: `/v2/corporations/{corporation_id}/members/titles/`


        ---

        This route is cached for up to 3600 seconds


        ---

        Requires one of the following EVE corporation role(s): Director

        '
      operationId: get_corporations_corporation_id_members_titles
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of members and theirs titles
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    character_id:
                      description: character_id integer
                      format: int32
                      title: get_corporations_corporation_id_members_titles_character_id
                      type: integer
                    titles:
                      description: A list of title_id
                      items:
                        description: title integer
                        format: int32
                        title: get_corporations_corporation_id_members_titles_title
                        type: integer
                      maxItems: 16
                      title: get_corporations_corporation_id_members_titles_titles
                      type: array
                  required:
                  - character_id
                  - titles
                  title: get_corporations_corporation_id_members_titles_200_ok
                  type: object
                maxItems: 12601
                title: get_corporations_corporation_id_members_titles_ok
                type: array
              examples:
                response:
                  value:
                  - character_id: 12345
                    titles: []
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-corporations.read_titles.v1
      summary: EVE Online Get Corporation's Members' Titles
      tags:
      - Corporation
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 3600
      x-required-roles:
      - Director
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/membertracking/:
    get:
      description: 'Returns additional information about a corporation''s members which helps tracking their activities


        ---

        Alternate route: `/dev/corporations/{corporation_id}/membertracking/`


        Alternate route: `/legacy/corporations/{corporation_id}/membertracking/`


        Alternate route: `/v1/corporations/{corporation_id}/membertracking/`


        Alternate route: `/v2/corporations/{corporation_id}/membertracking/`


        ---

        This route is cached for up to 3600 seconds


        ---

        Requires one of the following EVE corporation role(s): Director

        '
      operationId: get_corporations_corporation_id_membertracking
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: List of member character IDs
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    base_id:
                      description: base_id integer
                      format: int32
                      title: get_corporations_corporation_id_membertracking_base_id
                      type: integer
                    character_id:
                      description: character_id integer
                      format: int32
                      title: get_corporations_corporation_id_membertracking_character_id
                      type: integer
                    location_id:
                      description: location_id integer
                      format: int64
                      title: get_corporations_corporation_id_membertracking_location_id
                      type: integer
                    logoff_date:
[...]
