openapi: 3.2.0
info:
  title: Eve Online Universe API
  version: '1.36'
  description: 'Operations tagged Universe across 7 of this provider''s published API definitions: eve-online-openapi.yml, swagger.json, swagger_2.json, swagger_3.json, swagger_4.json, swagger_5.json, swagger_6.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://esi.evetech.net/latest
- url: https://esi.evetech.net
- url: https://esi.evetech.net/legacy
- url: https://esi.evetech.net/dev
tags:
- name: Universe
paths:
  /universe/ancestries/:
    get:
      description: 'Get all character ancestries


        ---

        Alternate route: `/legacy/universe/ancestries/`


        Alternate route: `/v1/universe/ancestries/`


        ---

        This route expires daily at 11:05'
      operationId: get_universe_ancestries
      parameters:
      - $ref: '#/components/parameters/Accept-Language'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/language'
      responses:
        '200':
          description: A list of ancestries
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            Content-Language:
              description: The language used in the response
              schema:
                type: string
                enum:
                - en
                - de
                - fr
                - ja
                - ru
                - zh
                - ko
                - es
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    bloodline_id:
                      description: The bloodline associated with this ancestry
                      format: int32
                      title: get_universe_ancestries_bloodline_id
                      type: integer
                    description:
                      description: description string
                      title: get_universe_ancestries_description
                      type: string
                    icon_id:
                      description: icon_id integer
                      format: int32
                      title: get_universe_ancestries_icon_id
                      type: integer
                    id:
                      description: id integer
                      format: int32
                      title: get_universe_ancestries_id
                      type: integer
                    name:
                      description: name string
                      title: get_universe_ancestries_name
                      type: string
                    short_description:
                      description: short_description string
                      title: get_universe_ancestries_short_description
                      type: string
                  required:
                  - id
                  - name
                  - bloodline_id
                  - description
                  title: get_universe_ancestries_200_ok
                  type: object
                maxItems: 100
                title: get_universe_ancestries_ok
                type: array
              examples:
                response:
                  value:
                  - bloodline_id: 1
                    description: Acutely aware of the small population...
                    id: 12
                    name: Tube Child
                    short_description: Manufactured citizens of the State.
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Ancestries
      tags:
      - Universe
      x-alternate-versions:
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /universe/asteroid_belts/{asteroid_belt_id}/:
    get:
      description: 'Get information on an asteroid belt


        ---

        Alternate route: `/legacy/universe/asteroid_belts/{asteroid_belt_id}/`


        Alternate route: `/v1/universe/asteroid_belts/{asteroid_belt_id}/`


        ---

        This route expires daily at 11:05'
      operationId: get_universe_asteroid_belts_asteroid_belt_id
      parameters:
      - description: asteroid_belt_id integer
        in: path
        name: asteroid_belt_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: Information about an asteroid belt
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  name:
                    description: name string
                    title: get_universe_asteroid_belts_asteroid_belt_id_name
                    type: string
                  position:
                    description: position object
                    properties:
                      x:
                        description: x number
                        format: double
                        title: get_universe_asteroid_belts_asteroid_belt_id_x
                        type: number
                      y:
                        description: y number
                        format: double
                        title: get_universe_asteroid_belts_asteroid_belt_id_y
                        type: number
                      z:
                        description: z number
                        format: double
                        title: get_universe_asteroid_belts_asteroid_belt_id_z
                        type: number
                    required:
                    - x
                    - y
                    - z
                    title: get_universe_asteroid_belts_asteroid_belt_id_position
                    type: object
                  system_id:
                    description: The solar system this asteroid belt is in
                    format: int32
                    title: get_universe_asteroid_belts_asteroid_belt_id_system_id
                    type: integer
                required:
                - name
                - position
                - system_id
                title: get_universe_asteroid_belts_asteroid_belt_id_ok
                type: object
              examples:
                response:
                  value:
                    name: Tanoo I - Asteroid Belt 1
                    position:
                      x: 161967513600
                      y: 21288837120
                      z: -73505464320
                    system_id: 30000001
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '404':
          description: Asteroid belt not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_universe_asteroid_belts_asteroid_belt_id_404_not_found
                    type: string
                title: get_universe_asteroid_belts_asteroid_belt_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Asteroid Belt Information
      tags:
      - Universe
      x-alternate-versions:
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /universe/bloodlines/:
    get:
      description: 'Get a list of bloodlines


        ---

        Alternate route: `/legacy/universe/bloodlines/`


        Alternate route: `/v1/universe/bloodlines/`


        ---

        This route expires daily at 11:05'
      operationId: get_universe_bloodlines
      parameters:
      - $ref: '#/components/parameters/Accept-Language'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/language'
      responses:
        '200':
          description: A list of bloodlines
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            Content-Language:
              description: The language used in the response
              schema:
                type: string
                enum:
                - en
                - de
                - fr
                - ja
                - ru
                - zh
                - ko
                - es
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    bloodline_id:
                      description: bloodline_id integer
                      format: int32
                      title: get_universe_bloodlines_bloodline_id
                      type: integer
                    charisma:
                      description: charisma integer
                      format: int32
                      title: get_universe_bloodlines_charisma
                      type: integer
                    corporation_id:
                      description: corporation_id integer
                      format: int32
                      title: get_universe_bloodlines_corporation_id
                      type: integer
                    description:
                      description: description string
                      title: get_universe_bloodlines_description
                      type: string
                    intelligence:
                      description: intelligence integer
                      format: int32
                      title: get_universe_bloodlines_intelligence
                      type: integer
                    memory:
                      description: memory integer
                      format: int32
                      title: get_universe_bloodlines_memory
                      type: integer
                    name:
                      description: name string
                      title: get_universe_bloodlines_name
                      type: string
                    perception:
                      description: perception integer
                      format: int32
                      title: get_universe_bloodlines_perception
                      type: integer
                    race_id:
                      description: race_id integer
                      format: int32
                      title: get_universe_bloodlines_race_id
                      type: integer
                    ship_type_id:
                      description: ship_type_id integer
                      format: int32
                      title: get_universe_bloodlines_ship_type_id
                      type:
                      - integer
                      - 'null'
                    willpower:
                      description: willpower integer
                      format: int32
                      title: get_universe_bloodlines_willpower
                      type: integer
                  required:
                  - bloodline_id
                  - name
                  - description
                  - race_id
                  - ship_type_id
                  - corporation_id
                  - perception
                  - willpower
                  - charisma
                  - memory
                  - intelligence
                  title: get_universe_bloodlines_200_ok
                  type: object
                maxItems: 100
                title: get_universe_bloodlines_ok
                type: array
              examples:
                response:
                  value:
                  - bloodline_id: 1
                    charisma: 6
                    corporation_id: 1000006
                    description: The Deteis are regarded as ...
                    intelligence: 7
                    memory: 7
                    name: Deteis
                    perception: 5
                    race_id: 1
                    ship_type_id: 601
                    willpower: 5
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Bloodlines
      tags:
      - Universe
      x-alternate-versions:
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /universe/categories/:
    get:
      description: 'Get a list of item categories


        ---

        Alternate route: `/legacy/universe/categories/`


        Alternate route: `/v1/universe/categories/`


        ---

        This route expires daily at 11:05'
      operationId: get_universe_categories
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: A list of item category ids
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok integer
                  format: int32
                  title: get_universe_categories_200_ok
                  type: integer
                maxItems: 10000
                title: get_universe_categories_ok
                type: array
              examples:
                response:
                  value:
                  - 1
                  - 2
                  - 3
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Item Categories
      tags:
      - Universe
      x-alternate-versions:
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /universe/categories/{category_id}/:
    get:
      description: 'Get information of an item category


        ---

        Alternate route: `/legacy/universe/categories/{category_id}/`


        Alternate route: `/v1/universe/categories/{category_id}/`


        ---

        This route expires daily at 11:05'
      operationId: get_universe_categories_category_id
      parameters:
      - $ref: '#/components/parameters/Accept-Language'
      - description: An Eve item category ID
        in: path
        name: category_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/language'
      responses:
        '200':
          description: Information about an item category
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            Content-Language:
              description: The language used in the response
              schema:
                type: string
                enum:
                - en
                - de
                - fr
                - ja
                - ru
                - zh
                - ko
                - es
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  category_id:
                    description: category_id integer
                    format: int32
                    title: get_universe_categories_category_id_category_id
                    type: integer
                  groups:
                    description: groups array
                    items:
                      description: group integer
                      format: int32
                      title: get_universe_categories_category_id_group
                      type: integer
                    maxItems: 10000
                    title: get_universe_categories_category_id_groups
                    type: array
                  name:
                    description: name string
                    title: get_universe_categories_category_id_name
                    type: string
                  published:
                    description: published boolean
                    title: get_universe_categories_category_id_published
                    type: boolean
                required:
                - category_id
                - name
                - published
                - groups
                title: get_universe_categories_category_id_ok
                type: object
              examples:
                response:
                  value:
                    category_id: 6
                    groups:
                    - 25
                    - 26
                    - 27
                    name: Ship
                    published: true
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '404':
          description: Category not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_universe_categories_category_id_404_not_found
                    type: string
                title: get_universe_categories_category_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Item Category Information
      tags:
      - Universe
      x-alternate-versions:
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /universe/constellations/:
    get:
      description: 'Get a list of constellations


        ---

        Alternate route: `/legacy/universe/constellations/`


        Alternate route: `/v1/universe/constellations/`


        ---

        This route expires daily at 11:05'
      operationId: get_universe_constellations
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: A list of constellation ids
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok integer
                  format: int32
                  title: get_universe_constellations_200_ok
                  type: integer
                maxItems: 10000
                title: get_universe_constellations_ok
                type: array
              examples:
                response:
                  value:
                  - 20000001
                  - 20000002
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Constellations
      tags:
      - Universe
      x-alternate-versions:
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /universe/constellations/{constellation_id}/:
    get:
      description: 'Get information on a constellation


        ---

        Alternate route: `/legacy/universe/constellations/{constellation_id}/`


        Alternate route: `/v1/universe/constellations/{constellation_id}/`


        ---

        This route expires daily at 11:05'
      operationId: get_universe_constellations_constellation_id
      parameters:
      - $ref: '#/components/parameters/Accept-Language'
      - description: constellation_id integer
        in: path
        name: constellation_id
        required: true
        schema:
          type: integer
          format: int32
        example: 20000020
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/language'
      responses:
        '200':
          description: Information about a constellation
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            Content-Language:
              description: The language used in the response
              schema:
                type: string
                enum:
                - en
                - de
                - fr
                - ja
                - ru
                - zh
                - ko
                - es
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  constellation_id:
                    description: constellation_id integer
                    format: int32
                    title: get_universe_constellations_constellation_id_constellation_id
                    type: integer
                  name:
                    description: name string
                    title: get_universe_constellations_constellation_id_name
                    type: string
                  position:
                    description: position object
                    properties:
                      x:
                        description: x number
                        format: double
                        title: get_universe_constellations_constellation_id_x
                        type: number
                      y:
                        description: y number
                        format: double
                        title: get_universe_constellations_constellation_id_y
                        type: number
                      z:
                        description: z number
                        format: double
                        title: get_universe_constellations_constellation_id_z
                        type: number
                    required:
                    - x
                    - y
                    - z
                    title: get_universe_constellations_constellation_id_position
                    type: object
                  region_id:
                    description: The region this constellation is in
                    format: int32
                    title: get_universe_constellations_constellation_id_region_id
                    type: integer
                  systems:
                    description: systems array
                    items:
                      description: system integer
                      format: int32
                      title: get_universe_constellations_constellation_id_system
                      type: integer
                    maxItems: 10000
                    title: get_universe_constellations_constellation_id_systems
                    type: array
                required:
                - constellation_id
                - name
                - position
                - region_id
                - systems
                title: get_universe_constellations_constellation_id_ok
                type: object
              examples:
                response:
                  value:
                    constellation_id: 20000009
                    name: Mekashtad
                    position:
                      x: 67796138757472320
                      y: -70591121348560960
                      z: -59587016159270070
                    region_id: 10000001
                    systems:
                    - 20000302
                    - 20000303
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '404':
          description: Constellation not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_universe_constellations_constellation_id_404_not_found
                    type: string
                title: get_universe_constellations_constellation_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Constellation Information
      tags:
      - Universe
      x-alternate-versions:
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /universe/factions/:
    get:
      description: 'Get a list of factions


        ---

        Alternate route: `/dev/universe/factions/`


        Alternate route: `/v2/universe/factions/`


        ---

        This route expires daily at 11:05'
      operationId: get_universe_factions
      parameters:
      - $ref: '#/components/parameters/Accept-Language'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/language'
      responses:
        '200':
          description: A list of factions
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            Content-Language:
              description: The language used in the response
              schema:
                type: string
                enum:
                - en
                - de
                - fr
                - ja
                - ru
                - zh
                - ko
                - es
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    corporation_id:
                      description: corporation_id integer
                      format: int32
                      title: get_universe_factions_corporation_id
                      type: integer
                    description:
                      description: description string
                      title: get_universe_factions_description
                      type: string
                    faction_id:
                      description: faction_id integer
                      format: int32
                      title: get_universe_factions_faction_id
                      type: integer
                    is_unique:
                      description: is_unique boolean
                      title: get_universe_factions_is_unique
                      type: boolean
                    militia_corporation_id:
                      description: militia_corporation_id integer
                      format: int32
                      title: get_universe_factions_militia_corporation_id
                      type: integer
                    name:
                      description: name string
                      title: get_universe_factions_name
                      type: string
                    size_factor:
                      description: size_factor number
                      format: float
                      title: get_universe_factions_size_factor
                      type: number
                    solar_system_id:
                      description: solar_system_id integer
                      format: int32
                      title: get_universe_factions_solar_system_id
                      type: integer
                    station_count:
                      description: station_count integer
                      format: int32
                      title: get_universe_factions_station_count
                      type: integer
                    station_system_count:
                      description: station_system_count integer
                      format: int32
                      title: get_universe_factions_station_system_count
                      type: integer
                  required:
                  - faction_id
                  - name
                  - description
                  - size_factor
                  - station_count
                  - station_system_count
                  - is_unique
                  title: get_universe_factions_200_ok
                  type: object
                maxItems: 10000
                title: get_universe_factions_ok
                type: array
              examples:
                response:
                  value:
                  - corporation_id: 456
                    description: blah blah
                    faction_id: 1
                    is_unique: true
                    name: Faction
                    size_factor: 1
                    solar_system_id: 123
                    station_count: 1000
                    station_system_count: 100
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Factions
      tags:
      - Universe
      x-alternate-versions:
      - dev
      - v2
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /universe/graphics/:
    get:
      description: 'Get a list of graphics


        ---

        Alternate route: `/legacy/universe/graphics/`


        Alternate route: `/v1/universe/graphics/`


        ---

        This route expires daily at 11:05'
      operationId: get_universe_graphics
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: A list of graphic ids
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok integer
                  format: int32
                  title: get_universe_graphics_200_ok
                  type: integer
                maxItems: 10000
                title: get_universe_graphics_ok
                type: array
              examples:
                response:
                  value:
                  - 10
                  - 4106
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Graphics
      tags:
      - Universe
      x-alternate-versions:
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /universe/graphics/{graphic_id}/:
    get:
      description: 'Get information on a graphic


        ---

        Alternate route: `/dev/universe/graphics/{graphic_id}/`


        Alternate route: `/legacy/universe/graphics/{graphic_id}/`


        Alternate route: `/v1/universe/graphics/{graphic_id}/`


        ---

        This route expires daily at 11:05'
      operationId: get_universe_graphics_graphic_id
      parameters:
      - $ref: '#/components/parameters/datasource'
      - description: graphic_id integer
        in: path
        name: graphic_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: Information about a graphic
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  collision_file:
                    description: collision_file string
                    title: get_universe_graphics_graphic_id_collision_file
                    type: string
                  graphic_file:
                    description: graphic_file string
                    title: get_universe_graphics_graphic_id_graphic_file
                    type: string
                  graphic_id:
                    description: graphic_id integer
                    format: int32
                    title: get_universe_graphics_graphic_id_graphic_id
                    type: integer
                  icon_folder:
                    description: icon_folder string
                    title: get_universe_graphics_graphic_id_icon_folder
                    type: string
                  sof_dna:
                    description: sof_dna string
                    title: get_universe_graphics_graphic_id_sof_dna
                    type: string
                  sof_fation_name:
                    description: sof_fation_name string
                    title: get_universe_graphics_graphic_id_sof_fation_name
                    type: string
                  sof_hull_name:
                    description: sof_hull_name string
                    title: get_universe_graphics_graphic_id_sof_hull_name
                    type: string
                  sof_race_name:
                    description: sof_race_name string
                    title: get_universe_graphics_graphic_id_sof_race_name
                    type: string
                required:
                - graphic_id
                title: get_universe_graphics_graphic_id_ok
                type: object
              examples:
                response:
                  value:
                    graphic_file: res:/dx9/model/worldobject/planet/moon.red
                    graphic_id: 10
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '404':
          description: Graphic not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_universe_graphics_graphic_id_404_not_found
                    type: string
                title: get_universe_graphics_graphic_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Graphic Information
      tags:
      - Universe
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /universe/groups/:
    get:
      description: 'Get a list of item groups


        ---

        Alternate route: `/legacy/universe/groups/`


        Alternate route: `/v1/universe/groups/`


        ---

        This route expires daily at 11:05'
      operationId: get_universe_groups
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: A list of item group ids
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok integer
                  format: int32
                  title: get_universe_groups_200_ok
                  type: integer
                maxItems: 1000
                title: get_universe_groups_ok
                type: array
              examples:
                response:
                  value:
                  - 1
                  - 2
                  - 3
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Item Groups
      tags:
      - Universe
      x-alternate-versions:
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /universe/groups/{group_id}/:
    get:
      description: 'Get information on an item group


        ---

        Alternate route: `/dev/universe/groups/{group_id}/`


        Alternate route: `/legacy/universe/groups/{group_id}/`


        Alternate route: `/v1/universe/groups/{group_id}/`


        ---

        This route expires daily at 11:05'
      operationId: get_universe_groups_group_id
      parameters:
      - $ref: '#/components/parameters/Accept-Language'
      - $ref: '#/components/parameters/datasource'
      - description: An Eve item group ID
        in: path
        name: group_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/language'
      responses:
        '200':
          description: Information about an item group
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            Content-Language:
              description: The language used in the response
              schema:
                type: string
                enum:
                - en
                - de
                - fr
                - ja
                - ru
                - zh
                - ko
                - es
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  category_id:
                    description: category_id integer
                    format: int32
                    title: get_universe_groups_group_id_category_id
                    type: integer
                  group_id:
                    description: group_id integer
                    format: int32
                    title: get_universe_groups_group_id_group_id
                    type: integer
                  name:
                    description: name string
                    title: get_universe_groups_group_id_name
                    type: string
                  published:
                    description: published boolean
                    title: get_universe_groups_group_id_published
                    type: boolean
                  types:
                    description: types array
                    items:
                      description: type integer
                      format: int32
                      title: get_universe_groups_group_id_type
                      type: integer
                    maxItems: 10000
                    title: get_universe_groups_group_id_types
                    type: array
                required:
                - group_id
                - name
                - published
                - category_id
                - types
                title: get_universe_groups_group_id_ok
                type: object
              examples:
                response:
                  value:
                    category_id: 6
                    group_id: 25
                    name: Frigate
                    published: true
                    types:
                    - 587
                    - 586
                    - 585
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '404':
          description: Group not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_universe_groups_group_id_404_not_found
                    type: string
                title: get_universe_groups_group_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Item Group Information
      tags:
      - Universe
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /universe/ids/:
    post:
      description: 'Resolve a set of names to IDs in the following categories: agents, alliances, characters, constellations, corporations factions, inventory_types, regions, stations, and systems. Only exact matches will be returned. All names searched for are cached for 12 hours


        ---

        Alternate route: `/dev/universe/ids/`


        Alternate route: `/legacy/universe/ids/`


        Alternate route: `/v1/universe/ids/`

        '
      operationId: post_universe_ids
      parameters:
      - $ref: '#/components/parameters/Accept-Language'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/language'
      requestBody:
        content:
          application/json:
            schema:
              description: names array
              example:
              - CCP Zoetrope
              items:
                description: name string
                maxLength: 100
                minLength: 1
                title: post_universe_ids_name
                type: string
              maxItems: 500
              minItems: 1
              title: post_universe_ids_names
              type: array
              uniqueItems: true
            examples:
              PostUniverseIdsRequestExample:
                summary: Default post_universe_ids request
                x-microcks-default: true
                value: {}
        description: The names to resolve
        required: true
      responses:
        '200':
          description: List of id/name associations for a set of names divided by category. Any name passed in that did not have a match will be ommitted
          headers:
            Content-Language:
              description: The language used in the response
              schema:
                type: string
                enum:
                - en
                - de
                - fr
                - ja
                - ru
                - zh
                - ko
                - es
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  agents:
                    description: agents array
                    items:
                      description: agent object
                      properties:
                        id:
                          description: id integer
                          format: int32
                          title: post_universe_ids_id
                          type: integer
                        name:
                          description: name string
                          title: post_universe_ids_name
                          type: string
                      title: post_universe_ids_agent
                      type: object
                    maxItems: 500
                    title: post_universe_ids_agents
                    type: array
                  alliances:
                    description: alliances array
                    items:
                      description: alliance object
                      properties:
                        id:
                          description: id integer
                          format: int32
                          title: post_universe_ids_alliance_id
                          type: integer
                        name:
                          description: name string
                          title: post_universe_ids_alliance_name
                          type: string
                      title: post_universe_ids_alliance
                      type: object
                    maxItems: 500
                    title: post_universe_ids_alliances
                    type: array
                  characters:
                    description: characters array
                    items:
                      description: character object
                      properties:
                        id:
                          description: id integer
                          format: int32
                          title: post_universe_ids_character_id
                          type: integer
                        name:
                          description: name string
                          title: post_universe_ids_character_name
                          type: string
                      title: post_universe_ids_character
                      type: object
                    maxItems: 500
                    title: post_universe_ids_characters
                    type: array
                  constellations:
                    description: constellations array
                    items:
                      description: constellation object
                      properties:
                        id:
                          description: id integer
                          format: int32
                          title: post_universe_ids_constellation_id
                          type: integer
                        name:
                          description: name string
                          title: post_universe_ids_constellation_name
                          type: string
                      title: post_universe_ids_constellation
                      type: object
                    maxItems: 500
                    title: post_universe_ids_constellations
                    type: array
                  corporations:
                    description: corporations array
                    items:
                      description: corporation object
                      properties:
                        id:
                          description: id integer
                          format: int32
                          title: post_universe_ids_corporation_id
                          type: integer
                        name:
                          description: name string
                          title: post_universe_ids_corporation_name
                          type: string
                      title: post_universe_ids_corporation
                      type: object
                    maxItems: 500
                    title: post_universe_ids_corporations
                    type: array
                  factions:
                    description: factions array
                    items:
                      description: faction object
                      properties:
                        id:
                          description: id integer
                          format: int32
                          title: post_universe_ids_faction_id
                          type: integer
                        name:
                          description: name string
                          title: post_universe_ids_faction_name
                          type: string
                      title: post_universe_ids_faction
                      type: object
                    maxItems: 500
                    title: post_universe_ids_factions
                    type: array
                  inventory_types:
                    description: inventory_types array
                    items:
                      description: inventory_type object
                      properties:
                        id:
                          description: id integer
                          format: int32
                          title: post_universe_ids_inventory_type_id
                          type: integer
                        name:
                          description: name string
                          title: post_universe_ids_inventory_type_name
                          type: string
                      title: post_universe_ids_inventory_type
                      type: object
                    maxItems: 500
                    title: post_universe_ids_inventory_types
                    type: array
                  regions:
                    description: regions array
                    items:
                      description: region object
                      properties:
                        id:
                          description: id integer
                          format: int32
                          title: post_universe_ids_region_id
                          type: integer
                        name:
                          description: name string
                          title: post_universe_ids_region_name
                          type: string
                      title: post_universe_ids_region
                      type: object
                    maxItems: 500
                    title: post_universe_ids_regions
                    type: array
                  stations:
                    description: stations array
                    items:
                      description: station object
                      properties:
                        id:
                          description: id integer
                          format: int32
                          title: post_universe_ids_station_id
                          type: integer
                        name:
                          description: name string
                          title: post_universe_ids_station_name
                          type: string
                      title: post_universe_ids_station
                      type: object
                    maxItems: 500
                    title: post_universe_ids_stations
                    type: array
                  systems:
                    description: systems array
                    items:
                      description: system object
                      properties:
                        id:
                          description: id integer
                          format: int32
                          title: post_universe_ids_system_id
                          type: integer
                        name:
                          description: name string
                          title: post_universe_ids_system_name
                          type: string
                      title: post_universe_ids_system
                      type: object
                    maxItems: 500
                    title: post_universe_ids_systems
                    type: array
                title: post_universe_ids_ok
                type: object
              examples:
                response:
                  value:
                    characters:
                    - id: 95465499
                      name: CCP Bartender
                    - id: 2112625428
                      name: CCP Zoetrope
                    systems:
                    - id: 30000142
                      name: Jita
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Bulk Names to IDs
      tags:
      - Universe
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /universe/moons/{moon_id}/:
    get:
      description: 'Get information on a moon


        ---

        Alternate route: `/legacy/universe/moons/{moon_id}/`


        Alternate route: `/v1/universe/moons/{moon_id}/`


        ---

        This route expires daily at 11:05'
      operationId: get_universe_moons_moon_id
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - description: moon_id integer
        in: path
        name: moon_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      responses:
        '200':
          description: Information about a moon
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  moon_id:
                    description: moon_id integer
                    format: int32
                    title: get_universe_moons_moon_id_moon_id
                    type: integer
                  name:
                    description: name string
                    title: get_universe_moons_moon_id_name
                    type: string
                  position:
                    description: position object
                    properties:
                      x:
                        description: x number
                        format: double
                        title: get_universe_moons_moon_id_x
                        type: number
                      y:
                        description: y number
                        format: double
                        title: get_universe_moons_moon_id_y
                        type: number
                      z:
                        description: z number
                        format: double
                        title: get_universe_moons_moon_id_z
                        type: number
                    required:
                    - x
                    - y
                    - z
                    title: get_universe_moons_moon_id_position
                    type: object
                  system_id:
                    description: The solar system this moon is in
                    format: int32
                    title: get_universe_moons_moon_id_system_id
                    type: integer
                required:
                - moon_id
                - name
                - position
                - system_id
                title: get_universe_moons_moon_id_ok
                type: object
              examples:
                response:
                  value:
                    moon_id: 40000042
                    name: Akpivem I - Moon 1
                    position:
                      x: 58605102008
                      y: -3066616285
                      z: -55193617920
                    system_id: 30000003
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '404':
          description: Moon not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_universe_moons_moon_id_404_not_found
                    type: string
                title: get_universe_moons_moon_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Moon Information
      tags:
      - Universe
      x-alternate-versions:
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /universe/names/:
    post:
      description: 'Resolve a set of IDs to names and categories. Supported ID''s for resolving are: Characters, Corporations, Alliances, Stations, Solar Systems, Constellations, Regions, Types, Factions


        ---

        Alternate route: `/dev/universe/names/`


        Alternate route: `/legacy/universe/names/`


        Alternate route: `/v2/universe/names/`


        Alternate route: `/v3/universe/names/`

        '
      operationId: post_universe_names
      parameters:
      - $ref: '#/components/parameters/datasource'
      requestBody:
        content:
          application/json:
            schema:
              description: ids array
              example:
              - 95465499
              - 30000142
              items:
                description: id integer
                format: int32
                title: post_universe_names_id
                type: integer
              maxItems: 1000
              minItems: 1
              title: post_universe_names_ids
              type: array
              uniqueItems: true
            examples:
              PostUniverseNamesRequestExample:
                summary: Default post_universe_names request
                x-microcks-default: true
                value: {}
        description: The ids to resolve
        required: true
      responses:
        '200':
          description: List of id/name associations for a set of IDs. All IDs must resolve to a name, or nothing will be returned
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    category:
                      description: category string
                      enum:
                      - alliance
                      - character
                      - constellation
                      - corporation
                      - inventory_type
                      - region
                      - solar_system
                      - station
                      - faction
                      title: post_universe_names_category
                      type: string
                    id:
                      description: id integer
                      format: int32
                      title: post_universe_names_id
                      type: integer
                    name:
                      description: name string
                      title: post_universe_names_name
                      type: string
                  required:
                  - id
                  - name
                  - category
                  title: post_universe_names_200_ok
                  type: object
                maxItems: 1000
                title: post_universe_names_ok
                type: array
              examples:
                response:
                  value:
                  - category: character
                    id: 95465499
                    name: CCP Bartender
                  - category: solar_system
                    id: 30000142
                    name: Jita
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '404':
          description: Ensure all IDs are valid before resolving
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: post_universe_names_404_not_found
                    type: string
                title: post_universe_names_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Names and Categories for a Set of IDs
      tags:
      - Universe
      x-alternate-versions:
      - dev
      - legacy
      - v2
      - v3
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /universe/planets/{planet_id}/:
    get:
      description: 'Get information on a planet


        ---

        Alternate route: `/legacy/universe/planets/{planet_id}/`


        Alternate route: `/v1/universe/planets/{planet_id}/`


        ---

        This route expires daily at 11:05'
      operationId: get_universe_planets_planet_id
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - description: planet_id integer
        in: path
        name: planet_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      responses:
        '200':
          description: Information about a planet
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  name:
                    description: name string
                    title: get_universe_planets_planet_id_name
                    type: string
                  planet_id:
                    description: planet_id integer
                    format: int32
                    title: get_universe_planets_planet_id_planet_id
                    type: integer
                  position:
                    description: position object
                    properties:
                      x:
                        description: x number
                        format: double
                        title: get_universe_planets_planet_id_x
                        type: number
                      y:
                        description: y number
                        format: double
                        title: get_universe_planets_planet_id_y
                        type: number
                      z:
                        description: z number
                        format: double
                        title: get_universe_planets_planet_id_z
                        type: number
                    required:
                    - x
                    - y
                    - z
                    title: get_universe_planets_planet_id_position
                    type: object
                  system_id:
                    description: The solar system this planet is in
                    format: int32
                    title: get_universe_planets_planet_id_system_id
                    type: integer
                  type_id:
                    description: type_id integer
                    format: int32
                    title: get_universe_planets_planet_id_type_id
                    type: integer
                required:
                - planet_id
                - name
                - type_id
                - position
                - system_id
                title: get_universe_planets_planet_id_ok
                type: object
              examples:
                response:
                  value:
                    name: Akpivem III
                    planet_id: 40000046
                    position:
                      x: -189226344497
                      y: 9901605317
                      z: -254852632979
[...]
