openapi: 3.0.0
info:
  description: An OpenAPI for EVE Online
  title: EVE Swagger Interface Alliance Location API
  version: '1.36'
servers:
- url: https://esi.evetech.net/latest
tags:
- name: Location
paths:
  /characters/{character_id}/location/:
    get:
      description: 'Information about the characters current location. Returns the current solar system id, and also the current station or structure ID if applicable


        ---

        Alternate route: `/dev/characters/{character_id}/location/`


        Alternate route: `/legacy/characters/{character_id}/location/`


        Alternate route: `/v1/characters/{character_id}/location/`


        Alternate route: `/v2/characters/{character_id}/location/`


        ---

        This route is cached for up to 5 seconds'
      operationId: get_characters_character_id_location
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Information about the characters current location. Returns the current solar system id, and also the current station or structure ID if applicable
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  solar_system_id:
                    description: solar_system_id integer
                    format: int32
                    title: get_characters_character_id_location_solar_system_id
                    type: integer
                  station_id:
                    description: station_id integer
                    format: int32
                    title: get_characters_character_id_location_station_id
                    type: integer
                  structure_id:
                    description: structure_id integer
                    format: int64
                    title: get_characters_character_id_location_structure_id
                    type: integer
                required:
                - solar_system_id
                title: get_characters_character_id_location_ok
                type: object
              examples:
                response:
                  value:
                    solar_system_id: 30002505
                    structure_id: 1000000016989
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-location.read_location.v1
      summary: EVE Online Get Character Location
      tags:
      - Location
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 5
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /characters/{character_id}/online/:
    get:
      description: 'Checks if the character is currently online


        ---

        Alternate route: `/dev/characters/{character_id}/online/`


        Alternate route: `/v2/characters/{character_id}/online/`


        Alternate route: `/v3/characters/{character_id}/online/`


        ---

        This route is cached for up to 60 seconds'
      operationId: get_characters_character_id_online
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Object describing the character's online status
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  last_login:
                    description: Timestamp of the last login
                    format: date-time
                    title: get_characters_character_id_online_last_login
                    type: string
                  last_logout:
                    description: Timestamp of the last logout
                    format: date-time
                    title: get_characters_character_id_online_last_logout
                    type: string
                  logins:
                    description: Total number of times the character has logged in
                    format: int32
                    title: get_characters_character_id_online_logins
                    type: integer
                  online:
                    description: If the character is online
                    title: get_characters_character_id_online_online
                    type: boolean
                required:
                - online
                title: get_characters_character_id_online_ok
                type: object
              examples:
                response:
                  value:
                    last_login: 2017-01-02 03:04:05+00:00
                    last_logout: 2017-01-02 04:05:06+00:00
                    logins: 9001
                    online: true
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-location.read_online.v1
      summary: EVE Online Get Character Online
      tags:
      - Location
      x-alternate-versions:
      - dev
      - v2
      - v3
      x-cached-seconds: 60
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /characters/{character_id}/ship/:
    get:
      description: 'Get the current ship type, name and id


        ---

        Alternate route: `/dev/characters/{character_id}/ship/`


        Alternate route: `/legacy/characters/{character_id}/ship/`


        Alternate route: `/v1/characters/{character_id}/ship/`


        Alternate route: `/v2/characters/{character_id}/ship/`


        ---

        This route is cached for up to 5 seconds'
      operationId: get_characters_character_id_ship
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Get the current ship type, name and id
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  ship_item_id:
                    description: Item id's are unique to a ship and persist until it is repackaged. This value can be used to track repeated uses of a ship, or detect when a pilot changes into a different instance of the same ship type.
                    format: int64
                    title: get_characters_character_id_ship_ship_item_id
                    type: integer
                  ship_name:
                    description: ship_name string
                    title: get_characters_character_id_ship_ship_name
                    type: string
                  ship_type_id:
                    description: ship_type_id integer
                    format: int32
                    title: get_characters_character_id_ship_ship_type_id
                    type: integer
                required:
                - ship_type_id
                - ship_item_id
                - ship_name
                title: get_characters_character_id_ship_ok
                type: object
              examples:
                response:
                  value:
                    ship_item_id: 1000000016991
                    ship_name: SPACESHIPS!!!
                    ship_type_id: 1233
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-location.read_ship_type.v1
      summary: EVE Online Get Current Ship
      tags:
      - Location
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 5
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/characters/{character_id}/location/:
    get:
      description: 'Information about the characters current location. Returns the current solar system id, and also the current station or structure ID if applicable


        ---


        This route is cached for up to 5 seconds'
      operationId: get_characters_character_id_location
      parameters:
      - $ref: '#/parameters/character_id'
      - $ref: '#/parameters/datasource'
      - $ref: '#/parameters/If-None-Match'
      - $ref: '#/parameters/token'
      responses:
        '200':
          description: Information about the characters current location. Returns the current solar system id, and also the current station or structure ID if applicable
          examples:
            application/json:
              solar_system_id: 30002505
              structure_id: 1000000016989
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok object
            properties:
              solar_system_id:
                description: solar_system_id integer
                format: int32
                title: get_characters_character_id_location_solar_system_id
                type: integer
              station_id:
                description: station_id integer
                format: int32
                title: get_characters_character_id_location_station_id
                type: integer
              structure_id:
                description: structure_id integer
                format: int64
                title: get_characters_character_id_location_structure_id
                type: integer
            required:
            - solar_system_id
            title: get_characters_character_id_location_ok
            type: object
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '401':
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: '#/definitions/unauthorized'
        '403':
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: '#/definitions/forbidden'
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
        '504':
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
      security:
      - evesso:
        - esi-location.read_location.v1
      summary: Get character location
      tags:
      - Location
      x-alternate-versions:
      - latest
      - legacy
      - v1
      - v2
      x-cached-seconds: 5
  /v1/characters/{character_id}/ship/:
    get:
      description: 'Get the current ship type, name and id


        ---


        This route is cached for up to 5 seconds'
      operationId: get_characters_character_id_ship
      parameters:
      - $ref: '#/parameters/character_id'
      - $ref: '#/parameters/datasource'
      - $ref: '#/parameters/If-None-Match'
      - $ref: '#/parameters/token'
      responses:
        '200':
          description: Get the current ship type, name and id
          examples:
            application/json:
              ship_item_id: 1000000016991
              ship_name: SPACESHIPS!!!
              ship_type_id: 1233
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok object
            properties:
              ship_item_id:
                description: Item id's are unique to a ship and persist until it is repackaged. This value can be used to track repeated uses of a ship, or detect when a pilot changes into a different instance of the same ship type.
                format: int64
                title: get_characters_character_id_ship_ship_item_id
                type: integer
              ship_name:
                description: ship_name string
                title: get_characters_character_id_ship_ship_name
                type: string
              ship_type_id:
                description: ship_type_id integer
                format: int32
                title: get_characters_character_id_ship_ship_type_id
                type: integer
            required:
            - ship_type_id
            - ship_item_id
            - ship_name
            title: get_characters_character_id_ship_ok
            type: object
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '401':
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: '#/definitions/unauthorized'
        '403':
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: '#/definitions/forbidden'
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
        '504':
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
      security:
      - evesso:
        - esi-location.read_ship_type.v1
      summary: Get current ship
      tags:
      - Location
      x-alternate-versions:
      - latest
      - legacy
      - v1
      - v2
      x-cached-seconds: 5
  /v2/characters/{character_id}/online/:
    get:
      description: 'Checks if the character is currently online


        ---


        This route is cached for up to 60 seconds'
      operationId: get_characters_character_id_online
      parameters:
      - $ref: '#/parameters/character_id'
      - $ref: '#/parameters/datasource'
      - $ref: '#/parameters/If-None-Match'
      - $ref: '#/parameters/token'
      responses:
        '200':
          description: Object describing the character's online status
          examples:
            application/json:
              last_login: '2017-01-02T03:04:05Z'
              last_logout: '2017-01-02T04:05:06Z'
              logins: 9001
              online: true
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok object
            properties:
              last_login:
                description: Timestamp of the last login
                format: date-time
                title: get_characters_character_id_online_last_login
                type: string
              last_logout:
                description: Timestamp of the last logout
                format: date-time
                title: get_characters_character_id_online_last_logout
                type: string
              logins:
                description: Total number of times the character has logged in
                format: int32
                title: get_characters_character_id_online_logins
                type: integer
              online:
                description: If the character is online
                title: get_characters_character_id_online_online
                type: boolean
            required:
            - online
            title: get_characters_character_id_online_ok
            type: object
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '401':
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: '#/definitions/unauthorized'
        '403':
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: '#/definitions/forbidden'
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
        '504':
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
      security:
      - evesso:
        - esi-location.read_online.v1
      summary: Get character online
      tags:
      - Location
      x-alternate-versions:
      - latest
      - v2
      - v3
      x-cached-seconds: 60
components:
  schemas:
    internal_server_error:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
          example: example
      required:
      - error
      title: Internal server error
      type: object
    forbidden:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
          example: example
        sso_status:
          description: status code received from SSO
          type: integer
          example: 1
      required:
      - error
      title: Forbidden
      type: object
    service_unavailable:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
          example: example
      required:
      - error
      title: Service unavailable
      type: object
    bad_request:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
          example: example
      required:
      - error
      title: Bad request
      type: object
    unauthorized:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
          example: example
      required:
      - error
      title: Unauthorized
      type: object
    gateway_timeout:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
          example: example
        timeout:
          description: number of seconds the request was given
          type: integer
          example: 1
      required:
      - error
      title: Gateway timeout
      type: object
    error_limited:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
          example: example
      required:
      - error
      title: Error limited
      type: object
  parameters:
    datasource:
      description: The server name you would like data from
      in: query
      name: datasource
      schema:
        type: string
        enum:
        - tranquility
        default: tranquility
    character_id:
      description: An EVE character ID
      in: path
      name: character_id
      required: true
      schema:
        type: integer
        format: int32
        minimum: 1
    token:
      description: Access token to use if unable to set a header
      in: query
      name: token
      schema:
        type: string
    If-None-Match:
      description: ETag from a previous request. A 304 will be returned if this matches the current ETag
      in: header
      name: If-None-Match
      schema:
        type: string
  securitySchemes:
    evesso:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.eveonline.com/v2/oauth/authorize
          scopes:
            esi-alliances.read_contacts.v1: EVE SSO scope esi-alliances.read_contacts.v1
            esi-assets.read_assets.v1: EVE SSO scope esi-assets.read_assets.v1
            esi-assets.read_corporation_assets.v1: EVE SSO scope esi-assets.read_corporation_assets.v1
            esi-calendar.read_calendar_events.v1: EVE SSO scope esi-calendar.read_calendar_events.v1
            esi-calendar.respond_calendar_events.v1: EVE SSO scope esi-calendar.respond_calendar_events.v1
            esi-characters.read_agents_research.v1: EVE SSO scope esi-characters.read_agents_research.v1
            esi-characters.read_blueprints.v1: EVE SSO scope esi-characters.read_blueprints.v1
            esi-characters.read_contacts.v1: EVE SSO scope esi-characters.read_contacts.v1
            esi-characters.read_corporation_roles.v1: EVE SSO scope esi-characters.read_corporation_roles.v1
            esi-characters.read_fatigue.v1: EVE SSO scope esi-characters.read_fatigue.v1
            esi-characters.read_fw_stats.v1: EVE SSO scope esi-characters.read_fw_stats.v1
            esi-characters.read_loyalty.v1: EVE SSO scope esi-characters.read_loyalty.v1
            esi-characters.read_medals.v1: EVE SSO scope esi-characters.read_medals.v1
            esi-characters.read_notifications.v1: EVE SSO scope esi-characters.read_notifications.v1
            esi-characters.read_standings.v1: EVE SSO scope esi-characters.read_standings.v1
            esi-characters.read_titles.v1: EVE SSO scope esi-characters.read_titles.v1
            esi-characters.write_contacts.v1: EVE SSO scope esi-characters.write_contacts.v1
            esi-clones.read_clones.v1: EVE SSO scope esi-clones.read_clones.v1
            esi-clones.read_implants.v1: EVE SSO scope esi-clones.read_implants.v1
            esi-contracts.read_character_contracts.v1: EVE SSO scope esi-contracts.read_character_contracts.v1
            esi-contracts.read_corporation_contracts.v1: EVE SSO scope esi-contracts.read_corporation_contracts.v1
            esi-corporations.read_blueprints.v1: EVE SSO scope esi-corporations.read_blueprints.v1
            esi-corporations.read_contacts.v1: EVE SSO scope esi-corporations.read_contacts.v1
            esi-corporations.read_container_logs.v1: EVE SSO scope esi-corporations.read_container_logs.v1
            esi-corporations.read_corporation_membership.v1: EVE SSO scope esi-corporations.read_corporation_membership.v1
            esi-corporations.read_divisions.v1: EVE SSO scope esi-corporations.read_divisions.v1
            esi-corporations.read_facilities.v1: EVE SSO scope esi-corporations.read_facilities.v1
            esi-corporations.read_fw_stats.v1: EVE SSO scope esi-corporations.read_fw_stats.v1
            esi-corporations.read_medals.v1: EVE SSO scope esi-corporations.read_medals.v1
            esi-corporations.read_standings.v1: EVE SSO scope esi-corporations.read_standings.v1
            esi-corporations.read_starbases.v1: EVE SSO scope esi-corporations.read_starbases.v1
            esi-corporations.read_structures.v1: EVE SSO scope esi-corporations.read_structures.v1
            esi-corporations.read_titles.v1: EVE SSO scope esi-corporations.read_titles.v1
            esi-corporations.track_members.v1: EVE SSO scope esi-corporations.track_members.v1
            esi-fittings.read_fittings.v1: EVE SSO scope esi-fittings.read_fittings.v1
            esi-fittings.write_fittings.v1: EVE SSO scope esi-fittings.write_fittings.v1
            esi-fleets.read_fleet.v1: EVE SSO scope esi-fleets.read_fleet.v1
            esi-fleets.write_fleet.v1: EVE SSO scope esi-fleets.write_fleet.v1
            esi-industry.read_character_jobs.v1: EVE SSO scope esi-industry.read_character_jobs.v1
            esi-industry.read_character_mining.v1: EVE SSO scope esi-industry.read_character_mining.v1
            esi-industry.read_corporation_jobs.v1: EVE SSO scope esi-industry.read_corporation_jobs.v1
            esi-industry.read_corporation_mining.v1: EVE SSO scope esi-industry.read_corporation_mining.v1
            esi-killmails.read_corporation_killmails.v1: EVE SSO scope esi-killmails.read_corporation_killmails.v1
            esi-killmails.read_killmails.v1: EVE SSO scope esi-killmails.read_killmails.v1
            esi-location.read_location.v1: EVE SSO scope esi-location.read_location.v1
            esi-location.read_online.v1: EVE SSO scope esi-location.read_online.v1
            esi-location.read_ship_type.v1: EVE SSO scope esi-location.read_ship_type.v1
            esi-mail.organize_mail.v1: EVE SSO scope esi-mail.organize_mail.v1
            esi-mail.read_mail.v1: EVE SSO scope esi-mail.read_mail.v1
            esi-mail.send_mail.v1: EVE SSO scope esi-mail.send_mail.v1
            esi-markets.read_character_orders.v1: EVE SSO scope esi-markets.read_character_orders.v1
            esi-markets.read_corporation_orders.v1: EVE SSO scope esi-markets.read_corporation_orders.v1
            esi-markets.structure_markets.v1: EVE SSO scope esi-markets.structure_markets.v1
            esi-planets.manage_planets.v1: EVE SSO scope esi-planets.manage_planets.v1
            esi-planets.read_customs_offices.v1: EVE SSO scope esi-planets.read_customs_offices.v1
            esi-search.search_structures.v1: EVE SSO scope esi-search.search_structures.v1
            esi-skills.read_skillqueue.v1: EVE SSO scope esi-skills.read_skillqueue.v1
            esi-skills.read_skills.v1: EVE SSO scope esi-skills.read_skills.v1
            esi-ui.open_window.v1: EVE SSO scope esi-ui.open_window.v1
            esi-ui.write_waypoint.v1: EVE SSO scope esi-ui.write_waypoint.v1
            esi-universe.read_structures.v1: EVE SSO scope esi-universe.read_structures.v1
            esi-wallet.read_character_wallet.v1: EVE SSO scope esi-wallet.read_character_wallet.v1
            esi-wallet.read_corporation_wallets.v1: EVE SSO scope esi-wallet.read_corporation_wallets.v1
definitions:
  internal_server_error:
    description: Internal server error model
    properties:
      error:
        description: Internal server error message
        type: string
    required:
    - error
    title: Internal server error
    type: object
  error_limited:
    description: Error limited model
    properties:
      error:
        description: Error limited message
        type: string
    required:
    - error
    title: Error limited
    type: object
  unauthorized:
    description: Unauthorized model
    properties:
      error:
        description: Unauthorized message
        type: string
    required:
    - error
    title: Unauthorized
    type: object
  service_unavailable:
    description: Service unavailable model
    properties:
      error:
        description: Service unavailable message
        type: string
    required:
    - error
    title: Service unavailable
    type: object
  forbidden:
    description: Forbidden model
    properties:
      error:
        description: Forbidden message
        type: string
      sso_status:
        description: status code received from SSO
        type: integer
    required:
    - error
    title: Forbidden
    type: object
  bad_request:
    description: Bad request model
    properties:
      error:
        description: Bad request message
        type: string
    required:
    - error
    title: Bad request
    type: object
  gateway_timeout:
    description: Gateway timeout model
    properties:
      error:
        description: Gateway timeout message
        type: string
      timeout:
        description: number of seconds the request was given
        type: integer
    required:
    - error
    title: Gateway timeout
    type: object
parameters:
  token:
    description: Access token to use if unable to set a header
    in: query
    name: token
    type: string
  If-None-Match:
    description: ETag from a previous request. A 304 will be returned if this matches the current ETag
    in: header
    name: If-None-Match
    type: string
  datasource:
    default: tranquility
    description: The server name you would like data from
    enum:
    - tranquility
    in: query
    name: datasource
    type: string
  character_id:
    description: An EVE character ID
    format: int32
    in: path
    minimum: 1
    name: character_id
    required: true
    type: integer
