openapi: 3.2.0
info:
  title: Eve Online Wallet API
  version: '1.36'
  description: 'Operations tagged Wallet across 7 of this provider''s published API definitions: eve-online-openapi.yml, swagger.json, swagger_2.json, swagger_3.json, swagger_4.json, swagger_5.json, swagger_6.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://esi.evetech.net/latest
- url: https://esi.evetech.net
- url: https://esi.evetech.net/legacy
- url: https://esi.evetech.net/dev
tags:
- name: Wallet
paths:
  /characters/{character_id}/wallet/:
    get:
      description: 'Returns a character''s wallet balance


        ---

        Alternate route: `/legacy/characters/{character_id}/wallet/`


        Alternate route: `/v1/characters/{character_id}/wallet/`


        ---

        This route is cached for up to 120 seconds


        ---

        [Diff of the upcoming changes](https://esi.evetech.net/diff/latest/dev/#GET-/characters/{character_id}/wallet/)'
      operationId: get_characters_character_id_wallet
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Wallet balance
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: Wallet balance
                format: double
                title: get_characters_character_id_wallet_ok
                type: number
              examples:
                response:
                  value: 29500.01
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-wallet.read_character_wallet.v1
      summary: EVE Online Get a Character's Wallet Balance
      tags:
      - Wallet
      x-alternate-versions:
      - legacy
      - v1
      x-cached-seconds: 120
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /characters/{character_id}/wallet/journal/:
    get:
      description: 'Retrieve the given character''s wallet journal going 30 days back


        ---

        Alternate route: `/dev/characters/{character_id}/wallet/journal/`


        Alternate route: `/legacy/characters/{character_id}/wallet/journal/`


        Alternate route: `/v5/characters/{character_id}/wallet/journal/`


        Alternate route: `/v6/characters/{character_id}/wallet/journal/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_characters_character_id_wallet_journal
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Journal entries
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: Wallet journal entries
                items:
                  description: 200 ok object
                  properties:
                    amount:
                      description: The amount of ISK given or taken from the wallet as a result of the given transaction. Positive when ISK is deposited into the wallet and negative when ISK is withdrawn
                      format: double
                      title: get_characters_character_id_wallet_journal_amount
                      type: number
                    balance:
                      description: Wallet balance after transaction occurred
                      format: double
                      title: get_characters_character_id_wallet_journal_balance
                      type: number
                    context_id:
                      description: An ID that gives extra context to the particular transaction. Because of legacy reasons the context is completely different per ref_type and means different things. It is also possible to not have a context_id
                      format: int64
                      title: get_characters_character_id_wallet_journal_context_id
                      type: integer
                    context_id_type:
                      description: The type of the given context_id if present
                      enum:
                      - structure_id
                      - station_id
                      - market_transaction_id
                      - character_id
                      - corporation_id
                      - alliance_id
                      - eve_system
                      - industry_job_id
                      - contract_id
                      - planet_id
                      - system_id
                      - type_id
                      title: get_characters_character_id_wallet_journal_context_id_type
                      type: string
                    date:
                      description: Date and time of transaction
                      format: date-time
                      title: get_characters_character_id_wallet_journal_date
                      type: string
                    description:
                      description: The reason for the transaction, mirrors what is seen in the client
                      title: get_characters_character_id_wallet_journal_description
                      type: string
                    first_party_id:
                      description: The id of the first party involved in the transaction. This attribute has no consistency and is different or non existant for particular ref_types. The description attribute will help make sense of what this attribute means. For more info about the given ID it can be dropped into the /universe/names/ ESI route to determine its type and name
                      format: int32
                      title: get_characters_character_id_wallet_journal_first_party_id
                      type: integer
                    id:
                      description: Unique journal reference ID
                      format: int64
                      title: get_characters_character_id_wallet_journal_id
                      type: integer
                    reason:
                      description: The user stated reason for the transaction. Only applies to some ref_types
                      title: get_characters_character_id_wallet_journal_reason
                      type: string
                    ref_type:
                      description: '"The transaction type for the given. transaction. Different transaction types will populate different attributes."'
                      enum:
                      - acceleration_gate_fee
                      - advertisement_listing_fee
                      - agent_donation
                      - agent_location_services
                      - agent_miscellaneous
                      - agent_mission_collateral_paid
                      - agent_mission_collateral_refunded
                      - agent_mission_reward
                      - agent_mission_reward_corporation_tax
                      - agent_mission_time_bonus_reward
                      - agent_mission_time_bonus_reward_corporation_tax
                      - agent_security_services
                      - agent_services_rendered
                      - agents_preward
                      - air_career_program_reward
                      - alliance_maintainance_fee
                      - alliance_registration_fee
                      - allignment_based_gate_toll
                      - asset_safety_recovery_tax
                      - bounty
                      - bounty_prize
                      - bounty_prize_corporation_tax
                      - bounty_prizes
                      - bounty_reimbursement
                      - bounty_surcharge
                      - brokers_fee
                      - clone_activation
                      - clone_transfer
                      - contraband_fine
                      - contract_auction_bid
                      - contract_auction_bid_corp
                      - contract_auction_bid_refund
                      - contract_auction_sold
                      - contract_brokers_fee
                      - contract_brokers_fee_corp
                      - contract_collateral
                      - contract_collateral_deposited_corp
                      - contract_collateral_payout
                      - contract_collateral_refund
                      - contract_deposit
                      - contract_deposit_corp
                      - contract_deposit_refund
                      - contract_deposit_sales_tax
                      - contract_price
                      - contract_price_payment_corp
                      - contract_reversal
                      - contract_reward
                      - contract_reward_deposited
                      - contract_reward_deposited_corp
                      - contract_reward_refund
                      - contract_sales_tax
                      - copying
                      - corporate_reward_payout
                      - corporate_reward_tax
                      - corporation_account_withdrawal
                      - corporation_bulk_payment
                      - corporation_dividend_payment
                      - corporation_liquidation
                      - corporation_logo_change_cost
                      - corporation_payment
                      - corporation_registration_fee
                      - cosmetic_market_component_item_purchase
                      - cosmetic_market_skin_purchase
                      - cosmetic_market_skin_sale
                      - cosmetic_market_skin_sale_broker_fee
                      - cosmetic_market_skin_sale_tax
                      - cosmetic_market_skin_transaction
                      - courier_mission_escrow
                      - cspa
                      - cspaofflinerefund
                      - daily_challenge_reward
                      - daily_goal_payouts
                      - daily_goal_payouts_tax
                      - datacore_fee
                      - dna_modification_fee
                      - docking_fee
                      - duel_wager_escrow
                      - duel_wager_payment
                      - duel_wager_refund
                      - ess_escrow_transfer
                      - external_trade_delivery
                      - external_trade_freeze
                      - external_trade_thaw
                      - factory_slot_rental_fee
                      - flux_payout
                      - flux_tax
                      - flux_ticket_repayment
                      - flux_ticket_sale
                      - freelance_jobs_broadcasting_fee
                      - freelance_jobs_duration_fee
                      - freelance_jobs_escrow_refund
                      - freelance_jobs_reward
                      - freelance_jobs_reward_corporation_tax
                      - freelance_jobs_reward_escrow
                      - gm_cash_transfer
                      - gm_plex_fee_refund
                      - industry_job_tax
                      - infrastructure_hub_maintenance
                      - inheritance
                      - insurance
                      - insurgency_corruption_contribution_reward
                      - insurgency_suppression_contribution_reward
                      - item_trader_payment
                      - jump_clone_activation_fee
                      - jump_clone_installation_fee
                      - kill_right_fee
                      - lp_store
                      - manufacturing
                      - market_escrow
                      - market_fine_paid
                      - market_provider_tax
                      - market_transaction
                      - medal_creation
                      - medal_issued
                      - milestone_reward_payment
                      - mission_completion
                      - mission_cost
                      - mission_expiration
                      - mission_reward
                      - office_rental_fee
                      - operation_bonus
                      - opportunity_reward
                      - planetary_construction
                      - planetary_export_tax
                      - planetary_import_tax
                      - player_donation
                      - player_trading
                      - project_discovery_reward
                      - project_discovery_tax
                      - project_payouts
                      - reaction
                      - redeemed_isk_token
                      - release_of_impounded_property
                      - repair_bill
                      - reprocessing_tax
                      - researching_material_productivity
                      - researching_technology
                      - researching_time_productivity
                      - resource_wars_reward
                      - reverse_engineering
                      - season_challenge_reward
                      - security_processing_fee
                      - shares
                      - skill_purchase
                      - skyhook_claim_fee
                      - sovereignity_bill
                      - store_purchase
                      - store_purchase_refund
                      - structure_gate_jump
                      - transaction_tax
                      - under_construction
                      - upkeep_adjustment_fee
                      - war_ally_contract
                      - war_fee
                      - war_fee_surrender
                      title: get_characters_character_id_wallet_journal_ref_type
                      type: string
                    second_party_id:
                      description: The id of the second party involved in the transaction. This attribute has no consistency and is different or non existant for particular ref_types. The description attribute will help make sense of what this attribute means. For more info about the given ID it can be dropped into the /universe/names/ ESI route to determine its type and name
                      format: int32
                      title: get_characters_character_id_wallet_journal_second_party_id
                      type: integer
                    tax:
                      description: Tax amount received. Only applies to tax related transactions
                      format: double
                      title: get_characters_character_id_wallet_journal_tax
                      type: number
                    tax_receiver_id:
                      description: The corporation ID receiving any tax paid. Only applies to tax related transactions
                      format: int32
                      title: get_characters_character_id_wallet_journal_tax_receiver_id
                      type: integer
                  required:
                  - date
                  - id
                  - ref_type
                  - description
                  title: get_characters_character_id_wallet_journal_200_ok
                  type: object
                maxItems: 2500
                title: get_characters_character_id_wallet_journal_ok
                type: array
              examples:
                response:
                  value:
                  - amount: -100000
                    balance: 500000.4316
                    context_id: 4
                    context_id_type: contract_id
                    date: 2018-02-23 14:31:32+00:00
                    description: Contract Deposit
                    first_party_id: 2112625428
                    id: 89
                    ref_type: contract_deposit
                    second_party_id: 1000132
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-wallet.read_character_wallet.v1
      summary: EVE Online Get Character Wallet Journal
      tags:
      - Wallet
      x-alternate-versions:
      - dev
      - legacy
      - v5
      - v6
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /characters/{character_id}/wallet/transactions/:
    get:
      description: 'Get wallet transactions of a character


        ---

        Alternate route: `/dev/characters/{character_id}/wallet/transactions/`


        Alternate route: `/legacy/characters/{character_id}/wallet/transactions/`


        Alternate route: `/v1/characters/{character_id}/wallet/transactions/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_characters_character_id_wallet_transactions
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - description: Only show transactions happened before the one referenced by this id
        in: query
        name: from_id
        required: false
        schema:
          type: integer
          format: int64
        example: 1001
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Wallet transactions
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: Wallet transactions
                items:
                  description: wallet transaction
                  properties:
                    client_id:
                      description: client_id integer
                      format: int32
                      title: get_characters_character_id_wallet_transactions_client_id
                      type: integer
                    date:
                      description: Date and time of transaction
                      format: date-time
                      title: get_characters_character_id_wallet_transactions_date
                      type: string
                    is_buy:
                      description: is_buy boolean
                      title: get_characters_character_id_wallet_transactions_is_buy
                      type: boolean
                    is_personal:
                      description: is_personal boolean
                      title: get_characters_character_id_wallet_transactions_is_personal
                      type: boolean
                    journal_ref_id:
                      description: journal_ref_id integer
                      format: int64
                      title: get_characters_character_id_wallet_transactions_journal_ref_id
                      type: integer
                    location_id:
                      description: location_id integer
                      format: int64
                      title: get_characters_character_id_wallet_transactions_location_id
                      type: integer
                    quantity:
                      description: quantity integer
                      format: int32
                      title: get_characters_character_id_wallet_transactions_quantity
                      type: integer
                    transaction_id:
                      description: Unique transaction ID
                      format: int64
                      title: get_characters_character_id_wallet_transactions_transaction_id
                      type: integer
                    type_id:
                      description: type_id integer
                      format: int32
                      title: get_characters_character_id_wallet_transactions_type_id
                      type: integer
                    unit_price:
                      description: Amount paid per unit
                      format: double
                      title: get_characters_character_id_wallet_transactions_unit_price
                      type: number
                  required:
                  - transaction_id
                  - date
                  - location_id
                  - type_id
                  - unit_price
                  - quantity
                  - client_id
                  - is_buy
                  - is_personal
                  - journal_ref_id
                  title: get_characters_character_id_wallet_transactions_200_ok
                  type: object
                maxItems: 2500
                title: get_characters_character_id_wallet_transactions_ok
                type: array
              examples:
                response:
                  value:
                  - client_id: 54321
                    date: 2016-10-24 09:00:00+00:00
                    is_buy: true
                    is_personal: true
                    journal_ref_id: 67890
                    location_id: 60014719
                    quantity: 1
                    transaction_id: 1234567890
                    type_id: 587
                    unit_price: 1
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-wallet.read_character_wallet.v1
      summary: EVE Online Get Wallet Transactions
      tags:
      - Wallet
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/wallets/:
    get:
      description: 'Get a corporation''s wallets


        ---

        Alternate route: `/dev/corporations/{corporation_id}/wallets/`


        Alternate route: `/legacy/corporations/{corporation_id}/wallets/`


        Alternate route: `/v1/corporations/{corporation_id}/wallets/`


        ---

        This route is cached for up to 300 seconds


        ---

        Requires one of the following EVE corporation role(s): Accountant, Junior_Accountant

        '
      operationId: get_corporations_corporation_id_wallets
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: List of corporation wallets
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    balance:
                      description: balance number
                      format: double
                      title: get_corporations_corporation_id_wallets_balance
                      type: number
                    division:
                      description: division integer
                      format: int32
                      maximum: 7
                      minimum: 1
                      title: get_corporations_corporation_id_wallets_division
                      type: integer
                  required:
                  - division
                  - balance
                  title: get_corporations_corporation_id_wallets_200_ok
                  type: object
                maxItems: 7
                title: get_corporations_corporation_id_wallets_ok
                type: array
              examples:
                response:
                  value:
                  - balance: 123.45
                    division: 1
                  - balance: 123.45
                    division: 2
                  - balance: 123.45
                    division: 3
                  - balance: 123.45
                    division: 4
                  - balance: 123.45
                    division: 5
                  - balance: 123.45
                    division: 6
                  - balance: 123.45
                    division: 7
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-wallet.read_corporation_wallets.v1
      summary: EVE Online Returns a Corporation's Wallet Balance
      tags:
      - Wallet
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 300
      x-required-roles:
      - Accountant
      - Junior_Accountant
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/wallets/{division}/journal/:
    get:
      description: 'Retrieve the given corporation''s wallet journal for the given division going 30 days back


        ---

        Alternate route: `/dev/corporations/{corporation_id}/wallets/{division}/journal/`


        Alternate route: `/legacy/corporations/{corporation_id}/wallets/{division}/journal/`


        Alternate route: `/v3/corporations/{corporation_id}/wallets/{division}/journal/`


        Alternate route: `/v4/corporations/{corporation_id}/wallets/{division}/journal/`


        ---

        This route is cached for up to 3600 seconds


        ---

        Requires one of the following EVE corporation role(s): Accountant, Junior_Accountant

        '
      operationId: get_corporations_corporation_id_wallets_division_journal
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - description: Wallet key of the division to fetch journals from
        in: path
        name: division
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 7
        example: 1
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Journal entries
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: Journal entries
                items:
                  description: 200 ok object
                  properties:
                    amount:
                      description: The amount of ISK given or taken from the wallet as a result of the given transaction. Positive when ISK is deposited into the wallet and negative when ISK is withdrawn
                      format: double
                      title: get_corporations_corporation_id_wallets_division_journal_amount
                      type: number
                    balance:
                      description: Wallet balance after transaction occurred
                      format: double
                      title: get_corporations_corporation_id_wallets_division_journal_balance
                      type: number
                    context_id:
                      description: An ID that gives extra context to the particular transaction. Because of legacy reasons the context is completely different per ref_type and means different things. It is also possible to not have a context_id
                      format: int64
                      title: get_corporations_corporation_id_wallets_division_journal_context_id
                      type: integer
                    context_id_type:
                      description: The type of the given context_id if present
                      enum:
                      - structure_id
                      - station_id
                      - market_transaction_id
                      - character_id
                      - corporation_id
                      - alliance_id
                      - eve_system
                      - industry_job_id
                      - contract_id
                      - planet_id
                      - system_id
                      - type_id
                      title: get_corporations_corporation_id_wallets_division_journal_context_id_type
                      type: string
                    date:
                      description: Date and time of transaction
                      format: date-time
                      title: get_corporations_corporation_id_wallets_division_journal_date
                      type: string
                    description:
                      description: The reason for the transaction, mirrors what is seen in the client
                      title: get_corporations_corporation_id_wallets_division_journal_description
                      type: string
                    first_party_id:
                      description: The id of the first party involved in the transaction. This attribute has no consistency and is different or non existant for particular ref_types. The description attribute will help make sense of what this attribute means. For more info about the given ID it can be dropped into the /universe/names/ ESI route to determine its type and name
                      format: int32
                      title: get_corporations_corporation_id_wallets_division_journal_first_party_id
                      type: integer
                    id:
                      description: Unique journal reference ID
                      format: int64
                      title: get_corporations_corporation_id_wallets_division_journal_id
                      type: integer
                    reason:
                      description: The user stated reason for the transaction. Only applies to some ref_types
                      title: get_corporations_corporation_id_wallets_division_journal_reason
                      type: string
                    ref_type:
                      description: '"The transaction type for the given. transaction. Different transaction types will populate different attributes. Note: If you have an existing XML API application that is using ref_types, you will need to know which string ESI ref_type maps to which integer. You can look at the following file to see string->int mappings: https://github.com/ccpgames/eve-glue/blob/master/eve_glue/wallet_journal_ref.py"'
                      enum:
                      - acceleration_gate_fee
                      - advertisement_listing_fee
                      - agent_donation
                      - agent_location_services
                      - agent_miscellaneous
                      - agent_mission_collateral_paid
                      - agent_mission_collateral_refunded
                      - agent_mission_reward
                      - agent_mission_reward_corporation_tax
                      - agent_mission_time_bonus_reward
                      - agent_mission_time_bonus_reward_corporation_tax
                      - agent_security_services
                      - agent_services_rendered
                      - agents_preward
                      - air_career_program_reward
                      - alliance_maintainance_fee
                      - alliance_registration_fee
                      - allignment_based_gate_toll
                      - asset_safety_recovery_tax
                      - bounty
                      - bounty_prize
                      - bounty_prize_corporation_tax
                      - bounty_prizes
                      - bounty_reimbursement
                      - bounty_surcharge
                      - brokers_fee
                      - clone_activation
                      - clone_transfer
                      - contraband_fine
                      - contract_auction_bid
                      - contract_auction_bid_corp
                      - contract_auction_bid_refund
                      - contract_auction_sold
                      - contract_brokers_fee
                      - contract_brokers_fee_corp
                      - contract_collateral
                      - contract_collateral_deposited_corp
                      - contract_collateral_payout
                      - contract_collateral_refund
                      - contract_deposit
                      - contract_deposit_corp
                      - contract_deposit_refund
                      - contract_deposit_sales_tax
                      - contract_price
                      - contract_price_payment_corp
                      - contract_reversal
                      - contract_reward
                      - contract_reward_deposited
                      - contract_reward_deposited_corp
                      - contract_reward_refund
                      - contract_sales_tax
                      - copying
                      - corporate_reward_payout
                      - corporate_reward_tax
                      - corporation_account_withdrawal
                      - corporation_bulk_payment
                      - corporation_dividend_payment
                      - corporation_liquidation
                      - corporation_logo_change_cost
                      - corporation_payment
                      - corporation_registration_fee
                      - cosmetic_market_component_item_purchase
                      - cosmetic_market_skin_purchase
                      - cosmetic_market_skin_sale
                      - cosmetic_market_skin_sale_broker_fee
                      - cosmetic_market_skin_sale_tax
                      - cosmetic_market_skin_transaction
                      - courier_mission_escrow
                      - cspa
                      - cspaofflinerefund
                      - daily_challenge_reward
                      - daily_goal_payouts
                      - daily_goal_payouts_tax
                      - datacore_fee
                      - dna_modification_fee
                      - docking_fee
                      - duel_wager_escrow
                      - duel_wager_payment
                      - duel_wager_refund
                      - ess_escrow_transfer
                      - external_trade_delivery
                      - external_trade_freeze
                      - external_trade_thaw
                      - factory_slot_rental_fee
                      - flux_payout
                      - flux_tax
                      - flux_ticket_repayment
                      - flux_ticket_sale
                      - freelance_jobs_broadcasting_fee
                      - freelance_jobs_duration_fee
                      - freelance_jobs_escrow_refund
                      - freelance_jobs_reward
                      - freelance_jobs_reward_corporation_tax
                      - freelance_jobs_reward_escrow
                      - gm_cash_transfer
                      - gm_plex_fee_refund
                      - industry_job_tax
                      - infrastructure_hub_maintenance
                      - inheritance
                      - insurance
                      - insurgency_corruption_contribution_reward
                      - insurgency_suppression_contribution_reward
                      - item_trader_payment
                      - jump_clone_activation_fee
                      - jump_clone_installation_fee
                      - kill_right_fee
                      - lp_store
                      - manufacturing
                      - market_escrow
                      - market_fine_paid
                      - market_provider_tax
                      - market_transaction
                      - medal_creation
                      - medal_issued
                      - milestone_reward_payment
                      - mission_completion
                      - mission_cost
                      - mission_expiration
                      - mission_reward
                      - office_rental_fee
                      - operation_bonus
                      - opportunity_reward
                      - planetary_construction
                      - planetary_export_tax
                      - planetary_import_tax
                      - player_donation
                      - player_trading
                      - project_discovery_reward
                      - project_discovery_tax
                      - project_payouts
                      - reaction
                      - redeemed_isk_token
                      - release_of_impounded_property
                      - repair_bill
                      - reprocessing_tax
                      - researching_material_productivity
                      - researching_technology
                      - researching_time_productivity
                      - resource_wars_reward
                      - reverse_engineering
                      - season_challenge_reward
                      - security_processing_fee
                      - shares
                      - skill_purchase
                      - skyhook_claim_fee
                      - sovereignity_bill
                      - store_purchase
                      - store_purchase_refund
                      - structure_gate_jump
                      - transaction_tax
                      - under_construction
                      - upkeep_adjustment_fee
                      - war_ally_contract
                      - war_fee
                      - war_fee_surrender
                      title: get_corporations_corporation_id_wallets_division_journal_ref_type
                      type: string
                    second_party_id:
                      description: The id of the second party involved in the transaction. This attribute has no consistency and is different or non existant for particular ref_types. The description attribute will help make sense of what this attribute means. For more info about the given ID it can be dropped into the /universe/names/ ESI route to determine its type and name
                      format: int32
                      title: get_corporations_corporation_id_wallets_division_journal_second_party_id
                      type: integer
                    tax:
                      description: Tax amount received. Only applies to tax related transactions
                      format: double
                      title: get_corporations_corporation_id_wallets_division_journal_tax
                      type: number
                    tax_receiver_id:
                      description: The corporation ID receiving any tax paid. Only applies to tax related transactions
                      format: int32
                      title: get_corporations_corporation_id_wallets_division_journal_tax_receiver_id
                      type: integer
                  required:
                  - date
                  - id
                  - ref_type
                  - description
                  title: get_corporations_corporation_id_wallets_division_journal_200_ok
                  type: object
                maxItems: 2500
                title: get_corporations_corporation_id_wallets_division_journal_ok
                type: array
              examples:
                response:
                  value:
                  - amount: -1000
                    balance: 100000
                    context_id: 2112625428
                    context_id_type: character_id
                    date: 2016-10-24 09:00:00+00:00
                    description: CCP Zoetrope transferred cash from C C P's corporate account to CCP SnowedIn's account
                    first_party_id: 109299958
                    id: 1234567890
                    ref_type: corporation_account_withdrawal
                    second_party_id: 95538921
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-wallet.read_corporation_wallets.v1
      summary: EVE Online Get Corporation Wallet Journal
      tags:
      - Wallet
      x-alternate-versions:
      - dev
      - legacy
      - v3
      - v4
      x-cached-seconds: 3600
      x-required-roles:
      - Accountant
      - Junior_Accountant
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/wallets/{division}/transactions/:
    get:
      description: 'Get wallet transactions of a corporation


        ---

        Alternate route: `/dev/corporations/{corporation_id}/wallets/{division}/transactions/`


        Alternate route: `/legacy/corporations/{corporation_id}/wallets/{division}/transactions/`


        Alternate route: `/v1/corporations/{corporation_id}/wallets/{division}/transactions/`


        ---

        This route is cached for up to 3600 seconds


        ---

        Requires one of the following EVE corporation role(s): Accountant, Junior_Accountant

        '
      operationId: get_corporations_corporation_id_wallets_division_transactions
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - description: Wallet key of the division to fetch journals from
        in: path
        name: division
        required: true
        schema:
          type: integer
          format: int32
          minimum: 1
          maximum: 7
        example: 1
      - description: Only show journal entries happened before the transaction referenced by this id
        in: query
        name: from_id
        required: false
        schema:
          type: integer
          format: int64
        example: 1001
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Wallet transactions
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: Wallet transactions
                items:
                  description: wallet transaction
                  properties:
                    client_id:
                      description: client_id integer
                      format: int32
                      title: get_corporations_corporation_id_wallets_division_transactions_client_id
                      type: integer
                    date:
                      description: Date and time of transaction
                      format: date-time
                      title: get_corporations_corporation_id_wallets_division_transactions_date
                      type: string
                    is_buy:
                      description: is_buy boolean
                      title: get_corporations_corporation_id_wallets_division_transactions_is_buy
                      type: boolean
                    journal_ref_id:
                      description: -1 if there is no corresponding wallet journal entry
                      format: int64
                      title: get_corporations_corporation_id_wallets_division_transactions_journal_ref_id
                      type: integer
                    location_id:
                      description: location_id integer
                      format: int64
                      title: get_corporations_corporation_id_wallets_division_transactions_location_id
                      type: integer
                    quantity:
                      description: quantity integer
                      format: int32
                      title: get_corporations_corporation_id_wallets_division_transactions_quantity
                      type: integer
                    transaction_id:
                      description: Unique transaction ID
                      format: int64
                      title: get_corporations_corporation_id_wallets_division_transactions_transaction_id
                      type: integer
                    type_id:
                      description: type_id integer
                      format: int32
                      title: get_corporations_corporation_id_wallets_division_transactions_type_id
                      type: integer
                    unit_price:
                      description: Amount paid per unit
                      format: double
                      title: get_corporations_corporation_id_wallets_division_transactions_unit_price
                      type: number
                  required:
                  - transaction_id
                  - date
                  - location_id
                  - type_id
                  - unit_price
                  - quantity
                  - client_id
                  - is_buy
                  - journal_ref_id
                  title: get_corporations_corporation_id_wallets_division_transactions_200_ok
                  type: object
                maxItems: 2500
                title: get_corporations_corporation_id_wallets_division_transactions_ok
                type: array
              examples:
                response:
                  value:
                  - client_id: 54321
                    date: 2016-10-24 09:00:00+00:00
                    is_buy: true
                    journal_ref_id: 67890
                    location_id: 60014719
                    quantity: 1
                    transaction_id: 1234567890
                    type_id: 587
                    unit_price: 1
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-wallet.read_corporation_wallets.v1
      summary: EVE Online Get Corporation Wallet Transactions
      tags:
      - Wallet
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
      x-required-roles:
      - Accountant
      - Junior_Accountant
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /v1/characters/{character_id}/wallet/transactions/:
    get:
      description: 'Get wallet transactions of a character


        ---


        This route is cached for up to 3600 seconds'
      operationId: get_characters_character_id_wallet_transactions
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - description: Only show transactions happened before the one referenced by this id
        in: query
        name: from_id
        required: false
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Wallet transactions
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: Wallet transactions
                items:
                  description: wallet transaction
                  properties:
                    client_id:
                      description: client_id integer
                      format: int32
                      title: get_characters_character_id_wallet_transactions_client_id
                      type: integer
                    date:
                      description: Date and time of transaction
                      format: date-time
                      title: get_characters_character_id_wallet_transactions_date
                      type: string
                    is_buy:
                      description: is_buy boolean
                      title: get_characters_character_id_wallet_transactions_is_buy
                      type: boolean
                    is_personal:
                      description: is_personal boolean
                      title: get_characters_character_id_wallet_transactions_is_personal
                      type: boolean
                    journal_ref_id:
                      description: journal_ref_id integer
                      format: int64
                      title: get_characters_character_id_wallet_transactions_journal_ref_id
                      type: integer
                    location_id:
                      description: location_id integer
                      format: int64
                      title: get_characters_character_id_wallet_transactions_location_id
                      type: integer
                    quantity:
                      description: quantity integer
                      format: int32
                      title: get_characters_character_id_wallet_transactions_quantity
                      type: integer
                    transaction_id:
                      description: Unique transaction ID
                      format: int64
                      title: get_characters_character_id_wallet_transactions_transaction_id
                      type: integer
                    type_id:
                      description: type_id integer
                      format: int32
                      title: get_characters_character_id_wallet_transactions_type_id
                      type: integer
                    unit_price:
                      description: Amount paid per unit
                      format: double
                      title: get_characters_character_id_wallet_transactions_unit_price
                      type: number
                  required:
                  - transaction_id
                  - date
                  - location_id
                  - type_id
                  - unit_price
                  - quantity
                  - client_id
                  - is_buy
                  - is_personal
                  - journal_ref_id
                  title: get_characters_character_id_wallet_transactions_200_ok
                  type: object
                maxItems: 2500
                title: get_characters_character_id_wallet_transactions_ok
                type: array
              example:
              - client_id: 54321
                date: '2016-10-24T09:00:00Z'
                is_buy: true
                is_personal: true
                journal_ref_id: 67890
                location_id: 60014719
                quantity: 1
                transaction_id: 1234567890
                type_id: 587
                unit_price: 1
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-wallet.read_character_wallet.v1
      summary: Get wallet transactions
      tags:
      - Wallet
      x-alternate-versions:
      - latest
      - legacy
      - v1
      x-cached-seconds: 3600
    servers:
    - url: https://esi.evetech.net
  /v1/corporations/{corporation_id}/wallets/:
    get:
      description: 'Get a corporation''s wallets


        ---


        This route is cached for up to 300 seconds


        ---

        Requires one of the following EVE corporation role(s): Accountant, Junior_Accountant'
      operationId: get_corporations_corporation_id_wallets
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: List of corporation wallets
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    balance:
                      description: balance number
                      format: double
                      title: get_corporations_corporation_id_wallets_balance
                      type: number
                    division:
                      description: division integer
                      format: int32
                      maximum: 7
                      minimum: 1
                      title: get_corporations_corporation_id_wallets_division
                      type: integer
                  required:
                  - division
                  - balance
                  title: get_corporations_corporation_id_wallets_200_ok
                  type: object
                maxItems: 7
                title: get_corporations_corporation_id_wallets_ok
                type: array
              example:
              - balance: 123.45
                division: 1
              - balance: 123.45
                division: 2
              - balance: 123.45
                division: 3
              - balance: 123.45
                division: 4
              - balance: 123.45
                division: 5
              - balance: 123.45
                division: 6
              - balance: 123.45
                division: 7
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-wallet.read_corporation_wallets.v1
      summary: Returns a corporation's wallet balance
      tags:
      - Wallet
      x-alternate-versions:
      - latest
      - legacy
      - v1
      x-cached-seconds: 300
      x-required-roles:
      - Accountant
      - Junior_Accountant
    servers:
    - url: https://esi.evetech.net
  /v1/corporations/{corporation_id}/wallets/{division}/transactions/:
    get:
      description: 'Get wallet transactions of a corporation


        ---


        This route is cached for up to 3600 seconds


        ---

        Requires one of the following EVE corporation role(s): Accountant, Junior_Accountant'
      operationId: get_corporations_corporation_id_wallets_division_transactions
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - description: Wallet key of the division to fetch journals from
        in: path
        name: division
        required: true
        schema:
          type: integer
          format: int32
          maximum: 7
          minimum: 1
      - description: Only show journal entries happened before the transaction referenced by this id
        in: query
        name: from_id
        required: false
        schema:
          type: integer
          format: int64
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Wallet transactions
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: Wallet transactions
                items:
                  description: wallet transaction
                  properties:
                    client_id:
                      description: client_id integer
                      format: int32
                      title: get_corporations_corporation_id_wallets_division_transactions_client_id
                      type: integer
                    date:
                      description: Date and time of transaction
                      format: date-time
                      title: get_corporations_corporation_id_wallets_division_transactions_date
                      type: string
                    is_buy:
                      description: is_buy boolean
                      title: get_corporations_corporation_id_wallets_division_transactions_is_buy
                      type: boolean
                    journal_ref_id:
                      description: -1 if there is no corresponding wallet journal entry
                      format: int64
                      title: get_corporations_corporation_id_wallets_division_transactions_journal_ref_id
                      type: integer
                    location_id:
                      description: location_id integer
                      format: int64
                      title: get_corporations_corporation_id_wallets_division_transactions_location_id
                      type: integer
                    quantity:
                      description: quantity integer
                      format: int32
                      title: get_corporations_corporation_id_wallets_division_transactions_quantity
                      type: integer
                    transaction_id:
                      description: Unique transaction ID
                      format: int64
                      title: get_corporations_corporation_id_wallets_division_transactions_transaction_id
                      type: integer
                    type_id:
                      description: type_id integer
                      format: int32
                      title: get_corporations_corporation_id_wallets_division_transactions_type_id
                      type: integer
                    unit_price:
                      description: Amount paid per unit
                      format: double
                      title: get_corporations_corporation_id_wallets_division_transactions_unit_price
                      type: number
                  required:
                  - transaction_id
                  - date
                  - location_id
                  - type_id
                  - unit_price
                  - quantity
                  - client_id
                  - is_buy
                  - journal_ref_id
                  title: get_corporations_corporation_id_wallets_division_transactions_200_ok
                  type: object
                maxItems: 2500
                title: get_corporations_corporation_id_wallets_division_transactions_ok
                type: array
              example:
              - client_id: 54321
                date: '2016-10-24T09:00:00Z'
                is_buy: true
                journal_ref_id: 67890
                location_id: 60014719
                quantity: 1
                transaction_id: 1234567890
                type_id: 587
                unit_price: 1
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-wallet.read_corporation_wallets.v1
      summary: Get corporation wallet transactions
      tags:
      - Wallet
      x-alternate-versions:
      - latest
      - legacy
      - v1
      x-cached-seconds: 3600
      x-required-roles:
      - Accountant
      - Junior_Accountant
    servers:
    - url: https://esi.evetech.net
  /v3/corporations/{corporation_id}/wallets/{division}/journal/:
    get:
      description: 'Retrieve the given corporation''s wallet journal for the given division going 30 days back


        ---


        This route is cached for up to 3600 seconds


        ---

        Requires one of the following EVE corporation role(s): Accountant, Junior_Accountant'
      operationId: get_corporations_corporation_id_wallets_division_journal
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - description: Wallet key of the division to fetch journals from
        in: path
        name: division
        required: true
        schema:
          type: integer
          format: int32
          maximum: 7
          minimum: 1
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Journal entries
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: Journal entries
                items:
                  description: 200 ok object
                  properties:
                    amount:
                      description: The amount of ISK given or taken from the wallet as a result of the given transaction. Positive when ISK is deposited into the wallet and negative when ISK is withdrawn
                      format: double
                      title: get_corporations_corporation_id_wallets_division_journal_amount
                      type: number
                    balance:
                      description: Wallet balance after transaction occurred
                      format: double
                      title: get_corporations_corporation_id_wallets_division_journal_balance
                      type: number
                    context_id:
                      description: An ID that gives extra context to the particular transaction. Because of legacy reasons the context is completely different per ref_type and means different things. It is also possible to not have a context_id
                      format: int64
                      title: get_corporations_corporation_id_wallets_division_journal_context_id
                      type: integer
                    context_id_type:
                      description: The type of the given context_id if present
                      enum:
                      - structure_id
                      - station_id
                      - market_transaction_id
                      - character_id
                      - corporation_id
                      - alliance_id
                      - eve_system
                      - industry_job_id
                      - contract_id
                      - planet_id
                      - system_id
                      - type_id
                      title: get_corporations_corporation_id_wallets_division_journal_context_id_type
                      type: string
                    date:
                      description: Date and time of transaction
                      format: date-time
                      title: get_corporations_corporation_id_wallets_division_journal_date
                      type: string
                    description:
                      description: The reason for the transaction, mirrors what is seen in the client
                      title: get_corporations_corporation_id_wallets_division_journal_description
                      type: string
                    first_party_id:
                      description: The id of the first party involved in the transaction. This attribute has no consistency and is different or non existant for particular ref_types. The description attribute will help make sense of what this attribute means. For more info about the given ID it can be dropped into the /universe/names/ ESI route to determine its type and name
                      format: int32
                      title: get_corporations_corporation_id_wallets_division_journal_first_party_id
                      type: integer
                    id:
                      description: Unique journal reference ID
                      format: int64
                      title: get_corporations_corporation_id_wallets_division_journal_id
                      type: integer
                    reason:
                      description: The user stated reason for the transaction. Only applies to some ref_types
                      title: get_corporations_corporation_id_wallets_division_journal_reason
                      type: string
                    ref_type:
                      description: '"The transaction type for the given. transaction. Different transaction types will populate different attributes. Note: If you have an existing XML API application that is using ref_types, you will need to know which string ESI ref_type maps to which integer. You can look at the following file to see string->int mappings: https://github.com/ccpgames/eve-glue/blob/master/eve_glue/wallet_journal_ref.py"'
                      enum:
                      - acceleration_gate_fee
                      - advertisement_listing_fee
                      - agent_donation
                      - agent_location_services
                      - agent_miscellaneous
                      - agent_mission_collateral_paid
                      - agent_mission_collateral_refunded
                      - agent_mission_reward
                      - agent_mission_reward_corporation_tax
                      - agent_mission_time_bonus_reward
                      - agent_mission_time_bonus_reward_corporation_tax
                      - agent_security_services
                      - agent_services_rendered
                      - agents_preward
                      - air_career_program_reward
                      - alliance_maintainance_fee
                      - alliance_registration_fee
                      - allignment_based_gate_toll
                      - asset_safety_recovery_tax
                      - bounty
                      - bounty_prize
                      - bounty_prize_corporation_tax
                      - bounty_prizes
                      - bounty_reimbursement
                      - bounty_surcharge
                      - brokers_fee
                      - clone_activation
                      - clone_transfer
                      - contraband_fine
                      - contract_auction_bid
                      - contract_auction_bid_corp
                      - contract_auction_bid_refund
                      - contract_auction_sold
                      - contract_brokers_fee
                      - contract_brokers_fee_corp
                      - contract_collateral
                      - contract_collateral_deposited_corp
                      - contract_collateral_payout
                      - contract_collateral_refund
                      - contract_deposit
                      - contract_deposit_corp
                      - contract_deposit_refund
                      - contract_deposit_sales_tax
                      - contract_price
                      - contract_price_payment_corp
                      - contract_reversal
                      - contract_reward
                      - contract_reward_deposited
                      - contract_reward_deposited_corp
                      - contract_reward_refund
                      - contract_sales_tax
                      - copying
                      - corporate_reward_payout
                      - corporate_reward_tax
                      - corporation_account_withdrawal
                      - corporation_bulk_payment
                      - corporation_dividend_payment
                      - corporation_liquidation
                      - corporation_logo_change_cost
                      - corporation_payment
                      - corporation_registration_fee
                      - cosmetic_market_component_item_purchase
                      - cosmetic_market_skin_purchase
                      - cosmetic_market_skin_sale
                      - cosmetic_market_skin_sale_broker_fee
                      - cosmetic_market_skin_sale_tax
                      - cosmetic_market_skin_transaction
                      - courier_mission_escrow
                      - cspa
                      - cspaofflinerefund
                      - daily_challenge_reward
                      - daily_goal_payouts
                      - daily_goal_payouts_tax
                      - datacore_fee
                      - dna_modification_fee
                      - docking_fee
                      - duel_wager_escrow
                      - duel_wager_payment
                      - duel_wager_refund
                      - ess_escrow_transfer
                      - external_trade_delivery
                      - external_trade_freeze
                      - external_trade_thaw
                      - factory_slot_rental_fee
                      - flux_payout
                      - flux_tax
                      - flux_ticket_repayment
                      - flux_ticket_sale
                      - freelance_jobs_broadcasting_fee
                      - freelance_jobs_duration_fee
                      - freelance_jobs_escrow_refund
                      - freelance_jobs_reward
                      - freelance_jobs_reward_corporation_tax
                      - freelance_jobs_reward_escrow
                      - gm_cash_transfer
                      - gm_plex_fee_refund
                      - industry_job_tax
                      - infrastructure_hub_maintenance
                      - inheritance
                      - insurance
                      - insurgency_corruption_contribution_reward
                      - insurgency_suppression_contribution_reward
                      - item_trader_payment
                      - jump_clone_activation_fee
                      - jump_clone_installation_fee
                      - kill_right_fee
                      - lp_store
                      - manufacturing
                      - market_escrow
                      - market_fine_paid
                      - market_provider_tax
                      - market_transaction
                      - medal_creation
                      - medal_issued
                      - milestone_reward_payment
                      - mission_completion
                      - mission_cost
                      - mission_expiration
                      - mission_reward
                      - office_rental_fee
                      - operation_bonus
                      - opportunity_reward
                      - planetary_construction
                      - planetary_export_tax
                      - planetary_import_tax
                      - player_donation
                      - player_trading
                      - project_discovery_reward
                      - project_discovery_tax
                      - project_payouts
                      - reaction
                      - redeemed_isk_token
                      - release_of_impounded_property
                      - repair_bill
                      - reprocessing_tax
                      - researching_material_productivity
                      - researching_technology
                      - researching_time_productivity
                      - resource_wars_reward
                      - reverse_engineering
                      - season_challenge_reward
                      - security_processing_fee
                      - shares
                      - skill_purchase
                      - skyhook_claim_fee
                      - sovereignity_bill
                      - store_purchase
                      - store_purchase_refund
                      - structure_gate_jump
                      - transaction_tax
                      - under_construction
                      - upkeep_adjustment_fee
                      - war_ally_contract
                      - war_fee
                      - war_fee_surrender
                      title: get_corporations_corporation_id_wallets_division_journal_ref_type
                      type: string
                    second_party_id:
[...]
