openapi: 3.2.0
info:
  title: Eve Online Contracts API
  version: '1.36'
  description: 'Operations tagged Contracts across 7 of this provider''s published API definitions: eve-online-openapi.yml, swagger.json, swagger_2.json, swagger_3.json, swagger_4.json, swagger_5.json, swagger_6.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://esi.evetech.net/latest
- url: https://esi.evetech.net
- url: https://esi.evetech.net/legacy
- url: https://esi.evetech.net/dev
tags:
- name: Contracts
paths:
  /characters/{character_id}/contracts/:
    get:
      description: 'Returns contracts available to a character, only if the character is issuer, acceptor or assignee. Only returns contracts no older than 30 days, or if the status is "in_progress".


        ---

        Alternate route: `/dev/characters/{character_id}/contracts/`


        Alternate route: `/legacy/characters/{character_id}/contracts/`


        Alternate route: `/v1/characters/{character_id}/contracts/`


        ---

        This route is cached for up to 300 seconds'
      operationId: get_characters_character_id_contracts
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of contracts
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    acceptor_id:
                      description: Who will accept the contract
                      format: int32
                      title: get_characters_character_id_contracts_acceptor_id
                      type: integer
                    assignee_id:
                      description: ID to whom the contract is assigned, can be alliance, corporation or character ID
                      format: int32
                      title: get_characters_character_id_contracts_assignee_id
                      type: integer
                    availability:
                      description: To whom the contract is available
                      enum:
                      - public
                      - personal
                      - corporation
                      - alliance
                      title: get_characters_character_id_contracts_availability
                      type: string
                    buyout:
                      description: Buyout price (for Auctions only)
                      format: double
                      title: get_characters_character_id_contracts_buyout
                      type: number
                    collateral:
                      description: Collateral price (for Couriers only)
                      format: double
                      title: get_characters_character_id_contracts_collateral
                      type: number
                    contract_id:
                      description: contract_id integer
                      format: int32
                      title: get_characters_character_id_contracts_contract_id
                      type: integer
                    date_accepted:
                      description: Date of confirmation of contract
                      format: date-time
                      title: get_characters_character_id_contracts_date_accepted
                      type: string
                    date_completed:
                      description: Date of completed of contract
                      format: date-time
                      title: get_characters_character_id_contracts_date_completed
                      type: string
                    date_expired:
                      description: Expiration date of the contract
                      format: date-time
                      title: get_characters_character_id_contracts_date_expired
                      type: string
                    date_issued:
                      description: Сreation date of the contract
                      format: date-time
                      title: get_characters_character_id_contracts_date_issued
                      type: string
                    days_to_complete:
                      description: Number of days to perform the contract
                      format: int32
                      title: get_characters_character_id_contracts_days_to_complete
                      type: integer
                    end_location_id:
                      description: End location ID (for Couriers contract)
                      format: int64
                      title: get_characters_character_id_contracts_end_location_id
                      type: integer
                    for_corporation:
                      description: true if the contract was issued on behalf of the issuer's corporation
                      title: get_characters_character_id_contracts_for_corporation
                      type: boolean
                    issuer_corporation_id:
                      description: Character's corporation ID for the issuer
                      format: int32
                      title: get_characters_character_id_contracts_issuer_corporation_id
                      type: integer
                    issuer_id:
                      description: Character ID for the issuer
                      format: int32
                      title: get_characters_character_id_contracts_issuer_id
                      type: integer
                    price:
                      description: Price of contract (for ItemsExchange and Auctions)
                      format: double
                      title: get_characters_character_id_contracts_price
                      type: number
                    reward:
                      description: Remuneration for contract (for Couriers only)
                      format: double
                      title: get_characters_character_id_contracts_reward
                      type: number
                    start_location_id:
                      description: Start location ID (for Couriers contract)
                      format: int64
                      title: get_characters_character_id_contracts_start_location_id
                      type: integer
                    status:
                      description: Status of the the contract
                      enum:
                      - outstanding
                      - in_progress
                      - finished_issuer
                      - finished_contractor
                      - finished
                      - cancelled
                      - rejected
                      - failed
                      - deleted
                      - reversed
                      title: get_characters_character_id_contracts_status
                      type: string
                    title:
                      description: Title of the contract
                      title: get_characters_character_id_contracts_title
                      type: string
                    type:
                      description: Type of the contract
                      enum:
                      - unknown
                      - item_exchange
                      - auction
                      - courier
                      - loan
                      title: get_characters_character_id_contracts_type
                      type: string
                    volume:
                      description: Volume of items in the contract
                      format: double
                      title: get_characters_character_id_contracts_volume
                      type: number
                  required:
                  - contract_id
                  - issuer_id
                  - issuer_corporation_id
                  - assignee_id
                  - acceptor_id
                  - type
                  - status
                  - for_corporation
                  - availability
                  - date_issued
                  - date_expired
                  title: get_characters_character_id_contracts_200_ok
                  type: object
                maxItems: 1000
                title: get_characters_character_id_contracts_ok
                type: array
              examples:
                response:
                  value:
                  - acceptor_id: 0
                    assignee_id: 0
                    availability: public
                    buyout: 10000000000.01
                    contract_id: 1
                    date_accepted: 2017-06-06 13:12:32+00:00
                    date_completed: 2017-06-06 13:12:32+00:00
                    date_expired: 2017-06-13 13:12:32+00:00
                    date_issued: 2017-06-06 13:12:32+00:00
                    days_to_complete: 0
                    end_location_id: 60014719
                    for_corporation: true
                    issuer_corporation_id: 456
                    issuer_id: 123
                    price: 1000000.01
                    reward: 0.01
                    start_location_id: 60014719
                    status: outstanding
                    type: auction
                    volume: 0.01
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-contracts.read_character_contracts.v1
      summary: EVE Online Get Contracts
      tags:
      - Contracts
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 300
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /characters/{character_id}/contracts/{contract_id}/bids/:
    get:
      description: 'Lists bids on a particular auction contract


        ---

        Alternate route: `/dev/characters/{character_id}/contracts/{contract_id}/bids/`


        Alternate route: `/legacy/characters/{character_id}/contracts/{contract_id}/bids/`


        Alternate route: `/v1/characters/{character_id}/contracts/{contract_id}/bids/`


        ---

        This route is cached for up to 300 seconds'
      operationId: get_characters_character_id_contracts_contract_id_bids
      parameters:
      - $ref: '#/components/parameters/character_id'
      - description: ID of a contract
        in: path
        name: contract_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of bids
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    amount:
                      description: The amount bid, in ISK
                      format: float
                      title: get_characters_character_id_contracts_contract_id_bids_amount
                      type: number
                    bid_id:
                      description: Unique ID for the bid
                      format: int32
                      title: get_characters_character_id_contracts_contract_id_bids_bid_id
                      type: integer
                    bidder_id:
                      description: Character ID of the bidder
                      format: int32
                      title: get_characters_character_id_contracts_contract_id_bids_bidder_id
                      type: integer
                    date_bid:
                      description: Datetime when the bid was placed
                      format: date-time
                      title: get_characters_character_id_contracts_contract_id_bids_date_bid
                      type: string
                  required:
                  - bid_id
                  - bidder_id
                  - date_bid
                  - amount
                  title: get_characters_character_id_contracts_contract_id_bids_200_ok
                  type: object
                maxItems: 5000
                title: get_characters_character_id_contracts_contract_id_bids_ok
                type: array
              examples:
                response:
                  value:
                  - amount: 1.23
                    bid_id: 1
                    bidder_id: 123
                    date_bid: 2017-01-01 10:10:10+00:00
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_characters_character_id_contracts_contract_id_bids_404_not_found
                    type: string
                title: get_characters_character_id_contracts_contract_id_bids_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-contracts.read_character_contracts.v1
      summary: EVE Online Get Contract Bids
      tags:
      - Contracts
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 300
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /characters/{character_id}/contracts/{contract_id}/items/:
    get:
      description: 'Lists items of a particular contract


        ---

        Alternate route: `/dev/characters/{character_id}/contracts/{contract_id}/items/`


        Alternate route: `/legacy/characters/{character_id}/contracts/{contract_id}/items/`


        Alternate route: `/v1/characters/{character_id}/contracts/{contract_id}/items/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_characters_character_id_contracts_contract_id_items
      parameters:
      - $ref: '#/components/parameters/character_id'
      - description: ID of a contract
        in: path
        name: contract_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of items in this contract
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    is_included:
                      description: true if the contract issuer has submitted this item with the contract, false if the isser is asking for this item in the contract
                      title: get_characters_character_id_contracts_contract_id_items_is_included
                      type: boolean
                    is_singleton:
                      description: is_singleton boolean
                      title: get_characters_character_id_contracts_contract_id_items_is_singleton
                      type: boolean
                    quantity:
                      description: Number of items in the stack
                      format: int32
                      title: get_characters_character_id_contracts_contract_id_items_quantity
                      type: integer
                    raw_quantity:
                      description: -1 indicates that the item is a singleton (non-stackable). If the item happens to be a Blueprint, -1 is an Original and -2 is a Blueprint Copy
                      format: int32
                      title: get_characters_character_id_contracts_contract_id_items_raw_quantity
                      type: integer
                    record_id:
                      description: Unique ID for the item
                      format: int64
                      title: get_characters_character_id_contracts_contract_id_items_record_id
                      type: integer
                    type_id:
                      description: Type ID for item
                      format: int32
                      title: get_characters_character_id_contracts_contract_id_items_type_id
                      type: integer
                  required:
                  - record_id
                  - type_id
                  - quantity
                  - is_singleton
                  - is_included
                  title: get_characters_character_id_contracts_contract_id_items_200_ok
                  type: object
                maxItems: 5000
                title: get_characters_character_id_contracts_contract_id_items_ok
                type: array
              examples:
                response:
                  value:
                  - is_included: true
                    is_singleton: false
                    quantity: 1
                    record_id: 123456
                    type_id: 587
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_characters_character_id_contracts_contract_id_items_404_not_found
                    type: string
                title: get_characters_character_id_contracts_contract_id_items_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-contracts.read_character_contracts.v1
      summary: EVE Online Get Contract Items
      tags:
      - Contracts
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /contracts/public/bids/{contract_id}/:
    get:
      description: 'Lists bids on a public auction contract


        ---

        Alternate route: `/dev/contracts/public/bids/{contract_id}/`


        Alternate route: `/legacy/contracts/public/bids/{contract_id}/`


        Alternate route: `/v1/contracts/public/bids/{contract_id}/`


        ---

        This route is cached for up to 300 seconds'
      operationId: get_contracts_public_bids_contract_id
      parameters:
      - description: ID of a contract
        in: path
        name: contract_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: A list of bids
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    amount:
                      description: The amount bid, in ISK
                      format: float
                      title: get_contracts_public_bids_contract_id_amount
                      type: number
                    bid_id:
                      description: Unique ID for the bid
                      format: int32
                      title: get_contracts_public_bids_contract_id_bid_id
                      type: integer
                    date_bid:
                      description: Datetime when the bid was placed
                      format: date-time
                      title: get_contracts_public_bids_contract_id_date_bid
                      type: string
                  required:
                  - bid_id
                  - date_bid
                  - amount
                  title: get_contracts_public_bids_contract_id_200_ok
                  type: object
                maxItems: 1000
                title: get_contracts_public_bids_contract_id_ok
                type: array
              examples:
                response:
                  value:
                  - amount: 1.23
                    bid_id: 1
                    date_bid: 2017-01-01 10:10:10+00:00
        '204':
          description: Contract expired or recently accepted by player
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '403':
          description: Not Authorized to see contract
          content:
            application/json:
              schema:
                description: Forbidden
                properties:
                  error:
                    description: Forbidden message
                    title: get_contracts_public_bids_contract_id_403_forbidden
                    type: string
                title: get_contracts_public_bids_contract_id_forbidden
                type: object
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_contracts_public_bids_contract_id_404_not_found
                    type: string
                title: get_contracts_public_bids_contract_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Public Contract Bids
      tags:
      - Contracts
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 300
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /contracts/public/items/{contract_id}/:
    get:
      description: 'Lists items of a public contract


        ---

        Alternate route: `/dev/contracts/public/items/{contract_id}/`


        Alternate route: `/legacy/contracts/public/items/{contract_id}/`


        Alternate route: `/v1/contracts/public/items/{contract_id}/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_contracts_public_items_contract_id
      parameters:
      - description: ID of a contract
        in: path
        name: contract_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: A list of items in this contract
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    is_blueprint_copy:
                      description: is_blueprint_copy boolean
                      title: get_contracts_public_items_contract_id_is_blueprint_copy
                      type: boolean
                    is_included:
                      description: true if the contract issuer has submitted this item with the contract, false if the isser is asking for this item in the contract
                      title: get_contracts_public_items_contract_id_is_included
                      type: boolean
                    item_id:
                      description: Unique ID for the item being sold. Not present if item is being requested by contract rather than sold with contract
                      format: int64
                      title: get_contracts_public_items_contract_id_item_id
                      type: integer
                    material_efficiency:
                      description: Material Efficiency Level of the blueprint
                      format: int32
                      maximum: 25
                      minimum: 0
                      title: get_contracts_public_items_contract_id_material_efficiency
                      type: integer
                    quantity:
                      description: Number of items in the stack
                      format: int32
                      title: get_contracts_public_items_contract_id_quantity
                      type: integer
                    record_id:
                      description: Unique ID for the item, used by the contract system
                      format: int64
                      title: get_contracts_public_items_contract_id_record_id
                      type: integer
                    runs:
                      description: Number of runs remaining if the blueprint is a copy, -1 if it is an original
                      format: int32
                      minimum: -1
                      title: get_contracts_public_items_contract_id_runs
                      type: integer
                    time_efficiency:
                      description: Time Efficiency Level of the blueprint
                      format: int32
                      maximum: 20
                      minimum: 0
                      title: get_contracts_public_items_contract_id_time_efficiency
                      type: integer
                    type_id:
                      description: Type ID for item
                      format: int32
                      title: get_contracts_public_items_contract_id_type_id
                      type: integer
                  required:
                  - record_id
                  - type_id
                  - quantity
                  - is_included
                  title: get_contracts_public_items_contract_id_200_ok
                  type: object
                maxItems: 1000
                title: get_contracts_public_items_contract_id_ok
                type: array
              examples:
                response:
                  value:
                  - is_included: true
                    item_id: 123456
                    quantity: 1
                    record_id: 123456
                    type_id: 587
        '204':
          description: Contract expired or recently accepted by player
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '403':
          description: Not Authorized to see contract
          content:
            application/json:
              schema:
                description: Forbidden
                properties:
                  error:
                    description: Forbidden message
                    title: get_contracts_public_items_contract_id_403_forbidden
                    type: string
                title: get_contracts_public_items_contract_id_forbidden
                type: object
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_contracts_public_items_contract_id_404_not_found
                    type: string
                title: get_contracts_public_items_contract_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Public Contract Items
      tags:
      - Contracts
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /contracts/public/{region_id}/:
    get:
      description: 'Returns a paginated list of all public contracts in the given region


        ---

        Alternate route: `/dev/contracts/public/{region_id}/`


        Alternate route: `/legacy/contracts/public/{region_id}/`


        Alternate route: `/v1/contracts/public/{region_id}/`


        ---

        This route is cached for up to 1800 seconds'
      operationId: get_contracts_public_region_id
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - description: An EVE region id
        in: path
        name: region_id
        required: true
        schema:
          type: integer
          format: int32
        example: 10000002
      responses:
        '200':
          description: A list of contracts
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    buyout:
                      description: Buyout price (for Auctions only)
                      format: double
                      title: get_contracts_public_region_id_buyout
                      type: number
                    collateral:
                      description: Collateral price (for Couriers only)
                      format: double
                      title: get_contracts_public_region_id_collateral
                      type: number
                    contract_id:
                      description: contract_id integer
                      format: int32
                      title: get_contracts_public_region_id_contract_id
                      type: integer
                    date_expired:
                      description: Expiration date of the contract
                      format: date-time
                      title: get_contracts_public_region_id_date_expired
                      type: string
                    date_issued:
                      description: Сreation date of the contract
                      format: date-time
                      title: get_contracts_public_region_id_date_issued
                      type: string
                    days_to_complete:
                      description: Number of days to perform the contract
                      format: int32
                      title: get_contracts_public_region_id_days_to_complete
                      type: integer
                    end_location_id:
                      description: End location ID (for Couriers contract)
                      format: int64
                      title: get_contracts_public_region_id_end_location_id
                      type: integer
                    for_corporation:
                      description: true if the contract was issued on behalf of the issuer's corporation
                      title: get_contracts_public_region_id_for_corporation
                      type: boolean
                    issuer_corporation_id:
                      description: Character's corporation ID for the issuer
                      format: int32
                      title: get_contracts_public_region_id_issuer_corporation_id
                      type: integer
                    issuer_id:
                      description: Character ID for the issuer
                      format: int32
                      title: get_contracts_public_region_id_issuer_id
                      type: integer
                    price:
                      description: Price of contract (for ItemsExchange and Auctions)
                      format: double
                      title: get_contracts_public_region_id_price
                      type: number
                    reward:
                      description: Remuneration for contract (for Couriers only)
                      format: double
                      title: get_contracts_public_region_id_reward
                      type: number
                    start_location_id:
                      description: Start location ID (for Couriers contract)
                      format: int64
                      title: get_contracts_public_region_id_start_location_id
                      type: integer
                    title:
                      description: Title of the contract
                      title: get_contracts_public_region_id_title
                      type: string
                    type:
                      description: Type of the contract
                      enum:
                      - unknown
                      - item_exchange
                      - auction
                      - courier
                      - loan
                      title: get_contracts_public_region_id_type
                      type: string
                    volume:
                      description: Volume of items in the contract
                      format: double
                      title: get_contracts_public_region_id_volume
                      type: number
                  required:
                  - contract_id
                  - issuer_id
                  - issuer_corporation_id
                  - type
                  - date_issued
                  - date_expired
                  title: get_contracts_public_region_id_200_ok
                  type: object
                maxItems: 1000
                title: get_contracts_public_region_id_ok
                type: array
              examples:
                response:
                  value:
                  - buyout: 10000000000.01
                    contract_id: 1
                    date_expired: 2017-06-13 13:12:32+00:00
                    date_issued: 2017-06-06 13:12:32+00:00
                    days_to_complete: 0
                    end_location_id: 60014719
                    for_corporation: true
                    issuer_corporation_id: 456
                    issuer_id: 123
                    price: 1000000.01
                    reward: 0.01
                    start_location_id: 60014719
                    type: auction
                    volume: 0.01
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '404':
          description: Region not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_contracts_public_region_id_404_not_found
                    type: string
                title: get_contracts_public_region_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Public Contracts
      tags:
      - Contracts
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 1800
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/contracts/:
    get:
      description: 'Returns contracts available to a corporation, only if the corporation is issuer, acceptor or assignee. Only returns contracts no older than 30 days, or if the status is "in_progress".


        ---

        Alternate route: `/dev/corporations/{corporation_id}/contracts/`


        Alternate route: `/legacy/corporations/{corporation_id}/contracts/`


        Alternate route: `/v1/corporations/{corporation_id}/contracts/`


        ---

        This route is cached for up to 300 seconds'
      operationId: get_corporations_corporation_id_contracts
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of contracts
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    acceptor_id:
                      description: Who will accept the contract
                      format: int32
                      title: get_corporations_corporation_id_contracts_acceptor_id
                      type: integer
                    assignee_id:
                      description: ID to whom the contract is assigned, can be corporation or character ID
                      format: int32
                      title: get_corporations_corporation_id_contracts_assignee_id
                      type: integer
                    availability:
                      description: To whom the contract is available
                      enum:
                      - public
                      - personal
                      - corporation
                      - alliance
                      title: get_corporations_corporation_id_contracts_availability
                      type: string
                    buyout:
                      description: Buyout price (for Auctions only)
                      format: double
                      title: get_corporations_corporation_id_contracts_buyout
                      type: number
                    collateral:
                      description: Collateral price (for Couriers only)
                      format: double
                      title: get_corporations_corporation_id_contracts_collateral
                      type: number
                    contract_id:
                      description: contract_id integer
                      format: int32
                      title: get_corporations_corporation_id_contracts_contract_id
                      type: integer
                    date_accepted:
                      description: Date of confirmation of contract
                      format: date-time
                      title: get_corporations_corporation_id_contracts_date_accepted
                      type: string
                    date_completed:
                      description: Date of completed of contract
                      format: date-time
                      title: get_corporations_corporation_id_contracts_date_completed
                      type: string
                    date_expired:
                      description: Expiration date of the contract
                      format: date-time
                      title: get_corporations_corporation_id_contracts_date_expired
                      type: string
                    date_issued:
                      description: Сreation date of the contract
                      format: date-time
                      title: get_corporations_corporation_id_contracts_date_issued
                      type: string
                    days_to_complete:
                      description: Number of days to perform the contract
                      format: int32
                      title: get_corporations_corporation_id_contracts_days_to_complete
                      type: integer
                    end_location_id:
                      description: End location ID (for Couriers contract)
                      format: int64
                      title: get_corporations_corporation_id_contracts_end_location_id
                      type: integer
                    for_corporation:
                      description: true if the contract was issued on behalf of the issuer's corporation
                      title: get_corporations_corporation_id_contracts_for_corporation
                      type: boolean
                    issuer_corporation_id:
                      description: Character's corporation ID for the issuer
                      format: int32
                      title: get_corporations_corporation_id_contracts_issuer_corporation_id
                      type: integer
                    issuer_id:
                      description: Character ID for the issuer
                      format: int32
                      title: get_corporations_corporation_id_contracts_issuer_id
                      type: integer
                    price:
                      description: Price of contract (for ItemsExchange and Auctions)
                      format: double
                      title: get_corporations_corporation_id_contracts_price
                      type: number
                    reward:
                      description: Remuneration for contract (for Couriers only)
                      format: double
                      title: get_corporations_corporation_id_contracts_reward
                      type: number
                    start_location_id:
                      description: Start location ID (for Couriers contract)
                      format: int64
                      title: get_corporations_corporation_id_contracts_start_location_id
                      type: integer
                    status:
                      description: Status of the the contract
                      enum:
                      - outstanding
                      - in_progress
                      - finished_issuer
                      - finished_contractor
                      - finished
                      - cancelled
                      - rejected
                      - failed
                      - deleted
                      - reversed
                      title: get_corporations_corporation_id_contracts_status
                      type: string
                    title:
                      description: Title of the contract
                      title: get_corporations_corporation_id_contracts_title
                      type: string
                    type:
                      description: Type of the contract
                      enum:
                      - unknown
                      - item_exchange
                      - auction
                      - courier
                      - loan
                      title: get_corporations_corporation_id_contracts_type
                      type: string
                    volume:
                      description: Volume of items in the contract
                      format: double
                      title: get_corporations_corporation_id_contracts_volume
                      type: number
                  required:
                  - contract_id
                  - issuer_id
                  - issuer_corporation_id
                  - assignee_id
                  - acceptor_id
                  - type
                  - status
                  - for_corporation
                  - availability
                  - date_issued
                  - date_expired
                  title: get_corporations_corporation_id_contracts_200_ok
                  type: object
                maxItems: 1000
                title: get_corporations_corporation_id_contracts_ok
                type: array
              examples:
                response:
                  value:
                  - acceptor_id: 0
                    assignee_id: 0
                    availability: public
                    buyout: 10000000000.01
                    contract_id: 1
                    date_expired: 2017-06-13 13:12:32+00:00
                    date_issued: 2017-06-06 13:12:32+00:00
                    days_to_complete: 0
                    end_location_id: 60014719
                    for_corporation: true
                    issuer_corporation_id: 456
                    issuer_id: 123
                    price: 1000000.01
                    reward: 0.01
                    start_location_id: 60014719
                    status: outstanding
                    type: auction
                    volume: 0.01
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-contracts.read_corporation_contracts.v1
      summary: EVE Online Get Corporation Contracts
      tags:
      - Contracts
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 300
      x-required-roles: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/contracts/{contract_id}/bids/:
    get:
      description: 'Lists bids on a particular auction contract


        ---

        Alternate route: `/dev/corporations/{corporation_id}/contracts/{contract_id}/bids/`


        Alternate route: `/legacy/corporations/{corporation_id}/contracts/{contract_id}/bids/`


        Alternate route: `/v1/corporations/{corporation_id}/contracts/{contract_id}/bids/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_corporations_corporation_id_contracts_contract_id_bids
      parameters:
      - description: ID of a contract
        in: path
        name: contract_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of bids
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    amount:
                      description: The amount bid, in ISK
                      format: float
                      title: get_corporations_corporation_id_contracts_contract_id_bids_amount
                      type: number
                    bid_id:
                      description: Unique ID for the bid
                      format: int32
                      title: get_corporations_corporation_id_contracts_contract_id_bids_bid_id
                      type: integer
                    bidder_id:
                      description: Character ID of the bidder
                      format: int32
                      title: get_corporations_corporation_id_contracts_contract_id_bids_bidder_id
                      type: integer
                    date_bid:
                      description: Datetime when the bid was placed
                      format: date-time
                      title: get_corporations_corporation_id_contracts_contract_id_bids_date_bid
                      type: string
                  required:
                  - bid_id
                  - bidder_id
                  - date_bid
                  - amount
                  title: get_corporations_corporation_id_contracts_contract_id_bids_200_ok
                  type: object
                maxItems: 1000
                title: get_corporations_corporation_id_contracts_contract_id_bids_ok
                type: array
              examples:
                response:
                  value:
                  - amount: 1.23
                    bid_id: 1
                    bidder_id: 123
                    date_bid: 2017-01-01 10:10:10+00:00
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_corporations_corporation_id_contracts_contract_id_bids_404_not_found
                    type: string
                title: get_corporations_corporation_id_contracts_contract_id_bids_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-contracts.read_corporation_contracts.v1
      summary: EVE Online Get Corporation Contract Bids
      tags:
      - Contracts
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
      x-required-roles: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/contracts/{contract_id}/items/:
    get:
      description: 'Lists items of a particular contract


        ---

        Alternate route: `/dev/corporations/{corporation_id}/contracts/{contract_id}/items/`


        Alternate route: `/legacy/corporations/{corporation_id}/contracts/{contract_id}/items/`


        Alternate route: `/v1/corporations/{corporation_id}/contracts/{contract_id}/items/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_corporations_corporation_id_contracts_contract_id_items
      parameters:
      - description: ID of a contract
        in: path
        name: contract_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of items in this contract
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    is_included:
                      description: true if the contract issuer has submitted this item with the contract, false if the isser is asking for this item in the contract
                      title: get_corporations_corporation_id_contracts_contract_id_items_is_included
                      type: boolean
                    is_singleton:
                      description: is_singleton boolean
                      title: get_corporations_corporation_id_contracts_contract_id_items_is_singleton
                      type: boolean
                    quantity:
                      description: Number of items in the stack
                      format: int32
                      title: get_corporations_corporation_id_contracts_contract_id_items_quantity
                      type: integer
                    raw_quantity:
                      description: -1 indicates that the item is a singleton (non-stackable). If the item happens to be a Blueprint, -1 is an Original and -2 is a Blueprint Copy
                      format: int32
                      title: get_corporations_corporation_id_contracts_contract_id_items_raw_quantity
                      type: integer
                    record_id:
                      description: Unique ID for the item
                      format: int64
                      title: get_corporations_corporation_id_contracts_contract_id_items_record_id
                      type: integer
                    type_id:
                      description: Type ID for item
                      format: int32
                      title: get_corporations_corporation_id_contracts_contract_id_items_type_id
                      type: integer
                  required:
                  - record_id
                  - type_id
                  - quantity
                  - is_singleton
                  - is_included
                  title: get_corporations_corporation_id_contracts_contract_id_items_200_ok
                  type: object
                maxItems: 5000
                title: get_corporations_corporation_id_contracts_contract_id_items_ok
                type: array
              examples:
                response:
                  value:
                  - is_included: true
                    is_singleton: false
                    quantity: 1
                    record_id: 123456
                    type_id: 587
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: Not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_corporations_corporation_id_contracts_contract_id_items_404_not_found
                    type: string
                title: get_corporations_corporation_id_contracts_contract_id_items_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
        '520':
          description: Internal error thrown from the EVE server. Most of the time this means you have hit an EVE server rate limit
          content:
            application/json:
              schema:
                description: Error 520
                properties:
                  error:
                    description: Error 520 message
                    title: get_corporations_corporation_id_contracts_contract_id_items_520_error_520
                    type: string
                title: get_corporations_corporation_id_contracts_contract_id_items_error_520
                type: object
              examples:
                response:
                  value:
                    error: Error 520 message
      security:
      - evesso:
        - esi-contracts.read_corporation_contracts.v1
      summary: EVE Online Get Corporation Contract Items
      tags:
      - Contracts
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
      x-required-roles: []
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /v1/characters/{character_id}/contracts/:
    get:
      description: 'Returns contracts available to a character, only if the character is issuer, acceptor or assignee. Only returns contracts no older than 30 days, or if the status is "in_progress".


        ---


        This route is cached for up to 300 seconds'
      operationId: get_characters_character_id_contracts
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of contracts
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    acceptor_id:
                      description: Who will accept the contract
                      format: int32
                      title: get_characters_character_id_contracts_acceptor_id
                      type: integer
                    assignee_id:
                      description: ID to whom the contract is assigned, can be alliance, corporation or character ID
                      format: int32
                      title: get_characters_character_id_contracts_assignee_id
                      type: integer
                    availability:
                      description: To whom the contract is available
                      enum:
                      - public
                      - personal
                      - corporation
                      - alliance
                      title: get_characters_character_id_contracts_availability
                      type: string
                    buyout:
                      description: Buyout price (for Auctions only)
                      format: double
                      title: get_characters_character_id_contracts_buyout
                      type: number
                    collateral:
                      description: Collateral price (for Couriers only)
                      format: double
                      title: get_characters_character_id_contracts_collateral
                      type: number
                    contract_id:
                      description: contract_id integer
                      format: int32
                      title: get_characters_character_id_contracts_contract_id
                      type: integer
                    date_accepted:
                      description: Date of confirmation of contract
                      format: date-time
                      title: get_characters_character_id_contracts_date_accepted
                      type: string
                    date_completed:
                      description: Date of completed of contract
                      format: date-time
                      title: get_characters_character_id_contracts_date_completed
                      type: string
                    date_expired:
                      description: Expiration date of the contract
                      format: date-time
                      title: get_characters_character_id_contracts_date_expired
                      type: string
                    date_issued:
                      description: Сreation date of the contract
                      format: date-time
                      title: get_characters_character_id_contracts_date_issued
                      type: string
                    days_to_complete:
                      description: Number of days to perform the contract
                      format: int32
                      title: get_characters_character_id_contracts_days_to_complete
                      type: integer
                    end_location_id:
                      description: End location ID (for Couriers contract)
                      format: int64
                      title: get_characters_character_id_contracts_end_location_id
                      type: integer
                    for_corporation:
                      description: true if the contract was issued on behalf of the issuer's corporation
                      title: get_characters_character_id_contracts_for_corporation
                      type: boolean
                    issuer_corporation_id:
                      description: Character's corporation ID for the issuer
                      format: int32
                      title: get_characters_character_id_contracts_issuer_corporation_id
                      type: integer
                    issuer_id:
                      description: Character ID for the issuer
                      format: int32
                      title: get_characters_character_id_contracts_issuer_id
                      type: integer
                    price:
                      description: Price of contract (for ItemsExchange and Auctions)
                      format: double
                      title: get_characters_character_id_contracts_price
                      type: number
                    reward:
                      description: Remuneration for contract (for Couriers only)
                      format: double
                      title: get_characters_character_id_contracts_reward
                      type: number
                    start_location_id:
                      description: Start location ID (for Couriers contract)
                      format: int64
                      title: get_characters_character_id_contracts_start_location_id
                      type: integer
                    status:
                      description: Status of the the contract
                      enum:
                      - outstanding
                      - in_progress
                      - finished_issuer
                      - finished_contractor
                      - finished
                      - cancelled
                      - rejected
                      - failed
                      - deleted
                      - reversed
                      title: get_characters_character_id_contracts_status
                      type: string
                    title:
                      description: Title of the contract
                      title: get_characters_character_id_contracts_title
                      type: string
                    type:
                      description: Type of the contract
                      enum:
                      - unknown
                      - item_exchange
                      - auction
                      - courier
                      - loan
                      title: get_characters_character_id_contracts_type
                      type: string
                    volume:
                      description: Volume of items in the contract
                      format: double
                      title: get_characters_character_id_contracts_volume
                      type: number
                  required:
                  - contract_id
                  - issuer_id
                  - issuer_corporation_id
                  - assignee_id
                  - acceptor_id
                  - type
                  - status
                  - for_corporation
                  - availability
                  - date_issued
                  - date_expired
                  title: get_characters_character_id_contracts_200_ok
                  type: object
                maxItems: 1000
                title: get_characters_character_id_contracts_ok
                type: array
              example:
              - acceptor_id: 0
                assignee_id: 0
                availability: public
                buyout: 10000000000.01
                contract_id: 1
                date_accepted: '2017-06-06T13:12:32Z'
                date_completed: '2017-06-06T13:12:32Z'
                date_expired: '2017-06-13T13:12:32Z'
                date_issued: '2017-06-06T13:12:32Z'
                days_to_complete: 0
                end_location_id: 60014719
                for_corporation: true
                issuer_corporation_id: 456
                issuer_id: 123
                price: 1000000.01
                reward: 0.01
                start_location_id: 60014719
                status: outstanding
                type: auction
                volume: 0.01
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-contracts.read_character_contracts.v1
      summary: Get contracts
      tags:
      - Contracts
      x-alternate-versions:
      - latest
      - legacy
      - v1
      x-cached-seconds: 300
    servers:
    - url: https://esi.evetech.net
  /v1/characters/{character_id}/contracts/{contract_id}/bids/:
    get:
      description: 'Lists bids on a particular auction contract


        ---


        This route is cached for up to 300 seconds'
      operationId: get_characters_character_id_contracts_contract_id_bids
      parameters:
      - $ref: '#/components/parameters/character_id'
      - description: ID of a contract
        in: path
        name: contract_id
        required: true
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of bids
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    amount:
                      description: The amount bid, in ISK
                      format: float
                      title: get_characters_character_id_contracts_contract_id_bids_amount
                      type: number
                    bid_id:
                      description: Unique ID for the bid
                      format: int32
                      title: get_characters_character_id_contracts_contract_id_bids_bid_id
                      type: integer
                    bidder_id:
                      description: Character ID of the bidder
                      format: int32
                      title: get_characters_character_id_contracts_contract_id_bids_bidder_id
                      type: integer
                    date_bid:
                      description: Datetime when the bid was placed
                      format: date-time
                      title: get_characters_character_id_contracts_contract_id_bids_date_bid
                      type: string
                  required:
                  - bid_id
                  - bidder_id
                  - date_bid
                  - amount
                  title: get_characters_character_id_contracts_contract_id_bids_200_ok
                  type: object
                maxItems: 5000
                title: get_characters_character_id_contracts_contract_id_bids_ok
                type: array
              example:
              - amount: 1.23
                bid_id: 1
                bidder_id: 123
                date_bid: '2017-01-01T10:10:10Z'
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
[...]
