openapi: 3.0.0
info:
  description: An OpenAPI for EVE Online
  title: EVE Swagger Interface Alliance API
  version: '1.36'
servers:
- url: https://esi.evetech.net/latest
tags:
- name: Alliance
paths:
  /alliances/:
    get:
      description: 'List all active player alliances


        ---

        Alternate route: `/dev/alliances/`


        Alternate route: `/legacy/alliances/`


        Alternate route: `/v1/alliances/`


        Alternate route: `/v2/alliances/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_alliances
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: List of Alliance IDs
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok integer
                  format: int32
                  minimum: 0
                  title: get_alliances_200_ok
                  type: integer
                  uniqueItems: true
                maxItems: 5000
                title: get_alliances_ok
                type: array
              examples:
                response:
                  value:
                  - 99000001
                  - 99000002
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online List All Alliances
      tags:
      - Alliance
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alliances/{alliance_id}/:
    get:
      description: 'Public information about an alliance


        ---

        Alternate route: `/dev/alliances/{alliance_id}/`


        Alternate route: `/legacy/alliances/{alliance_id}/`


        Alternate route: `/v3/alliances/{alliance_id}/`


        Alternate route: `/v4/alliances/{alliance_id}/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_alliances_alliance_id
      parameters:
      - $ref: '#/components/parameters/alliance_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: Public data about an alliance
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  creator_corporation_id:
                    description: ID of the corporation that created the alliance
                    format: int32
                    title: get_alliances_alliance_id_creator_corporation_id
                    type: integer
                  creator_id:
                    description: ID of the character that created the alliance
                    format: int32
                    title: get_alliances_alliance_id_creator_id
                    type: integer
                  date_founded:
                    description: date_founded string
                    format: date-time
                    title: get_alliances_alliance_id_date_founded
                    type: string
                  executor_corporation_id:
                    description: the executor corporation ID, if this alliance is not closed
                    format: int32
                    title: get_alliances_alliance_id_executor_corporation_id
                    type: integer
                  faction_id:
                    description: Faction ID this alliance is fighting for, if this alliance is enlisted in factional warfare
                    format: int32
                    title: get_alliances_alliance_id_faction_id
                    type: integer
                  name:
                    description: the full name of the alliance
                    title: get_alliances_alliance_id_name
                    type: string
                  ticker:
                    description: the short name of the alliance
                    title: get_alliances_alliance_id_ticker
                    type: string
                required:
                - name
                - creator_id
                - creator_corporation_id
                - ticker
                - date_founded
                title: get_alliances_alliance_id_ok
                type: object
              examples:
                response:
                  value:
                    creator_corporation_id: 45678
                    creator_id: 12345
                    date_founded: 2016-06-26 21:00:00+00:00
                    executor_corporation_id: 98356193
                    name: C C P Alliance
                    ticker: <C C P>
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '404':
          description: Alliance not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_alliances_alliance_id_404_not_found
                    type: string
                title: get_alliances_alliance_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Alliance Information
      tags:
      - Alliance
      x-alternate-versions:
      - dev
      - legacy
      - v3
      - v4
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alliances/{alliance_id}/corporations/:
    get:
      description: 'List all current member corporations of an alliance


        ---

        Alternate route: `/dev/alliances/{alliance_id}/corporations/`


        Alternate route: `/legacy/alliances/{alliance_id}/corporations/`


        Alternate route: `/v1/alliances/{alliance_id}/corporations/`


        Alternate route: `/v2/alliances/{alliance_id}/corporations/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_alliances_alliance_id_corporations
      parameters:
      - $ref: '#/components/parameters/alliance_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: List of corporation IDs
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok integer
                  format: int32
                  minimum: 0
                  title: get_alliances_alliance_id_corporations_200_ok
                  type: integer
                  uniqueItems: true
                maxItems: 1000
                title: get_alliances_alliance_id_corporations_ok
                type: array
              examples:
                response:
                  value:
                  - 98000001
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online List Alliance's Corporations
      tags:
      - Alliance
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /alliances/{alliance_id}/icons/:
    get:
      description: 'Get the icon urls for a alliance


        ---

        Alternate route: `/dev/alliances/{alliance_id}/icons/`


        Alternate route: `/legacy/alliances/{alliance_id}/icons/`


        Alternate route: `/v1/alliances/{alliance_id}/icons/`


        Alternate route: `/v2/alliances/{alliance_id}/icons/`


        ---

        This route expires daily at 11:05'
      operationId: get_alliances_alliance_id_icons
      parameters:
      - $ref: '#/components/parameters/alliance_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: Icon URLs for the given alliance id and server
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  px128x128:
                    description: px128x128 string
                    title: get_alliances_alliance_id_icons_px128x128
                    type: string
                  px64x64:
                    description: px64x64 string
                    title: get_alliances_alliance_id_icons_px64x64
                    type: string
                title: get_alliances_alliance_id_icons_ok
                type: object
              examples:
                response:
                  value:
                    px128x128: https://images.evetech.net/alliances/503818424/logo?tenant=tranquility&size=128
                    px64x64: https://images.evetech.net/alliances/503818424/logo?tenant=tranquility&size=64
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '404':
          description: No image server for this datasource
          content:
            application/json:
              schema:
                description: No image server for this datasource
                properties:
                  error:
                    description: error message
                    title: get_alliances_alliance_id_icons_error
                    type: string
                title: get_alliances_alliance_id_icons_not_found
                type: object
              examples:
                response:
                  value:
                    error: No image server for this datasource
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Alliance Icon
      tags:
      - Alliance
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/alliances/:
    get:
      description: 'List all active player alliances


        ---


        This route is cached for up to 3600 seconds'
      operationId: get_alliances
      parameters:
      - $ref: '#/parameters/datasource'
      - $ref: '#/parameters/If-None-Match'
      responses:
        '200':
          description: List of Alliance IDs
          examples:
            application/json:
            - 99000001
            - 99000002
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok array
            items:
              description: 200 ok integer
              format: int32
              minimum: 0
              title: get_alliances_200_ok
              type: integer
              uniqueItems: true
            maxItems: 5000
            title: get_alliances_ok
            type: array
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
        '504':
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
      summary: List all alliances
      tags:
      - Alliance
      x-alternate-versions:
      - latest
      - legacy
      - v1
      - v2
      x-cached-seconds: 3600
  /v1/alliances/{alliance_id}/corporations/:
    get:
      description: 'List all current member corporations of an alliance


        ---


        This route is cached for up to 3600 seconds'
      operationId: get_alliances_alliance_id_corporations
      parameters:
      - $ref: '#/parameters/alliance_id'
      - $ref: '#/parameters/datasource'
      - $ref: '#/parameters/If-None-Match'
      responses:
        '200':
          description: List of corporation IDs
          examples:
            application/json:
            - 98000001
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok array
            items:
              description: 200 ok integer
              format: int32
              minimum: 0
              title: get_alliances_alliance_id_corporations_200_ok
              type: integer
              uniqueItems: true
            maxItems: 1000
            title: get_alliances_alliance_id_corporations_ok
            type: array
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
        '504':
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
      summary: List alliance's corporations
      tags:
      - Alliance
      x-alternate-versions:
      - latest
      - legacy
      - v1
      - v2
      x-cached-seconds: 3600
  /v1/alliances/{alliance_id}/icons/:
    get:
      description: 'Get the icon urls for a alliance


        ---


        This route expires daily at 11:05'
      operationId: get_alliances_alliance_id_icons
      parameters:
      - $ref: '#/parameters/alliance_id'
      - $ref: '#/parameters/datasource'
      - $ref: '#/parameters/If-None-Match'
      responses:
        '200':
          description: Icon URLs for the given alliance id and server
          examples:
            application/json:
              px128x128: https://images.evetech.net/alliances/503818424/logo?tenant=tranquility&size=128
              px64x64: https://images.evetech.net/alliances/503818424/logo?tenant=tranquility&size=64
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok object
            properties:
              px128x128:
                description: px128x128 string
                title: get_alliances_alliance_id_icons_px128x128
                type: string
              px64x64:
                description: px64x64 string
                title: get_alliances_alliance_id_icons_px64x64
                type: string
            title: get_alliances_alliance_id_icons_ok
            type: object
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '404':
          description: No image server for this datasource
          examples:
            application/json:
              error: No image server for this datasource
          schema:
            description: No image server for this datasource
            properties:
              error:
                description: error message
                title: get_alliances_alliance_id_icons_error
                type: string
            title: get_alliances_alliance_id_icons_not_found
            type: object
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
        '504':
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
      summary: Get alliance icon
      tags:
      - Alliance
      x-alternate-versions:
      - latest
      - legacy
      - v1
      - v2
  /v3/alliances/{alliance_id}/:
    get:
      description: 'Public information about an alliance


        ---


        This route is cached for up to 3600 seconds'
      operationId: get_alliances_alliance_id
      parameters:
      - $ref: '#/parameters/alliance_id'
      - $ref: '#/parameters/datasource'
      - $ref: '#/parameters/If-None-Match'
      responses:
        '200':
          description: Public data about an alliance
          examples:
            application/json:
              creator_corporation_id: 45678
              creator_id: 12345
              date_founded: '2016-06-26T21:00:00Z'
              executor_corporation_id: 98356193
              name: C C P Alliance
              ticker: <C C P>
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok object
            properties:
              creator_corporation_id:
                description: ID of the corporation that created the alliance
                format: int32
                title: get_alliances_alliance_id_creator_corporation_id
                type: integer
              creator_id:
                description: ID of the character that created the alliance
                format: int32
                title: get_alliances_alliance_id_creator_id
                type: integer
              date_founded:
                description: date_founded string
                format: date-time
                title: get_alliances_alliance_id_date_founded
                type: string
              executor_corporation_id:
                description: the executor corporation ID, if this alliance is not closed
                format: int32
                title: get_alliances_alliance_id_executor_corporation_id
                type: integer
              faction_id:
                description: Faction ID this alliance is fighting for, if this alliance is enlisted in factional warfare
                format: int32
                title: get_alliances_alliance_id_faction_id
                type: integer
              name:
                description: the full name of the alliance
                title: get_alliances_alliance_id_name
                type: string
              ticker:
                description: the short name of the alliance
                title: get_alliances_alliance_id_ticker
                type: string
            required:
            - name
            - creator_id
            - creator_corporation_id
            - ticker
            - date_founded
            title: get_alliances_alliance_id_ok
            type: object
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '404':
          description: Alliance not found
          examples:
            application/json:
              error: Not found message
          schema:
            description: Not found
            properties:
              error:
                description: Not found message
                title: get_alliances_alliance_id_404_not_found
                type: string
            title: get_alliances_alliance_id_not_found
            type: object
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
        '504':
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
      summary: Get alliance information
      tags:
      - Alliance
      x-alternate-versions:
      - latest
      - legacy
      - v3
      - v4
      x-cached-seconds: 3600
components:
  schemas:
    internal_server_error:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
          example: example
      required:
      - error
      title: Internal server error
      type: object
    service_unavailable:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
          example: example
      required:
      - error
      title: Service unavailable
      type: object
    bad_request:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
          example: example
      required:
      - error
      title: Bad request
      type: object
    gateway_timeout:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
          example: example
        timeout:
          description: number of seconds the request was given
          type: integer
          example: 1
      required:
      - error
      title: Gateway timeout
      type: object
    error_limited:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
          example: example
      required:
      - error
      title: Error limited
      type: object
  parameters:
    datasource:
      description: The server name you would like data from
      in: query
      name: datasource
      schema:
        type: string
        enum:
        - tranquility
        default: tranquility
    If-None-Match:
      description: ETag from a previous request. A 304 will be returned if this matches the current ETag
      in: header
      name: If-None-Match
      schema:
        type: string
    alliance_id:
      description: An EVE alliance ID
      in: path
      name: alliance_id
      required: true
      schema:
        type: integer
        format: int32
        minimum: 1
  securitySchemes:
    evesso:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.eveonline.com/v2/oauth/authorize
          scopes:
            esi-alliances.read_contacts.v1: EVE SSO scope esi-alliances.read_contacts.v1
            esi-assets.read_assets.v1: EVE SSO scope esi-assets.read_assets.v1
            esi-assets.read_corporation_assets.v1: EVE SSO scope esi-assets.read_corporation_assets.v1
            esi-calendar.read_calendar_events.v1: EVE SSO scope esi-calendar.read_calendar_events.v1
            esi-calendar.respond_calendar_events.v1: EVE SSO scope esi-calendar.respond_calendar_events.v1
            esi-characters.read_agents_research.v1: EVE SSO scope esi-characters.read_agents_research.v1
            esi-characters.read_blueprints.v1: EVE SSO scope esi-characters.read_blueprints.v1
            esi-characters.read_contacts.v1: EVE SSO scope esi-characters.read_contacts.v1
            esi-characters.read_corporation_roles.v1: EVE SSO scope esi-characters.read_corporation_roles.v1
            esi-characters.read_fatigue.v1: EVE SSO scope esi-characters.read_fatigue.v1
            esi-characters.read_fw_stats.v1: EVE SSO scope esi-characters.read_fw_stats.v1
            esi-characters.read_loyalty.v1: EVE SSO scope esi-characters.read_loyalty.v1
            esi-characters.read_medals.v1: EVE SSO scope esi-characters.read_medals.v1
            esi-characters.read_notifications.v1: EVE SSO scope esi-characters.read_notifications.v1
            esi-characters.read_standings.v1: EVE SSO scope esi-characters.read_standings.v1
            esi-characters.read_titles.v1: EVE SSO scope esi-characters.read_titles.v1
            esi-characters.write_contacts.v1: EVE SSO scope esi-characters.write_contacts.v1
            esi-clones.read_clones.v1: EVE SSO scope esi-clones.read_clones.v1
            esi-clones.read_implants.v1: EVE SSO scope esi-clones.read_implants.v1
            esi-contracts.read_character_contracts.v1: EVE SSO scope esi-contracts.read_character_contracts.v1
            esi-contracts.read_corporation_contracts.v1: EVE SSO scope esi-contracts.read_corporation_contracts.v1
            esi-corporations.read_blueprints.v1: EVE SSO scope esi-corporations.read_blueprints.v1
            esi-corporations.read_contacts.v1: EVE SSO scope esi-corporations.read_contacts.v1
            esi-corporations.read_container_logs.v1: EVE SSO scope esi-corporations.read_container_logs.v1
            esi-corporations.read_corporation_membership.v1: EVE SSO scope esi-corporations.read_corporation_membership.v1
            esi-corporations.read_divisions.v1: EVE SSO scope esi-corporations.read_divisions.v1
            esi-corporations.read_facilities.v1: EVE SSO scope esi-corporations.read_facilities.v1
            esi-corporations.read_fw_stats.v1: EVE SSO scope esi-corporations.read_fw_stats.v1
            esi-corporations.read_medals.v1: EVE SSO scope esi-corporations.read_medals.v1
            esi-corporations.read_standings.v1: EVE SSO scope esi-corporations.read_standings.v1
            esi-corporations.read_starbases.v1: EVE SSO scope esi-corporations.read_starbases.v1
            esi-corporations.read_structures.v1: EVE SSO scope esi-corporations.read_structures.v1
            esi-corporations.read_titles.v1: EVE SSO scope esi-corporations.read_titles.v1
            esi-corporations.track_members.v1: EVE SSO scope esi-corporations.track_members.v1
            esi-fittings.read_fittings.v1: EVE SSO scope esi-fittings.read_fittings.v1
            esi-fittings.write_fittings.v1: EVE SSO scope esi-fittings.write_fittings.v1
            esi-fleets.read_fleet.v1: EVE SSO scope esi-fleets.read_fleet.v1
            esi-fleets.write_fleet.v1: EVE SSO scope esi-fleets.write_fleet.v1
            esi-industry.read_character_jobs.v1: EVE SSO scope esi-industry.read_character_jobs.v1
            esi-industry.read_character_mining.v1: EVE SSO scope esi-industry.read_character_mining.v1
            esi-industry.read_corporation_jobs.v1: EVE SSO scope esi-industry.read_corporation_jobs.v1
            esi-industry.read_corporation_mining.v1: EVE SSO scope esi-industry.read_corporation_mining.v1
            esi-killmails.read_corporation_killmails.v1: EVE SSO scope esi-killmails.read_corporation_killmails.v1
            esi-killmails.read_killmails.v1: EVE SSO scope esi-killmails.read_killmails.v1
            esi-location.read_location.v1: EVE SSO scope esi-location.read_location.v1
            esi-location.read_online.v1: EVE SSO scope esi-location.read_online.v1
            esi-location.read_ship_type.v1: EVE SSO scope esi-location.read_ship_type.v1
            esi-mail.organize_mail.v1: EVE SSO scope esi-mail.organize_mail.v1
            esi-mail.read_mail.v1: EVE SSO scope esi-mail.read_mail.v1
            esi-mail.send_mail.v1: EVE SSO scope esi-mail.send_mail.v1
            esi-markets.read_character_orders.v1: EVE SSO scope esi-markets.read_character_orders.v1
            esi-markets.read_corporation_orders.v1: EVE SSO scope esi-markets.read_corporation_orders.v1
            esi-markets.structure_markets.v1: EVE SSO scope esi-markets.structure_markets.v1
            esi-planets.manage_planets.v1: EVE SSO scope esi-planets.manage_planets.v1
            esi-planets.read_customs_offices.v1: EVE SSO scope esi-planets.read_customs_offices.v1
            esi-search.search_structures.v1: EVE SSO scope esi-search.search_structures.v1
            esi-skills.read_skillqueue.v1: EVE SSO scope esi-skills.read_skillqueue.v1
            esi-skills.read_skills.v1: EVE SSO scope esi-skills.read_skills.v1
            esi-ui.open_window.v1: EVE SSO scope esi-ui.open_window.v1
            esi-ui.write_waypoint.v1: EVE SSO scope esi-ui.write_waypoint.v1
            esi-universe.read_structures.v1: EVE SSO scope esi-universe.read_structures.v1
            esi-wallet.read_character_wallet.v1: EVE SSO scope esi-wallet.read_character_wallet.v1
            esi-wallet.read_corporation_wallets.v1: EVE SSO scope esi-wallet.read_corporation_wallets.v1
definitions:
  internal_server_error:
    description: Internal server error model
    properties:
      error:
        description: Internal server error message
        type: string
    required:
    - error
    title: Internal server error
    type: object
  error_limited:
    description: Error limited model
    properties:
      error:
        description: Error limited message
        type: string
    required:
    - error
    title: Error limited
    type: object
  service_unavailable:
    description: Service unavailable model
    properties:
      error:
        description: Service unavailable message
        type: string
    required:
    - error
    title: Service unavailable
    type: object
  bad_request:
    description: Bad request model
    properties:
      error:
        description: Bad request message
        type: string
    required:
    - error
    title: Bad request
    type: object
  gateway_timeout:
    description: Gateway timeout model
    properties:
      error:
        description: Gateway timeout message
        type: string
      timeout:
        description: number of seconds the request was given
        type: integer
    required:
    - error
    title: Gateway timeout
    type: object
parameters:
  alliance_id:
    description: An EVE alliance ID
    format: int32
    in: path
    minimum: 1
    name: alliance_id
    required: true
    type: integer
  If-None-Match:
    description: ETag from a previous request. A 304 will be returned if this matches the current ETag
    in: header
    name: If-None-Match
    type: string
  datasource:
    default: tranquility
    description: The server name you would like data from
    enum:
    - tranquility
    in: query
    name: datasource
    type: string
