openapi: 3.2.0
info:
  title: Eve Online Character API
  version: '1.36'
  description: 'Operations tagged Character across 7 of this provider''s published API definitions: eve-online-openapi.yml, swagger.json, swagger_2.json, swagger_3.json, swagger_4.json, swagger_5.json, swagger_6.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://esi.evetech.net/latest
- url: https://esi.evetech.net
- url: https://esi.evetech.net/legacy
- url: https://esi.evetech.net/dev
tags:
- name: Character
paths:
  /characters/affiliation/:
    post:
      description: 'Bulk lookup of character IDs to corporation, alliance and faction


        ---

        Alternate route: `/dev/characters/affiliation/`


        Alternate route: `/legacy/characters/affiliation/`


        Alternate route: `/v1/characters/affiliation/`


        Alternate route: `/v2/characters/affiliation/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: post_characters_affiliation
      parameters:
      - $ref: '#/components/parameters/datasource'
      requestBody:
        content:
          application/json:
            schema:
              description: characters array
              items:
                description: character integer
                format: int32
                title: post_characters_affiliation_character
                type: integer
              maxItems: 1000
              minItems: 1
              title: post_characters_affiliation_characters
              type: array
              uniqueItems: true
            examples:
              PostCharactersAffiliationRequestExample:
                summary: Default post_characters_affiliation request
                x-microcks-default: true
                value: {}
        description: The character IDs to fetch affiliations for. All characters must exist, or none will be returned
        required: true
      responses:
        '200':
          description: Character corporation, alliance and faction IDs
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    alliance_id:
                      description: The character's alliance ID, if their corporation is in an alliance
                      format: int32
                      title: post_characters_affiliation_alliance_id
                      type: integer
                    character_id:
                      description: The character's ID
                      format: int32
                      title: post_characters_affiliation_character_id
                      type: integer
                    corporation_id:
                      description: The character's corporation ID
                      format: int32
                      title: post_characters_affiliation_corporation_id
                      type: integer
                    faction_id:
                      description: The character's faction ID, if their corporation is in a faction
                      format: int32
                      title: post_characters_affiliation_faction_id
                      type: integer
                  required:
                  - character_id
                  - corporation_id
                  title: post_characters_affiliation_200_ok
                  type: object
                maxItems: 1000
                title: post_characters_affiliation_ok
                type: array
              examples:
                response:
                  value:
                  - alliance_id: 434243723
                    character_id: 95538921
                    corporation_id: 109299958
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Character Affiliation
      tags:
      - Character
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /characters/{character_id}/:
    get:
      description: 'Public information about a character


        ---

        Alternate route: `/dev/characters/{character_id}/`


        Alternate route: `/legacy/characters/{character_id}/`


        Alternate route: `/v5/characters/{character_id}/`


        ---

        This route is cached for up to 604800 seconds'
      operationId: get_characters_character_id
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: Public data for the given character
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  alliance_id:
                    description: The character's alliance ID
                    format: int32
                    title: get_characters_character_id_alliance_id
                    type: integer
                  birthday:
                    description: Creation date of the character
                    format: date-time
                    title: get_characters_character_id_birthday
                    type: string
                  bloodline_id:
                    description: bloodline_id integer
                    format: int32
                    title: get_characters_character_id_bloodline_id
                    type: integer
                  corporation_id:
                    description: The character's corporation ID
                    format: int32
                    title: get_characters_character_id_corporation_id
                    type: integer
                  description:
                    description: description string
                    title: get_characters_character_id_description
                    type: string
                  faction_id:
                    description: ID of the faction the character is fighting for, if the character is enlisted in Factional Warfare
                    format: int32
                    title: get_characters_character_id_faction_id
                    type: integer
                  gender:
                    description: gender string
                    enum:
                    - female
                    - male
                    title: get_characters_character_id_gender
                    type: string
                  name:
                    description: name string
                    title: get_characters_character_id_name
                    type: string
                  race_id:
                    description: race_id integer
                    format: int32
                    title: get_characters_character_id_race_id
                    type: integer
                  security_status:
                    description: security_status number
                    format: float
                    maximum: 10
                    minimum: -10
                    title: get_characters_character_id_security_status
                    type: number
                  title:
                    description: The individual title of the character
                    title: get_characters_character_id_title
                    type: string
                required:
                - corporation_id
                - birthday
                - name
                - gender
                - race_id
                - bloodline_id
                title: get_characters_character_id_ok
                type: object
              examples:
                response:
                  value:
                    birthday: 2015-03-24 11:37:00+00:00
                    bloodline_id: 3
                    corporation_id: 109299958
                    description: ''
                    gender: male
                    name: CCP Bartender
                    race_id: 2
                    title: All round pretty awesome guy
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '404':
          description: Character not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_characters_character_id_404_not_found
                    type: string
                title: get_characters_character_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Character's Public Information
      tags:
      - Character
      x-alternate-versions:
      - dev
      - legacy
      - v5
      x-cached-seconds: 604800
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /characters/{character_id}/agents_research/:
    get:
      description: 'Return a list of agents research information for a character. The formula for finding the current research points with an agent is: currentPoints = remainderPoints + pointsPerDay * days(currentTime - researchStartDate)


        ---

        Alternate route: `/dev/characters/{character_id}/agents_research/`


        Alternate route: `/legacy/characters/{character_id}/agents_research/`


        Alternate route: `/v1/characters/{character_id}/agents_research/`


        Alternate route: `/v2/characters/{character_id}/agents_research/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_characters_character_id_agents_research
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of agents research information
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    agent_id:
                      description: agent_id integer
                      format: int32
                      title: get_characters_character_id_agents_research_agent_id
                      type: integer
                    points_per_day:
                      description: points_per_day number
                      format: float
                      title: get_characters_character_id_agents_research_points_per_day
                      type: number
                    remainder_points:
                      description: remainder_points number
                      format: float
                      title: get_characters_character_id_agents_research_remainder_points
                      type: number
                    skill_type_id:
                      description: skill_type_id integer
                      format: int32
                      title: get_characters_character_id_agents_research_skill_type_id
                      type: integer
                    started_at:
                      description: started_at string
                      format: date-time
                      title: get_characters_character_id_agents_research_started_at
                      type: string
                  required:
                  - agent_id
                  - skill_type_id
                  - started_at
                  - points_per_day
                  - remainder_points
                  title: get_characters_character_id_agents_research_200_ok
                  type: object
                maxItems: 1000
                title: get_characters_character_id_agents_research_ok
                type: array
              examples:
                response:
                  value:
                  - agent_id: 3009358
                    points_per_day: 53.5346162146776
                    remainder_points: 53604.0634303189
                    skill_type_id: 11450
                    started_at: 2017-03-23 14:47:00+00:00
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-characters.read_agents_research.v1
      summary: EVE Online Get Agents Research
      tags:
      - Character
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /characters/{character_id}/blueprints/:
    get:
      description: 'Return a list of blueprints the character owns


        ---

        Alternate route: `/dev/characters/{character_id}/blueprints/`


        Alternate route: `/legacy/characters/{character_id}/blueprints/`


        Alternate route: `/v2/characters/{character_id}/blueprints/`


        Alternate route: `/v3/characters/{character_id}/blueprints/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_characters_character_id_blueprints
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of blueprints
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    item_id:
                      description: Unique ID for this item.
                      format: int64
                      title: get_characters_character_id_blueprints_item_id
                      type: integer
                    location_flag:
                      description: Type of the location_id
                      enum:
                      - AutoFit
                      - Cargo
                      - CorpseBay
                      - DroneBay
                      - FleetHangar
                      - Deliveries
                      - HiddenModifiers
                      - Hangar
                      - HangarAll
                      - LoSlot0
                      - LoSlot1
                      - LoSlot2
                      - LoSlot3
                      - LoSlot4
                      - LoSlot5
                      - LoSlot6
                      - LoSlot7
                      - MedSlot0
                      - MedSlot1
                      - MedSlot2
                      - MedSlot3
                      - MedSlot4
                      - MedSlot5
                      - MedSlot6
                      - MedSlot7
                      - HiSlot0
                      - HiSlot1
                      - HiSlot2
                      - HiSlot3
                      - HiSlot4
                      - HiSlot5
                      - HiSlot6
                      - HiSlot7
                      - AssetSafety
                      - Locked
                      - Unlocked
                      - Implant
                      - QuafeBay
                      - RigSlot0
                      - RigSlot1
                      - RigSlot2
                      - RigSlot3
                      - RigSlot4
                      - RigSlot5
                      - RigSlot6
                      - RigSlot7
                      - ShipHangar
                      - SpecializedFuelBay
                      - SpecializedOreHold
                      - SpecializedGasHold
                      - SpecializedMineralHold
                      - SpecializedSalvageHold
                      - SpecializedShipHold
                      - SpecializedSmallShipHold
                      - SpecializedMediumShipHold
                      - SpecializedLargeShipHold
                      - SpecializedIndustrialShipHold
                      - SpecializedAmmoHold
                      - SpecializedCommandCenterHold
                      - SpecializedPlanetaryCommoditiesHold
                      - SpecializedMaterialBay
                      - SubSystemSlot0
                      - SubSystemSlot1
                      - SubSystemSlot2
                      - SubSystemSlot3
                      - SubSystemSlot4
                      - SubSystemSlot5
                      - SubSystemSlot6
                      - SubSystemSlot7
                      - FighterBay
                      - FighterTube0
                      - FighterTube1
                      - FighterTube2
                      - FighterTube3
                      - FighterTube4
                      - Module
                      title: get_characters_character_id_blueprints_location_flag
                      type: string
                    location_id:
                      description: References a station, a ship or an item_id if this blueprint is located within a container. If the return value is an item_id, then the Character AssetList API must be queried to find the container using the given item_id to determine the correct location of the Blueprint.
                      format: int64
                      title: get_characters_character_id_blueprints_location_id
                      type: integer
                    material_efficiency:
                      description: Material Efficiency Level of the blueprint.
                      format: int32
                      maximum: 25
                      minimum: 0
                      title: get_characters_character_id_blueprints_material_efficiency
                      type: integer
                    quantity:
                      description: A range of numbers with a minimum of -2 and no maximum value where -1 is an original and -2 is a copy. It can be a positive integer if it is a stack of blueprint originals fresh from the market (e.g. no activities performed on them yet).
                      format: int32
                      minimum: -2
                      title: get_characters_character_id_blueprints_quantity
                      type: integer
                    runs:
                      description: Number of runs remaining if the blueprint is a copy, -1 if it is an original.
                      format: int32
                      minimum: -1
                      title: get_characters_character_id_blueprints_runs
                      type: integer
                    time_efficiency:
                      description: Time Efficiency Level of the blueprint.
                      format: int32
                      maximum: 20
                      minimum: 0
                      title: get_characters_character_id_blueprints_time_efficiency
                      type: integer
                    type_id:
                      description: type_id integer
                      format: int32
                      title: get_characters_character_id_blueprints_type_id
                      type: integer
                  required:
                  - item_id
                  - type_id
                  - location_id
                  - location_flag
                  - quantity
                  - time_efficiency
                  - material_efficiency
                  - runs
                  title: get_characters_character_id_blueprints_200_ok
                  type: object
                maxItems: 1000
                title: get_characters_character_id_blueprints_ok
                type: array
              examples:
                response:
                  value:
                  - item_id: 1000000010495
                    location_flag: Hangar
                    location_id: 60014719
                    material_efficiency: 0
                    quantity: 1
                    runs: -1
                    time_efficiency: 0
                    type_id: 691
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-characters.read_blueprints.v1
      summary: EVE Online Get Blueprints
      tags:
      - Character
      x-alternate-versions:
      - dev
      - legacy
      - v2
      - v3
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /characters/{character_id}/corporationhistory/:
    get:
      description: 'Get a list of all the corporations a character has been a member of


        ---

        Alternate route: `/dev/characters/{character_id}/corporationhistory/`


        Alternate route: `/legacy/characters/{character_id}/corporationhistory/`


        Alternate route: `/v1/characters/{character_id}/corporationhistory/`


        Alternate route: `/v2/characters/{character_id}/corporationhistory/`


        ---

        This route is cached for up to 86400 seconds'
      operationId: get_characters_character_id_corporationhistory
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: Corporation history for the given character
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    corporation_id:
                      description: corporation_id integer
                      format: int32
                      title: get_characters_character_id_corporationhistory_corporation_id
                      type: integer
                    is_deleted:
                      description: True if the corporation has been deleted
                      title: get_characters_character_id_corporationhistory_is_deleted
                      type: boolean
                    record_id:
                      description: An incrementing ID that can be used to canonically establish order of records in cases where dates may be ambiguous
                      format: int32
                      title: get_characters_character_id_corporationhistory_record_id
                      type: integer
                    start_date:
                      description: start_date string
                      format: date-time
                      title: get_characters_character_id_corporationhistory_start_date
                      type: string
                  required:
                  - start_date
                  - corporation_id
                  - record_id
                  title: get_characters_character_id_corporationhistory_200_ok
                  type: object
                maxItems: 10000
                title: get_characters_character_id_corporationhistory_ok
                type: array
              examples:
                response:
                  value:
                  - corporation_id: 90000001
                    is_deleted: true
                    record_id: 500
                    start_date: 2016-06-26 20:00:00+00:00
                  - corporation_id: 90000002
                    record_id: 501
                    start_date: 2016-07-26 20:00:00+00:00
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Corporation History
      tags:
      - Character
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 86400
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /characters/{character_id}/cspa/:
    post:
      description: 'Takes a source character ID in the url and a set of target character ID''s in the body, returns a CSPA charge cost


        ---

        Alternate route: `/dev/characters/{character_id}/cspa/`


        Alternate route: `/legacy/characters/{character_id}/cspa/`


        Alternate route: `/v4/characters/{character_id}/cspa/`


        Alternate route: `/v5/characters/{character_id}/cspa/`

        '
      operationId: post_characters_character_id_cspa
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/token'
      requestBody:
        content:
          application/json:
            schema:
              description: characters array
              items:
                description: character integer
                format: int32
                title: post_characters_character_id_cspa_character
                type: integer
              maxItems: 100
              minItems: 1
              title: post_characters_character_id_cspa_characters
              type: array
              uniqueItems: true
            examples:
              PostCharactersCharacterIdCspaRequestExample:
                summary: Default post_characters_character_id_cspa request
                x-microcks-default: true
                value: {}
        description: The target characters to calculate the charge for
        required: true
      responses:
        '201':
          description: Aggregate cost of sending a mail from the source character to the target characters, in ISK
          content:
            application/json:
              schema:
                description: 201 created number
                format: float
                title: post_characters_character_id_cspa_created
                type: number
              examples:
                response:
                  value: 2950
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-characters.read_contacts.v1
      summary: EVE Online Calculate a CSPA Charge Cost
      tags:
      - Character
      x-alternate-versions:
      - dev
      - legacy
      - v4
      - v5
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /characters/{character_id}/fatigue/:
    get:
      description: 'Return a character''s jump activation and fatigue information


        ---

        Alternate route: `/dev/characters/{character_id}/fatigue/`


        Alternate route: `/legacy/characters/{character_id}/fatigue/`


        Alternate route: `/v1/characters/{character_id}/fatigue/`


        Alternate route: `/v2/characters/{character_id}/fatigue/`


        ---

        This route is cached for up to 300 seconds'
      operationId: get_characters_character_id_fatigue
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Jump activation and fatigue information
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  jump_fatigue_expire_date:
                    description: Character's jump fatigue expiry
                    format: date-time
                    title: get_characters_character_id_fatigue_jump_fatigue_expire_date
                    type: string
                  last_jump_date:
                    description: Character's last jump activation
                    format: date-time
                    title: get_characters_character_id_fatigue_last_jump_date
                    type: string
                  last_update_date:
                    description: Character's last jump update
                    format: date-time
                    title: get_characters_character_id_fatigue_last_update_date
                    type: string
                title: get_characters_character_id_fatigue_ok
                type: object
              examples:
                response:
                  value:
                    jump_fatigue_expire_date: 2017-07-06 15:47:00+00:00
                    last_jump_date: 2017-07-05 15:47:00+00:00
                    last_update_date: 2017-07-05 15:42:00+00:00
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-characters.read_fatigue.v1
      summary: EVE Online Get Jump Fatigue
      tags:
      - Character
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 300
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /characters/{character_id}/medals/:
    get:
      description: 'Return a list of medals the character has


        ---

        Alternate route: `/dev/characters/{character_id}/medals/`


        Alternate route: `/legacy/characters/{character_id}/medals/`


        Alternate route: `/v1/characters/{character_id}/medals/`


        Alternate route: `/v2/characters/{character_id}/medals/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_characters_character_id_medals
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of medals
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    corporation_id:
                      description: corporation_id integer
                      format: int32
                      title: get_characters_character_id_medals_corporation_id
                      type: integer
                    date:
                      description: date string
                      format: date-time
                      title: get_characters_character_id_medals_date
                      type: string
                    description:
                      description: description string
                      title: get_characters_character_id_medals_description
                      type: string
                    graphics:
                      description: graphics array
                      items:
                        description: graphic object
                        properties:
                          color:
                            description: color integer
                            format: int32
                            title: get_characters_character_id_medals_color
                            type: integer
                          graphic:
                            description: graphic string
                            title: get_characters_character_id_medals_graphic_graphic
                            type: string
                          layer:
                            description: layer integer
                            format: int32
                            title: get_characters_character_id_medals_layer
                            type: integer
                          part:
                            description: part integer
                            format: int32
                            title: get_characters_character_id_medals_part
                            type: integer
                        required:
                        - part
                        - layer
                        - graphic
                        title: get_characters_character_id_medals_graphic
                        type: object
                      maxItems: 9
                      minItems: 3
                      title: get_characters_character_id_medals_graphics
                      type: array
                    issuer_id:
                      description: issuer_id integer
                      format: int32
                      title: get_characters_character_id_medals_issuer_id
                      type: integer
                    medal_id:
                      description: medal_id integer
                      format: int32
                      title: get_characters_character_id_medals_medal_id
                      type: integer
                    reason:
                      description: reason string
                      title: get_characters_character_id_medals_reason
                      type: string
                    status:
                      description: status string
                      enum:
                      - public
                      - private
                      title: get_characters_character_id_medals_status
                      type: string
                    title:
                      description: title string
                      title: get_characters_character_id_medals_title
                      type: string
                  required:
                  - medal_id
                  - title
                  - description
                  - corporation_id
                  - issuer_id
                  - date
                  - reason
                  - status
                  - graphics
                  title: get_characters_character_id_medals_200_ok
                  type: object
                maxItems: 1000
                title: get_characters_character_id_medals_ok
                type: array
              examples:
                response:
                  value:
                  - corporation_id: 98000001
                    date: 2017-03-16 15:01:45+00:00
                    description: For 33 corp!
                    graphics:
                    - color: -1
                      graphic: caldari.1_1
                      layer: 0
                      part: 1
                    - color: -330271
                      graphic: caldari.1_2
                      layer: 1
                      part: 1
                    - color: -1
                      graphic: compass.1_2
                      layer: 0
                      part: 2
                    issuer_id: 2112000002
                    medal_id: 3
                    reason: Thanks!
                    status: private
                    title: 33 tester medal
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-characters.read_medals.v1
      summary: EVE Online Get Medals
      tags:
      - Character
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /characters/{character_id}/notifications/:
    get:
      description: 'Return character notifications


        ---

        Alternate route: `/dev/characters/{character_id}/notifications/`


        Alternate route: `/legacy/characters/{character_id}/notifications/`


        Alternate route: `/v4/characters/{character_id}/notifications/`


        Alternate route: `/v5/characters/{character_id}/notifications/`


        Alternate route: `/v6/characters/{character_id}/notifications/`


        ---

        This route is cached for up to 600 seconds'
      operationId: get_characters_character_id_notifications
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Returns your recent notifications
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    is_read:
                      description: is_read boolean
                      title: get_characters_character_id_notifications_is_read
                      type: boolean
                    notification_id:
                      description: notification_id integer
                      format: int64
                      title: get_characters_character_id_notifications_notification_id
                      type: integer
                    sender_id:
                      description: sender_id integer
                      format: int32
                      title: get_characters_character_id_notifications_sender_id
                      type: integer
                    sender_type:
                      description: sender_type string
                      enum:
                      - character
                      - corporation
                      - alliance
                      - faction
                      - other
                      title: get_characters_character_id_notifications_sender_type
                      type: string
                    text:
                      description: text string
                      title: get_characters_character_id_notifications_text
                      type: string
                    timestamp:
                      description: timestamp string
                      format: date-time
                      title: get_characters_character_id_notifications_timestamp
                      type: string
                    type:
                      description: type string
                      enum:
                      - AcceptedAlly
                      - AcceptedSurrender
                      - AgentRetiredTrigravian
                      - AllAnchoringMsg
                      - AllMaintenanceBillMsg
                      - AllStrucInvulnerableMsg
                      - AllStructVulnerableMsg
                      - AllWarCorpJoinedAllianceMsg
                      - AllWarDeclaredMsg
                      - AllWarInvalidatedMsg
                      - AllWarRetractedMsg
                      - AllWarSurrenderMsg
                      - AllianceCapitalChanged
                      - AllianceWarDeclaredV2
                      - AllyContractCancelled
                      - AllyJoinedWarAggressorMsg
                      - AllyJoinedWarAllyMsg
                      - AllyJoinedWarDefenderMsg
                      - BattlePunishFriendlyFire
                      - BillOutOfMoneyMsg
                      - BillPaidCorpAllMsg
                      - BountyClaimMsg
                      - BountyESSShared
                      - BountyESSTaken
                      - BountyPlacedAlliance
                      - BountyPlacedChar
                      - BountyPlacedCorp
                      - BountyYourBountyClaimed
                      - BuddyConnectContactAdd
                      - CharAppAcceptMsg
                      - CharAppRejectMsg
                      - CharAppWithdrawMsg
                      - CharLeftCorpMsg
                      - CharMedalMsg
                      - CharTerminationMsg
                      - CloneActivationMsg
                      - CloneActivationMsg2
                      - CloneMovedMsg
                      - CloneRevokedMsg1
                      - CloneRevokedMsg2
                      - CombatOperationFinished
                      - ContactAdd
                      - ContactEdit
                      - ContainerPasswordMsg
                      - ContractRegionChangedToPochven
                      - CorpAllBillMsg
                      - CorpAppAcceptMsg
                      - CorpAppInvitedMsg
                      - CorpAppNewMsg
                      - CorpAppRejectCustomMsg
                      - CorpAppRejectMsg
                      - CorpBecameWarEligible
                      - CorpDividendMsg
                      - CorpFriendlyFireDisableTimerCompleted
                      - CorpFriendlyFireDisableTimerStarted
                      - CorpFriendlyFireEnableTimerCompleted
                      - CorpFriendlyFireEnableTimerStarted
                      - CorpKicked
                      - CorpLiquidationMsg
                      - CorpNewCEOMsg
                      - CorpNewsMsg
                      - CorpNoLongerWarEligible
                      - CorpOfficeExpirationMsg
                      - CorpStructLostMsg
                      - CorpTaxChangeMsg
                      - CorpVoteCEORevokedMsg
                      - CorpVoteMsg
                      - CorpWarDeclaredMsg
                      - CorpWarDeclaredV2
                      - CorpWarFightingLegalMsg
                      - CorpWarInvalidatedMsg
                      - CorpWarRetractedMsg
                      - CorpWarSurrenderMsg
                      - CorporationGoalClosed
                      - CorporationGoalCompleted
                      - CorporationGoalCreated
                      - CorporationGoalExpired
                      - CorporationGoalLimitReached
                      - CorporationGoalNameChange
                      - CorporationLeft
                      - CustomsMsg
                      - DailyItemRewardAutoClaimed
                      - DeclareWar
                      - DistrictAttacked
                      - DustAppAcceptedMsg
                      - ESSMainBankLink
                      - EntosisCaptureStarted
                      - ExpertSystemExpired
                      - ExpertSystemExpiryImminent
                      - FWAllianceKickMsg
                      - FWAllianceWarningMsg
                      - FWCharKickMsg
                      - FWCharRankGainMsg
                      - FWCharRankLossMsg
                      - FWCharWarningMsg
                      - FWCorpJoinMsg
                      - FWCorpKickMsg
                      - FWCorpLeaveMsg
                      - FWCorpWarningMsg
                      - FacWarCorpJoinRequestMsg
                      - FacWarCorpJoinWithdrawMsg
                      - FacWarCorpLeaveRequestMsg
                      - FacWarCorpLeaveWithdrawMsg
                      - FacWarLPDisqualifiedEvent
                      - FacWarLPDisqualifiedKill
                      - FacWarLPPayoutEvent
                      - FacWarLPPayoutKill
                      - FreelanceProjectClosed
                      - FreelanceProjectCompleted
                      - FreelanceProjectCreated
                      - FreelanceProjectExpired
                      - FreelanceProjectLimitReached
                      - FreelanceProjectParticipantKicked
                      - GameTimeAdded
                      - GameTimeReceived
                      - GameTimeSent
                      - GiftReceived
                      - IHubDestroyedByBillFailure
                      - IncursionCompletedMsg
                      - IndustryOperationFinished
                      - IndustryTeamAuctionLost
                      - IndustryTeamAuctionWon
                      - InfrastructureHubBillAboutToExpire
                      - InsuranceExpirationMsg
                      - InsuranceFirstShipMsg
                      - InsuranceInvalidatedMsg
                      - InsuranceIssuedMsg
                      - InsurancePayoutMsg
                      - InvasionCompletedMsg
                      - InvasionSystemLogin
                      - InvasionSystemStart
                      - JumpCloneDeletedMsg1
                      - JumpCloneDeletedMsg2
                      - KillReportFinalBlow
                      - KillReportVictim
                      - KillRightAvailable
                      - KillRightAvailableOpen
                      - KillRightEarned
                      - KillRightUnavailable
                      - KillRightUnavailableOpen
                      - KillRightUsed
                      - LPAutoRedeemed
                      - LocateCharMsg
                      - MadeWarMutual
                      - MercOfferRetractedMsg
                      - MercOfferedNegotiationMsg
                      - MercenaryDenAttacked
                      - MercenaryDenNewMTO
                      - MercenaryDenReinforced
                      - MissionCanceledTriglavian
                      - MissionOfferExpirationMsg
                      - MissionTimeoutMsg
                      - MoonminingAutomaticFracture
                      - MoonminingExtractionCancelled
                      - MoonminingExtractionFinished
                      - MoonminingExtractionStarted
                      - MoonminingLaserFired
                      - MutualWarExpired
                      - MutualWarInviteAccepted
                      - MutualWarInviteRejected
                      - MutualWarInviteSent
                      - NPCStandingsGained
                      - NPCStandingsLost
                      - OfferToAllyRetracted
                      - OfferedSurrender
                      - OfferedToAlly
                      - OfficeLeaseCanceledInsufficientStandings
                      - OldLscMessages
                      - OperationFinished
                      - OrbitalAttacked
                      - OrbitalReinforced
                      - OwnershipTransferred
                      - RaffleCreated
                      - RaffleExpired
                      - RaffleFinished
                      - ReimbursementMsg
                      - ResearchMissionAvailableMsg
                      - RetractsWar
                      - SPAutoRedeemed
                      - SeasonalChallengeCompleted
                      - SkinSequencingCompleted
                      - SkyhookDeployed
                      - SkyhookDestroyed
                      - SkyhookLostShields
                      - SkyhookOnline
                      - SkyhookUnderAttack
                      - SovAllClaimAquiredMsg
                      - SovAllClaimLostMsg
                      - SovCommandNodeEventStarted
                      - SovCorpBillLateMsg
                      - SovCorpClaimFailMsg
                      - SovDisruptorMsg
                      - SovStationEnteredFreeport
                      - SovStructureDestroyed
                      - SovStructureReinforced
                      - SovStructureSelfDestructCancel
                      - SovStructureSelfDestructFinished
                      - SovStructureSelfDestructRequested
                      - SovereigntyIHDamageMsg
                      - SovereigntySBUDamageMsg
                      - SovereigntyTCUDamageMsg
                      - StationAggressionMsg1
                      - StationAggressionMsg2
                      - StationConquerMsg
                      - StationServiceDisabled
                      - StationServiceEnabled
                      - StationStateChangeMsg
                      - StoryLineMissionAvailableMsg
                      - StructureAnchoring
                      - StructureCourierContractChanged
                      - StructureDestroyed
                      - StructureFuelAlert
                      - StructureImpendingAbandonmentAssetsAtRisk
                      - StructureItemsDelivered
                      - StructureItemsMovedToSafety
                      - StructureLostArmor
                      - StructureLostShields
                      - StructureLowReagentsAlert
                      - StructureNoReagentsAlert
                      - StructureOnline
                      - StructurePaintPurchased
                      - StructureServicesOffline
                      - StructureUnanchoring
                      - StructureUnderAttack
                      - StructureWentHighPower
                      - StructureWentLowPower
                      - StructuresJobsCancelled
                      - StructuresJobsPaused
                      - StructuresReinforcementChanged
                      - TowerAlertMsg
                      - TowerResourceAlertMsg
                      - TransactionReversalMsg
                      - TutorialMsg
                      - 'WarAdopted '
                      - WarAllyInherited
                      - WarAllyOfferDeclinedMsg
                      - WarConcordInvalidates
                      - WarDeclared
                      - WarEndedHqSecurityDrop
                      - WarHQRemovedFromSpace
                      - WarInherited
                      - WarInvalid
                      - WarRetracted
                      - WarRetractedByConcord
                      - WarSurrenderDeclinedMsg
                      - WarSurrenderOfferMsg
                      title: get_characters_character_id_notifications_type
                      type: string
                  required:
                  - notification_id
                  - type
                  - sender_id
                  - sender_type
                  - timestamp
                  title: get_characters_character_id_notifications_200_ok
                  type: object
                maxItems: 500
                title: get_characters_character_id_notifications_ok
                type: array
              examples:
                response:
                  value:
                  - is_read: true
                    notification_id: 1
                    sender_id: 1000132
                    sender_type: corporation
                    text: 'amount: 3731016.4000000004\nitemID: 1024881021663\npayout: 1\n'
                    timestamp: 2017-08-16 10:08:00+00:00
                    type: InsurancePayoutMsg
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-characters.read_notifications.v1
      summary: EVE Online Get Character Notifications
      tags:
      - Character
      x-alternate-versions:
      - dev
      - legacy
      - v4
      - v5
      - v6
      x-cached-seconds: 600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /characters/{character_id}/notifications/contacts/:
    get:
      description: 'Return notifications about having been added to someone''s contact list


        ---

        Alternate route: `/dev/characters/{character_id}/notifications/contacts/`


        Alternate route: `/legacy/characters/{character_id}/notifications/contacts/`


        Alternate route: `/v1/characters/{character_id}/notifications/contacts/`


        Alternate route: `/v2/characters/{character_id}/notifications/contacts/`


        ---

        This route is cached for up to 600 seconds'
      operationId: get_characters_character_id_notifications_contacts
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of contact notifications
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    message:
                      description: message string
                      title: get_characters_character_id_notifications_contacts_message
                      type: string
                    notification_id:
                      description: notification_id integer
                      format: int64
                      title: get_characters_character_id_notifications_contacts_notification_id
                      type: integer
                    send_date:
                      description: send_date string
                      format: date-time
                      title: get_characters_character_id_notifications_contacts_send_date
                      type: string
                    sender_character_id:
                      description: sender_character_id integer
                      format: int32
                      title: get_characters_character_id_notifications_contacts_sender_character_id
                      type: integer
                    standing_level:
                      description: 'A number representing the standing level the receiver has been added at by the sender. The standing levels are as follows: -10 -> Terrible | -5 -> Bad |  0 -> Neutral |  5 -> Good |  10 -> Excellent'
                      format: float
                      title: get_characters_character_id_notifications_contacts_standing_level
                      type: number
                  required:
                  - notification_id
                  - send_date
                  - standing_level
                  - message
                  - sender_character_id
                  title: get_characters_character_id_notifications_contacts_200_ok
                  type: object
                maxItems: 50
                title: get_characters_character_id_notifications_contacts_ok
                type: array
              examples:
                response:
                  value:
                  - message: hello friend :3
                    notification_id: 1
                    send_date: 2017-08-16 10:08:00+00:00
                    sender_character_id: 95465499
                    standing_level: 1.5
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-characters.read_notifications.v1
      summary: EVE Online Get New Contact Notifications
      tags:
      - Character
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /characters/{character_id}/portrait/:
    get:
      description: 'Get portrait urls for a character


        ---

        Alternate route: `/dev/characters/{character_id}/portrait/`


        Alternate route: `/v2/characters/{character_id}/portrait/`


        Alternate route: `/v3/characters/{character_id}/portrait/`


        ---

        This route expires daily at 11:05'
      operationId: get_characters_character_id_portrait
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: Public data for the given character
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  px128x128:
                    description: px128x128 string
                    title: get_characters_character_id_portrait_px128x128
                    type: string
                  px256x256:
                    description: px256x256 string
                    title: get_characters_character_id_portrait_px256x256
                    type: string
                  px512x512:
                    description: px512x512 string
                    title: get_characters_character_id_portrait_px512x512
                    type: string
                  px64x64:
                    description: px64x64 string
                    title: get_characters_character_id_portrait_px64x64
                    type: string
                title: get_characters_character_id_portrait_ok
                type: object
              examples:
                response:
                  value:
                    px128x128: https://images.evetech.net/characters/95465499/portrait?tenant=tranquility&size=128
                    px256x256: https://images.evetech.net/characters/95465499/portrait?tenant=tranquility&size=256
                    px512x512: https://images.evetech.net/characters/95465499/portrait?tenant=tranquility&size=512
                    px64x64: https://images.evetech.net/characters/95465499/portrait?tenant=tranquility&size=64
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '404':
          description: No image server for this datasource
          content:
            application/json:
              schema:
                description: No image server for this datasource
                properties:
                  error:
                    description: error message
                    title: get_characters_character_id_portrait_error
                    type: string
                title: get_characters_character_id_portrait_not_found
                type: object
              examples:
                response:
                  value:
                    error: No image server for this datasource
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Character Portraits
      tags:
      - Character
      x-alternate-versions:
      - dev
      - v2
      - v3
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /characters/{character_id}/roles/:
    get:
      description: 'Returns a character''s corporation roles


        ---

        Alternate route: `/dev/characters/{character_id}/roles/`


        Alternate route: `/legacy/characters/{character_id}/roles/`


        Alternate route: `/v2/characters/{character_id}/roles/`


        Alternate route: `/v3/characters/{character_id}/roles/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_characters_character_id_roles
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: The character's roles in thier corporation
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  roles:
                    description: roles array
                    items:
                      description: role string
                      enum:
                      - Account_Take_1
                      - Account_Take_2
                      - Account_Take_3
                      - Account_Take_4
                      - Account_Take_5
                      - Account_Take_6
                      - Account_Take_7
                      - Accountant
                      - Auditor
                      - Brand_Manager
                      - Communications_Officer
                      - Config_Equipment
                      - Config_Starbase_Equipment
                      - Container_Take_1
                      - Container_Take_2
                      - Container_Take_3
                      - Container_Take_4
                      - Container_Take_5
                      - Container_Take_6
                      - Container_Take_7
                      - Contract_Manager
                      - Deliveries_Container_Take
                      - Deliveries_Query
                      - Deliveries_Take
                      - Diplomat
                      - Director
                      - Factory_Manager
                      - Fitting_Manager
                      - Hangar_Query_1
                      - Hangar_Query_2
                      - Hangar_Query_3
                      - Hangar_Query_4
                      - Hangar_Query_5
                      - Hangar_Query_6
                      - Hangar_Query_7
                      - Hangar_Take_1
                      - Hangar_Take_2
                      - Hangar_Take_3
                      - Hangar_Take_4
                      - Hangar_Take_5
                      - Hangar_Take_6
                      - Hangar_Take_7
                      - Junior_Accountant
                      - Personnel_Manager
                      - Project_Manager
                      - Rent_Factory_Facility
                      - Rent_Office
                      - Rent_Research_Facility
                      - Security_Officer
                      - Skill_Plan_Manager
                      - Starbase_Defense_Operator
                      - Starbase_Fuel_Technician
                      - Station_Manager
                      - Trader
                      title: get_characters_character_id_roles_role
                      type: string
                      uniqueItems: true
                    maxItems: 100
                    title: get_characters_character_id_roles_roles
                    type: array
                  roles_at_base:
                    description: roles_at_base array
                    items:
                      description: roles_at_base string
                      enum:
                      - Account_Take_1
                      - Account_Take_2
                      - Account_Take_3
                      - Account_Take_4
                      - Account_Take_5
                      - Account_Take_6
                      - Account_Take_7
                      - Accountant
                      - Auditor
                      - Brand_Manager
                      - Communications_Officer
                      - Config_Equipment
                      - Config_Starbase_Equipment
                      - Container_Take_1
                      - Container_Take_2
                      - Container_Take_3
                      - Container_Take_4
                      - Container_Take_5
                      - Container_Take_6
                      - Container_Take_7
                      - Contract_Manager
                      - Deliveries_Container_Take
                      - Deliveries_Query
                      - Deliveries_Take
                      - Diplomat
                      - Director
                      - Factory_Manager
                      - Fitting_Manager
                      - Hangar_Query_1
                      - Hangar_Query_2
                      - Hangar_Query_3
                      - Hangar_Query_4
                      - Hangar_Query_5
                      - Hangar_Query_6
                      - Hangar_Query_7
                      - Hangar_Take_1
                      - Hangar_Take_2
                      - Hangar_Take_3
                      - Hangar_Take_4
                      - Hangar_Take_5
                      - Hangar_Take_6
                      - Hangar_Take_7
                      - Junior_Accountant
                      - Personnel_Manager
                      - Project_Manager
                      - Rent_Factory_Facility
                      - Rent_Office
                      - Rent_Research_Facility
                      - Security_Officer
                      - Skill_Plan_Manager
                      - Starbase_Defense_Operator
                      - Starbase_Fuel_Technician
                      - Station_Manager
                      - Trader
                      title: get_characters_character_id_roles_roles_at_base_roles_at_base
                      type: string
                      uniqueItems: true
                    maxItems: 100
                    title: get_characters_character_id_roles_roles_at_base
                    type: array
                  roles_at_hq:
                    description: roles_at_hq array
                    items:
                      description: roles_at_hq string
                      enum:
                      - Account_Take_1
                      - Account_Take_2
                      - Account_Take_3
                      - Account_Take_4
                      - Account_Take_5
                      - Account_Take_6
                      - Account_Take_7
                      - Accountant
                      - Auditor
                      - Brand_Manager
                      - Communications_Officer
                      - Config_Equipment
                      - Config_Starbase_Equipment
                      - Container_Take_1
                      - Container_Take_2
                      - Container_Take_3
                      - Container_Take_4
                      - Container_Take_5
                      - Container_Take_6
                      - Container_Take_7
                      - Contract_Manager
                      - Deliveries_Container_Take
                      - Deliveries_Query
                      - Deliveries_Take
                      - Diplomat
                      - Director
                      - Factory_Manager
                      - Fitting_Manager
                      - Hangar_Query_1
                      - Hangar_Query_2
                      - Hangar_Query_3
                      - Hangar_Query_4
                      - Hangar_Query_5
                      - Hangar_Query_6
                      - Hangar_Query_7
                      - Hangar_Take_1
                      - Hangar_Take_2
                      - Hangar_Take_3
                      - Hangar_Take_4
                      - Hangar_Take_5
                      - Hangar_Take_6
                      - Hangar_Take_7
                      - Junior_Accountant
                      - Personnel_Manager
                      - Project_Manager
                      - Rent_Factory_Facility
                      - Rent_Office
                      - Rent_Research_Facility
                      - Security_Officer
                      - Skill_Plan_Manager
                      - Starbase_Defense_Operator
                      - Starbase_Fuel_Technician
                      - Station_Manager
                      - Trader
                      title: get_characters_character_id_roles_roles_at_hq_roles_at_hq
                      type: string
                      uniqueItems: true
                    maxItems: 100
                    title: get_characters_character_id_roles_roles_at_hq
                    type: array
                  roles_at_other:
                    description: roles_at_other array
                    items:
                      description: roles_at_other string
                      enum:
                      - Account_Take_1
                      - Account_Take_2
                      - Account_Take_3
                      - Account_Take_4
                      - Account_Take_5
                      - Account_Take_6
                      - Account_Take_7
                      - Accountant
                      - Auditor
                      - Brand_Manager
                      - Communications_Officer
                      - Config_Equipment
                      - Config_Starbase_Equipment
                      - Container_Take_1
                      - Container_Take_2
                      - Container_Take_3
                      - Container_Take_4
                      - Container_Take_5
                      - Container_Take_6
                      - Container_Take_7
                      - Contract_Manager
                      - Deliveries_Container_Take
                      - Deliveries_Query
                      - Deliveries_Take
                      - Diplomat
                      - Director
                      - Factory_Manager
                      - Fitting_Manager
                      - Hangar_Query_1
                      - Hangar_Query_2
                      - Hangar_Query_3
                      - Hangar_Query_4
                      - Hangar_Query_5
                      - Hangar_Query_6
                      - Hangar_Query_7
                      - Hangar_Take_1
                      - Hangar_Take_2
                      - Hangar_Take_3
                      - Hangar_Take_4
                      - Hangar_Take_5
                      - Hangar_Take_6
                      - Hangar_Take_7
[...]
