openapi: 3.2.0
info:
  title: Eve Online Planetary Interaction API
  version: '1.36'
  description: 'Operations tagged Planetary Interaction across 7 of this provider''s published API definitions: eve-online-openapi.yml, swagger.json, swagger_2.json, swagger_3.json, swagger_4.json, swagger_5.json, swagger_6.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://esi.evetech.net/latest
- url: https://esi.evetech.net
- url: https://esi.evetech.net/legacy
- url: https://esi.evetech.net/dev
tags:
- name: Planetary Interaction
paths:
  /characters/{character_id}/planets/:
    get:
      description: 'Returns a list of all planetary colonies owned by a character.


        ---

        Alternate route: `/dev/characters/{character_id}/planets/`


        Alternate route: `/legacy/characters/{character_id}/planets/`


        Alternate route: `/v1/characters/{character_id}/planets/`


        ---

        This route is cached for up to 600 seconds'
      operationId: get_characters_character_id_planets
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: List of colonies
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    last_update:
                      description: last_update string
                      format: date-time
                      title: get_characters_character_id_planets_last_update
                      type: string
                    num_pins:
                      description: num_pins integer
                      format: int32
                      minimum: 1
                      title: get_characters_character_id_planets_num_pins
                      type: integer
                    owner_id:
                      description: owner_id integer
                      format: int32
                      title: get_characters_character_id_planets_owner_id
                      type: integer
                    planet_id:
                      description: planet_id integer
                      format: int32
                      title: get_characters_character_id_planets_planet_id
                      type: integer
                    planet_type:
                      description: planet_type string
                      enum:
                      - temperate
                      - barren
                      - oceanic
                      - ice
                      - gas
                      - lava
                      - storm
                      - plasma
                      title: get_characters_character_id_planets_planet_type
                      type: string
                    solar_system_id:
                      description: solar_system_id integer
                      format: int32
                      title: get_characters_character_id_planets_solar_system_id
                      type: integer
                    upgrade_level:
                      description: upgrade_level integer
                      format: int32
                      maximum: 5
                      minimum: 0
                      title: get_characters_character_id_planets_upgrade_level
                      type: integer
                  required:
                  - solar_system_id
                  - planet_id
                  - planet_type
                  - owner_id
                  - last_update
                  - upgrade_level
                  - num_pins
                  title: get_characters_character_id_planets_200_ok
                  type: object
                maxItems: 10
                title: get_characters_character_id_planets_ok
                type: array
              examples:
                response:
                  value:
                  - last_update: 2016-11-28 16:42:51+00:00
                    num_pins: 1
                    owner_id: 90000001
                    planet_id: 40023691
                    planet_type: plasma
                    solar_system_id: 30000379
                    upgrade_level: 0
                  - last_update: 2016-11-28 16:41:54+00:00
                    num_pins: 1
                    owner_id: 90000001
                    planet_id: 40023697
                    planet_type: barren
                    solar_system_id: 30000379
                    upgrade_level: 0
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-planets.manage_planets.v1
      summary: EVE Online Get Colonies
      tags:
      - Planetary Interaction
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /characters/{character_id}/planets/{planet_id}/:
    get:
      description: 'Returns full details on the layout of a single planetary colony, including links, pins and routes. Note: Planetary information is only recalculated when the colony is viewed through the client. Information will not update until this criteria is met.


        ---

        Alternate route: `/dev/characters/{character_id}/planets/{planet_id}/`


        Alternate route: `/v3/characters/{character_id}/planets/{planet_id}/`

        '
      operationId: get_characters_character_id_planets_planet_id
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - description: Planet id of the target planet
        in: path
        name: planet_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Colony layout
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  links:
                    description: links array
                    items:
                      description: link object
                      properties:
                        destination_pin_id:
                          description: destination_pin_id integer
                          format: int64
                          title: get_characters_character_id_planets_planet_id_destination_pin_id
                          type: integer
                        link_level:
                          description: link_level integer
                          format: int32
                          maximum: 10
                          minimum: 0
                          title: get_characters_character_id_planets_planet_id_link_level
                          type: integer
                        source_pin_id:
                          description: source_pin_id integer
                          format: int64
                          title: get_characters_character_id_planets_planet_id_source_pin_id
                          type: integer
                      required:
                      - source_pin_id
                      - destination_pin_id
                      - link_level
                      title: get_characters_character_id_planets_planet_id_link
                      type: object
                    maxItems: 500
                    title: get_characters_character_id_planets_planet_id_links
                    type: array
                  pins:
                    description: pins array
                    items:
                      description: pin object
                      properties:
                        contents:
                          description: contents array
                          items:
                            description: content object
                            properties:
                              amount:
                                description: amount integer
                                format: int64
                                title: get_characters_character_id_planets_planet_id_amount
                                type: integer
                              type_id:
                                description: type_id integer
                                format: int32
                                title: get_characters_character_id_planets_planet_id_content_type_id
                                type: integer
                            required:
                            - type_id
                            - amount
                            title: get_characters_character_id_planets_planet_id_content
                            type: object
                          maxItems: 90
                          title: get_characters_character_id_planets_planet_id_contents
                          type: array
                        expiry_time:
                          description: expiry_time string
                          format: date-time
                          title: get_characters_character_id_planets_planet_id_expiry_time
                          type: string
                        extractor_details:
                          description: extractor_details object
                          properties:
                            cycle_time:
                              description: in seconds
                              format: int32
                              title: get_characters_character_id_planets_planet_id_cycle_time
                              type: integer
                            head_radius:
                              description: head_radius number
                              format: float
                              title: get_characters_character_id_planets_planet_id_head_radius
                              type: number
                            heads:
                              description: heads array
                              items:
                                description: head object
                                properties:
                                  head_id:
                                    description: head_id integer
                                    format: int32
                                    maximum: 9
                                    minimum: 0
                                    title: get_characters_character_id_planets_planet_id_head_id
                                    type: integer
                                  latitude:
                                    description: latitude number
                                    format: float
                                    title: get_characters_character_id_planets_planet_id_head_latitude
                                    type: number
                                  longitude:
                                    description: longitude number
                                    format: float
                                    title: get_characters_character_id_planets_planet_id_head_longitude
                                    type: number
                                required:
                                - head_id
                                - latitude
                                - longitude
                                title: get_characters_character_id_planets_planet_id_head
                                type: object
                              maxItems: 10
                              title: get_characters_character_id_planets_planet_id_heads
                              type: array
                            product_type_id:
                              description: product_type_id integer
                              format: int32
                              title: get_characters_character_id_planets_planet_id_product_type_id
                              type: integer
                            qty_per_cycle:
                              description: qty_per_cycle integer
                              format: int32
                              title: get_characters_character_id_planets_planet_id_qty_per_cycle
                              type: integer
                          required:
                          - heads
                          title: get_characters_character_id_planets_planet_id_extractor_details
                          type: object
                        factory_details:
                          description: factory_details object
                          properties:
                            schematic_id:
                              description: schematic_id integer
                              format: int32
                              title: get_characters_character_id_planets_planet_id_factory_details_schematic_id
                              type: integer
                          required:
                          - schematic_id
                          title: get_characters_character_id_planets_planet_id_factory_details
                          type: object
                        install_time:
                          description: install_time string
                          format: date-time
                          title: get_characters_character_id_planets_planet_id_install_time
                          type: string
                        last_cycle_start:
                          description: last_cycle_start string
                          format: date-time
                          title: get_characters_character_id_planets_planet_id_last_cycle_start
                          type: string
                        latitude:
                          description: latitude number
                          format: float
                          title: get_characters_character_id_planets_planet_id_latitude
                          type: number
                        longitude:
                          description: longitude number
                          format: float
                          title: get_characters_character_id_planets_planet_id_longitude
                          type: number
                        pin_id:
                          description: pin_id integer
                          format: int64
                          title: get_characters_character_id_planets_planet_id_pin_id
                          type: integer
                        schematic_id:
                          description: schematic_id integer
                          format: int32
                          title: get_characters_character_id_planets_planet_id_schematic_id
                          type: integer
                        type_id:
                          description: type_id integer
                          format: int32
                          title: get_characters_character_id_planets_planet_id_type_id
                          type: integer
                      required:
                      - pin_id
                      - type_id
                      - latitude
                      - longitude
                      title: get_characters_character_id_planets_planet_id_pin
                      type: object
                    maxItems: 100
                    title: get_characters_character_id_planets_planet_id_pins
                    type: array
                  routes:
                    description: routes array
                    items:
                      description: route object
                      properties:
                        content_type_id:
                          description: content_type_id integer
                          format: int32
                          title: get_characters_character_id_planets_planet_id_route_content_type_id
                          type: integer
                        destination_pin_id:
                          description: destination_pin_id integer
                          format: int64
                          title: get_characters_character_id_planets_planet_id_route_destination_pin_id
                          type: integer
                        quantity:
                          description: quantity number
                          format: float
                          title: get_characters_character_id_planets_planet_id_quantity
                          type: number
                        route_id:
                          description: route_id integer
                          format: int64
                          title: get_characters_character_id_planets_planet_id_route_id
                          type: integer
                        source_pin_id:
                          description: source_pin_id integer
                          format: int64
                          title: get_characters_character_id_planets_planet_id_route_source_pin_id
                          type: integer
                        waypoints:
                          description: list of pin ID waypoints
                          items:
                            description: waypoint integer
                            format: int64
                            title: get_characters_character_id_planets_planet_id_waypoint
                            type: integer
                          maxItems: 5
                          title: get_characters_character_id_planets_planet_id_waypoints
                          type: array
                      required:
                      - route_id
                      - source_pin_id
                      - destination_pin_id
                      - content_type_id
                      - quantity
                      title: get_characters_character_id_planets_planet_id_route
                      type: object
                    maxItems: 1000
                    title: get_characters_character_id_planets_planet_id_routes
                    type: array
                required:
                - links
                - pins
                - routes
                title: get_characters_character_id_planets_planet_id_ok
                type: object
              examples:
                response:
                  value:
                    links:
                    - destination_pin_id: 1000000017022
                      link_level: 0
                      source_pin_id: 1000000017021
                    pins:
                    - latitude: 1.55087844973
                      longitude: 0.717145933308
                      pin_id: 1000000017021
                      type_id: 2254
                    - latitude: 1.53360639935
                      longitude: 0.709775584394
                      pin_id: 1000000017022
                      type_id: 2256
                    routes:
                    - content_type_id: 2393
                      destination_pin_id: 1000000017030
                      quantity: 20
                      route_id: 4
                      source_pin_id: 1000000017029
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: Colony not found
          content:
            application/json:
              schema:
                description: Colony not found
                properties:
                  error:
                    description: error message
                    title: get_characters_character_id_planets_planet_id_error
                    type: string
                title: get_characters_character_id_planets_planet_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Colony not found
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-planets.manage_planets.v1
      summary: EVE Online Get Colony Layout
      tags:
      - Planetary Interaction
      x-alternate-versions:
      - dev
      - v3
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/customs_offices/:
    get:
      description: 'List customs offices owned by a corporation


        ---

        Alternate route: `/dev/corporations/{corporation_id}/customs_offices/`


        Alternate route: `/legacy/corporations/{corporation_id}/customs_offices/`


        Alternate route: `/v1/corporations/{corporation_id}/customs_offices/`


        ---

        This route is cached for up to 3600 seconds


        ---

        Requires one of the following EVE corporation role(s): Director

        '
      operationId: get_corporations_corporation_id_customs_offices
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of customs offices and their settings
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    alliance_tax_rate:
                      description: Only present if alliance access is allowed
                      format: float
                      title: get_corporations_corporation_id_customs_offices_alliance_tax_rate
                      type: number
                    allow_access_with_standings:
                      description: standing_level and any standing related tax rate only present when this is true
                      title: get_corporations_corporation_id_customs_offices_allow_access_with_standings
                      type: boolean
                    allow_alliance_access:
                      description: allow_alliance_access boolean
                      title: get_corporations_corporation_id_customs_offices_allow_alliance_access
                      type: boolean
                    bad_standing_tax_rate:
                      description: bad_standing_tax_rate number
                      format: float
                      title: get_corporations_corporation_id_customs_offices_bad_standing_tax_rate
                      type: number
                    corporation_tax_rate:
                      description: corporation_tax_rate number
                      format: float
                      title: get_corporations_corporation_id_customs_offices_corporation_tax_rate
                      type: number
                    excellent_standing_tax_rate:
                      description: Tax rate for entities with excellent level of standing, only present if this level is allowed, same for all other standing related tax rates
                      format: float
                      title: get_corporations_corporation_id_customs_offices_excellent_standing_tax_rate
                      type: number
                    good_standing_tax_rate:
                      description: good_standing_tax_rate number
                      format: float
                      title: get_corporations_corporation_id_customs_offices_good_standing_tax_rate
                      type: number
                    neutral_standing_tax_rate:
                      description: neutral_standing_tax_rate number
                      format: float
                      title: get_corporations_corporation_id_customs_offices_neutral_standing_tax_rate
                      type: number
                    office_id:
                      description: unique ID of this customs office
                      format: int64
                      title: get_corporations_corporation_id_customs_offices_office_id
                      type: integer
                    reinforce_exit_end:
                      description: reinforce_exit_end integer
                      format: int32
                      maximum: 23
                      minimum: 0
                      title: get_corporations_corporation_id_customs_offices_reinforce_exit_end
                      type: integer
                    reinforce_exit_start:
                      description: Together with reinforce_exit_end, marks a 2-hour period where this customs office could exit reinforcement mode during the day after initial attack
                      format: int32
                      maximum: 23
                      minimum: 0
                      title: get_corporations_corporation_id_customs_offices_reinforce_exit_start
                      type: integer
                    standing_level:
                      description: Access is allowed only for entities with this level of standing or better
                      enum:
                      - bad
                      - excellent
                      - good
                      - neutral
                      - terrible
                      title: get_corporations_corporation_id_customs_offices_standing_level
                      type: string
                    system_id:
                      description: ID of the solar system this customs office is located in
                      format: int32
                      title: get_corporations_corporation_id_customs_offices_system_id
                      type: integer
                    terrible_standing_tax_rate:
                      description: terrible_standing_tax_rate number
                      format: float
                      title: get_corporations_corporation_id_customs_offices_terrible_standing_tax_rate
                      type: number
                  required:
                  - office_id
                  - system_id
                  - reinforce_exit_start
                  - reinforce_exit_end
                  - allow_alliance_access
                  - allow_access_with_standings
                  title: get_corporations_corporation_id_customs_offices_200_ok
                  type: object
                maxItems: 1000
                title: get_corporations_corporation_id_customs_offices_ok
                type: array
              examples:
                response:
                  value:
                  - alliance_tax_rate: 0.1
                    allow_access_with_standings: true
                    allow_alliance_access: false
                    corporation_tax_rate: 0.02
                    excellent_standing_tax_rate: 0.05
                    good_standing_tax_rate: 0.2
                    neutral_standing_tax_rate: 0.5
                    office_id: 1000000014530
                    reinforce_exit_end: 1
                    reinforce_exit_start: 23
                    standing_level: neutral
                    system_id: 30003657
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-planets.read_customs_offices.v1
      summary: EVE Online List Corporation Customs Offices
      tags:
      - Planetary Interaction
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
      x-required-roles:
      - Director
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /universe/schematics/{schematic_id}/:
    get:
      description: 'Get information on a planetary factory schematic


        ---

        Alternate route: `/dev/universe/schematics/{schematic_id}/`


        Alternate route: `/legacy/universe/schematics/{schematic_id}/`


        Alternate route: `/v1/universe/schematics/{schematic_id}/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_universe_schematics_schematic_id
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - description: A PI schematic ID
        in: path
        name: schematic_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      responses:
        '200':
          description: Public data about a schematic
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  cycle_time:
                    description: Time in seconds to process a run
                    format: int32
                    title: get_universe_schematics_schematic_id_cycle_time
                    type: integer
                  schematic_name:
                    description: schematic_name string
                    title: get_universe_schematics_schematic_id_schematic_name
                    type: string
                required:
                - schematic_name
                - cycle_time
                title: get_universe_schematics_schematic_id_ok
                type: object
              examples:
                response:
                  value:
                    cycle_time: 1800
                    schematic_name: Bacteria
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '404':
          description: Schematic not found
          content:
            application/json:
              schema:
                description: Schematic not found
                properties:
                  error:
                    description: error message
                    title: get_universe_schematics_schematic_id_error
                    type: string
                title: get_universe_schematics_schematic_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Schematic not found
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Schematic Information
      tags:
      - Planetary Interaction
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /v1/characters/{character_id}/planets/:
    get:
      description: 'Returns a list of all planetary colonies owned by a character.


        ---


        This route is cached for up to 600 seconds'
      operationId: get_characters_character_id_planets
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: List of colonies
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    last_update:
                      description: last_update string
                      format: date-time
                      title: get_characters_character_id_planets_last_update
                      type: string
                    num_pins:
                      description: num_pins integer
                      format: int32
                      minimum: 1
                      title: get_characters_character_id_planets_num_pins
                      type: integer
                    owner_id:
                      description: owner_id integer
                      format: int32
                      title: get_characters_character_id_planets_owner_id
                      type: integer
                    planet_id:
                      description: planet_id integer
                      format: int32
                      title: get_characters_character_id_planets_planet_id
                      type: integer
                    planet_type:
                      description: planet_type string
                      enum:
                      - temperate
                      - barren
                      - oceanic
                      - ice
                      - gas
                      - lava
                      - storm
                      - plasma
                      title: get_characters_character_id_planets_planet_type
                      type: string
                    solar_system_id:
                      description: solar_system_id integer
                      format: int32
                      title: get_characters_character_id_planets_solar_system_id
                      type: integer
                    upgrade_level:
                      description: upgrade_level integer
                      format: int32
                      maximum: 5
                      minimum: 0
                      title: get_characters_character_id_planets_upgrade_level
                      type: integer
                  required:
                  - solar_system_id
                  - planet_id
                  - planet_type
                  - owner_id
                  - last_update
                  - upgrade_level
                  - num_pins
                  title: get_characters_character_id_planets_200_ok
                  type: object
                maxItems: 10
                title: get_characters_character_id_planets_ok
                type: array
              example:
              - last_update: '2016-11-28T16:42:51Z'
                num_pins: 1
                owner_id: 90000001
                planet_id: 40023691
                planet_type: plasma
                solar_system_id: 30000379
                upgrade_level: 0
              - last_update: '2016-11-28T16:41:54Z'
                num_pins: 1
                owner_id: 90000001
                planet_id: 40023697
                planet_type: barren
                solar_system_id: 30000379
                upgrade_level: 0
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-planets.manage_planets.v1
      summary: Get colonies
      tags:
      - Planetary Interaction
      x-alternate-versions:
      - latest
      - legacy
      - v1
      x-cached-seconds: 600
    servers:
    - url: https://esi.evetech.net
  /v1/corporations/{corporation_id}/customs_offices/:
    get:
      description: 'List customs offices owned by a corporation


        ---


        This route is cached for up to 3600 seconds


        ---

        Requires one of the following EVE corporation role(s): Director'
      operationId: get_corporations_corporation_id_customs_offices
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of customs offices and their settings
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    alliance_tax_rate:
                      description: Only present if alliance access is allowed
                      format: float
                      title: get_corporations_corporation_id_customs_offices_alliance_tax_rate
                      type: number
                    allow_access_with_standings:
                      description: standing_level and any standing related tax rate only present when this is true
                      title: get_corporations_corporation_id_customs_offices_allow_access_with_standings
                      type: boolean
                    allow_alliance_access:
                      description: allow_alliance_access boolean
                      title: get_corporations_corporation_id_customs_offices_allow_alliance_access
                      type: boolean
                    bad_standing_tax_rate:
                      description: bad_standing_tax_rate number
                      format: float
                      title: get_corporations_corporation_id_customs_offices_bad_standing_tax_rate
                      type: number
                    corporation_tax_rate:
                      description: corporation_tax_rate number
                      format: float
                      title: get_corporations_corporation_id_customs_offices_corporation_tax_rate
                      type: number
                    excellent_standing_tax_rate:
                      description: Tax rate for entities with excellent level of standing, only present if this level is allowed, same for all other standing related tax rates
                      format: float
                      title: get_corporations_corporation_id_customs_offices_excellent_standing_tax_rate
                      type: number
                    good_standing_tax_rate:
                      description: good_standing_tax_rate number
                      format: float
                      title: get_corporations_corporation_id_customs_offices_good_standing_tax_rate
                      type: number
                    neutral_standing_tax_rate:
                      description: neutral_standing_tax_rate number
                      format: float
                      title: get_corporations_corporation_id_customs_offices_neutral_standing_tax_rate
                      type: number
                    office_id:
                      description: unique ID of this customs office
                      format: int64
                      title: get_corporations_corporation_id_customs_offices_office_id
                      type: integer
                    reinforce_exit_end:
                      description: reinforce_exit_end integer
                      format: int32
                      maximum: 23
                      minimum: 0
                      title: get_corporations_corporation_id_customs_offices_reinforce_exit_end
                      type: integer
                    reinforce_exit_start:
                      description: Together with reinforce_exit_end, marks a 2-hour period where this customs office could exit reinforcement mode during the day after initial attack
                      format: int32
                      maximum: 23
                      minimum: 0
                      title: get_corporations_corporation_id_customs_offices_reinforce_exit_start
                      type: integer
                    standing_level:
                      description: Access is allowed only for entities with this level of standing or better
                      enum:
                      - bad
                      - excellent
                      - good
                      - neutral
                      - terrible
                      title: get_corporations_corporation_id_customs_offices_standing_level
                      type: string
                    system_id:
                      description: ID of the solar system this customs office is located in
                      format: int32
                      title: get_corporations_corporation_id_customs_offices_system_id
                      type: integer
                    terrible_standing_tax_rate:
                      description: terrible_standing_tax_rate number
                      format: float
                      title: get_corporations_corporation_id_customs_offices_terrible_standing_tax_rate
                      type: number
                  required:
                  - office_id
                  - system_id
                  - reinforce_exit_start
                  - reinforce_exit_end
                  - allow_alliance_access
                  - allow_access_with_standings
                  title: get_corporations_corporation_id_customs_offices_200_ok
                  type: object
                maxItems: 1000
                title: get_corporations_corporation_id_customs_offices_ok
                type: array
              example:
              - alliance_tax_rate: 0.1
                allow_access_with_standings: true
                allow_alliance_access: false
                corporation_tax_rate: 0.02
                excellent_standing_tax_rate: 0.05
                good_standing_tax_rate: 0.2
                neutral_standing_tax_rate: 0.5
                office_id: 1000000014530
                reinforce_exit_end: 1
                reinforce_exit_start: 23
                standing_level: neutral
                system_id: 30003657
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-planets.read_customs_offices.v1
      summary: List corporation customs offices
      tags:
      - Planetary Interaction
      x-alternate-versions:
      - latest
      - legacy
      - v1
      x-cached-seconds: 3600
      x-required-roles:
      - Director
    servers:
    - url: https://esi.evetech.net
  /v1/universe/schematics/{schematic_id}/:
    get:
      description: 'Get information on a planetary factory schematic


        ---


        This route is cached for up to 3600 seconds'
      operationId: get_universe_schematics_schematic_id
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - description: A PI schematic ID
        in: path
        name: schematic_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Public data about a schematic
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  cycle_time:
                    description: Time in seconds to process a run
                    format: int32
                    title: get_universe_schematics_schematic_id_cycle_time
                    type: integer
                  schematic_name:
                    description: schematic_name string
                    title: get_universe_schematics_schematic_id_schematic_name
                    type: string
                required:
                - schematic_name
                - cycle_time
                title: get_universe_schematics_schematic_id_ok
                type: object
              example:
                cycle_time: 1800
                schematic_name: Bacteria
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '404':
          description: Schematic not found
          content:
            application/json:
              schema:
                description: Schematic not found
                properties:
                  error:
                    description: error message
                    title: get_universe_schematics_schematic_id_error
                    type: string
                title: get_universe_schematics_schematic_id_not_found
                type: object
              example:
                error: Schematic not found
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      summary: Get schematic information
      tags:
      - Planetary Interaction
      x-alternate-versions:
      - latest
      - legacy
      - v1
      x-cached-seconds: 3600
    servers:
    - url: https://esi.evetech.net
  /v3/characters/{character_id}/planets/{planet_id}/:
    get:
      description: 'Returns full details on the layout of a single planetary colony, including links, pins and routes. Note: Planetary information is only recalculated when the colony is viewed through the client. Information will not update until this criteria is met.


        ---

        '
      operationId: get_characters_character_id_planets_planet_id
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - description: Planet id of the target planet
        in: path
        name: planet_id
        required: true
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Colony layout
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  links:
                    description: links array
                    items:
                      description: link object
                      properties:
                        destination_pin_id:
                          description: destination_pin_id integer
                          format: int64
                          title: get_characters_character_id_planets_planet_id_destination_pin_id
                          type: integer
                        link_level:
                          description: link_level integer
                          format: int32
                          maximum: 10
                          minimum: 0
                          title: get_characters_character_id_planets_planet_id_link_level
                          type: integer
                        source_pin_id:
                          description: source_pin_id integer
                          format: int64
                          title: get_characters_character_id_planets_planet_id_source_pin_id
                          type: integer
                      required:
                      - source_pin_id
                      - destination_pin_id
                      - link_level
                      title: get_characters_character_id_planets_planet_id_link
                      type: object
                    maxItems: 500
                    title: get_characters_character_id_planets_planet_id_links
                    type: array
                  pins:
                    description: pins array
                    items:
                      description: pin object
                      properties:
                        contents:
                          description: contents array
                          items:
                            description: content object
                            properties:
                              amount:
                                description: amount integer
                                format: int64
                                title: get_characters_character_id_planets_planet_id_amount
                                type: integer
                              type_id:
                                description: type_id integer
                                format: int32
                                title: get_characters_character_id_planets_planet_id_content_type_id
                                type: integer
                            required:
                            - type_id
                            - amount
                            title: get_characters_character_id_planets_planet_id_content
                            type: object
                          maxItems: 90
                          title: get_characters_character_id_planets_planet_id_contents
                          type: array
                        expiry_time:
                          description: expiry_time string
                          format: date-time
                          title: get_characters_character_id_planets_planet_id_expiry_time
                          type: string
                        extractor_details:
                          description: extractor_details object
                          properties:
                            cycle_time:
                              description: in seconds
                              format: int32
                              title: get_characters_character_id_planets_planet_id_cycle_time
                              type: integer
                            head_radius:
                              description: head_radius number
                              format: float
                              title: get_characters_character_id_planets_planet_id_head_radius
                              type: number
                            heads:
                              description: heads array
                              items:
                                description: head object
                                properties:
                                  head_id:
                                    description: head_id integer
                                    format: int32
                                    maximum: 9
                                    minimum: 0
                                    title: get_characters_character_id_planets_planet_id_head_id
                                    type: integer
                                  latitude:
                                    description: latitude number
                                    format: float
                                    title: get_characters_character_id_planets_planet_id_head_latitude
                                    type: number
                                  longitude:
                                    description: longitude number
                                    format: float
                                    title: get_characters_character_id_planets_planet_id_head_longitude
                                    type: number
                                required:
                                - head_id
                                - latitude
                                - longitude
                                title: get_characters_character_id_planets_planet_id_head
                                type: object
                              maxItems: 10
                              title: get_characters_character_id_planets_planet_id_heads
                              type: array
                            product_type_id:
                              description: product_type_id integer
                              format: int32
                              title: get_characters_character_id_planets_planet_id_product_type_id
                              type: integer
                            qty_per_cycle:
                              description: qty_per_cycle integer
                              format: int32
                              title: get_characters_character_id_planets_planet_id_qty_per_cycle
                              type: integer
                          required:
                          - heads
                          title: get_characters_character_id_planets_planet_id_extractor_details
                          type: object
                        factory_details:
                          description: factory_details object
                          properties:
                            schematic_id:
                              description: schematic_id integer
                              format: int32
                              title: get_characters_character_id_planets_planet_id_factory_details_schematic_id
                              type: integer
                          required:
                          - schematic_id
                          title: get_characters_character_id_planets_planet_id_factory_details
                          type: object
                        install_time:
                          description: install_time string
                          format: date-time
                          title: get_characters_character_id_planets_planet_id_install_time
                          type: string
                        last_cycle_start:
                          description: last_cycle_start string
                          format: date-time
                          title: get_characters_character_id_planets_planet_id_last_cycle_start
                          type: string
                        latitude:
                          description: latitude number
                          format: float
                          title: get_characters_character_id_planets_planet_id_latitude
                          type: number
                        longitude:
                          description: longitude number
                          format: float
                          title: get_characters_character_id_planets_planet_id_longitude
                          type: number
                        pin_id:
                          description: pin_id integer
                          format: int64
                          title: get_characters_character_id_planets_planet_id_pin_id
                          type: integer
                        schematic_id:
                          description: schematic_id integer
                          format: int32
                          title: get_characters_character_id_planets_planet_id_schematic_id
                          type: integer
                        type_id:
                          description: type_id integer
                          format: int32
                          title: get_characters_character_id_planets_planet_id_type_id
                          type: integer
                      required:
                      - pin_id
                      - type_id
                      - latitude
                      - longitude
                      title: get_characters_character_id_planets_planet_id_pin
                      type: object
                    maxItems: 100
                    title: get_characters_character_id_planets_planet_id_pins
                    type: array
                  routes:
                    description: routes array
                    items:
                      description: route object
                      properties:
                        content_type_id:
                          description: content_type_id integer
                          format: int32
                          title: get_characters_character_id_planets_planet_id_route_content_type_id
                          type: integer
                        destination_pin_id:
                          description: destination_pin_id integer
                          format: int64
                          title: get_characters_character_id_planets_planet_id_route_destination_pin_id
                          type: integer
                        quantity:
                          description: quantity number
                          format: float
                          title: get_characters_character_id_planets_planet_id_quantity
                          type: number
                        route_id:
                          description: route_id integer
                          format: int64
                          title: get_characters_character_id_planets_planet_id_route_id
                          type: integer
                        source_pin_id:
                          description: source_pin_id integer
                          format: int64
                          title: get_characters_character_id_planets_planet_id_route_source_pin_id
                          type: integer
                        waypoints:
                          description: list of pin ID waypoints
                          items:
                            description: waypoint integer
                            format: int64
                            title: get_characters_character_id_planets_planet_id_waypoint
                            type: integer
                          maxItems: 5
                          title: get_characters_character_id_planets_planet_id_waypoints
                          type: array
                      required:
                      - route_id
                      - source_pin_id
                      - destination_pin_id
                      - content_type_id
                      - quantity
                      title: get_characters_character_id_planets_planet_id_route
                      type: object
                    maxItems: 1000
                    title: get_characters_character_id_planets_planet_id_routes
                    type: array
                required:
                - links
                - pins
                - routes
                title: get_characters_character_id_planets_planet_id_ok
                type: object
              example:
                links:
                - destination_pin_id: 1000000017022
                  link_level: 0
                  source_pin_id: 1000000017021
                pins:
                - latitude: 1.55087844973
                  longitude: 0.717145933308
                  pin_id: 1000000017021
                  type_id: 2254
                - latitude: 1.53360639935
                  longitude: 0.709775584394
                  pin_id: 1000000017022
                  type_id: 2256
                routes:
                - content_type_id: 2393
                  destination_pin_id: 1000000017030
                  quantity: 20
                  route_id: 4
                  source_pin_id: 1000000017029
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '404':
          description: Colony not found
          content:
            application/json:
              schema:
                description: Colony not found
                properties:
                  error:
                    description: error message
                    title: get_characters_character_id_planets_planet_id_error
                    type: string
                title: get_characters_character_id_planets_planet_id_not_found
                type: object
              example:
                error: Colony not found
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-planets.manage_planets.v1
      summary: Get colony layout
      tags:
      - Planetary Interaction
      x-alternate-versions:
      - latest
      - v3
    servers:
    - url: https://esi.evetech.net
components:
  schemas:
    unauthorized:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
          example: example
      required:
      - error
      title: Unauthorized
      type: object
    service_unavailable:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
          example: example
      required:
      - error
      title: Service unavailable
      type: object
    error_limited:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
          example: example
      required:
      - error
      title: Error limited
      type: object
    bad_request:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
          example: example
      required:
      - error
      title: Bad request
      type: object
    internal_server_error:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
          example: example
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
          example: example
        timeout:
          description: number of seconds the request was given
          type: integer
          example: 1
      required:
      - error
      title: Gateway timeout
      type: object
    forbidden:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
          example: example
        sso_status:
          description: status code received from SSO
          type: integer
          example: 1
      required:
      - error
      title: Forbidden
      type: object
    unauthorized_2:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
      required:
      - error
      title: Unauthorized
      type: object
    service_unavailable_2:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_2:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_2:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_2:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_2:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    forbidden_2:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
        sso_status:
          description: status code received from SSO
          type: integer
      required:
      - error
      title: Forbidden
      type: object
    unauthorized_3:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
      required:
      - error
      title: Unauthorized
      type: object
    service_unavailable_3:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_3:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_3:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_3:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_3:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    forbidden_3:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
        sso_status:
          description: status code received from SSO
          type: integer
      required:
      - error
      title: Forbidden
      type: object
    unauthorized_4:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
      required:
      - error
      title: Unauthorized
      type: object
    service_unavailable_4:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_4:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_4:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_4:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_4:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    forbidden_4:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
        sso_status:
          description: status code received from SSO
          type: integer
      required:
      - error
      title: Forbidden
      type: object
    unauthorized_5:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
      required:
      - error
      title: Unauthorized
      type: object
    service_unavailable_5:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_5:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_5:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_5:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_5:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    forbidden_5:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
        sso_status:
          description: status code received from SSO
          type: integer
      required:
      - error
      title: Forbidden
      type: object
    unauthorized_6:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
      required:
      - error
      title: Unauthorized
      type: object
    service_unavailable_6:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_6:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_6:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_6:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_6:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    forbidden_6:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
        sso_status:
          description: status code received from SSO
          type: integer
      required:
      - error
      title: Forbidden
      type: object
    unauthorized_7:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
      required:
      - error
      title: Unauthorized
      type: object
    service_unavailable_7:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_7:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_7:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_7:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_7:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    forbidden_7:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
        sso_status:
          description: status code received from SSO
          type: integer
      required:
      - error
      title: Forbidden
      type: object
  parameters:
    character_id:
      description: An EVE character ID
      in: path
      name: character_id
      required: true
      schema:
        type: integer
        format: int32
        minimum: 1
    corporation_id:
      description: An EVE corporation ID
      in: path
      name: corporation_id
      required: true
      schema:
        type: integer
        format: int32
        minimum: 1
    page:
      description: Which page of results to return
      in: query
      name: page
      schema:
        type: integer
        format: int32
        minimum: 1
        default: 1
    token:
      description: Access token to use if unable to set a header
      in: query
      name: token
      schema:
        type: string
    If-None-Match:
      description: ETag from a previous request. A 304 will be returned if this matches the current ETag
      in: header
      name: If-None-Match
      schema:
        type: string
    datasource:
      description: The server name you would like data from
      in: query
      name: datasource
      schema:
        type: string
        enum:
        - tranquility
        default: tranquility
  securitySchemes:
    evesso:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.eveonline.com/v2/oauth/authorize
          scopes:
            esi-alliances.read_contacts.v1: EVE SSO scope esi-alliances.read_contacts.v1
            esi-assets.read_assets.v1: EVE SSO scope esi-assets.read_assets.v1
            esi-assets.read_corporation_assets.v1: EVE SSO scope esi-assets.read_corporation_assets.v1
            esi-calendar.read_calendar_events.v1: EVE SSO scope esi-calendar.read_calendar_events.v1
            esi-calendar.respond_calendar_events.v1: EVE SSO scope esi-calendar.respond_calendar_events.v1
            esi-characters.read_agents_research.v1: EVE SSO scope esi-characters.read_agents_research.v1
            esi-characters.read_blueprints.v1: EVE SSO scope esi-characters.read_blueprints.v1
            esi-characters.read_contacts.v1: EVE SSO scope esi-characters.read_contacts.v1
            esi-characters.read_corporation_roles.v1: EVE SSO scope esi-characters.read_corporation_roles.v1
            esi-characters.read_fatigue.v1: EVE SSO scope esi-characters.read_fatigue.v1
            esi-characters.read_fw_stats.v1: EVE SSO scope esi-characters.read_fw_stats.v1
            esi-characters.read_loyalty.v1: EVE SSO scope esi-characters.read_loyalty.v1
            esi-characters.read_medals.v1: EVE SSO scope esi-characters.read_medals.v1
            esi-characters.read_notifications.v1: EVE SSO scope esi-characters.read_notifications.v1
            esi-characters.read_standings.v1: EVE SSO scope esi-characters.read_standings.v1
            esi-characters.read_titles.v1: EVE SSO scope esi-characters.read_titles.v1
            esi-characters.write_contacts.v1: EVE SSO scope esi-characters.write_contacts.v1
            esi-clones.read_clones.v1: EVE SSO scope esi-clones.read_clones.v1
            esi-clones.read_implants.v1: EVE SSO scope esi-clones.read_implants.v1
            esi-contracts.read_character_contracts.v1: EVE SSO scope esi-contracts.read_character_contracts.v1
            esi-contracts.read_corporation_contracts.v1: EVE SSO scope esi-contracts.read_corporation_contracts.v1
            esi-corporations.read_blueprints.v1: EVE SSO scope esi-corporations.read_blueprints.v1
            esi-corporations.read_contacts.v1: EVE SSO scope esi-corporations.read_contacts.v1
            esi-corporations.read_container_logs.v1: EVE SSO scope esi-corporations.read_container_logs.v1
            esi-corporations.read_corporation_membership.v1: EVE SSO scope esi-corporations.read_corporation_membership.v1
            esi-corporations.read_divisions.v1: EVE SSO scope esi-corporations.read_divisions.v1
            esi-corporations.read_facilities.v1: EVE SSO scope esi-corporations.read_facilities.v1
            esi-corporations.read_fw_stats.v1: EVE SSO scope esi-corporations.read_fw_stats.v1
            esi-corporations.read_medals.v1: EVE SSO scope esi-corporations.read_medals.v1
            esi-corporations.read_standings.v1: EVE SSO scope esi-corporations.read_standings.v1
            esi-corporations.read_starbases.v1: EVE SSO scope esi-corporations.read_starbases.v1
            esi-corporations.read_structures.v1: EVE SSO scope esi-corporations.read_structures.v1
            esi-corporations.read_titles.v1: EVE SSO scope esi-corporations.read_titles.v1
            esi-corporations.track_members.v1: EVE SSO scope esi-corporations.track_members.v1
            esi-fittings.read_fittings.v1: EVE SSO scope esi-fittings.read_fittings.v1
            esi-fittings.write_fittings.v1: EVE SSO scope esi-fittings.write_fittings.v1
            esi-fleets.read_fleet.v1: EVE SSO scope esi-fleets.read_fleet.v1
            esi-fleets.write_fleet.v1: EVE SSO scope esi-fleets.write_fleet.v1
            esi-industry.read_character_jobs.v1: EVE SSO scope esi-industry.read_character_jobs.v1
            esi-industry.read_character_mining.v1: EVE SSO scope esi-industry.read_character_mining.v1
            esi-industry.read_corporation_jobs.v1: EVE SSO scope esi-industry.read_corporation_jobs.v1
            esi-industry.read_corporation_mining.v1: EVE SSO scope esi-industry.read_corporation_mining.v1
            esi-killmails.read_corporation_killmails.v1: EVE SSO scope esi-killmails.read_corporation_killmails.v1
            esi-killmails.read_killmails.v1: EVE SSO scope esi-killmails.read_killmails.v1
            esi-location.read_location.v1: EVE SSO scope esi-location.read_location.v1
            esi-location.read_online.v1: EVE SSO scope esi-location.read_online.v1
            esi-location.read_ship_type.v1: EVE SSO scope esi-location.read_ship_type.v1
            esi-mail.organize_mail.v1: EVE SSO scope esi-mail.organize_mail.v1
            esi-mail.read_mail.v1: EVE SSO scope esi-mail.read_mail.v1
            esi-mail.send_mail.v1: EVE SSO scope esi-mail.send_mail.v1
            esi-markets.read_character_orders.v1: EVE SSO scope esi-markets.read_character_orders.v1
            esi-markets.read_corporation_orders.v1: EVE SSO scope esi-markets.read_corporation_orders.v1
            esi-markets.structure_markets.v1: EVE SSO scope esi-markets.structure_markets.v1
            esi-planets.manage_planets.v1: EVE SSO scope esi-planets.manage_planets.v1
            esi-planets.read_customs_offices.v1: EVE SSO scope esi-planets.read_customs_offices.v1
            esi-search.search_structures.v1: EVE SSO scope esi-search.search_structures.v1
            esi-skills.read_skillqueue.v1: EVE SSO scope esi-skills.read_skillqueue.v1
            esi-skills.read_skills.v1: EVE SSO scope esi-skills.read_skills.v1
[...]
