openapi: 3.0.0
info:
  description: An OpenAPI for EVE Online
  title: EVE Swagger Interface Alliance Fleets API
  version: '1.36'
servers:
- url: https://esi.evetech.net/latest
tags:
- name: Fleets
paths:
  /characters/{character_id}/fleet/:
    get:
      description: 'Return the fleet ID the character is in, if any.


        ---

        Alternate route: `/dev/characters/{character_id}/fleet/`


        Alternate route: `/legacy/characters/{character_id}/fleet/`


        Alternate route: `/v1/characters/{character_id}/fleet/`


        Alternate route: `/v2/characters/{character_id}/fleet/`


        ---

        This route is cached for up to 60 seconds'
      operationId: get_characters_character_id_fleet
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Details about the character's fleet
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  fleet_boss_id:
                    description: Character ID of the current fleet boss
                    format: int64
                    title: get_characters_character_id_fleet_fleet_boss_id
                    type: integer
                  fleet_id:
                    description: The character's current fleet ID
                    format: int64
                    title: get_characters_character_id_fleet_fleet_id
                    type: integer
                  role:
                    description: Member’s role in fleet
                    enum:
                    - fleet_commander
                    - squad_commander
                    - squad_member
                    - wing_commander
                    title: get_characters_character_id_fleet_role
                    type: string
                  squad_id:
                    description: ID of the squad the member is in. If not applicable, will be set to -1
                    format: int64
                    title: get_characters_character_id_fleet_squad_id
                    type: integer
                  wing_id:
                    description: ID of the wing the member is in. If not applicable, will be set to -1
                    format: int64
                    title: get_characters_character_id_fleet_wing_id
                    type: integer
                required:
                - fleet_id
                - wing_id
                - squad_id
                - role
                - fleet_boss_id
                title: get_characters_character_id_fleet_ok
                type: object
              examples:
                response:
                  value:
                    fleet_boss_id: 2112000001
                    fleet_id: 1234567890
                    role: fleet_commander
                    squad_id: -1
                    wing_id: -1
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: The character is not in a fleet
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_characters_character_id_fleet_404_not_found
                    type: string
                title: get_characters_character_id_fleet_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-fleets.read_fleet.v1
      summary: EVE Online Get Character Fleet Info
      tags:
      - Fleets
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-cached-seconds: 60
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /fleets/{fleet_id}/:
    get:
      description: 'Return details about a fleet


        ---

        Alternate route: `/dev/fleets/{fleet_id}/`


        Alternate route: `/legacy/fleets/{fleet_id}/`


        Alternate route: `/v1/fleets/{fleet_id}/`


        ---

        This route is cached for up to 5 seconds'
      operationId: get_fleets_fleet_id
      parameters:
      - $ref: '#/components/parameters/datasource'
      - description: ID for a fleet
        in: path
        name: fleet_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Details about a fleet
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  is_free_move:
                    description: Is free-move enabled
                    title: get_fleets_fleet_id_is_free_move
                    type: boolean
                  is_registered:
                    description: Does the fleet have an active fleet advertisement
                    title: get_fleets_fleet_id_is_registered
                    type: boolean
                  is_voice_enabled:
                    description: Is EVE Voice enabled
                    title: get_fleets_fleet_id_is_voice_enabled
                    type: boolean
                  motd:
                    description: Fleet MOTD in CCP flavoured HTML
                    title: get_fleets_fleet_id_motd
                    type: string
                required:
                - motd
                - is_free_move
                - is_registered
                - is_voice_enabled
                title: get_fleets_fleet_id_ok
                type: object
              examples:
                response:
                  value:
                    is_free_move: false
                    is_registered: false
                    is_voice_enabled: false
                    motd: This is an <b>awesome</b> fleet!
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: The fleet does not exist or you don't have access to it
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_fleets_fleet_id_404_not_found
                    type: string
                title: get_fleets_fleet_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-fleets.read_fleet.v1
      summary: EVE Online Get Fleet Information
      tags:
      - Fleets
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 5
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: 'Update settings about a fleet


        ---

        Alternate route: `/dev/fleets/{fleet_id}/`


        Alternate route: `/legacy/fleets/{fleet_id}/`


        Alternate route: `/v1/fleets/{fleet_id}/`

        '
      operationId: put_fleets_fleet_id
      parameters:
      - $ref: '#/components/parameters/datasource'
      - description: ID for a fleet
        in: path
        name: fleet_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      - $ref: '#/components/parameters/token'
      requestBody:
        content:
          application/json:
            schema:
              description: new_settings object
              properties:
                is_free_move:
                  description: Should free-move be enabled in the fleet
                  title: put_fleets_fleet_id_is_free_move
                  type: boolean
                motd:
                  description: New fleet MOTD in CCP flavoured HTML
                  title: put_fleets_fleet_id_motd
                  type: string
              title: put_fleets_fleet_id_new_settings
              type: object
            examples:
              PutFleetsFleetIdRequestExample:
                summary: Default put_fleets_fleet_id request
                x-microcks-default: true
                value:
                  is_free_move: false
                  motd: example
        description: What to update for this fleet
        required: true
      responses:
        '204':
          description: Fleet updated
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: The fleet does not exist or you don't have access to it
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: put_fleets_fleet_id_404_not_found
                    type: string
                title: put_fleets_fleet_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-fleets.write_fleet.v1
      summary: EVE Online Update Fleet
      tags:
      - Fleets
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /fleets/{fleet_id}/members/:
    get:
      description: 'Return information about fleet members


        ---

        Alternate route: `/dev/fleets/{fleet_id}/members/`


        Alternate route: `/legacy/fleets/{fleet_id}/members/`


        Alternate route: `/v1/fleets/{fleet_id}/members/`


        ---

        This route is cached for up to 5 seconds'
      operationId: get_fleets_fleet_id_members
      parameters:
      - $ref: '#/components/parameters/Accept-Language'
      - $ref: '#/components/parameters/datasource'
      - description: ID for a fleet
        in: path
        name: fleet_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/language'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of fleet members
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            Content-Language:
              description: The language used in the response
              schema:
                type: string
                enum:
                - en
                - de
                - fr
                - ja
                - ru
                - zh
                - ko
                - es
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    character_id:
                      description: character_id integer
                      format: int32
                      title: get_fleets_fleet_id_members_character_id
                      type: integer
                    join_time:
                      description: join_time string
                      format: date-time
                      title: get_fleets_fleet_id_members_join_time
                      type: string
                    role:
                      description: Member’s role in fleet
                      enum:
                      - fleet_commander
                      - wing_commander
                      - squad_commander
                      - squad_member
                      title: get_fleets_fleet_id_members_role
                      type: string
                    role_name:
                      description: Localized role names
                      title: get_fleets_fleet_id_members_role_name
                      type: string
                    ship_type_id:
                      description: ship_type_id integer
                      format: int32
                      title: get_fleets_fleet_id_members_ship_type_id
                      type: integer
                    solar_system_id:
                      description: Solar system the member is located in
                      format: int32
                      title: get_fleets_fleet_id_members_solar_system_id
                      type: integer
                    squad_id:
                      description: ID of the squad the member is in. If not applicable, will be set to -1
                      format: int64
                      title: get_fleets_fleet_id_members_squad_id
                      type: integer
                    station_id:
                      description: Station in which the member is docked in, if applicable
                      format: int64
                      title: get_fleets_fleet_id_members_station_id
                      type: integer
                    takes_fleet_warp:
                      description: Whether the member take fleet warps
                      title: get_fleets_fleet_id_members_takes_fleet_warp
                      type: boolean
                    wing_id:
                      description: ID of the wing the member is in. If not applicable, will be set to -1
                      format: int64
                      title: get_fleets_fleet_id_members_wing_id
                      type: integer
                  required:
                  - character_id
                  - ship_type_id
                  - wing_id
                  - squad_id
                  - role
                  - role_name
                  - join_time
                  - takes_fleet_warp
                  - solar_system_id
                  title: get_fleets_fleet_id_members_200_ok
                  type: object
                maxItems: 256
                title: get_fleets_fleet_id_members_ok
                type: array
              examples:
                response:
                  value:
                  - character_id: 93265215
                    join_time: 2016-04-29 12:34:56+00:00
                    role: squad_commander
                    role_name: Squad Commander (Boss)
                    ship_type_id: 33328
                    solar_system_id: 30003729
                    squad_id: 3129411261968
                    station_id: 61000180
                    takes_fleet_warp: true
                    wing_id: 2073711261968
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: The fleet does not exist or you don't have access to it
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_fleets_fleet_id_members_404_not_found
                    type: string
                title: get_fleets_fleet_id_members_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-fleets.read_fleet.v1
      summary: EVE Online Get Fleet Members
      tags:
      - Fleets
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 5
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: 'Invite a character into the fleet. If a character has a CSPA charge set it is not possible to invite them to the fleet using ESI


        ---

        Alternate route: `/dev/fleets/{fleet_id}/members/`


        Alternate route: `/legacy/fleets/{fleet_id}/members/`


        Alternate route: `/v1/fleets/{fleet_id}/members/`

        '
      operationId: post_fleets_fleet_id_members
      parameters:
      - $ref: '#/components/parameters/datasource'
      - description: ID for a fleet
        in: path
        name: fleet_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      - $ref: '#/components/parameters/token'
      requestBody:
        content:
          application/json:
            schema:
              description: invitation object
              properties:
                character_id:
                  description: The character you want to invite
                  format: int32
                  title: post_fleets_fleet_id_members_character_id
                  type: integer
                role:
                  description: If a character is invited with the `fleet_commander` role, neither `wing_id` or `squad_id` should be specified. If a character is invited with the `wing_commander` role, only `wing_id` should be specified. If a character is invited with the `squad_commander` role, both `wing_id` and `squad_id` should be specified. If a character is invited with the `squad_member` role, `wing_id` and `squad_id` should either both be specified or not specified at all. If they aren’t specified, the invited character will join any squad with available positions.
                  enum:
                  - fleet_commander
                  - wing_commander
                  - squad_commander
                  - squad_member
                  title: post_fleets_fleet_id_members_role
                  type: string
                squad_id:
                  description: squad_id integer
                  format: int64
                  minimum: 0
                  title: post_fleets_fleet_id_members_squad_id
                  type: integer
                wing_id:
                  description: wing_id integer
                  format: int64
                  minimum: 0
                  title: post_fleets_fleet_id_members_wing_id
                  type: integer
              required:
              - character_id
              - role
              title: post_fleets_fleet_id_members_invitation
              type: object
            examples:
              PostFleetsFleetIdMembersRequestExample:
                summary: Default post_fleets_fleet_id_members request
                x-microcks-default: true
                value:
                  character_id: 1689391488
                  role: fleet_commander
                  squad_id: 1001
                  wing_id: 1001
        description: Details of the invitation
        required: true
      responses:
        '204':
          description: Fleet invitation sent
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: The fleet does not exist or you don't have access to it
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: post_fleets_fleet_id_members_404_not_found
                    type: string
                title: post_fleets_fleet_id_members_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '422':
          description: Errors in invitation
          content:
            application/json:
              schema:
                description: 422 unprocessable entity object
                properties:
                  error:
                    description: error message
                    title: post_fleets_fleet_id_members_error
                    type: string
                title: post_fleets_fleet_id_members_unprocessable_entity
                type: object
              examples:
                response:
                  value:
                    error: missing wing_id
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-fleets.write_fleet.v1
      summary: EVE Online Create Fleet Invitation
      tags:
      - Fleets
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /fleets/{fleet_id}/members/{member_id}/:
    delete:
      description: 'Kick a fleet member


        ---

        Alternate route: `/dev/fleets/{fleet_id}/members/{member_id}/`


        Alternate route: `/legacy/fleets/{fleet_id}/members/{member_id}/`


        Alternate route: `/v1/fleets/{fleet_id}/members/{member_id}/`

        '
      operationId: delete_fleets_fleet_id_members_member_id
      parameters:
      - $ref: '#/components/parameters/datasource'
      - description: ID for a fleet
        in: path
        name: fleet_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      - description: The character ID of a member in this fleet
        in: path
        name: member_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      - $ref: '#/components/parameters/token'
      responses:
        '204':
          description: Fleet member kicked
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: The fleet does not exist or you don't have access to it
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: delete_fleets_fleet_id_members_member_id_404_not_found
                    type: string
                title: delete_fleets_fleet_id_members_member_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-fleets.write_fleet.v1
      summary: EVE Online Kick Fleet Member
      tags:
      - Fleets
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: 'Move a fleet member around


        ---

        Alternate route: `/dev/fleets/{fleet_id}/members/{member_id}/`


        Alternate route: `/legacy/fleets/{fleet_id}/members/{member_id}/`


        Alternate route: `/v1/fleets/{fleet_id}/members/{member_id}/`

        '
      operationId: put_fleets_fleet_id_members_member_id
      parameters:
      - $ref: '#/components/parameters/datasource'
      - description: ID for a fleet
        in: path
        name: fleet_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      - description: The character ID of a member in this fleet
        in: path
        name: member_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      - $ref: '#/components/parameters/token'
      requestBody:
        content:
          application/json:
            schema:
              description: movement object
              properties:
                role:
                  description: If a character is moved to the `fleet_commander` role, neither `wing_id` or `squad_id` should be specified. If a character is moved to the `wing_commander` role, only `wing_id` should be specified. If a character is moved to the `squad_commander` role, both `wing_id` and `squad_id` should be specified. If a character is moved to the `squad_member` role, both `wing_id` and `squad_id` should be specified.
                  enum:
                  - fleet_commander
                  - wing_commander
                  - squad_commander
                  - squad_member
                  title: put_fleets_fleet_id_members_member_id_role
                  type: string
                squad_id:
                  description: squad_id integer
                  format: int64
                  minimum: 0
                  title: put_fleets_fleet_id_members_member_id_squad_id
                  type: integer
                wing_id:
                  description: wing_id integer
                  format: int64
                  minimum: 0
                  title: put_fleets_fleet_id_members_member_id_wing_id
                  type: integer
              required:
              - role
              title: put_fleets_fleet_id_members_member_id_movement
              type: object
            examples:
              PutFleetsFleetIdMembersMemberIdRequestExample:
                summary: Default put_fleets_fleet_id_members_member_id request
                x-microcks-default: true
                value:
                  role: fleet_commander
                  squad_id: 1001
                  wing_id: 1001
        description: Details of the invitation
        required: true
      responses:
        '204':
          description: Fleet invitation sent
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: The fleet does not exist or you don't have access to it
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: put_fleets_fleet_id_members_member_id_404_not_found
                    type: string
                title: put_fleets_fleet_id_members_member_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '422':
          description: Errors in invitation
          content:
            application/json:
              schema:
                description: 422 unprocessable entity object
                properties:
                  error:
                    description: error message
                    title: put_fleets_fleet_id_members_member_id_error
                    type: string
                title: put_fleets_fleet_id_members_member_id_unprocessable_entity
                type: object
              examples:
                response:
                  value:
                    error: missing wing_id
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-fleets.write_fleet.v1
      summary: EVE Online Move Fleet Member
      tags:
      - Fleets
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /fleets/{fleet_id}/squads/{squad_id}/:
    delete:
      description: 'Delete a fleet squad, only empty squads can be deleted


        ---

        Alternate route: `/dev/fleets/{fleet_id}/squads/{squad_id}/`


        Alternate route: `/legacy/fleets/{fleet_id}/squads/{squad_id}/`


        Alternate route: `/v1/fleets/{fleet_id}/squads/{squad_id}/`

        '
      operationId: delete_fleets_fleet_id_squads_squad_id
      parameters:
      - $ref: '#/components/parameters/datasource'
      - description: ID for a fleet
        in: path
        name: fleet_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      - description: The squad to delete
        in: path
        name: squad_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      - $ref: '#/components/parameters/token'
      responses:
        '204':
          description: Squad deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: The fleet does not exist or you don't have access to it
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: delete_fleets_fleet_id_squads_squad_id_404_not_found
                    type: string
                title: delete_fleets_fleet_id_squads_squad_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-fleets.write_fleet.v1
      summary: EVE Online Delete Fleet Squad
      tags:
      - Fleets
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: 'Rename a fleet squad


        ---

        Alternate route: `/dev/fleets/{fleet_id}/squads/{squad_id}/`


        Alternate route: `/legacy/fleets/{fleet_id}/squads/{squad_id}/`


        Alternate route: `/v1/fleets/{fleet_id}/squads/{squad_id}/`

        '
      operationId: put_fleets_fleet_id_squads_squad_id
      parameters:
      - $ref: '#/components/parameters/datasource'
      - description: ID for a fleet
        in: path
        name: fleet_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      - description: The squad to rename
        in: path
        name: squad_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      - $ref: '#/components/parameters/token'
      requestBody:
        content:
          application/json:
            schema:
              description: naming object
              properties:
                name:
                  description: name string
                  maxLength: 10
                  title: put_fleets_fleet_id_squads_squad_id_name
                  type: string
              required:
              - name
              title: put_fleets_fleet_id_squads_squad_id_naming
              type: object
            examples:
              PutFleetsFleetIdSquadsSquadIdRequestExample:
                summary: Default put_fleets_fleet_id_squads_squad_id request
                x-microcks-default: true
                value:
                  name: Example Name
        description: New name of the squad
        required: true
      responses:
        '204':
          description: Squad renamed
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: The fleet does not exist or you don't have access to it
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: put_fleets_fleet_id_squads_squad_id_404_not_found
                    type: string
                title: put_fleets_fleet_id_squads_squad_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-fleets.write_fleet.v1
      summary: EVE Online Rename Fleet Squad
      tags:
      - Fleets
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /fleets/{fleet_id}/wings/:
    get:
      description: 'Return information about wings in a fleet


        ---

        Alternate route: `/dev/fleets/{fleet_id}/wings/`


        Alternate route: `/legacy/fleets/{fleet_id}/wings/`


        Alternate route: `/v1/fleets/{fleet_id}/wings/`


        ---

        This route is cached for up to 5 seconds'
      operationId: get_fleets_fleet_id_wings
      parameters:
      - $ref: '#/components/parameters/Accept-Language'
      - $ref: '#/components/parameters/datasource'
      - description: ID for a fleet
        in: path
        name: fleet_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/language'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of fleet wings
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            Content-Language:
              description: The language used in the response
              schema:
                type: string
                enum:
                - en
                - de
                - fr
                - ja
                - ru
                - zh
                - ko
                - es
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    id:
                      description: id integer
                      format: int64
                      title: get_fleets_fleet_id_wings_id
                      type: integer
                    name:
                      description: name string
                      title: get_fleets_fleet_id_wings_name
                      type: string
                    squads:
                      description: squads array
                      items:
                        description: squad object
                        properties:
                          id:
                            description: id integer
                            format: int64
                            title: get_fleets_fleet_id_wings_squad_id
                            type: integer
                          name:
                            description: name string
                            title: get_fleets_fleet_id_wings_squad_name
                            type: string
                        required:
                        - name
                        - id
                        title: get_fleets_fleet_id_wings_squad
                        type: object
                      maxItems: 25
                      title: get_fleets_fleet_id_wings_squads
                      type: array
                  required:
                  - name
                  - id
                  - squads
                  title: get_fleets_fleet_id_wings_200_ok
                  type: object
                maxItems: 25
                title: get_fleets_fleet_id_wings_ok
                type: array
              examples:
                response:
                  value:
                  - id: 2073711261968
                    name: Wing 1
                    squads:
                    - id: 3129411261968
                      name: Squad 1
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: The fleet does not exist or you don't have access to it
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_fleets_fleet_id_wings_404_not_found
                    type: string
                title: get_fleets_fleet_id_wings_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-fleets.read_fleet.v1
      summary: EVE Online Get Fleet Wings
      tags:
      - Fleets
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 5
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      description: 'Create a new wing in a fleet


        ---

        Alternate route: `/dev/fleets/{fleet_id}/wings/`


        Alternate route: `/legacy/fleets/{fleet_id}/wings/`


        Alternate route: `/v1/fleets/{fleet_id}/wings/`

        '
      operationId: post_fleets_fleet_id_wings
      parameters:
      - $ref: '#/components/parameters/datasource'
      - description: ID for a fleet
        in: path
        name: fleet_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      - $ref: '#/components/parameters/token'
      responses:
        '201':
          description: Wing created
          content:
            application/json:
              schema:
                description: 201 created object
                properties:
                  wing_id:
                    description: The wing_id of the newly created wing
                    format: int64
                    title: post_fleets_fleet_id_wings_wing_id
                    type: integer
                required:
                - wing_id
                title: post_fleets_fleet_id_wings_created
                type: object
              examples:
                response:
                  value:
                    wing_id: 123
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: The fleet does not exist or you don't have access to it
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: post_fleets_fleet_id_wings_404_not_found
                    type: string
                title: post_fleets_fleet_id_wings_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-fleets.write_fleet.v1
      summary: EVE Online Create Fleet Wing
      tags:
      - Fleets
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /fleets/{fleet_id}/wings/{wing_id}/:
    delete:
      description: 'Delete a fleet wing, only empty wings can be deleted. The wing may contain squads, but the squads must be empty


        ---

        Alternate route: `/dev/fleets/{fleet_id}/wings/{wing_id}/`


        Alternate route: `/legacy/fleets/{fleet_id}/wings/{wing_id}/`


        Alternate route: `/v1/fleets/{fleet_id}/wings/{wing_id}/`

        '
      operationId: delete_fleets_fleet_id_wings_wing_id
      parameters:
      - $ref: '#/components/parameters/datasource'
      - description: ID for a fleet
        in: path
        name: fleet_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      - $ref: '#/components/parameters/token'
      - description: The wing to delete
        in: path
        name: wing_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      responses:
        '204':
          description: Wing deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: The fleet does not exist or you don't have access to it
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: delete_fleets_fleet_id_wings_wing_id_404_not_found
                    type: string
                title: delete_fleets_fleet_id_wings_wing_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-fleets.write_fleet.v1
      summary: EVE Online Delete Fleet Wing
      tags:
      - Fleets
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    put:
      description: 'Rename a fleet wing


        ---

        Alternate route: `/dev/fleets/{fleet_id}/wings/{wing_id}/`


        Alternate route: `/legacy/fleets/{fleet_id}/wings/{wing_id}/`


        Alternate route: `/v1/fleets/{fleet_id}/wings/{wing_id}/`

        '
      operationId: put_fleets_fleet_id_wings_wing_id
      parameters:
      - $ref: '#/components/parameters/datasource'
      - description: ID for a fleet
        in: path
        name: fleet_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      - $ref: '#/components/parameters/token'
      - description: The wing to rename
        in: path
        name: wing_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      requestBody:
        content:
          application/json:
            schema:
              description: naming object
              properties:
                name:
                  description: name string
                  maxLength: 10
                  title: put_fleets_fleet_id_wings_wing_id_name
                  type: string
              required:
              - name
              title: put_fleets_fleet_id_wings_wing_id_naming
              type: object
            examples:
              PutFleetsFleetIdWingsWingIdRequestExample:
                summary: Default put_fleets_fleet_id_wings_wing_id request
                x-microcks-default: true
                value:
                  name: Example Name
        description: New name of the wing
        required: true
      responses:
        '204':
          description: Wing renamed
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: The fleet does not exist or you don't have access to it
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: put_fleets_fleet_id_wings_wing_id_404_not_found
                    type: string
                title: put_fleets_fleet_id_wings_wing_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-fleets.write_fleet.v1
      summary: EVE Online Rename Fleet Wing
      tags:
      - Fleets
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /fleets/{fleet_id}/wings/{wing_id}/squads/:
    post:
      description: 'Create a new squad in a fleet


        ---

        Alternate route: `/dev/fleets/{fleet_id}/wings/{wing_id}/squads/`


        Alternate route: `/legacy/fleets/{fleet_id}/wings/{wing_id}/squads/`


        Alternate route: `/v1/fleets/{fleet_id}/wings/{wing_id}/squads/`

        '
      operationId: post_fleets_fleet_id_wings_wing_id_squads
      parameters:
      - $ref: '#/components/parameters/datasource'
      - description: ID for a fleet
        in: path
        name: fleet_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      - $ref: '#/components/parameters/token'
      - description: The wing_id to create squad in
        in: path
        name: wing_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      responses:
        '201':
          description: Squad created
          content:
            application/json:
              schema:
                description: 201 created object
                properties:
                  squad_id:
                    description: The squad_id of the newly created squad
                    format: int64
                    title: post_fleets_fleet_id_wings_wing_id_squads_squad_id
                    type: integer
                required:
                - squad_id
                title: post_fleets_fleet_id_wings_wing_id_squads_created
                type: object
              examples:
                response:
                  value:
                    squad_id: 123
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: The fleet does not exist or you don't have access to it
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: post_fleets_fleet_id_wings_wing_id_squads_404_not_found
                    type: string
                title: post_fleets_fleet_id_wings_wing_id_squads_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-fleets.write_fleet.v1
      summary: EVE Online Create Fleet Squad
      tags:
      - Fleets
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/characters/{character_id}/fleet/:
    get:
      description: 'Return the fleet ID the character is in, if any.


        ---


        This route is cached for up to 60 seconds'
      operationId: get_characters_character_id_fleet
      parameters:
      - $ref: '#/parameters/character_id'
      - $ref: '#/parameters/datasource'
      - $ref: '#/parameters/If-None-Match'
      - $ref: '#/parameters/token'
      responses:
        '200':
          description: Details about the character's fleet
          examples:
            application/json:
              fleet_boss_id: 2112000001
              fleet_id: 1234567890
              role: fleet_commander
              squad_id: -1
              wing_id: -1
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok object
            properties:
              fleet_boss_id:
                description: Character ID of the current fleet boss
                format: int64
                title: get_characters_character_id_fleet_fleet_boss_id
                type: integer
              fleet_id:
                description: The character's current fleet ID
                format: int64
                title: get_characters_character_id_fleet_fleet_id
                type: integer
              role:
                description: Member’s role in fleet
                enum:
                - fleet_commander
                - squad_commander
                - squad_member
                - wing_commander
                title: get_characters_character_id_fleet_role
                type: string
              squad_id:
                description: ID of the squad the member is in. If not applicable, will be set to -1
                format: int64
                title: get_characters_character_id_fleet_squad_id
                type: integer
              wing_id:
                description: ID of the wing the member is in. If not applicable, will be set to -1
                format: int64
                title: get_characters_character_id_fleet_wing_id
                type: integer
            required:
            - fleet_id
            - wing_id
            - squad_id
            - role
            - fleet_boss_id
            title: get_characters_character_id_fleet_ok
            type: object
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '401':
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: '#/definitions/unauthorized'
        '403':
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: '#/definitions/forbidden'
        '404':
          description: The character is not in a fleet
          examples:
            application/json:
              error: Not found message
          schema:
            description: Not found
            properties:
              error:
                description: Not found message
                title: get_characters_character_id_fleet_404_not_found
                type: string
            title: get_characters_character_id_fleet_not_found
            type: object
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
        '504':
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
      security:
      - evesso:
        - esi-fleets.read_fleet.v1
      summary: Get character fleet info
      tags:
      - Fleets
      x-alternate-versions:
      - latest
      - legacy
      - v1
      - v2
      x-cached-seconds: 60
  /v1/fleets/{fleet_id}/:
    get:
      description: 'Return details about a fleet


        ---


        This route is cached for up to 5 seconds'
      operationId: get_fleets_fleet_id
      parameters:
      - $ref: '#/parameters/datasource'
      - description: ID for a fleet
        format: int64
        in: path
        name: fleet_id
        required: true
        type: integer
      - $ref: '#/parameters/If-None-Match'
      - $ref: '#/parameters/token'
      responses:
        '200':
          description: Details about a fleet
          examples:
            application/json:
              is_free_move: false
              is_registered: false
              is_voice_enabled: false
              motd: This is an <b>awesome</b> fleet!
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok object
            properties:
              is_free_move:
                description: Is free-move enabled
                title: get_fleets_fleet_id_is_free_move
                type: boolean
              is_registered:
                description: Does the fleet have an active fleet advertisement
                title: get_fleets_fleet_id_is_registered
                type: boolean
              is_voice_enabled:
                description: Is EVE Voice enabled
                title: get_fleets_fleet_id_is_voice_enabled
                type: boolean
              motd:
                description: Fleet MOTD in CCP flavoured HTML
                title: get_fleets_fleet_id_motd
                type: string
            required:
            - motd
            - is_free_move
            - is_registered
            - is_voice_enabled
            title: get_fleets_fleet_id_ok
            type: object
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '401':
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: '#/definitions/unauthorized'
        '403':
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: '#/definitions/forbidden'
        '404':
          description: The fleet does not exist or you don't have access to it
          examples:
            application/json:
              error: Not found message
          schema:
            description: Not found
            properties:
              error:
                description: Not found message
                title: get_fleets_fleet_id_404_not_found
                type: string
            title: get_fleets_fleet_id_not_found
            type: object
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
        '504':
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
      security:
      - evesso:
        - esi-fleets.read_fleet.v1
      summary: Get fleet information
      tags:
      - Fleets
      x-alternate-versions:
      - latest
      - legacy
      - v1
      x-cached-seconds: 5
    put:
      description: 'Update settings about a fleet


        ---

        '
      operationId: put_fleets_fleet_id
      parameters:
      - $ref: '#/parameters/datasource'
      - description: ID for a fleet
        format: int64
        in: path
        name: fleet_id
        required: true
        type: integer
      - description: What to update for this fleet
        in: body
        name: new_settings
        required: true
        schema:
          description: new_settings object
          properties:
            is_free_move:
              description: Should free-move be enabled in the fleet
              title: put_fleets_fleet_id_is_free_move
              type: boolean
            motd:
              description: New fleet MOTD in CCP flavoured HTML
              title: put_fleets_fleet_id_motd
              type: string
          title: put_fleets_fleet_id_new_settings
          type: object
      - $ref: '#/parameters/token'
      responses:
        '204':
          description: Fleet updated
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '401':
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: '#/definitions/unauthorized'
        '403':
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: '#/definitions/forbidden'
        '404':
          description: The fleet does not exist or you don't have access to it
          examples:
            application/json:
              error: Not found message
          schema:
            description: Not found
            properties:
              error:
                description: Not found message
                title: put_fleets_fleet_id_404_not_found
                type: string
            title: put_fleets_fleet_id_not_found
            type: object
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
        '504':
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
      security:
      - evesso:
        - esi-fleets.write_fleet.v1
      summary: Update fleet
      tags:
      - Fleets
      x-alternate-versions:
      - latest
      - legacy
      - v1
  /v1/fleets/{fleet_id}/members/:
    get:
      description: 'Return information about fleet members


        ---


        This route is cached for up to 5 seconds'
      operationId: get_fleets_fleet_id_members
      parameters:
      - $ref: '#/parameters/Accept-Language'
      - $ref: '#/parameters/datasource'
      - description: ID for a fleet
        format: int64
        in: path
        name: fleet_id
        required: true
        type: integer
      - $ref: '#/parameters/If-None-Match'
      - $ref: '#/parameters/language'
      - $ref: '#/parameters/token'
      responses:
        '200':
          description: A list of fleet members
          examples:
            application/json:
            - character_id: 93265215
              join_time: '2016-04-29T12:34:56Z'
              role: squad_commander
              role_name: Squad Commander (Boss)
              ship_type_id: 33328
              solar_system_id: 30003729
              squad_id: 3129411261968
              station_id: 61000180
              takes_fleet_warp: true
              wing_id: 2073711261968
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            Content-Language:
              description: The language used in the response
              enum:
              - en
              - de
              - fr
              - ja
              - ru
              - zh
              - ko
              - es
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok array
            items:
              description: 200 ok object
              properties:
                character_id:
                  description: character_id integer
                  format: int32
                  title: get_fleets_fleet_id_members_character_id
                  type: integer
                join_time:
                  description: join_time string
                  format: date-time
                  title: get_fleets_fleet_id_members_join_time
                  type: string
                role:
                  description: Member’s role in fleet
                  enum:
                  - fleet_commander
                  - wing_commander
                  - squad_commander
                  - squad_member
                  title: get_fleets_fleet_id_members_role
                  type: string
                role_name:
                  description: Localized role names
                  title: get_fleets_fleet_id_members_role_name
                  type: string
                ship_type_id:
                  description: ship_type_id integer
                  format: int32
                  title: get_fleets_fleet_id_members_ship_type_id
                  type: integer
                solar_system_id:
                  description: Solar system the member is located in
                  format: int32
                  title: get_fleets_fleet_id_members_solar_system_id
                  type: integer
                squad_id:
                  description: ID of the squad the member is in. If not applicable, will be set to -1
                  format: int64
                  title: get_fleets_fleet_id_members_squad_id
                  type: integer
                station_id:
                  description: Station in which the member is docked in, if applicable
                  format: int64
                  title: get_fleets_fleet_id_members_station_id
                  type: integer
                takes_fleet_warp:
                  description: Whether the member take fleet warps
                  title: get_fleets_fleet_id_members_takes_fleet_warp
                  type: boolean
                wing_id:
                  description: ID of the wing the member is in. If not applicable, will be set to -1
                  format: int64
                  title: get_fleets_fleet_id_members_wing_id
                  type: integer
              required:
              - character_id
              - ship_type_id
              - wing_id
              - squad_id
              - role
              - role_name
              - join_time
              - takes_fleet_warp
              - solar_system_id
              title: get_fleets_fleet_id_members_200_ok
              type: object
            maxItems: 256
            title: get_fleets_fleet_id_members_ok
            type: array
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '401':
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: '#/definitions/unauthorized'
        '403':
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: '#/definitions/forbidden'
        '404':
          description: The fleet does not exist or you don't have access to it
          examples:
            application/json:
              error: Not found message
          schema:
            description: Not found
            properties:
              error:
                description: Not found message
                title: get_fleets_fleet_id_members_404_not_found
                type: string
            title: get_fleets_fleet_id_members_not_found
            type: object
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
[...]
