openapi: 3.0.0
info:
  description: An OpenAPI for EVE Online
  title: EVE Swagger Interface Alliance Search API
  version: '1.36'
servers:
- url: https://esi.evetech.net/latest
tags:
- name: Search
paths:
  /characters/{character_id}/search/:
    get:
      description: 'Search for entities that match a given sub-string.


        ---

        Alternate route: `/dev/characters/{character_id}/search/`


        Alternate route: `/legacy/characters/{character_id}/search/`


        Alternate route: `/v3/characters/{character_id}/search/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_characters_character_id_search
      parameters:
      - $ref: '#/components/parameters/Accept-Language'
      - description: Type of entities to search for
        in: query
        name: categories
        required: true
        style: form
        explode: false
        schema:
          type: array
          items:
            enum:
            - agent
            - alliance
            - character
            - constellation
            - corporation
            - faction
            - inventory_type
            - region
            - solar_system
            - station
            - structure
            type: string
          minItems: 1
          maxItems: 11
          uniqueItems: true
        example:
        - agent
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/language'
      - description: The string to search on
        in: query
        name: search
        required: true
        schema:
          type: string
          minLength: 3
        example: example
      - description: Whether the search should be a strict match
        in: query
        name: strict
        schema:
          type: boolean
          default: false
        example: false
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of search results
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            Content-Language:
              description: The language used in the response
              schema:
                type: string
                enum:
                - en
                - de
                - fr
                - ja
                - ru
                - zh
                - ko
                - es
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  agent:
                    description: agent array
                    items:
                      description: agent integer
                      format: int32
                      title: get_characters_character_id_search_agent_agent
                      type: integer
                    maxItems: 500
                    title: get_characters_character_id_search_agent
                    type: array
                  alliance:
                    description: alliance array
                    items:
                      description: alliance integer
                      format: int32
                      title: get_characters_character_id_search_alliance_alliance
                      type: integer
                    maxItems: 500
                    title: get_characters_character_id_search_alliance
                    type: array
                  character:
                    description: character array
                    items:
                      description: character integer
                      format: int32
                      title: get_characters_character_id_search_character_character
                      type: integer
                    maxItems: 500
                    title: get_characters_character_id_search_character
                    type: array
                  constellation:
                    description: constellation array
                    items:
                      description: constellation integer
                      format: int32
                      title: get_characters_character_id_search_constellation_constellation
                      type: integer
                    maxItems: 500
                    title: get_characters_character_id_search_constellation
                    type: array
                  corporation:
                    description: corporation array
                    items:
                      description: corporation integer
                      format: int32
                      title: get_characters_character_id_search_corporation_corporation
                      type: integer
                    maxItems: 500
                    title: get_characters_character_id_search_corporation
                    type: array
                  faction:
                    description: faction array
                    items:
                      description: faction integer
                      format: int32
                      title: get_characters_character_id_search_faction_faction
                      type: integer
                    maxItems: 500
                    title: get_characters_character_id_search_faction
                    type: array
                  inventory_type:
                    description: inventory_type array
                    items:
                      description: inventory_type integer
                      format: int32
                      title: get_characters_character_id_search_inventory_type_inventory_type
                      type: integer
                    maxItems: 500
                    title: get_characters_character_id_search_inventory_type
                    type: array
                  region:
                    description: region array
                    items:
                      description: region integer
                      format: int32
                      title: get_characters_character_id_search_region_region
                      type: integer
                    maxItems: 500
                    title: get_characters_character_id_search_region
                    type: array
                  solar_system:
                    description: solar_system array
                    items:
                      description: solar_system integer
                      format: int32
                      title: get_characters_character_id_search_solar_system_solar_system
                      type: integer
                    maxItems: 500
                    title: get_characters_character_id_search_solar_system
                    type: array
                  station:
                    description: station array
                    items:
                      description: station integer
                      format: int32
                      title: get_characters_character_id_search_station_station
                      type: integer
                    maxItems: 500
                    title: get_characters_character_id_search_station
                    type: array
                  structure:
                    description: structure array
                    items:
                      description: structure integer
                      format: int64
                      title: get_characters_character_id_search_structure_structure
                      type: integer
                    maxItems: 500
                    title: get_characters_character_id_search_structure
                    type: array
                title: get_characters_character_id_search_ok
                type: object
              examples:
                response:
                  value:
                    solar_system:
                    - 30002510
                    station:
                    - 60004588
                    - 60004594
                    - 60005725
                    - 60009106
                    - 60012721
                    - 60012724
                    - 60012727
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-search.search_structures.v1
      summary: EVE Online Search on a String
      tags:
      - Search
      x-alternate-versions:
      - dev
      - legacy
      - v3
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/characters/{character_id}/search/:
    get:
      description: 'Search for entities that match a given sub-string.


        ---


        This route is cached for up to 3600 seconds'
      operationId: get_characters_character_id_search
      parameters:
      - $ref: '#/parameters/Accept-Language'
      - description: Type of entities to search for
        in: query
        items:
          enum:
          - agent
          - alliance
          - character
          - constellation
          - corporation
          - faction
          - inventory_type
          - region
          - solar_system
          - station
          - structure
          type: string
        maxItems: 11
        minItems: 1
        name: categories
        required: true
        type: array
        uniqueItems: true
      - $ref: '#/parameters/character_id'
      - $ref: '#/parameters/datasource'
      - $ref: '#/parameters/If-None-Match'
      - $ref: '#/parameters/language'
      - description: The string to search on
        in: query
        minLength: 3
        name: search
        required: true
        type: string
      - default: false
        description: Whether the search should be a strict match
        in: query
        name: strict
        type: boolean
      - $ref: '#/parameters/token'
      responses:
        '200':
          description: A list of search results
          examples:
            application/json:
              solar_system:
              - 30002510
              station:
              - 60004588
              - 60004594
              - 60005725
              - 60009106
              - 60012721
              - 60012724
              - 60012727
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            Content-Language:
              description: The language used in the response
              enum:
              - en
              - de
              - fr
              - ja
              - ru
              - zh
              - ko
              - es
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok object
            properties:
              agent:
                description: agent array
                items:
                  description: agent integer
                  format: int32
                  title: get_characters_character_id_search_agent_agent
                  type: integer
                maxItems: 500
                title: get_characters_character_id_search_agent
                type: array
              alliance:
                description: alliance array
                items:
                  description: alliance integer
                  format: int32
                  title: get_characters_character_id_search_alliance_alliance
                  type: integer
                maxItems: 500
                title: get_characters_character_id_search_alliance
                type: array
              character:
                description: character array
                items:
                  description: character integer
                  format: int32
                  title: get_characters_character_id_search_character_character
                  type: integer
                maxItems: 500
                title: get_characters_character_id_search_character
                type: array
              constellation:
                description: constellation array
                items:
                  description: constellation integer
                  format: int32
                  title: get_characters_character_id_search_constellation_constellation
                  type: integer
                maxItems: 500
                title: get_characters_character_id_search_constellation
                type: array
              corporation:
                description: corporation array
                items:
                  description: corporation integer
                  format: int32
                  title: get_characters_character_id_search_corporation_corporation
                  type: integer
                maxItems: 500
                title: get_characters_character_id_search_corporation
                type: array
              faction:
                description: faction array
                items:
                  description: faction integer
                  format: int32
                  title: get_characters_character_id_search_faction_faction
                  type: integer
                maxItems: 500
                title: get_characters_character_id_search_faction
                type: array
              inventory_type:
                description: inventory_type array
                items:
                  description: inventory_type integer
                  format: int32
                  title: get_characters_character_id_search_inventory_type_inventory_type
                  type: integer
                maxItems: 500
                title: get_characters_character_id_search_inventory_type
                type: array
              region:
                description: region array
                items:
                  description: region integer
                  format: int32
                  title: get_characters_character_id_search_region_region
                  type: integer
                maxItems: 500
                title: get_characters_character_id_search_region
                type: array
              solar_system:
                description: solar_system array
                items:
                  description: solar_system integer
                  format: int32
                  title: get_characters_character_id_search_solar_system_solar_system
                  type: integer
                maxItems: 500
                title: get_characters_character_id_search_solar_system
                type: array
              station:
                description: station array
                items:
                  description: station integer
                  format: int32
                  title: get_characters_character_id_search_station_station
                  type: integer
                maxItems: 500
                title: get_characters_character_id_search_station
                type: array
              structure:
                description: structure array
                items:
                  description: structure integer
                  format: int64
                  title: get_characters_character_id_search_structure_structure
                  type: integer
                maxItems: 500
                title: get_characters_character_id_search_structure
                type: array
            title: get_characters_character_id_search_ok
            type: object
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '401':
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: '#/definitions/unauthorized'
        '403':
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: '#/definitions/forbidden'
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
        '504':
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
      security:
      - evesso:
        - esi-search.search_structures.v1
      summary: Search on a string
      tags:
      - Search
      x-alternate-versions:
      - latest
      - legacy
      - v3
      x-cached-seconds: 3600
components:
  schemas:
    internal_server_error:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
          example: example
      required:
      - error
      title: Internal server error
      type: object
    forbidden:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
          example: example
        sso_status:
          description: status code received from SSO
          type: integer
          example: 1
      required:
      - error
      title: Forbidden
      type: object
    service_unavailable:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
          example: example
      required:
      - error
      title: Service unavailable
      type: object
    bad_request:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
          example: example
      required:
      - error
      title: Bad request
      type: object
    unauthorized:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
          example: example
      required:
      - error
      title: Unauthorized
      type: object
    gateway_timeout:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
          example: example
        timeout:
          description: number of seconds the request was given
          type: integer
          example: 1
      required:
      - error
      title: Gateway timeout
      type: object
    error_limited:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
          example: example
      required:
      - error
      title: Error limited
      type: object
  parameters:
    language:
      description: Language to use in the response, takes precedence over Accept-Language
      in: query
      name: language
      schema:
        type: string
        enum:
        - en
        - en-us
        - de
        - fr
        - ja
        - ru
        - zh
        - ko
        - es
        default: en
    datasource:
      description: The server name you would like data from
      in: query
      name: datasource
      schema:
        type: string
        enum:
        - tranquility
        default: tranquility
    character_id:
      description: An EVE character ID
      in: path
      name: character_id
      required: true
      schema:
        type: integer
        format: int32
        minimum: 1
    Accept-Language:
      description: Language to use in the response
      in: header
      name: Accept-Language
      schema:
        type: string
        enum:
        - en
        - en-us
        - de
        - fr
        - ja
        - ru
        - zh
        - ko
        - es
        default: en
    token:
      description: Access token to use if unable to set a header
      in: query
      name: token
      schema:
        type: string
    If-None-Match:
      description: ETag from a previous request. A 304 will be returned if this matches the current ETag
      in: header
      name: If-None-Match
      schema:
        type: string
  securitySchemes:
    evesso:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.eveonline.com/v2/oauth/authorize
          scopes:
            esi-alliances.read_contacts.v1: EVE SSO scope esi-alliances.read_contacts.v1
            esi-assets.read_assets.v1: EVE SSO scope esi-assets.read_assets.v1
            esi-assets.read_corporation_assets.v1: EVE SSO scope esi-assets.read_corporation_assets.v1
            esi-calendar.read_calendar_events.v1: EVE SSO scope esi-calendar.read_calendar_events.v1
            esi-calendar.respond_calendar_events.v1: EVE SSO scope esi-calendar.respond_calendar_events.v1
            esi-characters.read_agents_research.v1: EVE SSO scope esi-characters.read_agents_research.v1
            esi-characters.read_blueprints.v1: EVE SSO scope esi-characters.read_blueprints.v1
            esi-characters.read_contacts.v1: EVE SSO scope esi-characters.read_contacts.v1
            esi-characters.read_corporation_roles.v1: EVE SSO scope esi-characters.read_corporation_roles.v1
            esi-characters.read_fatigue.v1: EVE SSO scope esi-characters.read_fatigue.v1
            esi-characters.read_fw_stats.v1: EVE SSO scope esi-characters.read_fw_stats.v1
            esi-characters.read_loyalty.v1: EVE SSO scope esi-characters.read_loyalty.v1
            esi-characters.read_medals.v1: EVE SSO scope esi-characters.read_medals.v1
            esi-characters.read_notifications.v1: EVE SSO scope esi-characters.read_notifications.v1
            esi-characters.read_standings.v1: EVE SSO scope esi-characters.read_standings.v1
            esi-characters.read_titles.v1: EVE SSO scope esi-characters.read_titles.v1
            esi-characters.write_contacts.v1: EVE SSO scope esi-characters.write_contacts.v1
            esi-clones.read_clones.v1: EVE SSO scope esi-clones.read_clones.v1
            esi-clones.read_implants.v1: EVE SSO scope esi-clones.read_implants.v1
            esi-contracts.read_character_contracts.v1: EVE SSO scope esi-contracts.read_character_contracts.v1
            esi-contracts.read_corporation_contracts.v1: EVE SSO scope esi-contracts.read_corporation_contracts.v1
            esi-corporations.read_blueprints.v1: EVE SSO scope esi-corporations.read_blueprints.v1
            esi-corporations.read_contacts.v1: EVE SSO scope esi-corporations.read_contacts.v1
            esi-corporations.read_container_logs.v1: EVE SSO scope esi-corporations.read_container_logs.v1
            esi-corporations.read_corporation_membership.v1: EVE SSO scope esi-corporations.read_corporation_membership.v1
            esi-corporations.read_divisions.v1: EVE SSO scope esi-corporations.read_divisions.v1
            esi-corporations.read_facilities.v1: EVE SSO scope esi-corporations.read_facilities.v1
            esi-corporations.read_fw_stats.v1: EVE SSO scope esi-corporations.read_fw_stats.v1
            esi-corporations.read_medals.v1: EVE SSO scope esi-corporations.read_medals.v1
            esi-corporations.read_standings.v1: EVE SSO scope esi-corporations.read_standings.v1
            esi-corporations.read_starbases.v1: EVE SSO scope esi-corporations.read_starbases.v1
            esi-corporations.read_structures.v1: EVE SSO scope esi-corporations.read_structures.v1
            esi-corporations.read_titles.v1: EVE SSO scope esi-corporations.read_titles.v1
            esi-corporations.track_members.v1: EVE SSO scope esi-corporations.track_members.v1
            esi-fittings.read_fittings.v1: EVE SSO scope esi-fittings.read_fittings.v1
            esi-fittings.write_fittings.v1: EVE SSO scope esi-fittings.write_fittings.v1
            esi-fleets.read_fleet.v1: EVE SSO scope esi-fleets.read_fleet.v1
            esi-fleets.write_fleet.v1: EVE SSO scope esi-fleets.write_fleet.v1
            esi-industry.read_character_jobs.v1: EVE SSO scope esi-industry.read_character_jobs.v1
            esi-industry.read_character_mining.v1: EVE SSO scope esi-industry.read_character_mining.v1
            esi-industry.read_corporation_jobs.v1: EVE SSO scope esi-industry.read_corporation_jobs.v1
            esi-industry.read_corporation_mining.v1: EVE SSO scope esi-industry.read_corporation_mining.v1
            esi-killmails.read_corporation_killmails.v1: EVE SSO scope esi-killmails.read_corporation_killmails.v1
            esi-killmails.read_killmails.v1: EVE SSO scope esi-killmails.read_killmails.v1
            esi-location.read_location.v1: EVE SSO scope esi-location.read_location.v1
            esi-location.read_online.v1: EVE SSO scope esi-location.read_online.v1
            esi-location.read_ship_type.v1: EVE SSO scope esi-location.read_ship_type.v1
            esi-mail.organize_mail.v1: EVE SSO scope esi-mail.organize_mail.v1
            esi-mail.read_mail.v1: EVE SSO scope esi-mail.read_mail.v1
            esi-mail.send_mail.v1: EVE SSO scope esi-mail.send_mail.v1
            esi-markets.read_character_orders.v1: EVE SSO scope esi-markets.read_character_orders.v1
            esi-markets.read_corporation_orders.v1: EVE SSO scope esi-markets.read_corporation_orders.v1
            esi-markets.structure_markets.v1: EVE SSO scope esi-markets.structure_markets.v1
            esi-planets.manage_planets.v1: EVE SSO scope esi-planets.manage_planets.v1
            esi-planets.read_customs_offices.v1: EVE SSO scope esi-planets.read_customs_offices.v1
            esi-search.search_structures.v1: EVE SSO scope esi-search.search_structures.v1
            esi-skills.read_skillqueue.v1: EVE SSO scope esi-skills.read_skillqueue.v1
            esi-skills.read_skills.v1: EVE SSO scope esi-skills.read_skills.v1
            esi-ui.open_window.v1: EVE SSO scope esi-ui.open_window.v1
            esi-ui.write_waypoint.v1: EVE SSO scope esi-ui.write_waypoint.v1
            esi-universe.read_structures.v1: EVE SSO scope esi-universe.read_structures.v1
            esi-wallet.read_character_wallet.v1: EVE SSO scope esi-wallet.read_character_wallet.v1
            esi-wallet.read_corporation_wallets.v1: EVE SSO scope esi-wallet.read_corporation_wallets.v1
definitions:
  internal_server_error:
    description: Internal server error model
    properties:
      error:
        description: Internal server error message
        type: string
    required:
    - error
    title: Internal server error
    type: object
  error_limited:
    description: Error limited model
    properties:
      error:
        description: Error limited message
        type: string
    required:
    - error
    title: Error limited
    type: object
  unauthorized:
    description: Unauthorized model
    properties:
      error:
        description: Unauthorized message
        type: string
    required:
    - error
    title: Unauthorized
    type: object
  service_unavailable:
    description: Service unavailable model
    properties:
      error:
        description: Service unavailable message
        type: string
    required:
    - error
    title: Service unavailable
    type: object
  forbidden:
    description: Forbidden model
    properties:
      error:
        description: Forbidden message
        type: string
      sso_status:
        description: status code received from SSO
        type: integer
    required:
    - error
    title: Forbidden
    type: object
  bad_request:
    description: Bad request model
    properties:
      error:
        description: Bad request message
        type: string
    required:
    - error
    title: Bad request
    type: object
  gateway_timeout:
    description: Gateway timeout model
    properties:
      error:
        description: Gateway timeout message
        type: string
      timeout:
        description: number of seconds the request was given
        type: integer
    required:
    - error
    title: Gateway timeout
    type: object
parameters:
  Accept-Language:
    default: en
    description: Language to use in the response
    enum:
    - en
    - en-us
    - de
    - fr
    - ja
    - ru
    - zh
    - ko
    - es
    in: header
    name: Accept-Language
    type: string
  token:
    description: Access token to use if unable to set a header
    in: query
    name: token
    type: string
  If-None-Match:
    description: ETag from a previous request. A 304 will be returned if this matches the current ETag
    in: header
    name: If-None-Match
    type: string
  datasource:
    default: tranquility
    description: The server name you would like data from
    enum:
    - tranquility
    in: query
    name: datasource
    type: string
  character_id:
    description: An EVE character ID
    format: int32
    in: path
    minimum: 1
    name: character_id
    required: true
    type: integer
  language:
    default: en
    description: Language to use in the response, takes precedence over Accept-Language
    enum:
    - en
    - en-us
    - de
    - fr
    - ja
    - ru
    - zh
    - ko
    - es
    in: query
    name: language
    type: string
