openapi: 3.2.0
info:
  title: Eve Online Dogma API
  version: '1.36'
  description: 'Operations tagged Dogma across 7 of this provider''s published API definitions: eve-online-openapi.yml, swagger.json, swagger_2.json, swagger_3.json, swagger_4.json, swagger_5.json, swagger_6.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://esi.evetech.net/latest
- url: https://esi.evetech.net
- url: https://esi.evetech.net/legacy
- url: https://esi.evetech.net/dev
tags:
- name: Dogma
paths:
  /dogma/attributes/:
    get:
      description: 'Get a list of dogma attribute ids


        ---

        Alternate route: `/dev/dogma/attributes/`


        Alternate route: `/legacy/dogma/attributes/`


        Alternate route: `/v1/dogma/attributes/`


        ---

        This route expires daily at 11:05'
      operationId: get_dogma_attributes
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: A list of dogma attribute ids
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok integer
                  format: int32
                  title: get_dogma_attributes_200_ok
                  type: integer
                maxItems: 10000
                title: get_dogma_attributes_ok
                type: array
              examples:
                response:
                  value:
                  - 1
                  - 2
                  - 3
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Attributes
      tags:
      - Dogma
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /dogma/attributes/{attribute_id}/:
    get:
      description: 'Get information on a dogma attribute


        ---

        Alternate route: `/dev/dogma/attributes/{attribute_id}/`


        Alternate route: `/legacy/dogma/attributes/{attribute_id}/`


        Alternate route: `/v1/dogma/attributes/{attribute_id}/`


        ---

        This route expires daily at 11:05'
      operationId: get_dogma_attributes_attribute_id
      parameters:
      - description: A dogma attribute ID
        in: path
        name: attribute_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: Information about a dogma attribute
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  attribute_id:
                    description: attribute_id integer
                    format: int32
                    title: get_dogma_attributes_attribute_id_attribute_id
                    type: integer
                  default_value:
                    description: default_value number
                    format: float
                    title: get_dogma_attributes_attribute_id_default_value
                    type: number
                  description:
                    description: description string
                    title: get_dogma_attributes_attribute_id_description
                    type: string
                  display_name:
                    description: display_name string
                    title: get_dogma_attributes_attribute_id_display_name
                    type: string
                  high_is_good:
                    description: high_is_good boolean
                    title: get_dogma_attributes_attribute_id_high_is_good
                    type: boolean
                  icon_id:
                    description: icon_id integer
                    format: int32
                    title: get_dogma_attributes_attribute_id_icon_id
                    type: integer
                  name:
                    description: name string
                    title: get_dogma_attributes_attribute_id_name
                    type: string
                  published:
                    description: published boolean
                    title: get_dogma_attributes_attribute_id_published
                    type: boolean
                  stackable:
                    description: stackable boolean
                    title: get_dogma_attributes_attribute_id_stackable
                    type: boolean
                  unit_id:
                    description: unit_id integer
                    format: int32
                    title: get_dogma_attributes_attribute_id_unit_id
                    type: integer
                required:
                - attribute_id
                title: get_dogma_attributes_attribute_id_ok
                type: object
              examples:
                response:
                  value:
                    attribute_id: 20
                    default_value: 1
                    description: Factor by which topspeed increases.
                    display_name: Maximum Velocity Bonus
                    high_is_good: true
                    icon_id: 1389
                    name: speedFactor
                    published: true
                    unit_id: 124
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '404':
          description: Dogma attribute not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_dogma_attributes_attribute_id_404_not_found
                    type: string
                title: get_dogma_attributes_attribute_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Attribute Information
      tags:
      - Dogma
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /dogma/dynamic/items/{type_id}/{item_id}/:
    get:
      description: 'Returns info about a dynamic item resulting from mutation with a mutaplasmid.


        ---

        Alternate route: `/dev/dogma/dynamic/items/{type_id}/{item_id}/`


        Alternate route: `/legacy/dogma/dynamic/items/{type_id}/{item_id}/`


        Alternate route: `/v1/dogma/dynamic/items/{type_id}/{item_id}/`


        ---

        This route expires daily at 11:05'
      operationId: get_dogma_dynamic_items_type_id_item_id
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - description: item_id integer
        in: path
        name: item_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      - description: type_id integer
        in: path
        name: type_id
        required: true
        schema:
          type: integer
          format: int32
        example: 587
      responses:
        '200':
          description: Details about a dynamic item
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  created_by:
                    description: The ID of the character who created the item
                    format: int32
                    title: get_dogma_dynamic_items_type_id_item_id_created_by
                    type: integer
                  dogma_attributes:
                    description: dogma_attributes array
                    items:
                      description: dogma_attribute object
                      properties:
                        attribute_id:
                          description: attribute_id integer
                          format: int32
                          title: get_dogma_dynamic_items_type_id_item_id_attribute_id
                          type: integer
                        value:
                          description: value number
                          format: float
                          title: get_dogma_dynamic_items_type_id_item_id_value
                          type: number
                      required:
                      - attribute_id
                      - value
                      title: get_dogma_dynamic_items_type_id_item_id_dogma_attribute
                      type: object
                    maxItems: 1000
                    title: get_dogma_dynamic_items_type_id_item_id_dogma_attributes
                    type: array
                  dogma_effects:
                    description: dogma_effects array
                    items:
                      description: dogma_effect object
                      properties:
                        effect_id:
                          description: effect_id integer
                          format: int32
                          title: get_dogma_dynamic_items_type_id_item_id_effect_id
                          type: integer
                        is_default:
                          description: is_default boolean
                          title: get_dogma_dynamic_items_type_id_item_id_is_default
                          type: boolean
                      required:
                      - effect_id
                      - is_default
                      title: get_dogma_dynamic_items_type_id_item_id_dogma_effect
                      type: object
                    maxItems: 1000
                    title: get_dogma_dynamic_items_type_id_item_id_dogma_effects
                    type: array
                  mutator_type_id:
                    description: The type ID of the mutator used to generate the dynamic item.
                    format: int32
                    title: get_dogma_dynamic_items_type_id_item_id_mutator_type_id
                    type: integer
                  source_type_id:
                    description: The type ID of the source item the mutator was applied to create the dynamic item.
                    format: int32
                    title: get_dogma_dynamic_items_type_id_item_id_source_type_id
                    type: integer
                required:
                - dogma_attributes
                - dogma_effects
                - created_by
                - source_type_id
                - mutator_type_id
                title: get_dogma_dynamic_items_type_id_item_id_ok
                type: object
              examples:
                response:
                  value:
                    created_by: 2112625428
                    dogma_attributes:
                    - attribute_id: 9
                      value: 350
                    dogma_effects:
                    - effect_id: 508
                      is_default: false
                    mutator_type_id: 47845
                    source_type_id: 33103
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '404':
          description: Item not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_dogma_dynamic_items_type_id_item_id_404_not_found
                    type: string
                title: get_dogma_dynamic_items_type_id_item_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Dynamic Item Information
      tags:
      - Dogma
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /dogma/effects/:
    get:
      description: 'Get a list of dogma effect ids


        ---

        Alternate route: `/dev/dogma/effects/`


        Alternate route: `/legacy/dogma/effects/`


        Alternate route: `/v1/dogma/effects/`


        ---

        This route expires daily at 11:05'
      operationId: get_dogma_effects
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: A list of dogma effect ids
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok integer
                  format: int32
                  title: get_dogma_effects_200_ok
                  type: integer
                maxItems: 10000
                title: get_dogma_effects_ok
                type: array
              examples:
                response:
                  value:
                  - 1
                  - 2
                  - 3
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Effects
      tags:
      - Dogma
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /dogma/effects/{effect_id}/:
    get:
      description: 'Get information on a dogma effect


        ---

        Alternate route: `/dev/dogma/effects/{effect_id}/`


        Alternate route: `/v2/dogma/effects/{effect_id}/`


        ---

        This route expires daily at 11:05'
      operationId: get_dogma_effects_effect_id
      parameters:
      - $ref: '#/components/parameters/datasource'
      - description: A dogma effect ID
        in: path
        name: effect_id
        required: true
        schema:
          type: integer
          format: int32
        example: 1001
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: Information about a dogma effect
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  description:
                    description: description string
                    title: get_dogma_effects_effect_id_description
                    type: string
                  disallow_auto_repeat:
                    description: disallow_auto_repeat boolean
                    title: get_dogma_effects_effect_id_disallow_auto_repeat
                    type: boolean
                  discharge_attribute_id:
                    description: discharge_attribute_id integer
                    format: int32
                    title: get_dogma_effects_effect_id_discharge_attribute_id
                    type: integer
                  display_name:
                    description: display_name string
                    title: get_dogma_effects_effect_id_display_name
                    type: string
                  duration_attribute_id:
                    description: duration_attribute_id integer
                    format: int32
                    title: get_dogma_effects_effect_id_duration_attribute_id
                    type: integer
                  effect_category:
                    description: effect_category integer
                    format: int32
                    title: get_dogma_effects_effect_id_effect_category
                    type: integer
                  effect_id:
                    description: effect_id integer
                    format: int32
                    title: get_dogma_effects_effect_id_effect_id
                    type: integer
                  electronic_chance:
                    description: electronic_chance boolean
                    title: get_dogma_effects_effect_id_electronic_chance
                    type: boolean
                  falloff_attribute_id:
                    description: falloff_attribute_id integer
                    format: int32
                    title: get_dogma_effects_effect_id_falloff_attribute_id
                    type: integer
                  icon_id:
                    description: icon_id integer
                    format: int32
                    title: get_dogma_effects_effect_id_icon_id
                    type: integer
                  is_assistance:
                    description: is_assistance boolean
                    title: get_dogma_effects_effect_id_is_assistance
                    type: boolean
                  is_offensive:
                    description: is_offensive boolean
                    title: get_dogma_effects_effect_id_is_offensive
                    type: boolean
                  is_warp_safe:
                    description: is_warp_safe boolean
                    title: get_dogma_effects_effect_id_is_warp_safe
                    type: boolean
                  modifiers:
                    description: modifiers array
                    items:
                      description: modifier object
                      properties:
                        domain:
                          description: domain string
                          title: get_dogma_effects_effect_id_domain
                          type: string
                        effect_id:
                          description: effect_id integer
                          format: int32
                          title: get_dogma_effects_effect_id_modifier_effect_id
                          type: integer
                        func:
                          description: func string
                          title: get_dogma_effects_effect_id_func
                          type: string
                        modified_attribute_id:
                          description: modified_attribute_id integer
                          format: int32
                          title: get_dogma_effects_effect_id_modified_attribute_id
                          type: integer
                        modifying_attribute_id:
                          description: modifying_attribute_id integer
                          format: int32
                          title: get_dogma_effects_effect_id_modifying_attribute_id
                          type: integer
                        operator:
                          description: operator integer
                          format: int32
                          title: get_dogma_effects_effect_id_operator
                          type: integer
                      required:
                      - func
                      title: get_dogma_effects_effect_id_modifier
                      type: object
                    maxItems: 100
                    title: get_dogma_effects_effect_id_modifiers
                    type: array
                  name:
                    description: name string
                    title: get_dogma_effects_effect_id_name
                    type: string
                  post_expression:
                    description: post_expression integer
                    format: int32
                    title: get_dogma_effects_effect_id_post_expression
                    type: integer
                  pre_expression:
                    description: pre_expression integer
                    format: int32
                    title: get_dogma_effects_effect_id_pre_expression
                    type: integer
                  published:
                    description: published boolean
                    title: get_dogma_effects_effect_id_published
                    type: boolean
                  range_attribute_id:
                    description: range_attribute_id integer
                    format: int32
                    title: get_dogma_effects_effect_id_range_attribute_id
                    type: integer
                  range_chance:
                    description: range_chance boolean
                    title: get_dogma_effects_effect_id_range_chance
                    type: boolean
                  tracking_speed_attribute_id:
                    description: tracking_speed_attribute_id integer
                    format: int32
                    title: get_dogma_effects_effect_id_tracking_speed_attribute_id
                    type: integer
                required:
                - effect_id
                title: get_dogma_effects_effect_id_ok
                type: object
              examples:
                response:
                  value:
                    description: Requires a high power slot.
                    display_name: High power
                    effect_category: 0
                    effect_id: 12
                    icon_id: 293
                    name: hiPower
                    post_expression: 131
                    pre_expression: 131
                    published: true
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '404':
          description: Dogma effect not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_dogma_effects_effect_id_404_not_found
                    type: string
                title: get_dogma_effects_effect_id_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Get Effect Information
      tags:
      - Dogma
      x-alternate-versions:
      - dev
      - v2
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /v1/dogma/attributes/:
    get:
      description: 'Get a list of dogma attribute ids


        ---


        This route expires daily at 11:05'
      operationId: get_dogma_attributes
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: A list of dogma attribute ids
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok integer
                  format: int32
                  title: get_dogma_attributes_200_ok
                  type: integer
                maxItems: 10000
                title: get_dogma_attributes_ok
                type: array
              example:
              - 1
              - 2
              - 3
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      summary: Get attributes
      tags:
      - Dogma
      x-alternate-versions:
      - latest
      - legacy
      - v1
    servers:
    - url: https://esi.evetech.net
  /v1/dogma/attributes/{attribute_id}/:
    get:
      description: 'Get information on a dogma attribute


        ---


        This route expires daily at 11:05'
      operationId: get_dogma_attributes_attribute_id
      parameters:
      - description: A dogma attribute ID
        in: path
        name: attribute_id
        required: true
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: Information about a dogma attribute
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  attribute_id:
                    description: attribute_id integer
                    format: int32
                    title: get_dogma_attributes_attribute_id_attribute_id
                    type: integer
                  default_value:
                    description: default_value number
                    format: float
                    title: get_dogma_attributes_attribute_id_default_value
                    type: number
                  description:
                    description: description string
                    title: get_dogma_attributes_attribute_id_description
                    type: string
                  display_name:
                    description: display_name string
                    title: get_dogma_attributes_attribute_id_display_name
                    type: string
                  high_is_good:
                    description: high_is_good boolean
                    title: get_dogma_attributes_attribute_id_high_is_good
                    type: boolean
                  icon_id:
                    description: icon_id integer
                    format: int32
                    title: get_dogma_attributes_attribute_id_icon_id
                    type: integer
                  name:
                    description: name string
                    title: get_dogma_attributes_attribute_id_name
                    type: string
                  published:
                    description: published boolean
                    title: get_dogma_attributes_attribute_id_published
                    type: boolean
                  stackable:
                    description: stackable boolean
                    title: get_dogma_attributes_attribute_id_stackable
                    type: boolean
                  unit_id:
                    description: unit_id integer
                    format: int32
                    title: get_dogma_attributes_attribute_id_unit_id
                    type: integer
                required:
                - attribute_id
                title: get_dogma_attributes_attribute_id_ok
                type: object
              example:
                attribute_id: 20
                default_value: 1
                description: Factor by which topspeed increases.
                display_name: Maximum Velocity Bonus
                high_is_good: true
                icon_id: 1389
                name: speedFactor
                published: true
                unit_id: 124
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '404':
          description: Dogma attribute not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_dogma_attributes_attribute_id_404_not_found
                    type: string
                title: get_dogma_attributes_attribute_id_not_found
                type: object
              example:
                error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      summary: Get attribute information
      tags:
      - Dogma
      x-alternate-versions:
      - latest
      - legacy
      - v1
    servers:
    - url: https://esi.evetech.net
  /v1/dogma/dynamic/items/{type_id}/{item_id}/:
    get:
      description: 'Returns info about a dynamic item resulting from mutation with a mutaplasmid.


        ---


        This route expires daily at 11:05'
      operationId: get_dogma_dynamic_items_type_id_item_id
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - description: item_id integer
        in: path
        name: item_id
        required: true
        schema:
          type: integer
          format: int64
      - description: type_id integer
        in: path
        name: type_id
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Details about a dynamic item
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  created_by:
                    description: The ID of the character who created the item
                    format: int32
                    title: get_dogma_dynamic_items_type_id_item_id_created_by
                    type: integer
                  dogma_attributes:
                    description: dogma_attributes array
                    items:
                      description: dogma_attribute object
                      properties:
                        attribute_id:
                          description: attribute_id integer
                          format: int32
                          title: get_dogma_dynamic_items_type_id_item_id_attribute_id
                          type: integer
                        value:
                          description: value number
                          format: float
                          title: get_dogma_dynamic_items_type_id_item_id_value
                          type: number
                      required:
                      - attribute_id
                      - value
                      title: get_dogma_dynamic_items_type_id_item_id_dogma_attribute
                      type: object
                    maxItems: 1000
                    title: get_dogma_dynamic_items_type_id_item_id_dogma_attributes
                    type: array
                  dogma_effects:
                    description: dogma_effects array
                    items:
                      description: dogma_effect object
                      properties:
                        effect_id:
                          description: effect_id integer
                          format: int32
                          title: get_dogma_dynamic_items_type_id_item_id_effect_id
                          type: integer
                        is_default:
                          description: is_default boolean
                          title: get_dogma_dynamic_items_type_id_item_id_is_default
                          type: boolean
                      required:
                      - effect_id
                      - is_default
                      title: get_dogma_dynamic_items_type_id_item_id_dogma_effect
                      type: object
                    maxItems: 1000
                    title: get_dogma_dynamic_items_type_id_item_id_dogma_effects
                    type: array
                  mutator_type_id:
                    description: The type ID of the mutator used to generate the dynamic item.
                    format: int32
                    title: get_dogma_dynamic_items_type_id_item_id_mutator_type_id
                    type: integer
                  source_type_id:
                    description: The type ID of the source item the mutator was applied to create the dynamic item.
                    format: int32
                    title: get_dogma_dynamic_items_type_id_item_id_source_type_id
                    type: integer
                required:
                - dogma_attributes
                - dogma_effects
                - created_by
                - source_type_id
                - mutator_type_id
                title: get_dogma_dynamic_items_type_id_item_id_ok
                type: object
              example:
                created_by: 2112625428
                dogma_attributes:
                - attribute_id: 9
                  value: 350
                dogma_effects:
                - effect_id: 508
                  is_default: false
                mutator_type_id: 47845
                source_type_id: 33103
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '404':
          description: Item not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_dogma_dynamic_items_type_id_item_id_404_not_found
                    type: string
                title: get_dogma_dynamic_items_type_id_item_id_not_found
                type: object
              example:
                error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      summary: Get dynamic item information
      tags:
      - Dogma
      x-alternate-versions:
      - latest
      - legacy
      - v1
    servers:
    - url: https://esi.evetech.net
  /v1/dogma/effects/:
    get:
      description: 'Get a list of dogma effect ids


        ---


        This route expires daily at 11:05'
      operationId: get_dogma_effects
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: A list of dogma effect ids
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok integer
                  format: int32
                  title: get_dogma_effects_200_ok
                  type: integer
                maxItems: 10000
                title: get_dogma_effects_ok
                type: array
              example:
              - 1
              - 2
              - 3
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      summary: Get effects
      tags:
      - Dogma
      x-alternate-versions:
      - latest
      - legacy
      - v1
    servers:
    - url: https://esi.evetech.net
  /v2/dogma/effects/{effect_id}/:
    get:
      description: 'Get information on a dogma effect


        ---


        This route expires daily at 11:05'
      operationId: get_dogma_effects_effect_id
      parameters:
      - $ref: '#/components/parameters/datasource'
      - description: A dogma effect ID
        in: path
        name: effect_id
        required: true
        schema:
          type: integer
          format: int32
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: Information about a dogma effect
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  description:
                    description: description string
                    title: get_dogma_effects_effect_id_description
                    type: string
                  disallow_auto_repeat:
                    description: disallow_auto_repeat boolean
                    title: get_dogma_effects_effect_id_disallow_auto_repeat
                    type: boolean
                  discharge_attribute_id:
                    description: discharge_attribute_id integer
                    format: int32
                    title: get_dogma_effects_effect_id_discharge_attribute_id
                    type: integer
                  display_name:
                    description: display_name string
                    title: get_dogma_effects_effect_id_display_name
                    type: string
                  duration_attribute_id:
                    description: duration_attribute_id integer
                    format: int32
                    title: get_dogma_effects_effect_id_duration_attribute_id
                    type: integer
                  effect_category:
                    description: effect_category integer
                    format: int32
                    title: get_dogma_effects_effect_id_effect_category
                    type: integer
                  effect_id:
                    description: effect_id integer
                    format: int32
                    title: get_dogma_effects_effect_id_effect_id
                    type: integer
                  electronic_chance:
                    description: electronic_chance boolean
                    title: get_dogma_effects_effect_id_electronic_chance
                    type: boolean
                  falloff_attribute_id:
                    description: falloff_attribute_id integer
                    format: int32
                    title: get_dogma_effects_effect_id_falloff_attribute_id
                    type: integer
                  icon_id:
                    description: icon_id integer
                    format: int32
                    title: get_dogma_effects_effect_id_icon_id
                    type: integer
                  is_assistance:
                    description: is_assistance boolean
                    title: get_dogma_effects_effect_id_is_assistance
                    type: boolean
                  is_offensive:
                    description: is_offensive boolean
                    title: get_dogma_effects_effect_id_is_offensive
                    type: boolean
                  is_warp_safe:
                    description: is_warp_safe boolean
                    title: get_dogma_effects_effect_id_is_warp_safe
                    type: boolean
                  modifiers:
                    description: modifiers array
                    items:
                      description: modifier object
                      properties:
                        domain:
                          description: domain string
                          title: get_dogma_effects_effect_id_domain
                          type: string
                        effect_id:
                          description: effect_id integer
                          format: int32
                          title: get_dogma_effects_effect_id_modifier_effect_id
                          type: integer
                        func:
                          description: func string
                          title: get_dogma_effects_effect_id_func
                          type: string
                        modified_attribute_id:
                          description: modified_attribute_id integer
                          format: int32
                          title: get_dogma_effects_effect_id_modified_attribute_id
                          type: integer
                        modifying_attribute_id:
                          description: modifying_attribute_id integer
                          format: int32
                          title: get_dogma_effects_effect_id_modifying_attribute_id
                          type: integer
                        operator:
                          description: operator integer
                          format: int32
                          title: get_dogma_effects_effect_id_operator
                          type: integer
                      required:
                      - func
                      title: get_dogma_effects_effect_id_modifier
                      type: object
                    maxItems: 100
                    title: get_dogma_effects_effect_id_modifiers
                    type: array
                  name:
                    description: name string
                    title: get_dogma_effects_effect_id_name
                    type: string
                  post_expression:
                    description: post_expression integer
                    format: int32
                    title: get_dogma_effects_effect_id_post_expression
                    type: integer
                  pre_expression:
                    description: pre_expression integer
                    format: int32
                    title: get_dogma_effects_effect_id_pre_expression
                    type: integer
                  published:
                    description: published boolean
                    title: get_dogma_effects_effect_id_published
                    type: boolean
                  range_attribute_id:
                    description: range_attribute_id integer
                    format: int32
                    title: get_dogma_effects_effect_id_range_attribute_id
                    type: integer
                  range_chance:
                    description: range_chance boolean
                    title: get_dogma_effects_effect_id_range_chance
                    type: boolean
                  tracking_speed_attribute_id:
                    description: tracking_speed_attribute_id integer
                    format: int32
                    title: get_dogma_effects_effect_id_tracking_speed_attribute_id
                    type: integer
                required:
                - effect_id
                title: get_dogma_effects_effect_id_ok
                type: object
              example:
                description: Requires a high power slot.
                display_name: High power
                effect_category: 0
                effect_id: 12
                icon_id: 293
                name: hiPower
                post_expression: 131
                pre_expression: 131
                published: true
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '404':
          description: Dogma effect not found
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: get_dogma_effects_effect_id_404_not_found
                    type: string
                title: get_dogma_effects_effect_id_not_found
                type: object
              example:
                error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      summary: Get effect information
      tags:
      - Dogma
      x-alternate-versions:
      - latest
      - v2
    servers:
    - url: https://esi.evetech.net
components:
  schemas:
    service_unavailable:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
          example: example
      required:
      - error
      title: Service unavailable
      type: object
    error_limited:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
          example: example
      required:
      - error
      title: Error limited
      type: object
    bad_request:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
          example: example
      required:
      - error
      title: Bad request
      type: object
    internal_server_error:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
          example: example
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
          example: example
        timeout:
          description: number of seconds the request was given
          type: integer
          example: 1
      required:
      - error
      title: Gateway timeout
      type: object
    service_unavailable_2:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_2:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_2:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_2:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_2:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    service_unavailable_3:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_3:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_3:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_3:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_3:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    service_unavailable_4:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_4:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_4:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_4:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_4:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    service_unavailable_5:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_5:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_5:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_5:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_5:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    service_unavailable_6:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_6:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_6:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_6:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_6:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    service_unavailable_7:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_7:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_7:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_7:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_7:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
  parameters:
    If-None-Match:
      description: ETag from a previous request. A 304 will be returned if this matches the current ETag
      in: header
      name: If-None-Match
      schema:
        type: string
    datasource:
      description: The server name you would like data from
      in: query
      name: datasource
      schema:
        type: string
        enum:
        - tranquility
        default: tranquility
  securitySchemes:
    evesso:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: https://login.eveonline.com/v2/oauth/authorize
          scopes:
            esi-alliances.read_contacts.v1: EVE SSO scope esi-alliances.read_contacts.v1
            esi-assets.read_assets.v1: EVE SSO scope esi-assets.read_assets.v1
            esi-assets.read_corporation_assets.v1: EVE SSO scope esi-assets.read_corporation_assets.v1
            esi-calendar.read_calendar_events.v1: EVE SSO scope esi-calendar.read_calendar_events.v1
            esi-calendar.respond_calendar_events.v1: EVE SSO scope esi-calendar.respond_calendar_events.v1
            esi-characters.read_agents_research.v1: EVE SSO scope esi-characters.read_agents_research.v1
            esi-characters.read_blueprints.v1: EVE SSO scope esi-characters.read_blueprints.v1
            esi-characters.read_contacts.v1: EVE SSO scope esi-characters.read_contacts.v1
            esi-characters.read_corporation_roles.v1: EVE SSO scope esi-characters.read_corporation_roles.v1
            esi-characters.read_fatigue.v1: EVE SSO scope esi-characters.read_fatigue.v1
            esi-characters.read_fw_stats.v1: EVE SSO scope esi-characters.read_fw_stats.v1
            esi-characters.read_loyalty.v1: EVE SSO scope esi-characters.read_loyalty.v1
            esi-characters.read_medals.v1: EVE SSO scope esi-characters.read_medals.v1
            esi-characters.read_notifications.v1: EVE SSO scope esi-characters.read_notifications.v1
            esi-characters.read_standings.v1: EVE SSO scope esi-characters.read_standings.v1
            esi-characters.read_titles.v1: EVE SSO scope esi-characters.read_titles.v1
            esi-characters.write_contacts.v1: EVE SSO scope esi-characters.write_contacts.v1
            esi-clones.read_clones.v1: EVE SSO scope esi-clones.read_clones.v1
            esi-clones.read_implants.v1: EVE SSO scope esi-clones.read_implants.v1
            esi-contracts.read_character_contracts.v1: EVE SSO scope esi-contracts.read_character_contracts.v1
            esi-contracts.read_corporation_contracts.v1: EVE SSO scope esi-contracts.read_corporation_contracts.v1
            esi-corporations.read_blueprints.v1: EVE SSO scope esi-corporations.read_blueprints.v1
            esi-corporations.read_contacts.v1: EVE SSO scope esi-corporations.read_contacts.v1
            esi-corporations.read_container_logs.v1: EVE SSO scope esi-corporations.read_container_logs.v1
            esi-corporations.read_corporation_membership.v1: EVE SSO scope esi-corporations.read_corporation_membership.v1
            esi-corporations.read_divisions.v1: EVE SSO scope esi-corporations.read_divisions.v1
            esi-corporations.read_facilities.v1: EVE SSO scope esi-corporations.read_facilities.v1
            esi-corporations.read_fw_stats.v1: EVE SSO scope esi-corporations.read_fw_stats.v1
            esi-corporations.read_medals.v1: EVE SSO scope esi-corporations.read_medals.v1
            esi-corporations.read_standings.v1: EVE SSO scope esi-corporations.read_standings.v1
            esi-corporations.read_starbases.v1: EVE SSO scope esi-corporations.read_starbases.v1
            esi-corporations.read_structures.v1: EVE SSO scope esi-corporations.read_structures.v1
            esi-corporations.read_titles.v1: EVE SSO scope esi-corporations.read_titles.v1
            esi-corporations.track_members.v1: EVE SSO scope esi-corporations.track_members.v1
            esi-fittings.read_fittings.v1: EVE SSO scope esi-fittings.read_fittings.v1
            esi-fittings.write_fittings.v1: EVE SSO scope esi-fittings.write_fittings.v1
            esi-fleets.read_fleet.v1: EVE SSO scope esi-fleets.read_fleet.v1
            esi-fleets.write_fleet.v1: EVE SSO scope esi-fleets.write_fleet.v1
            esi-industry.read_character_jobs.v1: EVE SSO scope esi-industry.read_character_jobs.v1
            esi-industry.read_character_mining.v1: EVE SSO scope esi-industry.read_character_mining.v1
            esi-industry.read_corporation_jobs.v1: EVE SSO scope esi-industry.read_corporation_jobs.v1
            esi-industry.read_corporation_mining.v1: EVE SSO scope esi-industry.read_corporation_mining.v1
            esi-killmails.read_corporation_killmails.v1: EVE SSO scope esi-killmails.read_corporation_killmails.v1
            esi-killmails.read_killmails.v1: EVE SSO scope esi-killmails.read_killmails.v1
            esi-location.read_location.v1: EVE SSO scope esi-location.read_location.v1
            esi-location.read_online.v1: EVE SSO scope esi-location.read_online.v1
            esi-location.read_ship_type.v1: EVE SSO scope esi-location.read_ship_type.v1
            esi-mail.organize_mail.v1: EVE SSO scope esi-mail.organize_mail.v1
            esi-mail.read_mail.v1: EVE SSO scope esi-mail.read_mail.v1
            esi-mail.send_mail.v1: EVE SSO scope esi-mail.send_mail.v1
            esi-markets.read_character_orders.v1: EVE SSO scope esi-markets.read_character_orders.v1
            esi-markets.read_corporation_orders.v1: EVE SSO scope esi-markets.read_corporation_orders.v1
            esi-markets.structure_markets.v1: EVE SSO scope esi-markets.structure_markets.v1
            esi-planets.manage_planets.v1: EVE SSO scope esi-planets.manage_planets.v1
            esi-planets.read_customs_offices.v1: EVE SSO scope esi-planets.read_customs_offices.v1
            esi-search.search_structures.v1: EVE SSO scope esi-search.search_structures.v1
            esi-skills.read_skillqueue.v1: EVE SSO scope esi-skills.read_skillqueue.v1
            esi-skills.read_skills.v1: EVE SSO scope esi-skills.read_skills.v1
            esi-ui.open_window.v1: EVE SSO scope esi-ui.open_window.v1
            esi-ui.write_waypoint.v1: EVE SSO scope esi-ui.write_waypoint.v1
            esi-universe.read_structures.v1: EVE SSO scope esi-universe.read_structures.v1
            esi-wallet.read_character_wallet.v1: EVE SSO scope esi-wallet.read_character_wallet.v1
            esi-wallet.read_corporation_wallets.v1: EVE SSO scope esi-wallet.read_corporation_wallets.v1
x-refined-from:
- eve-online-openapi.yml
- swagger.json
- swagger_2.json
- swagger_3.json
- swagger_4.json
- swagger_5.json
- swagger_6.json
