openapi: 3.2.0
info:
  title: Eve Online Assets API
  version: '1.36'
  description: 'Operations tagged Assets across 7 of this provider''s published API definitions: eve-online-openapi.yml, swagger.json, swagger_2.json, swagger_3.json, swagger_4.json, swagger_5.json, swagger_6.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://esi.evetech.net/latest
- url: https://esi.evetech.net
- url: https://esi.evetech.net/legacy
- url: https://esi.evetech.net/dev
tags:
- name: Assets
paths:
  /characters/{character_id}/assets/:
    get:
      description: 'Return a list of the characters assets


        ---

        Alternate route: `/dev/characters/{character_id}/assets/`


        Alternate route: `/legacy/characters/{character_id}/assets/`


        Alternate route: `/v4/characters/{character_id}/assets/`


        Alternate route: `/v5/characters/{character_id}/assets/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_characters_character_id_assets
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A flat list of the users assets
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    is_blueprint_copy:
                      description: is_blueprint_copy boolean
                      title: get_characters_character_id_assets_is_blueprint_copy
                      type: boolean
                    is_singleton:
                      description: is_singleton boolean
                      title: get_characters_character_id_assets_is_singleton
                      type: boolean
                    item_id:
                      description: item_id integer
                      format: int64
                      title: get_characters_character_id_assets_item_id
                      type: integer
                    location_flag:
                      description: location_flag string
                      enum:
                      - AssetSafety
                      - AutoFit
                      - BoosterBay
                      - CapsuleerDeliveries
                      - Cargo
                      - CorporationGoalDeliveries
                      - CorpseBay
                      - Deliveries
                      - DroneBay
                      - FighterBay
                      - FighterTube0
                      - FighterTube1
                      - FighterTube2
                      - FighterTube3
                      - FighterTube4
                      - FleetHangar
                      - FrigateEscapeBay
                      - Hangar
                      - HangarAll
                      - HiSlot0
                      - HiSlot1
                      - HiSlot2
                      - HiSlot3
                      - HiSlot4
                      - HiSlot5
                      - HiSlot6
                      - HiSlot7
                      - HiddenModifiers
                      - Implant
                      - InfrastructureHangar
                      - LoSlot0
                      - LoSlot1
                      - LoSlot2
                      - LoSlot3
                      - LoSlot4
                      - LoSlot5
                      - LoSlot6
                      - LoSlot7
                      - Locked
                      - MedSlot0
                      - MedSlot1
                      - MedSlot2
                      - MedSlot3
                      - MedSlot4
                      - MedSlot5
                      - MedSlot6
                      - MedSlot7
                      - MobileDepotHold
                      - MoonMaterialBay
                      - QuafeBay
                      - RigSlot0
                      - RigSlot1
                      - RigSlot2
                      - RigSlot3
                      - RigSlot4
                      - RigSlot5
                      - RigSlot6
                      - RigSlot7
                      - ShipHangar
                      - Skill
                      - SpecializedAmmoHold
                      - SpecializedAsteroidHold
                      - SpecializedCommandCenterHold
                      - SpecializedFuelBay
                      - SpecializedGasHold
                      - SpecializedIceHold
                      - SpecializedIndustrialShipHold
                      - SpecializedLargeShipHold
                      - SpecializedMaterialBay
                      - SpecializedMediumShipHold
                      - SpecializedMineralHold
                      - SpecializedOreHold
                      - SpecializedPlanetaryCommoditiesHold
                      - SpecializedSalvageHold
                      - SpecializedShipHold
                      - SpecializedSmallShipHold
                      - StructureDeedBay
                      - SubSystemBay
                      - SubSystemSlot0
                      - SubSystemSlot1
                      - SubSystemSlot2
                      - SubSystemSlot3
                      - SubSystemSlot4
                      - SubSystemSlot5
                      - SubSystemSlot6
                      - SubSystemSlot7
                      - Unlocked
                      - Wardrobe
                      title: get_characters_character_id_assets_location_flag
                      type: string
                    location_id:
                      description: location_id integer
                      format: int64
                      title: get_characters_character_id_assets_location_id
                      type: integer
                    location_type:
                      description: location_type string
                      enum:
                      - station
                      - solar_system
                      - item
                      - other
                      title: get_characters_character_id_assets_location_type
                      type: string
                    quantity:
                      description: quantity integer
                      format: int32
                      title: get_characters_character_id_assets_quantity
                      type: integer
                    type_id:
                      description: type_id integer
                      format: int32
                      title: get_characters_character_id_assets_type_id
                      type: integer
                  required:
                  - type_id
                  - quantity
                  - location_id
                  - location_type
                  - item_id
                  - location_flag
                  - is_singleton
                  title: get_characters_character_id_assets_200_ok
                  type: object
                maxItems: 1000
                title: get_characters_character_id_assets_ok
                type: array
              examples:
                response:
                  value:
                  - is_blueprint_copy: true
                    is_singleton: true
                    item_id: 1000000016835
                    location_flag: Hangar
                    location_id: 60002959
                    location_type: station
                    quantity: 1
                    type_id: 3516
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: Requested page does not exist
          content:
            application/json:
              schema:
                description: Requested page does not exist
                properties:
                  error:
                    description: error message
                    title: get_characters_character_id_assets_error
                    type: string
                title: get_characters_character_id_assets_not_found
                type: object
              examples:
                response:
                  value:
                    error: Requested page does not exist
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-assets.read_assets.v1
      summary: EVE Online Get Character Assets
      tags:
      - Assets
      x-alternate-versions:
      - dev
      - legacy
      - v4
      - v5
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /characters/{character_id}/assets/locations/:
    post:
      description: 'Return locations for a set of item ids, which you can get from character assets endpoint. Coordinates for items in hangars or stations are set to (0,0,0)


        ---

        Alternate route: `/dev/characters/{character_id}/assets/locations/`


        Alternate route: `/v2/characters/{character_id}/assets/locations/`

        '
      operationId: post_characters_character_id_assets_locations
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/token'
      requestBody:
        content:
          application/json:
            schema:
              description: item_ids array
              items:
                description: item_id integer
                format: int64
                title: post_characters_character_id_assets_locations_item_id
                type: integer
              maxItems: 1000
              minItems: 1
              title: post_characters_character_id_assets_locations_item_ids
              type: array
              uniqueItems: true
            examples:
              PostCharactersCharacterIdAssetsLocationsRequestExample:
                summary: Default post_characters_character_id_assets_locations request
                x-microcks-default: true
                value: {}
        description: A list of item ids
        required: true
      responses:
        '200':
          description: List of asset locations
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    item_id:
                      description: item_id integer
                      format: int64
                      title: post_characters_character_id_assets_locations_item_id
                      type: integer
                    position:
                      description: position object
                      properties:
                        x:
                          description: x number
                          format: double
                          title: post_characters_character_id_assets_locations_x
                          type: number
                        y:
                          description: y number
                          format: double
                          title: post_characters_character_id_assets_locations_y
                          type: number
                        z:
                          description: z number
                          format: double
                          title: post_characters_character_id_assets_locations_z
                          type: number
                      required:
                      - x
                      - y
                      - z
                      title: post_characters_character_id_assets_locations_position
                      type: object
                  required:
                  - item_id
                  - position
                  title: post_characters_character_id_assets_locations_200_ok
                  type: object
                maxItems: 1000
                title: post_characters_character_id_assets_locations_ok
                type: array
              examples:
                response:
                  value:
                  - item_id: 12345
                    position:
                      x: 1.2
                      y: 2.3
                      z: -3.4
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-assets.read_assets.v1
      summary: EVE Online Get Character Asset Locations
      tags:
      - Assets
      x-alternate-versions:
      - dev
      - v2
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /characters/{character_id}/assets/names/:
    post:
      description: 'Return names for a set of item ids, which you can get from character assets endpoint. Typically used for items that can customize names, like containers or ships.


        ---

        Alternate route: `/dev/characters/{character_id}/assets/names/`


        Alternate route: `/legacy/characters/{character_id}/assets/names/`


        Alternate route: `/v1/characters/{character_id}/assets/names/`

        '
      operationId: post_characters_character_id_assets_names
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/token'
      requestBody:
        content:
          application/json:
            schema:
              description: item_ids array
              items:
                description: item_id integer
                format: int64
                title: post_characters_character_id_assets_names_item_id
                type: integer
              maxItems: 1000
              minItems: 1
              title: post_characters_character_id_assets_names_item_ids
              type: array
              uniqueItems: true
            examples:
              PostCharactersCharacterIdAssetsNamesRequestExample:
                summary: Default post_characters_character_id_assets_names request
                x-microcks-default: true
                value: {}
        description: A list of item ids
        required: true
      responses:
        '200':
          description: List of asset names
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    item_id:
                      description: item_id integer
                      format: int64
                      title: post_characters_character_id_assets_names_item_id
                      type: integer
                    name:
                      description: name string
                      title: post_characters_character_id_assets_names_name
                      type: string
                  required:
                  - item_id
                  - name
                  title: post_characters_character_id_assets_names_200_ok
                  type: object
                maxItems: 1000
                title: post_characters_character_id_assets_names_ok
                type: array
              examples:
                response:
                  value:
                  - item_id: 12345
                    name: Awesome Name
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-assets.read_assets.v1
      summary: EVE Online Get Character Asset Names
      tags:
      - Assets
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/assets/:
    get:
      description: 'Return a list of the corporation assets


        ---

        Alternate route: `/dev/corporations/{corporation_id}/assets/`


        Alternate route: `/legacy/corporations/{corporation_id}/assets/`


        Alternate route: `/v4/corporations/{corporation_id}/assets/`


        Alternate route: `/v5/corporations/{corporation_id}/assets/`


        ---

        This route is cached for up to 3600 seconds


        ---

        Requires one of the following EVE corporation role(s): Director

        '
      operationId: get_corporations_corporation_id_assets
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of assets
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    is_blueprint_copy:
                      description: is_blueprint_copy boolean
                      title: get_corporations_corporation_id_assets_is_blueprint_copy
                      type: boolean
                    is_singleton:
                      description: is_singleton boolean
                      title: get_corporations_corporation_id_assets_is_singleton
                      type: boolean
                    item_id:
                      description: item_id integer
                      format: int64
                      title: get_corporations_corporation_id_assets_item_id
                      type: integer
                    location_flag:
                      description: location_flag string
                      enum:
                      - AssetSafety
                      - AutoFit
                      - Bonus
                      - Booster
                      - BoosterBay
                      - Capsule
                      - CapsuleerDeliveries
                      - Cargo
                      - CorpDeliveries
                      - CorpSAG1
                      - CorpSAG2
                      - CorpSAG3
                      - CorpSAG4
                      - CorpSAG5
                      - CorpSAG6
                      - CorpSAG7
                      - CorporationGoalDeliveries
                      - CrateLoot
                      - Deliveries
                      - DroneBay
                      - DustBattle
                      - DustDatabank
                      - FighterBay
                      - FighterTube0
                      - FighterTube1
                      - FighterTube2
                      - FighterTube3
                      - FighterTube4
                      - FleetHangar
                      - FrigateEscapeBay
                      - Hangar
                      - HangarAll
                      - HiSlot0
                      - HiSlot1
                      - HiSlot2
                      - HiSlot3
                      - HiSlot4
                      - HiSlot5
                      - HiSlot6
                      - HiSlot7
                      - HiddenModifiers
                      - Implant
                      - Impounded
                      - InfrastructureHangar
                      - JunkyardReprocessed
                      - JunkyardTrashed
                      - LoSlot0
                      - LoSlot1
                      - LoSlot2
                      - LoSlot3
                      - LoSlot4
                      - LoSlot5
                      - LoSlot6
                      - LoSlot7
                      - Locked
                      - MedSlot0
                      - MedSlot1
                      - MedSlot2
                      - MedSlot3
                      - MedSlot4
                      - MedSlot5
                      - MedSlot6
                      - MedSlot7
                      - MobileDepotHold
                      - MoonMaterialBay
                      - OfficeFolder
                      - Pilot
                      - PlanetSurface
                      - QuafeBay
                      - QuantumCoreRoom
                      - Reward
                      - RigSlot0
                      - RigSlot1
                      - RigSlot2
                      - RigSlot3
                      - RigSlot4
                      - RigSlot5
                      - RigSlot6
                      - RigSlot7
                      - SecondaryStorage
                      - ServiceSlot0
                      - ServiceSlot1
                      - ServiceSlot2
                      - ServiceSlot3
                      - ServiceSlot4
                      - ServiceSlot5
                      - ServiceSlot6
                      - ServiceSlot7
                      - ShipHangar
                      - ShipOffline
                      - Skill
                      - SkillInTraining
                      - SpecializedAmmoHold
                      - SpecializedAsteroidHold
                      - SpecializedCommandCenterHold
                      - SpecializedFuelBay
                      - SpecializedGasHold
                      - SpecializedIceHold
                      - SpecializedIndustrialShipHold
                      - SpecializedLargeShipHold
                      - SpecializedMaterialBay
                      - SpecializedMediumShipHold
                      - SpecializedMineralHold
                      - SpecializedOreHold
                      - SpecializedPlanetaryCommoditiesHold
                      - SpecializedSalvageHold
                      - SpecializedShipHold
                      - SpecializedSmallShipHold
                      - StructureActive
                      - StructureFuel
                      - StructureInactive
                      - StructureOffline
                      - SubSystemBay
                      - SubSystemSlot0
                      - SubSystemSlot1
                      - SubSystemSlot2
                      - SubSystemSlot3
                      - SubSystemSlot4
                      - SubSystemSlot5
                      - SubSystemSlot6
                      - SubSystemSlot7
                      - Unlocked
                      - Wallet
                      - Wardrobe
                      title: get_corporations_corporation_id_assets_location_flag
                      type: string
                    location_id:
                      description: location_id integer
                      format: int64
                      title: get_corporations_corporation_id_assets_location_id
                      type: integer
                    location_type:
                      description: location_type string
                      enum:
                      - station
                      - solar_system
                      - item
                      - other
                      title: get_corporations_corporation_id_assets_location_type
                      type: string
                    quantity:
                      description: quantity integer
                      format: int32
                      title: get_corporations_corporation_id_assets_quantity
                      type: integer
                    type_id:
                      description: type_id integer
                      format: int32
                      title: get_corporations_corporation_id_assets_type_id
                      type: integer
                  required:
                  - type_id
                  - quantity
                  - location_id
                  - location_type
                  - item_id
                  - location_flag
                  - is_singleton
                  title: get_corporations_corporation_id_assets_200_ok
                  type: object
                maxItems: 1000
                title: get_corporations_corporation_id_assets_ok
                type: array
              examples:
                response:
                  value:
                  - is_blueprint_copy: true
                    is_singleton: true
                    item_id: 1000000016835
                    location_flag: Hangar
                    location_id: 60002959
                    location_type: station
                    quantity: 1
                    type_id: 3516
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-assets.read_corporation_assets.v1
      summary: EVE Online Get Corporation Assets
      tags:
      - Assets
      x-alternate-versions:
      - dev
      - legacy
      - v4
      - v5
      x-cached-seconds: 3600
      x-required-roles:
      - Director
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/assets/locations/:
    post:
      description: 'Return locations for a set of item ids, which you can get from corporation assets endpoint. Coordinates for items in hangars or stations are set to (0,0,0)


        ---

        Alternate route: `/dev/corporations/{corporation_id}/assets/locations/`


        Alternate route: `/v2/corporations/{corporation_id}/assets/locations/`



        ---

        Requires one of the following EVE corporation role(s): Director

        '
      operationId: post_corporations_corporation_id_assets_locations
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/token'
      requestBody:
        content:
          application/json:
            schema:
              description: item_ids array
              items:
                description: item_id integer
                format: int64
                title: post_corporations_corporation_id_assets_locations_item_id
                type: integer
              maxItems: 1000
              minItems: 1
              title: post_corporations_corporation_id_assets_locations_item_ids
              type: array
              uniqueItems: true
            examples:
              PostCorporationsCorporationIdAssetsLocationsRequestExample:
                summary: Default post_corporations_corporation_id_assets_locations request
                x-microcks-default: true
                value: {}
        description: A list of item ids
        required: true
      responses:
        '200':
          description: List of asset locations
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    item_id:
                      description: item_id integer
                      format: int64
                      title: post_corporations_corporation_id_assets_locations_item_id
                      type: integer
                    position:
                      description: position object
                      properties:
                        x:
                          description: x number
                          format: double
                          title: post_corporations_corporation_id_assets_locations_x
                          type: number
                        y:
                          description: y number
                          format: double
                          title: post_corporations_corporation_id_assets_locations_y
                          type: number
                        z:
                          description: z number
                          format: double
                          title: post_corporations_corporation_id_assets_locations_z
                          type: number
                      required:
                      - x
                      - y
                      - z
                      title: post_corporations_corporation_id_assets_locations_position
                      type: object
                  required:
                  - item_id
                  - position
                  title: post_corporations_corporation_id_assets_locations_200_ok
                  type: object
                maxItems: 1000
                title: post_corporations_corporation_id_assets_locations_ok
                type: array
              examples:
                response:
                  value:
                  - item_id: 12345
                    position:
                      x: 1.2
                      y: 2.3
                      z: -3.4
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: Invalid IDs
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: post_corporations_corporation_id_assets_locations_404_not_found
                    type: string
                title: post_corporations_corporation_id_assets_locations_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-assets.read_corporation_assets.v1
      summary: EVE Online Get Corporation Asset Locations
      tags:
      - Assets
      x-alternate-versions:
      - dev
      - v2
      x-required-roles:
      - Director
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/assets/names/:
    post:
      description: 'Return names for a set of item ids, which you can get from corporation assets endpoint. Only valid for items that can customize names, like containers or ships


        ---

        Alternate route: `/dev/corporations/{corporation_id}/assets/names/`


        Alternate route: `/legacy/corporations/{corporation_id}/assets/names/`


        Alternate route: `/v1/corporations/{corporation_id}/assets/names/`



        ---

        Requires one of the following EVE corporation role(s): Director

        '
      operationId: post_corporations_corporation_id_assets_names
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/token'
      requestBody:
        content:
          application/json:
            schema:
              description: item_ids array
              items:
                description: item_id integer
                format: int64
                title: post_corporations_corporation_id_assets_names_item_id
                type: integer
              maxItems: 1000
              minItems: 1
              title: post_corporations_corporation_id_assets_names_item_ids
              type: array
              uniqueItems: true
            examples:
              PostCorporationsCorporationIdAssetsNamesRequestExample:
                summary: Default post_corporations_corporation_id_assets_names request
                x-microcks-default: true
                value: {}
        description: A list of item ids
        required: true
      responses:
        '200':
          description: List of asset names
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    item_id:
                      description: item_id integer
                      format: int64
                      title: post_corporations_corporation_id_assets_names_item_id
                      type: integer
                    name:
                      description: name string
                      title: post_corporations_corporation_id_assets_names_name
                      type: string
                  required:
                  - item_id
                  - name
                  title: post_corporations_corporation_id_assets_names_200_ok
                  type: object
                maxItems: 1000
                title: post_corporations_corporation_id_assets_names_ok
                type: array
              examples:
                response:
                  value:
                  - item_id: 12345
                    name: Awesome Name
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '404':
          description: Invalid IDs
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: post_corporations_corporation_id_assets_names_404_not_found
                    type: string
                title: post_corporations_corporation_id_assets_names_not_found
                type: object
              examples:
                response:
                  value:
                    error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-assets.read_corporation_assets.v1
      summary: EVE Online Get Corporation Asset Names
      tags:
      - Assets
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-required-roles:
      - Director
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /v1/characters/{character_id}/assets/names/:
    post:
      description: 'Return names for a set of item ids, which you can get from character assets endpoint. Typically used for items that can customize names, like containers or ships.


        ---

        '
      operationId: post_characters_character_id_assets_names
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: List of asset names
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    item_id:
                      description: item_id integer
                      format: int64
                      title: post_characters_character_id_assets_names_item_id
                      type: integer
                    name:
                      description: name string
                      title: post_characters_character_id_assets_names_name
                      type: string
                  required:
                  - item_id
                  - name
                  title: post_characters_character_id_assets_names_200_ok
                  type: object
                maxItems: 1000
                title: post_characters_character_id_assets_names_ok
                type: array
              example:
              - item_id: 12345
                name: Awesome Name
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-assets.read_assets.v1
      summary: Get character asset names
      tags:
      - Assets
      x-alternate-versions:
      - latest
      - legacy
      - v1
      requestBody:
        content:
          application/json:
            schema:
              description: item_ids array
              items:
                description: item_id integer
                format: int64
                title: post_characters_character_id_assets_names_item_id
                type: integer
              maxItems: 1000
              minItems: 1
              title: post_characters_character_id_assets_names_item_ids
              type: array
              uniqueItems: true
        description: A list of item ids
        required: true
    servers:
    - url: https://esi.evetech.net
  /v1/corporations/{corporation_id}/assets/names/:
    post:
      description: 'Return names for a set of item ids, which you can get from corporation assets endpoint. Only valid for items that can customize names, like containers or ships


        ---


        Requires one of the following EVE corporation role(s): Director'
      operationId: post_corporations_corporation_id_assets_names
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: List of asset names
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    item_id:
                      description: item_id integer
                      format: int64
                      title: post_corporations_corporation_id_assets_names_item_id
                      type: integer
                    name:
                      description: name string
                      title: post_corporations_corporation_id_assets_names_name
                      type: string
                  required:
                  - item_id
                  - name
                  title: post_corporations_corporation_id_assets_names_200_ok
                  type: object
                maxItems: 1000
                title: post_corporations_corporation_id_assets_names_ok
                type: array
              example:
              - item_id: 12345
                name: Awesome Name
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '404':
          description: Invalid IDs
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: post_corporations_corporation_id_assets_names_404_not_found
                    type: string
                title: post_corporations_corporation_id_assets_names_not_found
                type: object
              example:
                error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-assets.read_corporation_assets.v1
      summary: Get corporation asset names
      tags:
      - Assets
      x-alternate-versions:
      - latest
      - legacy
      - v1
      x-required-roles:
      - Director
      requestBody:
        content:
          application/json:
            schema:
              description: item_ids array
              items:
                description: item_id integer
                format: int64
                title: post_corporations_corporation_id_assets_names_item_id
                type: integer
              maxItems: 1000
              minItems: 1
              title: post_corporations_corporation_id_assets_names_item_ids
              type: array
              uniqueItems: true
        description: A list of item ids
        required: true
    servers:
    - url: https://esi.evetech.net
  /v2/characters/{character_id}/assets/locations/:
    post:
      description: 'Return locations for a set of item ids, which you can get from character assets endpoint. Coordinates for items in hangars or stations are set to (0,0,0)


        ---

        '
      operationId: post_characters_character_id_assets_locations
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: List of asset locations
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    item_id:
                      description: item_id integer
                      format: int64
                      title: post_characters_character_id_assets_locations_item_id
                      type: integer
                    position:
                      description: position object
                      properties:
                        x:
                          description: x number
                          format: double
                          title: post_characters_character_id_assets_locations_x
                          type: number
                        y:
                          description: y number
                          format: double
                          title: post_characters_character_id_assets_locations_y
                          type: number
                        z:
                          description: z number
                          format: double
                          title: post_characters_character_id_assets_locations_z
                          type: number
                      required:
                      - x
                      - y
                      - z
                      title: post_characters_character_id_assets_locations_position
                      type: object
                  required:
                  - item_id
                  - position
                  title: post_characters_character_id_assets_locations_200_ok
                  type: object
                maxItems: 1000
                title: post_characters_character_id_assets_locations_ok
                type: array
              example:
              - item_id: 12345
                position:
                  x: 1.2
                  y: 2.3
                  z: -3.4
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-assets.read_assets.v1
      summary: Get character asset locations
      tags:
      - Assets
      x-alternate-versions:
      - latest
      - v2
      requestBody:
        content:
          application/json:
            schema:
              description: item_ids array
              items:
                description: item_id integer
                format: int64
                title: post_characters_character_id_assets_locations_item_id
                type: integer
              maxItems: 1000
              minItems: 1
              title: post_characters_character_id_assets_locations_item_ids
              type: array
              uniqueItems: true
        description: A list of item ids
        required: true
    servers:
    - url: https://esi.evetech.net
  /v2/corporations/{corporation_id}/assets/locations/:
    post:
      description: 'Return locations for a set of item ids, which you can get from corporation assets endpoint. Coordinates for items in hangars or stations are set to (0,0,0)


        ---


        Requires one of the following EVE corporation role(s): Director'
      operationId: post_corporations_corporation_id_assets_locations
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: List of asset locations
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    item_id:
                      description: item_id integer
                      format: int64
                      title: post_corporations_corporation_id_assets_locations_item_id
                      type: integer
                    position:
                      description: position object
                      properties:
                        x:
                          description: x number
                          format: double
                          title: post_corporations_corporation_id_assets_locations_x
                          type: number
                        y:
                          description: y number
                          format: double
                          title: post_corporations_corporation_id_assets_locations_y
                          type: number
                        z:
                          description: z number
                          format: double
                          title: post_corporations_corporation_id_assets_locations_z
                          type: number
                      required:
                      - x
                      - y
                      - z
                      title: post_corporations_corporation_id_assets_locations_position
                      type: object
                  required:
                  - item_id
                  - position
                  title: post_corporations_corporation_id_assets_locations_200_ok
                  type: object
                maxItems: 1000
                title: post_corporations_corporation_id_assets_locations_ok
                type: array
              example:
              - item_id: 12345
                position:
                  x: 1.2
                  y: 2.3
                  z: -3.4
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '404':
          description: Invalid IDs
          content:
            application/json:
              schema:
                description: Not found
                properties:
                  error:
                    description: Not found message
                    title: post_corporations_corporation_id_assets_locations_404_not_found
                    type: string
                title: post_corporations_corporation_id_assets_locations_not_found
                type: object
              example:
                error: Not found message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-assets.read_corporation_assets.v1
      summary: Get corporation asset locations
      tags:
      - Assets
      x-alternate-versions:
      - latest
      - v2
      x-required-roles:
      - Director
      requestBody:
        content:
          application/json:
            schema:
              description: item_ids array
              items:
                description: item_id integer
                format: int64
                title: post_corporations_corporation_id_assets_locations_item_id
                type: integer
              maxItems: 1000
              minItems: 1
              title: post_corporations_corporation_id_assets_locations_item_ids
              type: array
              uniqueItems: true
        description: A list of item ids
        required: true
    servers:
    - url: https://esi.evetech.net
  /v4/characters/{character_id}/assets/:
    get:
      description: 'Return a list of the characters assets


        ---


        This route is cached for up to 3600 seconds'
      operationId: get_characters_character_id_assets
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A flat list of the users assets
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    is_blueprint_copy:
                      description: is_blueprint_copy boolean
                      title: get_characters_character_id_assets_is_blueprint_copy
                      type: boolean
                    is_singleton:
                      description: is_singleton boolean
                      title: get_characters_character_id_assets_is_singleton
                      type: boolean
                    item_id:
                      description: item_id integer
                      format: int64
                      title: get_characters_character_id_assets_item_id
                      type: integer
                    location_flag:
                      description: location_flag string
                      enum:
                      - AssetSafety
                      - AutoFit
                      - BoosterBay
                      - CapsuleerDeliveries
                      - Cargo
                      - CorporationGoalDeliveries
                      - CorpseBay
                      - Deliveries
                      - DroneBay
                      - FighterBay
                      - FighterTube0
                      - FighterTube1
                      - FighterTube2
                      - FighterTube3
                      - FighterTube4
                      - FleetHangar
                      - FrigateEscapeBay
                      - Hangar
                      - HangarAll
                      - HiSlot0
                      - HiSlot1
                      - HiSlot2
                      - HiSlot3
                      - HiSlot4
                      - HiSlot5
                      - HiSlot6
                      - HiSlot7
                      - HiddenModifiers
                      - Implant
                      - InfrastructureHangar
                      - LoSlot0
                      - LoSlot1
                      - LoSlot2
                      - LoSlot3
                      - LoSlot4
                      - LoSlot5
                      - LoSlot6
                      - LoSlot7
                      - Locked
                      - MedSlot0
                      - MedSlot1
                      - MedSlot2
                      - MedSlot3
                      - MedSlot4
                      - MedSlot5
                      - MedSlot6
                      - MedSlot7
                      - MobileDepotHold
                      - MoonMaterialBay
                      - QuafeBay
                      - RigSlot0
                      - RigSlot1
                      - RigSlot2
                      - RigSlot3
                      - RigSlot4
                      - RigSlot5
                      - RigSlot6
                      - RigSlot7
                      - ShipHangar
                      - Skill
                      - SpecializedAmmoHold
                      - SpecializedAsteroidHold
                      - SpecializedCommandCenterHold
                      - SpecializedFuelBay
                      - SpecializedGasHold
                      - SpecializedIceHold
                      - SpecializedIndustrialShipHold
                      - SpecializedLargeShipHold
                      - SpecializedMaterialBay
                      - SpecializedMediumShipHold
                      - SpecializedMineralHold
                      - SpecializedOreHold
                      - SpecializedPlanetaryCommoditiesHold
                      - SpecializedSalvageHold
                      - SpecializedShipHold
                      - SpecializedSmallShipHold
                      - StructureDeedBay
                      - SubSystemBay
                      - SubSystemSlot0
                      - SubSystemSlot1
                      - SubSystemSlot2
                      - SubSystemSlot3
                      - SubSystemSlot4
                      - SubSystemSlot5
                      - SubSystemSlot6
                      - SubSystemSlot7
                      - Unlocked
                      - Wardrobe
                      title: get_characters_character_id_assets_location_flag
                      type: string
                    location_id:
                      description: location_id integer
                      format: int64
                      title: get_characters_character_id_assets_location_id
                      type: integer
                    location_type:
                      description: location_type string
                      enum:
                      - station
                      - solar_system
                      - item
                      - other
                      title: get_characters_character_id_assets_location_type
                      type: string
                    quantity:
                      description: quantity integer
                      format: int32
                      title: get_characters_character_id_assets_quantity
                      type: integer
                    type_id:
                      description: type_id integer
                      format: int32
                      title: get_characters_character_id_assets_type_id
                      type: integer
                  required:
                  - type_id
                  - quantity
                  - location_id
                  - location_type
                  - item_id
                  - location_flag
                  - is_singleton
                  title: get_characters_character_id_assets_200_ok
                  type: object
                maxItems: 1000
                title: get_characters_character_id_assets_ok
                type: array
              example:
              - is_blueprint_copy: true
                is_singleton: true
                item_id: 1000000016835
                location_flag: Hangar
                location_id: 60002959
                location_type: station
                quantity: 1
                type_id: 3516
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '404':
          description: Requested page does not exist
          content:
            application/json:
              schema:
                description: Requested page does not exist
                properties:
                  error:
                    description: error message
                    title: get_characters_character_id_assets_error
                    type: string
                title: get_characters_character_id_assets_not_found
                type: object
              example:
                error: Requested page does not exist
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-assets.read_assets.v1
      summary: Get character assets
      tags:
      - Assets
      x-alternate-versions:
      - latest
      - legacy
      - v4
      - v5
      x-cached-seconds: 3600
    servers:
    - url: https://esi.evetech.net
  /v4/corporations/{corporation_id}/assets/:
    get:
      description: 'Return a list of the corporation assets


        ---


        This route is cached for up to 3600 seconds


        ---

        Requires one of the following EVE corporation role(s): Director'
      operationId: get_corporations_corporation_id_assets
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of assets
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    is_blueprint_copy:
                      description: is_blueprint_copy boolean
                      title: get_corporations_corporation_id_assets_is_blueprint_copy
                      type: boolean
                    is_singleton:
                      description: is_singleton boolean
                      title: get_corporations_corporation_id_assets_is_singleton
                      type: boolean
                    item_id:
                      description: item_id integer
                      format: int64
                      title: get_corporations_corporation_id_assets_item_id
                      type: integer
                    location_flag:
                      description: location_flag string
                      enum:
                      - AssetSafety
                      - AutoFit
                      - Bonus
                      - Booster
                      - BoosterBay
                      - Capsule
                      - CapsuleerDeliveries
                      - Cargo
                      - CorpDeliveries
                      - CorpSAG1
                      - CorpSAG2
                      - CorpSAG3
                      - CorpSAG4
                      - CorpSAG5
                      - CorpSAG6
                      - CorpSAG7
                      - CorporationGoalDeliveries
                      - CrateLoot
                      - Deliveries
                      - DroneBay
                      - DustBattle
                      - DustDatabank
                      - FighterBay
                      - FighterTube0
                      - FighterTube1
                      - FighterTube2
                      - FighterTube3
                      - FighterTube4
                      - FleetHangar
                      - FrigateEscapeBay
                      - Hangar
                      - HangarAll
                      - HiSlot0
                      - HiSlot1
                      - HiSlot2
                      - HiSlot3
                      - HiSlot4
                      - HiSlot5
                      - HiSlot6
                      - HiSlot7
                      - HiddenModifiers
                      - Implant
                      - Impounded
                      - InfrastructureHangar
                      - JunkyardReprocessed
                      - JunkyardTrashed
                      - LoSlot0
                      - LoSlot1
                      - LoSlot2
                      - LoSlot3
                      - LoSlot4
                      - LoSlot5
                      - LoSlot6
                      - LoSlot7
                      - Locked
                      - MedSlot0
                      - MedSlot1
                      - MedSlot2
                      - MedSlot3
                      - MedSlot4
                      - MedSlot5
                      - MedSlot6
                      - MedSlot7
                      - MobileDepotHold
                      - MoonMaterialBay
                      - OfficeFolder
                      - Pilot
                      - PlanetSurface
                      - QuafeBay
                      - QuantumCoreRoom
                      - Reward
                      - RigSlot0
                      - RigSlot1
                      - RigSlot2
                      - RigSlot3
                      - RigSlot4
                      - RigSlot5
                      - RigSlot6
                      - RigSlot7
                      - SecondaryStorage
                      - ServiceSlot0
                      - ServiceSlot1
                      - ServiceSlot2
                      - ServiceSlot3
                      - ServiceSlot4
                      - ServiceSlot5
                      - ServiceSlot6
                      - ServiceSlot7
                      - ShipHangar
                      - ShipOffline
                      - Skill
                      - SkillInTraining
                      - SpecializedAmmoHold
                      - SpecializedAsteroidHold
                      - SpecializedCommandCenterHold
                      - SpecializedFuelBay
                      - SpecializedGasHold
                      - SpecializedIceHold
                      - SpecializedIndustrialShipHold
                      - SpecializedLargeShipHold
                      - SpecializedMaterialBay
                      - SpecializedMediumShipHold
                      - SpecializedMineralHold
                      - SpecializedOreHold
                      - SpecializedPlanetaryCommoditiesHold
                      - SpecializedSalvageHold
                      - SpecializedShipHold
                      - SpecializedSmallShipHold
                      - StructureActive
                      - StructureFuel
                      - StructureInactive
                      - StructureOffline
                      - SubSystemBay
                      - SubSystemSlot0
                      - SubSystemSlot1
                      - SubSystemSlot2
                      - SubSystemSlot3
                      - SubSystemSlot4
                      - SubSystemSlot5
                      - SubSystemSlot6
                      - SubSystemSlot7
                      - Unlocked
                      - Wallet
                      - Wardrobe
                      title: get_corporations_corporation_id_assets_location_flag
                      type: string
                    location_id:
                      description: location_id integer
                      format: int64
                      title: get_corporations_corporation_id_assets_location_id
                      type: integer
                    location_type:
                      description: location_type string
                      enum:
                      - station
                      - solar_system
                      - item
                      - other
                      title: get_corporations_corporation_id_assets_location_type
                      type: string
                    quantity:
                      description: quantity integer
                      format: int32
                      title: get_corporations_corporation_id_assets_quantity
                      type: integer
                    type_id:
                      description: type_id integer
                      format: int32
                      title: get_corporations_corporation_id_assets_type_id
                      type: integer
                  required:
                  - type_id
                  - quantity
                  - location_id
                  - location_type
                  - item_id
                  - location_flag
                  - is_singleton
                  title: get_corporations_corporation_id_assets_200_ok
                  type: object
                maxItems: 1000
                title: get_corporations_corporation_id_assets_ok
                type: array
              example:
              - is_blueprint_copy: true
                is_singleton: true
                item_id: 1000000016835
                location_flag: Hangar
                location_id: 60002959
                location_type: station
                quantity: 1
                type_id: 3516
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-assets.read_corporation_assets.v1
      summary: Get corporation assets
      tags:
      - Assets
      x-alternate-versions:
      - latest
      - legacy
      - v4
      - v5
      x-cached-seconds: 3600
      x-required-roles:
      - Director
    servers:
    - url: https://esi.evetech.net
components:
  schemas:
    unauthorized:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
          example: example
      required:
      - error
      title: Unauthorized
      type: object
    service_unavailable:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
          example: example
      required:
      - error
      title: Service unavailable
      type: object
    error_limited:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
          example: example
      required:
      - error
      title: Error limited
      type: object
    bad_request:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
          example: example
      required:
      - error
      title: Bad request
      type: object
    internal_server_error:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
          example: example
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
          example: example
        timeout:
          description: number of seconds the request was given
          type: integer
          example: 1
      required:
      - error
      title: Gateway timeout
      type: object
    forbidden:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
          example: example
        sso_status:
          description: status code received from SSO
          type: integer
          example: 1
      required:
      - error
      title: Forbidden
      type: object
    unauthorized_2:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
      required:
      - error
      title: Unauthorized
      type: object
    service_unavailable_2:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_2:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_2:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_2:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_2:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    forbidden_2:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
        sso_status:
          description: status code received from SSO
          type: integer
      required:
      - error
      title: Forbidden
      type: object
    unauthorized_3:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
      required:
      - error
      title: Unauthorized
      type: object
    service_unavailable_3:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_3:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_3:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_3:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_3:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    forbidden_3:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
        sso_status:
          description: status code received from SSO
          type: integer
      required:
      - error
      title: Forbidden
      type: object
    unauthorized_4:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
      required:
      - error
      title: Unauthorized
      type: object
    service_unavailable_4:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_4:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
      - error
      title: Error limited
      type: object
    bad_request_4:
      description: Bad request model
      properties:
        error:
          description: Bad request message
          type: string
      required:
      - error
      title: Bad request
      type: object
    internal_server_error_4:
      description: Internal server error model
      properties:
        error:
          description: Internal server error message
          type: string
      required:
      - error
      title: Internal server error
      type: object
    gateway_timeout_4:
      description: Gateway timeout model
      properties:
        error:
          description: Gateway timeout message
          type: string
        timeout:
          description: number of seconds the request was given
          type: integer
      required:
      - error
      title: Gateway timeout
      type: object
    forbidden_4:
      description: Forbidden model
      properties:
        error:
          description: Forbidden message
          type: string
        sso_status:
          description: status code received from SSO
          type: integer
      required:
      - error
      title: Forbidden
      type: object
    unauthorized_5:
      description: Unauthorized model
      properties:
        error:
          description: Unauthorized message
          type: string
      required:
      - error
      title: Unauthorized
      type: object
    service_unavailable_5:
      description: Service unavailable model
      properties:
        error:
          description: Service unavailable message
          type: string
      required:
      - error
      title: Service unavailable
      type: object
    error_limited_5:
      description: Error limited model
      properties:
        error:
          description: Error limited message
          type: string
      required:
[...]
