openapi: 3.0.0
info:
  description: An OpenAPI for EVE Online
  title: EVE Swagger Interface Alliance Industry API
  version: '1.36'
servers:
- url: https://esi.evetech.net/latest
tags:
- name: Industry
paths:
  /characters/{character_id}/industry/jobs/:
    get:
      description: 'List industry jobs placed by a character


        ---

        Alternate route: `/dev/characters/{character_id}/industry/jobs/`


        Alternate route: `/legacy/characters/{character_id}/industry/jobs/`


        Alternate route: `/v1/characters/{character_id}/industry/jobs/`


        ---

        This route is cached for up to 300 seconds'
      operationId: get_characters_character_id_industry_jobs
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - description: Whether to retrieve completed character industry jobs. Only includes jobs from the past 90 days
        in: query
        name: include_completed
        required: false
        schema:
          type: boolean
        example: false
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Industry jobs placed by a character
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    activity_id:
                      description: Job activity ID
                      format: int32
                      title: get_characters_character_id_industry_jobs_activity_id
                      type: integer
                    blueprint_id:
                      description: blueprint_id integer
                      format: int64
                      title: get_characters_character_id_industry_jobs_blueprint_id
                      type: integer
                    blueprint_location_id:
                      description: Location ID of the location from which the blueprint was installed. Normally a station ID, but can also be an asset (e.g. container) or corporation facility
                      format: int64
                      title: get_characters_character_id_industry_jobs_blueprint_location_id
                      type: integer
                    blueprint_type_id:
                      description: blueprint_type_id integer
                      format: int32
                      title: get_characters_character_id_industry_jobs_blueprint_type_id
                      type: integer
                    completed_character_id:
                      description: ID of the character which completed this job
                      format: int32
                      title: get_characters_character_id_industry_jobs_completed_character_id
                      type: integer
                    completed_date:
                      description: Date and time when this job was completed
                      format: date-time
                      title: get_characters_character_id_industry_jobs_completed_date
                      type: string
                    cost:
                      description: The sume of job installation fee and industry facility tax
                      format: double
                      title: get_characters_character_id_industry_jobs_cost
                      type: number
                    duration:
                      description: Job duration in seconds
                      format: int32
                      title: get_characters_character_id_industry_jobs_duration
                      type: integer
                    end_date:
                      description: Date and time when this job finished
                      format: date-time
                      title: get_characters_character_id_industry_jobs_end_date
                      type: string
                    facility_id:
                      description: ID of the facility where this job is running
                      format: int64
                      title: get_characters_character_id_industry_jobs_facility_id
                      type: integer
                    installer_id:
                      description: ID of the character which installed this job
                      format: int32
                      title: get_characters_character_id_industry_jobs_installer_id
                      type: integer
                    job_id:
                      description: Unique job ID
                      format: int32
                      title: get_characters_character_id_industry_jobs_job_id
                      type: integer
                    licensed_runs:
                      description: Number of runs blueprint is licensed for
                      format: int32
                      title: get_characters_character_id_industry_jobs_licensed_runs
                      type: integer
                    output_location_id:
                      description: Location ID of the location to which the output of the job will be delivered. Normally a station ID, but can also be a corporation facility
                      format: int64
                      title: get_characters_character_id_industry_jobs_output_location_id
                      type: integer
                    pause_date:
                      description: Date and time when this job was paused (i.e. time when the facility where this job was installed went offline)
                      format: date-time
                      title: get_characters_character_id_industry_jobs_pause_date
                      type: string
                    probability:
                      description: Chance of success for invention
                      format: float
                      title: get_characters_character_id_industry_jobs_probability
                      type: number
                    product_type_id:
                      description: Type ID of product (manufactured, copied or invented)
                      format: int32
                      title: get_characters_character_id_industry_jobs_product_type_id
                      type: integer
                    runs:
                      description: Number of runs for a manufacturing job, or number of copies to make for a blueprint copy
                      format: int32
                      title: get_characters_character_id_industry_jobs_runs
                      type: integer
                    start_date:
                      description: Date and time when this job started
                      format: date-time
                      title: get_characters_character_id_industry_jobs_start_date
                      type: string
                    station_id:
                      description: ID of the station where industry facility is located
                      format: int64
                      title: get_characters_character_id_industry_jobs_station_id
                      type: integer
                    status:
                      description: status string
                      enum:
                      - active
                      - cancelled
                      - delivered
                      - paused
                      - ready
                      - reverted
                      title: get_characters_character_id_industry_jobs_status
                      type: string
                    successful_runs:
                      description: Number of successful runs for this job. Equal to runs unless this is an invention job
                      format: int32
                      title: get_characters_character_id_industry_jobs_successful_runs
                      type: integer
                  required:
                  - job_id
                  - installer_id
                  - facility_id
                  - station_id
                  - activity_id
                  - blueprint_id
                  - blueprint_type_id
                  - blueprint_location_id
                  - output_location_id
                  - runs
                  - status
                  - duration
                  - start_date
                  - end_date
                  title: get_characters_character_id_industry_jobs_200_ok
                  type: object
                maxItems: 2000
                title: get_characters_character_id_industry_jobs_ok
                type: array
              examples:
                response:
                  value:
                  - activity_id: 1
                    blueprint_id: 1015116533326
                    blueprint_location_id: 60006382
                    blueprint_type_id: 2047
                    cost: 118.01
                    duration: 548
                    end_date: 2014-07-19 15:56:14+00:00
                    facility_id: 60006382
                    installer_id: 498338451
                    job_id: 229136101
                    licensed_runs: 200
                    output_location_id: 60006382
                    runs: 1
                    start_date: 2014-07-19 15:47:06+00:00
                    station_id: 60006382
                    status: active
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-industry.read_character_jobs.v1
      summary: EVE Online List Character Industry Jobs
      tags:
      - Industry
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 300
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /characters/{character_id}/mining/:
    get:
      description: 'Paginated record of all mining done by a character for the past 30 days



        ---

        Alternate route: `/dev/characters/{character_id}/mining/`


        Alternate route: `/legacy/characters/{character_id}/mining/`


        Alternate route: `/v1/characters/{character_id}/mining/`


        ---

        This route is cached for up to 600 seconds'
      operationId: get_characters_character_id_mining
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Mining ledger of a character
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    date:
                      description: date string
                      format: date
                      title: get_characters_character_id_mining_date
                      type: string
                    quantity:
                      description: quantity integer
                      format: int64
                      title: get_characters_character_id_mining_quantity
                      type: integer
                    solar_system_id:
                      description: solar_system_id integer
                      format: int32
                      title: get_characters_character_id_mining_solar_system_id
                      type: integer
                    type_id:
                      description: type_id integer
                      format: int32
                      title: get_characters_character_id_mining_type_id
                      type: integer
                  required:
                  - date
                  - solar_system_id
                  - type_id
                  - quantity
                  title: get_characters_character_id_mining_200_ok
                  type: object
                maxItems: 1000
                title: get_characters_character_id_mining_ok
                type: array
              examples:
                response:
                  value:
                  - date: 2017-09-19
                    quantity: 7004
                    solar_system_id: 30003707
                    type_id: 17471
                  - date: 2017-09-18
                    quantity: 5199
                    solar_system_id: 30003707
                    type_id: 17471
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-industry.read_character_mining.v1
      summary: EVE Online Character Mining Ledger
      tags:
      - Industry
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /corporation/{corporation_id}/mining/extractions/:
    get:
      description: 'Extraction timers for all moon chunks being extracted by refineries belonging to a corporation.



        ---

        Alternate route: `/dev/corporation/{corporation_id}/mining/extractions/`


        Alternate route: `/legacy/corporation/{corporation_id}/mining/extractions/`


        Alternate route: `/v1/corporation/{corporation_id}/mining/extractions/`


        ---

        This route is cached for up to 1800 seconds


        ---

        Requires one of the following EVE corporation role(s): Station_Manager

        '
      operationId: get_corporation_corporation_id_mining_extractions
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of chunk timers
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    chunk_arrival_time:
                      description: 'The time at which the chunk being extracted will arrive and can be fractured by the moon mining drill.

                        '
                      format: date-time
                      title: get_corporation_corporation_id_mining_extractions_chunk_arrival_time
                      type: string
                    extraction_start_time:
                      description: 'The time at which the current extraction was initiated.

                        '
                      format: date-time
                      title: get_corporation_corporation_id_mining_extractions_extraction_start_time
                      type: string
                    moon_id:
                      description: moon_id integer
                      format: int32
                      title: get_corporation_corporation_id_mining_extractions_moon_id
                      type: integer
                    natural_decay_time:
                      description: 'The time at which the chunk being extracted will naturally fracture if it is not first fractured by the moon mining drill.

                        '
                      format: date-time
                      title: get_corporation_corporation_id_mining_extractions_natural_decay_time
                      type: string
                    structure_id:
                      description: structure_id integer
                      format: int64
                      title: get_corporation_corporation_id_mining_extractions_structure_id
                      type: integer
                  required:
                  - structure_id
                  - moon_id
                  - extraction_start_time
                  - chunk_arrival_time
                  - natural_decay_time
                  title: get_corporation_corporation_id_mining_extractions_200_ok
                  type: object
                maxItems: 1000
                title: get_corporation_corporation_id_mining_extractions_ok
                type: array
              examples:
                response:
                  value:
                  - chunk_arrival_time: 2017-10-17 11:00:59+00:00
                    extraction_start_time: 2017-10-11 10:37:04+00:00
                    moon_id: 40307229
                    natural_decay_time: 2017-10-17 14:00:59+00:00
                    structure_id: 1000000010579
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-industry.read_corporation_mining.v1
      summary: EVE Online Moon Extraction Timers
      tags:
      - Industry
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 1800
      x-required-roles:
      - Station_Manager
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /corporation/{corporation_id}/mining/observers/:
    get:
      description: 'Paginated list of all entities capable of observing and recording mining for a corporation



        ---

        Alternate route: `/dev/corporation/{corporation_id}/mining/observers/`


        Alternate route: `/legacy/corporation/{corporation_id}/mining/observers/`


        Alternate route: `/v1/corporation/{corporation_id}/mining/observers/`


        ---

        This route is cached for up to 3600 seconds


        ---

        Requires one of the following EVE corporation role(s): Accountant

        '
      operationId: get_corporation_corporation_id_mining_observers
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Observer list of a corporation
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    last_updated:
                      description: last_updated string
                      format: date
                      title: get_corporation_corporation_id_mining_observers_last_updated
                      type: string
                    observer_id:
                      description: 'The entity that was observing the asteroid field when it was mined.

                        '
                      format: int64
                      title: get_corporation_corporation_id_mining_observers_observer_id
                      type: integer
                    observer_type:
                      description: The category of the observing entity
                      enum:
                      - structure
                      title: get_corporation_corporation_id_mining_observers_observer_type
                      type: string
                  required:
                  - last_updated
                  - observer_id
                  - observer_type
                  title: get_corporation_corporation_id_mining_observers_200_ok
                  type: object
                maxItems: 1000
                title: get_corporation_corporation_id_mining_observers_ok
                type: array
              examples:
                response:
                  value:
                  - last_updated: 2017-09-19
                    observer_id: 1
                    observer_type: structure
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-industry.read_corporation_mining.v1
      summary: EVE Online Corporation Mining Observers
      tags:
      - Industry
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
      x-required-roles:
      - Accountant
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /corporation/{corporation_id}/mining/observers/{observer_id}/:
    get:
      description: 'Paginated record of all mining seen by an observer



        ---

        Alternate route: `/dev/corporation/{corporation_id}/mining/observers/{observer_id}/`


        Alternate route: `/legacy/corporation/{corporation_id}/mining/observers/{observer_id}/`


        Alternate route: `/v1/corporation/{corporation_id}/mining/observers/{observer_id}/`


        ---

        This route is cached for up to 3600 seconds


        ---

        Requires one of the following EVE corporation role(s): Accountant

        '
      operationId: get_corporation_corporation_id_mining_observers_observer_id
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - description: A mining observer id
        in: path
        name: observer_id
        required: true
        schema:
          type: integer
          format: int64
        example: 1001
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Mining ledger of an observer
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    character_id:
                      description: 'The character that did the mining

                        '
                      format: int32
                      title: get_corporation_corporation_id_mining_observers_observer_id_character_id
                      type: integer
                    last_updated:
                      description: last_updated string
                      format: date
                      title: get_corporation_corporation_id_mining_observers_observer_id_last_updated
                      type: string
                    quantity:
                      description: quantity integer
                      format: int64
                      title: get_corporation_corporation_id_mining_observers_observer_id_quantity
                      type: integer
                    recorded_corporation_id:
                      description: 'The corporation id of the character at the time data was recorded.

                        '
                      format: int32
                      title: get_corporation_corporation_id_mining_observers_observer_id_recorded_corporation_id
                      type: integer
                    type_id:
                      description: type_id integer
                      format: int32
                      title: get_corporation_corporation_id_mining_observers_observer_id_type_id
                      type: integer
                  required:
                  - last_updated
                  - character_id
                  - recorded_corporation_id
                  - type_id
                  - quantity
                  title: get_corporation_corporation_id_mining_observers_observer_id_200_ok
                  type: object
                maxItems: 1000
                title: get_corporation_corporation_id_mining_observers_observer_id_ok
                type: array
              examples:
                response:
                  value:
                  - character_id: 95465499
                    last_updated: 2017-09-19
                    quantity: 500
                    recorded_corporation_id: 109299958
                    type_id: 1230
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-industry.read_corporation_mining.v1
      summary: EVE Online Observed Corporation Mining
      tags:
      - Industry
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
      x-required-roles:
      - Accountant
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /corporations/{corporation_id}/industry/jobs/:
    get:
      description: 'List industry jobs run by a corporation


        ---

        Alternate route: `/dev/corporations/{corporation_id}/industry/jobs/`


        Alternate route: `/legacy/corporations/{corporation_id}/industry/jobs/`


        Alternate route: `/v1/corporations/{corporation_id}/industry/jobs/`


        ---

        This route is cached for up to 300 seconds


        ---

        Requires one of the following EVE corporation role(s): Factory_Manager

        '
      operationId: get_corporations_corporation_id_industry_jobs
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - description: Whether to retrieve completed corporation industry jobs. Only includes jobs from the past 90 days
        in: query
        name: include_completed
        required: false
        schema:
          type: boolean
          default: false
        example: false
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: A list of corporation industry jobs
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            X-Pages:
              description: Maximum page number
              schema:
                type: integer
                format: int32
                default: 1
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    activity_id:
                      description: Job activity ID
                      format: int32
                      title: get_corporations_corporation_id_industry_jobs_activity_id
                      type: integer
                    blueprint_id:
                      description: blueprint_id integer
                      format: int64
                      title: get_corporations_corporation_id_industry_jobs_blueprint_id
                      type: integer
                    blueprint_location_id:
                      description: Location ID of the location from which the blueprint was installed. Normally a station ID, but can also be an asset (e.g. container) or corporation facility
                      format: int64
                      title: get_corporations_corporation_id_industry_jobs_blueprint_location_id
                      type: integer
                    blueprint_type_id:
                      description: blueprint_type_id integer
                      format: int32
                      title: get_corporations_corporation_id_industry_jobs_blueprint_type_id
                      type: integer
                    completed_character_id:
                      description: ID of the character which completed this job
                      format: int32
                      title: get_corporations_corporation_id_industry_jobs_completed_character_id
                      type: integer
                    completed_date:
                      description: Date and time when this job was completed
                      format: date-time
                      title: get_corporations_corporation_id_industry_jobs_completed_date
                      type: string
                    cost:
                      description: The sume of job installation fee and industry facility tax
                      format: double
                      title: get_corporations_corporation_id_industry_jobs_cost
                      type: number
                    duration:
                      description: Job duration in seconds
                      format: int32
                      title: get_corporations_corporation_id_industry_jobs_duration
                      type: integer
                    end_date:
                      description: Date and time when this job finished
                      format: date-time
                      title: get_corporations_corporation_id_industry_jobs_end_date
                      type: string
                    facility_id:
                      description: ID of the facility where this job is running
                      format: int64
                      title: get_corporations_corporation_id_industry_jobs_facility_id
                      type: integer
                    installer_id:
                      description: ID of the character which installed this job
                      format: int32
                      title: get_corporations_corporation_id_industry_jobs_installer_id
                      type: integer
                    job_id:
                      description: Unique job ID
                      format: int32
                      title: get_corporations_corporation_id_industry_jobs_job_id
                      type: integer
                    licensed_runs:
                      description: Number of runs blueprint is licensed for
                      format: int32
                      title: get_corporations_corporation_id_industry_jobs_licensed_runs
                      type: integer
                    location_id:
                      description: ID of the location for the industry facility
                      format: int64
                      title: get_corporations_corporation_id_industry_jobs_location_id
                      type: integer
                    output_location_id:
                      description: Location ID of the location to which the output of the job will be delivered. Normally a station ID, but can also be a corporation facility
                      format: int64
                      title: get_corporations_corporation_id_industry_jobs_output_location_id
                      type: integer
                    pause_date:
                      description: Date and time when this job was paused (i.e. time when the facility where this job was installed went offline)
                      format: date-time
                      title: get_corporations_corporation_id_industry_jobs_pause_date
                      type: string
                    probability:
                      description: Chance of success for invention
                      format: float
                      title: get_corporations_corporation_id_industry_jobs_probability
                      type: number
                    product_type_id:
                      description: Type ID of product (manufactured, copied or invented)
                      format: int32
                      title: get_corporations_corporation_id_industry_jobs_product_type_id
                      type: integer
                    runs:
                      description: Number of runs for a manufacturing job, or number of copies to make for a blueprint copy
                      format: int32
                      title: get_corporations_corporation_id_industry_jobs_runs
                      type: integer
                    start_date:
                      description: Date and time when this job started
                      format: date-time
                      title: get_corporations_corporation_id_industry_jobs_start_date
                      type: string
                    status:
                      description: status string
                      enum:
                      - active
                      - cancelled
                      - delivered
                      - paused
                      - ready
                      - reverted
                      title: get_corporations_corporation_id_industry_jobs_status
                      type: string
                    successful_runs:
                      description: Number of successful runs for this job. Equal to runs unless this is an invention job
                      format: int32
                      title: get_corporations_corporation_id_industry_jobs_successful_runs
                      type: integer
                  required:
                  - job_id
                  - installer_id
                  - facility_id
                  - location_id
                  - activity_id
                  - blueprint_id
                  - blueprint_type_id
                  - blueprint_location_id
                  - output_location_id
                  - runs
                  - status
                  - duration
                  - start_date
                  - end_date
                  title: get_corporations_corporation_id_industry_jobs_200_ok
                  type: object
                maxItems: 1000
                title: get_corporations_corporation_id_industry_jobs_ok
                type: array
              examples:
                response:
                  value:
                  - activity_id: 1
                    blueprint_id: 1015116533326
                    blueprint_location_id: 60006382
                    blueprint_type_id: 2047
                    cost: 118.01
                    duration: 548
                    end_date: 2014-07-19 15:56:14+00:00
                    facility_id: 60006382
                    installer_id: 498338451
                    job_id: 229136101
                    licensed_runs: 200
                    location_id: 60006382
                    output_location_id: 60006382
                    runs: 1
                    start_date: 2014-07-19 15:47:06+00:00
                    status: active
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-industry.read_corporation_jobs.v1
      summary: EVE Online List Corporation Industry Jobs
      tags:
      - Industry
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 300
      x-required-roles:
      - Factory_Manager
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /industry/facilities/:
    get:
      description: 'Return a list of industry facilities


        ---

        Alternate route: `/dev/industry/facilities/`


        Alternate route: `/legacy/industry/facilities/`


        Alternate route: `/v1/industry/facilities/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_industry_facilities
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: A list of facilities
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    facility_id:
                      description: ID of the facility
                      format: int64
                      title: get_industry_facilities_facility_id
                      type: integer
                    owner_id:
                      description: Owner of the facility
                      format: int32
                      title: get_industry_facilities_owner_id
                      type: integer
                    region_id:
                      description: Region ID where the facility is
                      format: int32
                      title: get_industry_facilities_region_id
                      type: integer
                    solar_system_id:
                      description: Solar system ID where the facility is
                      format: int32
                      title: get_industry_facilities_solar_system_id
                      type: integer
                    tax:
                      description: Tax imposed by the facility
                      format: float
                      title: get_industry_facilities_tax
                      type: number
                    type_id:
                      description: Type ID of the facility
                      format: int32
                      title: get_industry_facilities_type_id
                      type: integer
                  required:
                  - facility_id
                  - owner_id
                  - type_id
                  - solar_system_id
                  - region_id
                  title: get_industry_facilities_200_ok
                  type: object
                maxItems: 10000
                title: get_industry_facilities_ok
                type: array
              examples:
                response:
                  value:
                  - facility_id: 60012544
                    owner_id: 1000126
                    region_id: 10000001
                    solar_system_id: 30000032
                    tax: 0.1
                    type_id: 2502
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online List Industry Facilities
      tags:
      - Industry
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /industry/systems/:
    get:
      description: 'Return cost indices for solar systems


        ---

        Alternate route: `/dev/industry/systems/`


        Alternate route: `/legacy/industry/systems/`


        Alternate route: `/v1/industry/systems/`


        ---

        This route is cached for up to 3600 seconds'
      operationId: get_industry_systems
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: A list of cost indicies
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    cost_indices:
                      description: cost_indices array
                      items:
                        description: cost_indice object
                        properties:
                          activity:
                            description: activity string
                            enum:
                            - copying
                            - duplicating
                            - invention
                            - manufacturing
                            - none
                            - reaction
                            - researching_material_efficiency
                            - researching_technology
                            - researching_time_efficiency
                            - reverse_engineering
                            title: get_industry_systems_activity
                            type: string
                          cost_index:
                            description: cost_index number
                            format: float
                            title: get_industry_systems_cost_index
                            type: number
                        required:
                        - activity
                        - cost_index
                        title: get_industry_systems_cost_indice
                        type: object
                      maxItems: 10
                      title: get_industry_systems_cost_indices
                      type: array
                    solar_system_id:
                      description: solar_system_id integer
                      format: int32
                      title: get_industry_systems_solar_system_id
                      type: integer
                  required:
                  - solar_system_id
                  - cost_indices
                  title: get_industry_systems_200_ok
                  type: object
                maxItems: 10000
                title: get_industry_systems_ok
                type: array
              examples:
                response:
                  value:
                  - cost_indices:
                    - activity: invention
                      cost_index: 0.0048
                    solar_system_id: 30011392
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online List Solar System Cost Indices
      tags:
      - Industry
      x-alternate-versions:
      - dev
      - legacy
      - v1
      x-cached-seconds: 3600
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v1/characters/{character_id}/industry/jobs/:
    get:
      description: 'List industry jobs placed by a character


        ---


        This route is cached for up to 300 seconds'
      operationId: get_characters_character_id_industry_jobs
      parameters:
      - $ref: '#/parameters/character_id'
      - $ref: '#/parameters/datasource'
      - $ref: '#/parameters/If-None-Match'
      - description: Whether to retrieve completed character industry jobs. Only includes jobs from the past 90 days
        in: query
        name: include_completed
        required: false
        type: boolean
      - $ref: '#/parameters/token'
      responses:
        '200':
          description: Industry jobs placed by a character
          examples:
            application/json:
            - activity_id: 1
              blueprint_id: 1015116533326
              blueprint_location_id: 60006382
              blueprint_type_id: 2047
              cost: 118.01
              duration: 548
              end_date: '2014-07-19T15:56:14Z'
              facility_id: 60006382
              installer_id: 498338451
              job_id: 229136101
              licensed_runs: 200
              output_location_id: 60006382
              runs: 1
              start_date: '2014-07-19T15:47:06Z'
              station_id: 60006382
              status: active
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
          schema:
            description: 200 ok array
            items:
              description: 200 ok object
              properties:
                activity_id:
                  description: Job activity ID
                  format: int32
                  title: get_characters_character_id_industry_jobs_activity_id
                  type: integer
                blueprint_id:
                  description: blueprint_id integer
                  format: int64
                  title: get_characters_character_id_industry_jobs_blueprint_id
                  type: integer
                blueprint_location_id:
                  description: Location ID of the location from which the blueprint was installed. Normally a station ID, but can also be an asset (e.g. container) or corporation facility
                  format: int64
                  title: get_characters_character_id_industry_jobs_blueprint_location_id
                  type: integer
                blueprint_type_id:
                  description: blueprint_type_id integer
                  format: int32
                  title: get_characters_character_id_industry_jobs_blueprint_type_id
                  type: integer
                completed_character_id:
                  description: ID of the character which completed this job
                  format: int32
                  title: get_characters_character_id_industry_jobs_completed_character_id
                  type: integer
                completed_date:
                  description: Date and time when this job was completed
                  format: date-time
                  title: get_characters_character_id_industry_jobs_completed_date
                  type: string
                cost:
                  description: The sume of job installation fee and industry facility tax
                  format: double
                  title: get_characters_character_id_industry_jobs_cost
                  type: number
                duration:
                  description: Job duration in seconds
                  format: int32
                  title: get_characters_character_id_industry_jobs_duration
                  type: integer
                end_date:
                  description: Date and time when this job finished
                  format: date-time
                  title: get_characters_character_id_industry_jobs_end_date
                  type: string
                facility_id:
                  description: ID of the facility where this job is running
                  format: int64
                  title: get_characters_character_id_industry_jobs_facility_id
                  type: integer
                installer_id:
                  description: ID of the character which installed this job
                  format: int32
                  title: get_characters_character_id_industry_jobs_installer_id
                  type: integer
                job_id:
                  description: Unique job ID
                  format: int32
                  title: get_characters_character_id_industry_jobs_job_id
                  type: integer
                licensed_runs:
                  description: Number of runs blueprint is licensed for
                  format: int32
                  title: get_characters_character_id_industry_jobs_licensed_runs
                  type: integer
                output_location_id:
                  description: Location ID of the location to which the output of the job will be delivered. Normally a station ID, but can also be a corporation facility
                  format: int64
                  title: get_characters_character_id_industry_jobs_output_location_id
                  type: integer
                pause_date:
                  description: Date and time when this job was paused (i.e. time when the facility where this job was installed went offline)
                  format: date-time
                  title: get_characters_character_id_industry_jobs_pause_date
                  type: string
                probability:
                  description: Chance of success for invention
                  format: float
                  title: get_characters_character_id_industry_jobs_probability
                  type: number
                product_type_id:
                  description: Type ID of product (manufactured, copied or invented)
                  format: int32
                  title: get_characters_character_id_industry_jobs_product_type_id
                  type: integer
                runs:
                  description: Number of runs for a manufacturing job, or number of copies to make for a blueprint copy
                  format: int32
                  title: get_characters_character_id_industry_jobs_runs
                  type: integer
                start_date:
                  description: Date and time when this job started
                  format: date-time
                  title: get_characters_character_id_industry_jobs_start_date
                  type: string
                station_id:
                  description: ID of the station where industry facility is located
                  format: int64
                  title: get_characters_character_id_industry_jobs_station_id
                  type: integer
                status:
                  description: status string
                  enum:
                  - active
                  - cancelled
                  - delivered
                  - paused
                  - ready
                  - reverted
                  title: get_characters_character_id_industry_jobs_status
                  type: string
                successful_runs:
                  description: Number of successful runs for this job. Equal to runs unless this is an invention job
                  format: int32
                  title: get_characters_character_id_industry_jobs_successful_runs
                  type: integer
              required:
              - job_id
              - installer_id
              - facility_id
              - station_id
              - activity_id
              - blueprint_id
              - blueprint_type_id
              - blueprint_location_id
              - output_location_id
              - runs
              - status
              - duration
              - start_date
              - end_date
              title: get_characters_character_id_industry_jobs_200_ok
              type: object
            maxItems: 2000
            title: get_characters_character_id_industry_jobs_ok
            type: array
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '401':
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: '#/definitions/unauthorized'
        '403':
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: '#/definitions/forbidden'
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
        '504':
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
      security:
      - evesso:
        - esi-industry.read_character_jobs.v1
      summary: List character industry jobs
      tags:
      - Industry
      x-alternate-versions:
      - latest
      - legacy
      - v1
      x-cached-seconds: 300
  /v1/characters/{character_id}/mining/:
    get:
      description: 'Paginated record of all mining done by a character for the past 30 days


        ---


        This route is cached for up to 600 seconds'
      operationId: get_characters_character_id_mining
      parameters:
      - $ref: '#/parameters/character_id'
      - $ref: '#/parameters/datasource'
      - $ref: '#/parameters/If-None-Match'
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/token'
      responses:
        '200':
          description: Mining ledger of a character
          examples:
            application/json:
            - date: '2017-09-19'
              quantity: 7004
              solar_system_id: 30003707
              type_id: 17471
            - date: '2017-09-18'
              quantity: 5199
              solar_system_id: 30003707
              type_id: 17471
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
            X-Pages:
              default: 1
              description: Maximum page number
              format: int32
              type: integer
          schema:
            description: 200 ok array
            items:
              description: 200 ok object
              properties:
                date:
                  description: date string
                  format: date
                  title: get_characters_character_id_mining_date
                  type: string
                quantity:
                  description: quantity integer
                  format: int64
                  title: get_characters_character_id_mining_quantity
                  type: integer
                solar_system_id:
                  description: solar_system_id integer
                  format: int32
                  title: get_characters_character_id_mining_solar_system_id
                  type: integer
                type_id:
                  description: type_id integer
                  format: int32
                  title: get_characters_character_id_mining_type_id
                  type: integer
              required:
              - date
              - solar_system_id
              - type_id
              - quantity
              title: get_characters_character_id_mining_200_ok
              type: object
            maxItems: 1000
            title: get_characters_character_id_mining_ok
            type: array
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '401':
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: '#/definitions/unauthorized'
        '403':
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: '#/definitions/forbidden'
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
        '504':
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
      security:
      - evesso:
        - esi-industry.read_character_mining.v1
      summary: Character mining ledger
      tags:
      - Industry
      x-alternate-versions:
      - latest
      - legacy
      - v1
      x-cached-seconds: 600
  /v1/corporation/{corporation_id}/mining/extractions/:
    get:
      description: 'Extraction timers for all moon chunks being extracted by refineries belonging to a corporation.


        ---


        This route is cached for up to 1800 seconds


        ---

        Requires one of the following EVE corporation role(s): Station_Manager'
      operationId: get_corporation_corporation_id_mining_extractions
      parameters:
      - $ref: '#/parameters/corporation_id'
      - $ref: '#/parameters/datasource'
      - $ref: '#/parameters/If-None-Match'
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/token'
      responses:
        '200':
          description: A list of chunk timers
          examples:
            application/json:
            - chunk_arrival_time: '2017-10-17T11:00:59Z'
              extraction_start_time: '2017-10-11T10:37:04Z'
              moon_id: 40307229
              natural_decay_time: '2017-10-17T14:00:59Z'
              structure_id: 1000000010579
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
            X-Pages:
              default: 1
              description: Maximum page number
              format: int32
              type: integer
          schema:
            description: 200 ok array
            items:
              description: 200 ok object
              properties:
                chunk_arrival_time:
                  description: 'The time at which the chunk being extracted will arrive and can be fractured by the moon mining drill.

                    '
                  format: date-time
                  title: get_corporation_corporation_id_mining_extractions_chunk_arrival_time
                  type: string
                extraction_start_time:
                  description: 'The time at which the current extraction was initiated.

                    '
                  format: date-time
                  title: get_corporation_corporation_id_mining_extractions_extraction_start_time
                  type: string
                moon_id:
                  description: moon_id integer
                  format: int32
                  title: get_corporation_corporation_id_mining_extractions_moon_id
                  type: integer
                natural_decay_time:
                  description: 'The time at which the chunk being extracted will naturally fracture if it is not first fractured by the moon mining drill.

                    '
                  format: date-time
                  title: get_corporation_corporation_id_mining_extractions_natural_decay_time
                  type: string
                structure_id:
                  description: structure_id integer
                  format: int64
                  title: get_corporation_corporation_id_mining_extractions_structure_id
                  type: integer
              required:
              - structure_id
              - moon_id
              - extraction_start_time
              - chunk_arrival_time
              - natural_decay_time
              title: get_corporation_corporation_id_mining_extractions_200_ok
              type: object
            maxItems: 1000
            title: get_corporation_corporation_id_mining_extractions_ok
            type: array
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '401':
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: '#/definitions/unauthorized'
        '403':
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: '#/definitions/forbidden'
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
        '504':
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
      security:
      - evesso:
        - esi-industry.read_corporation_mining.v1
      summary: Moon extraction timers
      tags:
      - Industry
      x-alternate-versions:
      - latest
      - legacy
      - v1
      x-cached-seconds: 1800
      x-required-roles:
      - Station_Manager
  /v1/corporation/{corporation_id}/mining/observers/:
    get:
      description: 'Paginated list of all entities capable of observing and recording mining for a corporation


        ---


        This route is cached for up to 3600 seconds


        ---

        Requires one of the following EVE corporation role(s): Accountant'
      operationId: get_corporation_corporation_id_mining_observers
      parameters:
      - $ref: '#/parameters/corporation_id'
      - $ref: '#/parameters/datasource'
      - $ref: '#/parameters/If-None-Match'
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/token'
      responses:
        '200':
          description: Observer list of a corporation
          examples:
            application/json:
            - last_updated: '2017-09-19'
              observer_id: 1
              observer_type: structure
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
            X-Pages:
              default: 1
              description: Maximum page number
              format: int32
              type: integer
          schema:
            description: 200 ok array
            items:
              description: 200 ok object
              properties:
                last_updated:
                  description: last_updated string
                  format: date
                  title: get_corporation_corporation_id_mining_observers_last_updated
                  type: string
                observer_id:
                  description: 'The entity that was observing the asteroid field when it was mined.

                    '
                  format: int64
                  title: get_corporation_corporation_id_mining_observers_observer_id
                  type: integer
                observer_type:
                  description: The category of the observing entity
                  enum:
                  - structure
                  title: get_corporation_corporation_id_mining_observers_observer_type
                  type: string
              required:
              - last_updated
              - observer_id
              - observer_type
              title: get_corporation_corporation_id_mining_observers_200_ok
              type: object
            maxItems: 1000
            title: get_corporation_corporation_id_mining_observers_ok
            type: array
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '401':
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: '#/definitions/unauthorized'
        '403':
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: '#/definitions/forbidden'
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
        '504':
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
      security:
      - evesso:
        - esi-industry.read_corporation_mining.v1
      summary: Corporation mining observers
      tags:
      - Industry
      x-alternate-versions:
      - latest
      - legacy
      - v1
      x-cached-seconds: 3600
      x-required-roles:
      - Accountant
  /v1/corporation/{corporation_id}/mining/observers/{observer_id}/:
    get:
      description: 'Paginated record of all mining seen by an observer


        ---


        This route is cached for up to 3600 seconds


        ---

        Requires one of the following EVE corporation role(s): Accountant'
      operationId: get_corporation_corporation_id_mining_observers_observer_id
      parameters:
      - $ref: '#/parameters/corporation_id'
      - $ref: '#/parameters/datasource'
      - $ref: '#/parameters/If-None-Match'
      - description: A mining observer id
        format: int64
        in: path
        name: observer_id
        required: true
        type: integer
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/token'
      responses:
        '200':
          description: Mining ledger of an observer
          examples:
            application/json:
            - character_id: 95465499
              last_updated: '2017-09-19'
              quantity: 500
              recorded_corporation_id: 109299958
              type_id: 1230
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
            X-Pages:
              default: 1
              description: Maximum page number
              format: int32
              type: integer
          schema:
            description: 200 ok array
            items:
              description: 200 ok object
              properties:
                character_id:
                  description: 'The character that did the mining

                    '
                  format: int32
                  title: get_corporation_corporation_id_mining_observers_observer_id_character_id
                  type: integer
                last_updated:
                  description: last_updated string
                  format: date
                  title: get_corporation_corporation_id_mining_observers_observer_id_last_updated
                  type: string
                quantity:
                  description: quantity integer
                  format: int64
                  title: get_corporation_corporation_id_mining_observers_observer_id_quantity
                  type: integer
                recorded_corporation_id:
                  description: 'The corporation id of the character at the time data was recorded.

                    '
                  format: int32
                  title: get_corporation_corporation_id_mining_observers_observer_id_recorded_corporation_id
                  type: integer
                type_id:
                  description: type_id integer
                  format: int32
                  title: get_corporation_corporation_id_mining_observers_observer_id_type_id
                  type: integer
              required:
              - last_updated
              - character_id
              - recorded_corporation_id
              - type_id
              - quantity
              title: get_corporation_corporation_id_mining_observers_observer_id_200_ok
              type: object
            maxItems: 1000
            title: get_corporation_corporation_id_mining_observers_observer_id_ok
            type: array
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              type: string
            ETag:
              description: RFC7232 compliant entity tag
              type: string
            Expires:
              description: RFC7231 formatted datetime string
              type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              type: string
        '400':
          description: Bad request
          examples:
            application/json:
              error: Bad request message
          schema:
            $ref: '#/definitions/bad_request'
        '401':
          description: Unauthorized
          examples:
            application/json:
              error: Unauthorized message
          schema:
            $ref: '#/definitions/unauthorized'
        '403':
          description: Forbidden
          examples:
            application/json:
              error: Forbidden message
          schema:
            $ref: '#/definitions/forbidden'
        '420':
          description: Error limited
          examples:
            application/json:
              error: Error limited message
          schema:
            $ref: '#/definitions/error_limited'
        '500':
          description: Internal server error
          examples:
            application/json:
              error: Internal server error message
          schema:
            $ref: '#/definitions/internal_server_error'
        '503':
          description: Service unavailable
          examples:
            application/json:
              error: Service unavailable message
          schema:
            $ref: '#/definitions/service_unavailable'
        '504':
          description: Gateway timeout
          examples:
            application/json:
              error: Gateway timeout message
          schema:
            $ref: '#/definitions/gateway_timeout'
      security:
      - evesso:
        - esi-industry.read_corporation_mining.v1
      summary: Observed corporation mining
      tags:
      - Industry
      x-alternate-versions:
      - latest
      - legacy
      - v1
      x-cached-seconds: 3600
      x-required-roles:
      - Accountant
  /v1/corporations/{corporation_id}/industry/jobs/:
    get:
      description: 'List industry jobs run by a corporation


        ---


        This route is cached for up to 300 seconds


        ---

        Requires one of the following EVE corporation role(s): Factory_Manager'
      operationId: get_corporations_corporation_id_industry_jobs
      parameters:
      - $ref: '#/parameters/corporation_id'
      - $ref: '#/parameters/datasource'
      - $ref: '#/parameters/If-None-Match'
      - default: false
        description: Whether to retrieve completed corporation industry jobs. Only includes jobs from the past 90 days
        in: query
        name: include_completed
        required: false
        type: boolean
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/token'
      responses:
        '200':
          description: A list of corporation industry jobs
          examples:
            application/json:
            - activity_id: 1
              blueprint_id: 1015116533326
              blueprint_location_id: 60006382
              blueprint_type_id: 2047
              cost: 118.01
              duration: 548
              end_date: '2014-07-19T15:56:14Z'
              facility_id: 60006382
              installer_id: 498338451
              job_id: 229136101
              licensed_runs: 200
              location_id: 60006382
              output_location_id: 60006382
[...]
