openapi: 3.2.0
info:
  title: Eve Online Faction Warfare API
  version: '1.36'
  description: 'Operations tagged Faction Warfare across 7 of this provider''s published API definitions: eve-online-openapi.yml, swagger.json, swagger_2.json, swagger_3.json, swagger_4.json, swagger_5.json, swagger_6.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://esi.evetech.net/latest
- url: https://esi.evetech.net
- url: https://esi.evetech.net/legacy
- url: https://esi.evetech.net/dev
tags:
- name: Faction Warfare
paths:
  /characters/{character_id}/fw/stats/:
    get:
      description: 'Statistical overview of a character involved in faction warfare


        ---

        Alternate route: `/dev/characters/{character_id}/fw/stats/`


        Alternate route: `/legacy/characters/{character_id}/fw/stats/`


        Alternate route: `/v1/characters/{character_id}/fw/stats/`


        Alternate route: `/v2/characters/{character_id}/fw/stats/`


        ---

        This route expires daily at 11:05'
      operationId: get_characters_character_id_fw_stats
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Faction warfare statistics for a given character
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  current_rank:
                    description: The given character's current faction rank
                    format: int32
                    maximum: 9
                    minimum: 0
                    title: get_characters_character_id_fw_stats_current_rank
                    type: integer
                  enlisted_on:
                    description: The enlistment date of the given character into faction warfare. Will not be included if character is not enlisted in faction warfare
                    format: date-time
                    title: get_characters_character_id_fw_stats_enlisted_on
                    type: string
                  faction_id:
                    description: The faction the given character is enlisted to fight for. Will not be included if character is not enlisted in faction warfare
                    format: int32
                    title: get_characters_character_id_fw_stats_faction_id
                    type: integer
                  highest_rank:
                    description: The given character's highest faction rank achieved
                    format: int32
                    maximum: 9
                    minimum: 0
                    title: get_characters_character_id_fw_stats_highest_rank
                    type: integer
                  kills:
                    description: Summary of kills done by the given character against enemy factions
                    properties:
                      last_week:
                        description: Last week's total number of kills by a given character against enemy factions
                        format: int32
                        title: get_characters_character_id_fw_stats_last_week
                        type: integer
                      total:
                        description: Total number of kills by a given character against enemy factions since the character enlisted
                        format: int32
                        title: get_characters_character_id_fw_stats_total
                        type: integer
                      yesterday:
                        description: Yesterday's total number of kills by a given character against enemy factions
                        format: int32
                        title: get_characters_character_id_fw_stats_yesterday
                        type: integer
                    required:
                    - yesterday
                    - last_week
                    - total
                    title: get_characters_character_id_fw_stats_kills
                    type: object
                  victory_points:
                    description: Summary of victory points gained by the given character for the enlisted faction
                    properties:
                      last_week:
                        description: Last week's victory points gained by the given character
                        format: int32
                        title: get_characters_character_id_fw_stats_victory_points_last_week
                        type: integer
                      total:
                        description: Total victory points gained since the given character enlisted
                        format: int32
                        title: get_characters_character_id_fw_stats_victory_points_total
                        type: integer
                      yesterday:
                        description: Yesterday's victory points gained by the given character
                        format: int32
                        title: get_characters_character_id_fw_stats_victory_points_yesterday
                        type: integer
                    required:
                    - yesterday
                    - last_week
                    - total
                    title: get_characters_character_id_fw_stats_victory_points
                    type: object
                required:
                - kills
                - victory_points
                title: get_characters_character_id_fw_stats_ok
                type: object
              examples:
                response:
                  value:
                    enlisted_on: 2017-10-17 00:00:00+00:00
                    faction_id: 500001
                    kills:
                      last_week: 893
                      total: 684350
                      yesterday: 136
                    victory_points:
                      last_week: 102640
                      total: 52658260
                      yesterday: 15980
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-characters.read_fw_stats.v1
      summary: EVE Online Overview of a Character Involved in Faction Warfare
      tags:
      - Faction Warfare
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /corporations/{corporation_id}/fw/stats/:
    get:
      description: 'Statistics about a corporation involved in faction warfare


        ---

        Alternate route: `/dev/corporations/{corporation_id}/fw/stats/`


        Alternate route: `/legacy/corporations/{corporation_id}/fw/stats/`


        Alternate route: `/v1/corporations/{corporation_id}/fw/stats/`


        Alternate route: `/v2/corporations/{corporation_id}/fw/stats/`


        ---

        This route expires daily at 11:05'
      operationId: get_corporations_corporation_id_fw_stats
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Faction warfare statistics for a given corporation
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  enlisted_on:
                    description: The enlistment date of the given corporation into faction warfare. Will not be included if corporation is not enlisted in faction warfare
                    format: date-time
                    title: get_corporations_corporation_id_fw_stats_enlisted_on
                    type: string
                  faction_id:
                    description: The faction the given corporation is enlisted to fight for. Will not be included if corporation is not enlisted in faction warfare
                    format: int32
                    title: get_corporations_corporation_id_fw_stats_faction_id
                    type: integer
                  kills:
                    description: Summary of kills done by the given corporation against enemy factions
                    properties:
                      last_week:
                        description: Last week's total number of kills by members of the given corporation against enemy factions
                        format: int32
                        title: get_corporations_corporation_id_fw_stats_last_week
                        type: integer
                      total:
                        description: Total number of kills by members of the given corporation against enemy factions since the corporation enlisted
                        format: int32
                        title: get_corporations_corporation_id_fw_stats_total
                        type: integer
                      yesterday:
                        description: Yesterday's total number of kills by members of the given corporation against enemy factions
                        format: int32
                        title: get_corporations_corporation_id_fw_stats_yesterday
                        type: integer
                    required:
                    - yesterday
                    - last_week
                    - total
                    title: get_corporations_corporation_id_fw_stats_kills
                    type: object
                  pilots:
                    description: How many pilots the enlisted corporation has. Will not be included if corporation is not enlisted in faction warfare
                    format: int32
                    title: get_corporations_corporation_id_fw_stats_pilots
                    type: integer
                  victory_points:
                    description: Summary of victory points gained by the given corporation for the enlisted faction
                    properties:
                      last_week:
                        description: Last week's victory points gained by members of the given corporation
                        format: int32
                        title: get_corporations_corporation_id_fw_stats_victory_points_last_week
                        type: integer
                      total:
                        description: Total victory points gained since the given corporation enlisted
                        format: int32
                        title: get_corporations_corporation_id_fw_stats_victory_points_total
                        type: integer
                      yesterday:
                        description: Yesterday's victory points gained by members of the given corporation
                        format: int32
                        title: get_corporations_corporation_id_fw_stats_victory_points_yesterday
                        type: integer
                    required:
                    - yesterday
                    - last_week
                    - total
                    title: get_corporations_corporation_id_fw_stats_victory_points
                    type: object
                required:
                - kills
                - victory_points
                title: get_corporations_corporation_id_fw_stats_ok
                type: object
              examples:
                response:
                  value:
                    enlisted_on: 2017-10-17 00:00:00+00:00
                    faction_id: 500001
                    kills:
                      last_week: 893
                      total: 684350
                      yesterday: 136
                    pilots: 28863
                    victory_points:
                      last_week: 102640
                      total: 52658260
                      yesterday: 15980
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized'
              examples:
                response:
                  value:
                    error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden'
              examples:
                response:
                  value:
                    error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      security:
      - evesso:
        - esi-corporations.read_fw_stats.v1
      summary: EVE Online Overview of a Corporation Involved in Faction Warfare
      tags:
      - Faction Warfare
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /fw/leaderboards/:
    get:
      description: 'Top 4 leaderboard of factions for kills and victory points separated by total, last week and yesterday


        ---

        Alternate route: `/dev/fw/leaderboards/`


        Alternate route: `/legacy/fw/leaderboards/`


        Alternate route: `/v1/fw/leaderboards/`


        Alternate route: `/v2/fw/leaderboards/`


        ---

        This route expires daily at 11:05'
      operationId: get_fw_leaderboards
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: Corporation leaderboard of kills and victory points within faction warfare
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  kills:
                    description: Top 4 rankings of factions by number of kills from yesterday, last week and in total
                    properties:
                      active_total:
                        description: Top 4 ranking of factions active in faction warfare by total kills. A faction is considered "active" if they have participated in faction warfare in the past 14 days
                        items:
                          description: active_total object
                          properties:
                            amount:
                              description: Amount of kills
                              format: int32
                              title: get_fw_leaderboards_amount
                              type: integer
                            faction_id:
                              description: faction_id integer
                              format: int32
                              title: get_fw_leaderboards_faction_id
                              type: integer
                          title: get_fw_leaderboards_active_total_active_total
                          type: object
                        maxItems: 4
                        title: get_fw_leaderboards_active_total
                        type: array
                      last_week:
                        description: Top 4 ranking of factions by kills in the past week
                        items:
                          description: last_week object
                          properties:
                            amount:
                              description: Amount of kills
                              format: int32
                              title: get_fw_leaderboards_last_week_amount
                              type: integer
                            faction_id:
                              description: faction_id integer
                              format: int32
                              title: get_fw_leaderboards_last_week_faction_id
                              type: integer
                          title: get_fw_leaderboards_last_week_last_week
                          type: object
                        maxItems: 4
                        title: get_fw_leaderboards_last_week
                        type: array
                      yesterday:
                        description: Top 4 ranking of factions by kills in the past day
                        items:
                          description: yesterday object
                          properties:
                            amount:
                              description: Amount of kills
                              format: int32
                              title: get_fw_leaderboards_yesterday_amount
                              type: integer
                            faction_id:
                              description: faction_id integer
                              format: int32
                              title: get_fw_leaderboards_yesterday_faction_id
                              type: integer
                          title: get_fw_leaderboards_yesterday_yesterday
                          type: object
                        maxItems: 4
                        title: get_fw_leaderboards_yesterday
                        type: array
                    required:
                    - yesterday
                    - last_week
                    - active_total
                    title: get_fw_leaderboards_kills
                    type: object
                  victory_points:
                    description: Top 4 rankings of factions by victory points from yesterday, last week and in total
                    properties:
                      active_total:
                        description: Top 4 ranking of factions active in faction warfare by total victory points. A faction is considered "active" if they have participated in faction warfare in the past 14 days
                        items:
                          description: active_total object
                          properties:
                            amount:
                              description: Amount of victory points
                              format: int32
                              title: get_fw_leaderboards_active_total_amount
                              type: integer
                            faction_id:
                              description: faction_id integer
                              format: int32
                              title: get_fw_leaderboards_active_total_faction_id
                              type: integer
                          title: get_fw_leaderboards_active_total_active_total_1
                          type: object
                        maxItems: 4
                        title: get_fw_leaderboards_victory_points_active_total
                        type: array
                      last_week:
                        description: Top 4 ranking of factions by victory points in the past week
                        items:
                          description: last_week object
                          properties:
                            amount:
                              description: Amount of victory points
                              format: int32
                              title: get_fw_leaderboards_last_week_amount_1
                              type: integer
                            faction_id:
                              description: faction_id integer
                              format: int32
                              title: get_fw_leaderboards_last_week_faction_id_1
                              type: integer
                          title: get_fw_leaderboards_last_week_last_week_1
                          type: object
                        maxItems: 4
                        title: get_fw_leaderboards_victory_points_last_week
                        type: array
                      yesterday:
                        description: Top 4 ranking of factions by victory points in the past day
                        items:
                          description: yesterday object
                          properties:
                            amount:
                              description: Amount of victory points
                              format: int32
                              title: get_fw_leaderboards_yesterday_amount_1
                              type: integer
                            faction_id:
                              description: faction_id integer
                              format: int32
                              title: get_fw_leaderboards_yesterday_faction_id_1
                              type: integer
                          title: get_fw_leaderboards_yesterday_yesterday_1
                          type: object
                        maxItems: 4
                        title: get_fw_leaderboards_victory_points_yesterday
                        type: array
                    required:
                    - yesterday
                    - last_week
                    - active_total
                    title: get_fw_leaderboards_victory_points
                    type: object
                required:
                - kills
                - victory_points
                title: get_fw_leaderboards_ok
                type: object
              examples:
                response:
                  value:
                    kills:
                      active_total:
                      - amount: 832273
                        faction_id: 500004
                      - amount: 687915
                        faction_id: 500001
                      last_week:
                      - amount: 730
                        faction_id: 500001
                      - amount: 671
                        faction_id: 500004
                      yesterday:
                      - amount: 100
                        faction_id: 500001
                      - amount: 50
                        faction_id: 500004
                    victory_points:
                      active_total:
                      - amount: 53130500
                        faction_id: 500001
                      - amount: 50964263
                        faction_id: 500004
                      last_week:
                      - amount: 97360
                        faction_id: 500001
                      - amount: 84980
                        faction_id: 500004
                      yesterday:
                      - amount: 5000
                        faction_id: 500002
                      - amount: 3500
                        faction_id: 500003
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online List of the Top Factions in Faction Warfare
      tags:
      - Faction Warfare
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /fw/leaderboards/characters/:
    get:
      description: 'Top 100 leaderboard of pilots for kills and victory points separated by total, last week and yesterday


        ---

        Alternate route: `/dev/fw/leaderboards/characters/`


        Alternate route: `/legacy/fw/leaderboards/characters/`


        Alternate route: `/v1/fw/leaderboards/characters/`


        Alternate route: `/v2/fw/leaderboards/characters/`


        ---

        This route expires daily at 11:05'
      operationId: get_fw_leaderboards_characters
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: Character leaderboard of kills and victory points within faction warfare
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  kills:
                    description: Top 100 rankings of pilots by number of kills from yesterday, last week and in total
                    properties:
                      active_total:
                        description: Top 100 ranking of pilots active in faction warfare by total kills. A pilot is considered "active" if they have participated in faction warfare in the past 14 days
                        items:
                          description: active_total object
                          properties:
                            amount:
                              description: Amount of kills
                              format: int32
                              title: get_fw_leaderboards_characters_amount
                              type: integer
                            character_id:
                              description: character_id integer
                              format: int32
                              title: get_fw_leaderboards_characters_character_id
                              type: integer
                          title: get_fw_leaderboards_characters_active_total_active_total
                          type: object
                        maxItems: 100
                        title: get_fw_leaderboards_characters_active_total
                        type: array
                      last_week:
                        description: Top 100 ranking of pilots by kills in the past week
                        items:
                          description: last_week object
                          properties:
                            amount:
                              description: Amount of kills
                              format: int32
                              title: get_fw_leaderboards_characters_last_week_amount
                              type: integer
                            character_id:
                              description: character_id integer
                              format: int32
                              title: get_fw_leaderboards_characters_last_week_character_id
                              type: integer
                          title: get_fw_leaderboards_characters_last_week_last_week
                          type: object
                        maxItems: 100
                        title: get_fw_leaderboards_characters_last_week
                        type: array
                      yesterday:
                        description: Top 100 ranking of pilots by kills in the past day
                        items:
                          description: yesterday object
                          properties:
                            amount:
                              description: Amount of kills
                              format: int32
                              title: get_fw_leaderboards_characters_yesterday_amount
                              type: integer
                            character_id:
                              description: character_id integer
                              format: int32
                              title: get_fw_leaderboards_characters_yesterday_character_id
                              type: integer
                          title: get_fw_leaderboards_characters_yesterday_yesterday
                          type: object
                        maxItems: 100
                        title: get_fw_leaderboards_characters_yesterday
                        type: array
                    required:
                    - yesterday
                    - last_week
                    - active_total
                    title: get_fw_leaderboards_characters_kills
                    type: object
                  victory_points:
                    description: Top 100 rankings of pilots by victory points from yesterday, last week and in total
                    properties:
                      active_total:
                        description: Top 100 ranking of pilots active in faction warfare by total victory points. A pilot is considered "active" if they have participated in faction warfare in the past 14 days
                        items:
                          description: active_total object
                          properties:
                            amount:
                              description: Amount of victory points
                              format: int32
                              title: get_fw_leaderboards_characters_active_total_amount
                              type: integer
                            character_id:
                              description: character_id integer
                              format: int32
                              title: get_fw_leaderboards_characters_active_total_character_id
                              type: integer
                          title: get_fw_leaderboards_characters_active_total_active_total_1
                          type: object
                        maxItems: 100
                        title: get_fw_leaderboards_characters_victory_points_active_total
                        type: array
                      last_week:
                        description: Top 100 ranking of pilots by victory points in the past week
                        items:
                          description: last_week object
                          properties:
                            amount:
                              description: Amount of victory points
                              format: int32
                              title: get_fw_leaderboards_characters_last_week_amount_1
                              type: integer
                            character_id:
                              description: character_id integer
                              format: int32
                              title: get_fw_leaderboards_characters_last_week_character_id_1
                              type: integer
                          title: get_fw_leaderboards_characters_last_week_last_week_1
                          type: object
                        maxItems: 100
                        title: get_fw_leaderboards_characters_victory_points_last_week
                        type: array
                      yesterday:
                        description: Top 100 ranking of pilots by victory points in the past day
                        items:
                          description: yesterday object
                          properties:
                            amount:
                              description: Amount of victory points
                              format: int32
                              title: get_fw_leaderboards_characters_yesterday_amount_1
                              type: integer
                            character_id:
                              description: character_id integer
                              format: int32
                              title: get_fw_leaderboards_characters_yesterday_character_id_1
                              type: integer
                          title: get_fw_leaderboards_characters_yesterday_yesterday_1
                          type: object
                        maxItems: 100
                        title: get_fw_leaderboards_characters_victory_points_yesterday
                        type: array
                    required:
                    - yesterday
                    - last_week
                    - active_total
                    title: get_fw_leaderboards_characters_victory_points
                    type: object
                required:
                - kills
                - victory_points
                title: get_fw_leaderboards_characters_ok
                type: object
              examples:
                response:
                  value:
                    kills:
                      active_total:
                      - amount: 10000
                        character_id: 2112625428
                      - amount: 8500
                        character_id: 95465499
                      last_week:
                      - amount: 100
                        character_id: 2112625428
                      - amount: 70
                        character_id: 95465499
                      yesterday:
                      - amount: 34
                        character_id: 2112625428
                      - amount: 20
                        character_id: 95465499
                    victory_points:
                      active_total:
                      - amount: 1239158
                        character_id: 2112625428
                      - amount: 1139029
                        character_id: 95465499
                      last_week:
                      - amount: 2660
                        character_id: 2112625428
                      - amount: 2000
                        character_id: 95465499
                      yesterday:
                      - amount: 620
                        character_id: 2112625428
                      - amount: 550
                        character_id: 95465499
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online List of the Top Pilots in Faction Warfare
      tags:
      - Faction Warfare
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /fw/leaderboards/corporations/:
    get:
      description: 'Top 10 leaderboard of corporations for kills and victory points separated by total, last week and yesterday


        ---

        Alternate route: `/dev/fw/leaderboards/corporations/`


        Alternate route: `/legacy/fw/leaderboards/corporations/`


        Alternate route: `/v1/fw/leaderboards/corporations/`


        Alternate route: `/v2/fw/leaderboards/corporations/`


        ---

        This route expires daily at 11:05'
      operationId: get_fw_leaderboards_corporations
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: Corporation leaderboard of kills and victory points within faction warfare
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  kills:
                    description: Top 10 rankings of corporations by number of kills from yesterday, last week and in total
                    properties:
                      active_total:
                        description: Top 10 ranking of corporations active in faction warfare by total kills. A corporation is considered "active" if they have participated in faction warfare in the past 14 days
                        items:
                          description: active_total object
                          properties:
                            amount:
                              description: Amount of kills
                              format: int32
                              title: get_fw_leaderboards_corporations_amount
                              type: integer
                            corporation_id:
                              description: corporation_id integer
                              format: int32
                              title: get_fw_leaderboards_corporations_corporation_id
                              type: integer
                          title: get_fw_leaderboards_corporations_active_total_active_total
                          type: object
                        maxItems: 10
                        title: get_fw_leaderboards_corporations_active_total
                        type: array
                      last_week:
                        description: Top 10 ranking of corporations by kills in the past week
                        items:
                          description: last_week object
                          properties:
                            amount:
                              description: Amount of kills
                              format: int32
                              title: get_fw_leaderboards_corporations_last_week_amount
                              type: integer
                            corporation_id:
                              description: corporation_id integer
                              format: int32
                              title: get_fw_leaderboards_corporations_last_week_corporation_id
                              type: integer
                          title: get_fw_leaderboards_corporations_last_week_last_week
                          type: object
                        maxItems: 10
                        title: get_fw_leaderboards_corporations_last_week
                        type: array
                      yesterday:
                        description: Top 10 ranking of corporations by kills in the past day
                        items:
                          description: yesterday object
                          properties:
                            amount:
                              description: Amount of kills
                              format: int32
                              title: get_fw_leaderboards_corporations_yesterday_amount
                              type: integer
                            corporation_id:
                              description: corporation_id integer
                              format: int32
                              title: get_fw_leaderboards_corporations_yesterday_corporation_id
                              type: integer
                          title: get_fw_leaderboards_corporations_yesterday_yesterday
                          type: object
                        maxItems: 10
                        title: get_fw_leaderboards_corporations_yesterday
                        type: array
                    required:
                    - yesterday
                    - last_week
                    - active_total
                    title: get_fw_leaderboards_corporations_kills
                    type: object
                  victory_points:
                    description: Top 10 rankings of corporations by victory points from yesterday, last week and in total
                    properties:
                      active_total:
                        description: Top 10 ranking of corporations active in faction warfare by total victory points. A corporation is considered "active" if they have participated in faction warfare in the past 14 days
                        items:
                          description: active_total object
                          properties:
                            amount:
                              description: Amount of victory points
                              format: int32
                              title: get_fw_leaderboards_corporations_active_total_amount
                              type: integer
                            corporation_id:
                              description: corporation_id integer
                              format: int32
                              title: get_fw_leaderboards_corporations_active_total_corporation_id
                              type: integer
                          title: get_fw_leaderboards_corporations_active_total_active_total_1
                          type: object
                        maxItems: 10
                        title: get_fw_leaderboards_corporations_victory_points_active_total
                        type: array
                      last_week:
                        description: Top 10 ranking of corporations by victory points in the past week
                        items:
                          description: last_week object
                          properties:
                            amount:
                              description: Amount of victory points
                              format: int32
                              title: get_fw_leaderboards_corporations_last_week_amount_1
                              type: integer
                            corporation_id:
                              description: corporation_id integer
                              format: int32
                              title: get_fw_leaderboards_corporations_last_week_corporation_id_1
                              type: integer
                          title: get_fw_leaderboards_corporations_last_week_last_week_1
                          type: object
                        maxItems: 10
                        title: get_fw_leaderboards_corporations_victory_points_last_week
                        type: array
                      yesterday:
                        description: Top 10 ranking of corporations by victory points in the past day
                        items:
                          description: yesterday object
                          properties:
                            amount:
                              description: Amount of victory points
                              format: int32
                              title: get_fw_leaderboards_corporations_yesterday_amount_1
                              type: integer
                            corporation_id:
                              description: corporation_id integer
                              format: int32
                              title: get_fw_leaderboards_corporations_yesterday_corporation_id_1
                              type: integer
                          title: get_fw_leaderboards_corporations_yesterday_yesterday_1
                          type: object
                        maxItems: 10
                        title: get_fw_leaderboards_corporations_victory_points_yesterday
                        type: array
                    required:
                    - yesterday
                    - last_week
                    - active_total
                    title: get_fw_leaderboards_corporations_victory_points
                    type: object
                required:
                - kills
                - victory_points
                title: get_fw_leaderboards_corporations_ok
                type: object
              examples:
                response:
                  value:
                    kills:
                      active_total:
                      - amount: 81692
                        corporation_id: 1000180
                      - amount: 76793
                        corporation_id: 1000182
                      last_week:
                      - amount: 290
                        corporation_id: 1000180
                      - amount: 169
                        corporation_id: 1000182
                      yesterday:
                      - amount: 51
                        corporation_id: 1000180
                      - amount: 39
                        corporation_id: 1000182
                    victory_points:
                      active_total:
                      - amount: 18640927
                        corporation_id: 1000180
                      - amount: 18078265
                        corporation_id: 1000181
                      last_week:
                      - amount: 91980
                        corporation_id: 1000180
                      - amount: 58920
                        corporation_id: 1000181
                      yesterday:
                      - amount: 12600
                        corporation_id: 1000180
                      - amount: 8240
                        corporation_id: 1000181
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online List of the Top Corporations in Faction Warfare
      tags:
      - Faction Warfare
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /fw/stats/:
    get:
      description: 'Statistical overviews of factions involved in faction warfare


        ---

        Alternate route: `/dev/fw/stats/`


        Alternate route: `/legacy/fw/stats/`


        Alternate route: `/v1/fw/stats/`


        Alternate route: `/v2/fw/stats/`


        ---

        This route expires daily at 11:05'
      operationId: get_fw_stats
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: Per faction breakdown of faction warfare statistics
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    faction_id:
                      description: faction_id integer
                      format: int32
                      title: get_fw_stats_faction_id
                      type: integer
                    kills:
                      description: Summary of kills against an enemy faction for the given faction
                      properties:
                        last_week:
                          description: Last week's total number of kills against enemy factions
                          format: int32
                          title: get_fw_stats_last_week
                          type: integer
                        total:
                          description: Total number of kills against enemy factions since faction warfare began
                          format: int32
                          title: get_fw_stats_total
                          type: integer
                        yesterday:
                          description: Yesterday's total number of kills against enemy factions
                          format: int32
                          title: get_fw_stats_yesterday
                          type: integer
                      required:
                      - yesterday
                      - last_week
                      - total
                      title: get_fw_stats_kills
                      type: object
                    pilots:
                      description: How many pilots fight for the given faction
                      format: int32
                      title: get_fw_stats_pilots
                      type: integer
                    systems_controlled:
                      description: The number of solar systems controlled by the given faction
                      format: int32
                      title: get_fw_stats_systems_controlled
                      type: integer
                    victory_points:
                      description: Summary of victory points gained for the given faction
                      properties:
                        last_week:
                          description: Last week's victory points gained
                          format: int32
                          title: get_fw_stats_victory_points_last_week
                          type: integer
                        total:
                          description: Total victory points gained since faction warfare began
                          format: int32
                          title: get_fw_stats_victory_points_total
                          type: integer
                        yesterday:
                          description: Yesterday's victory points gained
                          format: int32
                          title: get_fw_stats_victory_points_yesterday
                          type: integer
                      required:
                      - yesterday
                      - last_week
                      - total
                      title: get_fw_stats_victory_points
                      type: object
                  required:
                  - faction_id
                  - pilots
                  - systems_controlled
                  - kills
                  - victory_points
                  title: get_fw_stats_200_ok
                  type: object
                maxItems: 100
                title: get_fw_stats_ok
                type: array
              examples:
                response:
                  value:
                  - faction_id: 500001
                    kills:
                      last_week: 893
                      total: 684350
                      yesterday: 136
                    pilots: 28863
                    systems_controlled: 20
                    victory_points:
                      last_week: 102640
                      total: 52658260
                      yesterday: 15980
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online An Overview of Statistics About Factions Involved in Faction Warfare
      tags:
      - Faction Warfare
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /fw/systems/:
    get:
      description: 'An overview of the current ownership of faction warfare solar systems


        ---

        Alternate route: `/dev/fw/systems/`


        Alternate route: `/legacy/fw/systems/`


        Alternate route: `/v2/fw/systems/`


        Alternate route: `/v3/fw/systems/`


        ---

        This route is cached for up to 1800 seconds'
      operationId: get_fw_systems
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: All faction warfare solar systems
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok array
                items:
                  description: 200 ok object
                  properties:
                    contested:
                      description: contested string
                      enum:
                      - captured
                      - contested
                      - uncontested
                      - vulnerable
                      title: get_fw_systems_contested
                      type: string
                    occupier_faction_id:
                      description: occupier_faction_id integer
                      format: int32
                      title: get_fw_systems_occupier_faction_id
                      type: integer
                    owner_faction_id:
                      description: owner_faction_id integer
                      format: int32
                      title: get_fw_systems_owner_faction_id
                      type: integer
                    solar_system_id:
                      description: solar_system_id integer
                      format: int32
                      title: get_fw_systems_solar_system_id
                      type: integer
                    victory_points:
                      description: victory_points integer
                      format: int32
                      title: get_fw_systems_victory_points
                      type: integer
                    victory_points_threshold:
                      description: victory_points_threshold integer
                      format: int32
                      title: get_fw_systems_victory_points_threshold
                      type: integer
                  required:
                  - solar_system_id
                  - occupier_faction_id
                  - owner_faction_id
                  - victory_points
                  - victory_points_threshold
                  - contested
                  title: get_fw_systems_200_ok
                  type: object
                maxItems: 171
                title: get_fw_systems_ok
                type: array
              examples:
                response:
                  value:
                  - contested: uncontested
                    occupier_faction_id: 500001
                    owner_faction_id: 500001
                    solar_system_id: 30002096
                    victory_points: 60
                    victory_points_threshold: 3000
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Ownership of Faction Warfare Systems
      tags:
      - Faction Warfare
      x-alternate-versions:
      - dev
      - legacy
      - v2
      - v3
      x-cached-seconds: 1800
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /fw/wars/:
    get:
      description: 'Data about which NPC factions are at war


        ---

        Alternate route: `/dev/fw/wars/`


        Alternate route: `/legacy/fw/wars/`


        Alternate route: `/v1/fw/wars/`


        Alternate route: `/v2/fw/wars/`


        ---

        This route expires daily at 11:05'
      operationId: get_fw_wars
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: A list of NPC factions at war
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: List of factions at war
                items:
                  description: 200 ok object
                  properties:
                    against_id:
                      description: The faction ID of the enemy faction.
                      format: int32
                      title: get_fw_wars_against_id
                      type: integer
                    faction_id:
                      description: faction_id integer
                      format: int32
                      title: get_fw_wars_faction_id
                      type: integer
                  required:
                  - faction_id
                  - against_id
                  title: get_fw_wars_200_ok
                  type: object
                maxItems: 100
                title: get_fw_wars_ok
                type: array
              examples:
                response:
                  value:
                  - against_id: 500002
                    faction_id: 500001
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request'
              examples:
                response:
                  value:
                    error: Bad request message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited'
              examples:
                response:
                  value:
                    error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error'
              examples:
                response:
                  value:
                    error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable'
              examples:
                response:
                  value:
                    error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout'
              examples:
                response:
                  value:
                    error: Gateway timeout message
      summary: EVE Online Data About Which NPC Factions Are at War
      tags:
      - Faction Warfare
      x-alternate-versions:
      - dev
      - legacy
      - v1
      - v2
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    servers:
    - url: https://esi.evetech.net/latest
  /v1/characters/{character_id}/fw/stats/:
    get:
      description: 'Statistical overview of a character involved in faction warfare


        ---


        This route expires daily at 11:05'
      operationId: get_characters_character_id_fw_stats
      parameters:
      - $ref: '#/components/parameters/character_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Faction warfare statistics for a given character
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  current_rank:
                    description: The given character's current faction rank
                    format: int32
                    maximum: 9
                    minimum: 0
                    title: get_characters_character_id_fw_stats_current_rank
                    type: integer
                  enlisted_on:
                    description: The enlistment date of the given character into faction warfare. Will not be included if character is not enlisted in faction warfare
                    format: date-time
                    title: get_characters_character_id_fw_stats_enlisted_on
                    type: string
                  faction_id:
                    description: The faction the given character is enlisted to fight for. Will not be included if character is not enlisted in faction warfare
                    format: int32
                    title: get_characters_character_id_fw_stats_faction_id
                    type: integer
                  highest_rank:
                    description: The given character's highest faction rank achieved
                    format: int32
                    maximum: 9
                    minimum: 0
                    title: get_characters_character_id_fw_stats_highest_rank
                    type: integer
                  kills:
                    description: Summary of kills done by the given character against enemy factions
                    properties:
                      last_week:
                        description: Last week's total number of kills by a given character against enemy factions
                        format: int32
                        title: get_characters_character_id_fw_stats_last_week
                        type: integer
                      total:
                        description: Total number of kills by a given character against enemy factions since the character enlisted
                        format: int32
                        title: get_characters_character_id_fw_stats_total
                        type: integer
                      yesterday:
                        description: Yesterday's total number of kills by a given character against enemy factions
                        format: int32
                        title: get_characters_character_id_fw_stats_yesterday
                        type: integer
                    required:
                    - yesterday
                    - last_week
                    - total
                    title: get_characters_character_id_fw_stats_kills
                    type: object
                  victory_points:
                    description: Summary of victory points gained by the given character for the enlisted faction
                    properties:
                      last_week:
                        description: Last week's victory points gained by the given character
                        format: int32
                        title: get_characters_character_id_fw_stats_victory_points_last_week
                        type: integer
                      total:
                        description: Total victory points gained since the given character enlisted
                        format: int32
                        title: get_characters_character_id_fw_stats_victory_points_total
                        type: integer
                      yesterday:
                        description: Yesterday's victory points gained by the given character
                        format: int32
                        title: get_characters_character_id_fw_stats_victory_points_yesterday
                        type: integer
                    required:
                    - yesterday
                    - last_week
                    - total
                    title: get_characters_character_id_fw_stats_victory_points
                    type: object
                required:
                - kills
                - victory_points
                title: get_characters_character_id_fw_stats_ok
                type: object
              example:
                enlisted_on: '2017-10-17T00:00:00Z'
                faction_id: 500001
                kills:
                  last_week: 893
                  total: 684350
                  yesterday: 136
                victory_points:
                  last_week: 102640
                  total: 52658260
                  yesterday: 15980
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-characters.read_fw_stats.v1
      summary: Overview of a character involved in faction warfare
      tags:
      - Faction Warfare
      x-alternate-versions:
      - latest
      - legacy
      - v1
      - v2
    servers:
    - url: https://esi.evetech.net
  /v1/corporations/{corporation_id}/fw/stats/:
    get:
      description: 'Statistics about a corporation involved in faction warfare


        ---


        This route expires daily at 11:05'
      operationId: get_corporations_corporation_id_fw_stats
      parameters:
      - $ref: '#/components/parameters/corporation_id'
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      - $ref: '#/components/parameters/token'
      responses:
        '200':
          description: Faction warfare statistics for a given corporation
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  enlisted_on:
                    description: The enlistment date of the given corporation into faction warfare. Will not be included if corporation is not enlisted in faction warfare
                    format: date-time
                    title: get_corporations_corporation_id_fw_stats_enlisted_on
                    type: string
                  faction_id:
                    description: The faction the given corporation is enlisted to fight for. Will not be included if corporation is not enlisted in faction warfare
                    format: int32
                    title: get_corporations_corporation_id_fw_stats_faction_id
                    type: integer
                  kills:
                    description: Summary of kills done by the given corporation against enemy factions
                    properties:
                      last_week:
                        description: Last week's total number of kills by members of the given corporation against enemy factions
                        format: int32
                        title: get_corporations_corporation_id_fw_stats_last_week
                        type: integer
                      total:
                        description: Total number of kills by members of the given corporation against enemy factions since the corporation enlisted
                        format: int32
                        title: get_corporations_corporation_id_fw_stats_total
                        type: integer
                      yesterday:
                        description: Yesterday's total number of kills by members of the given corporation against enemy factions
                        format: int32
                        title: get_corporations_corporation_id_fw_stats_yesterday
                        type: integer
                    required:
                    - yesterday
                    - last_week
                    - total
                    title: get_corporations_corporation_id_fw_stats_kills
                    type: object
                  pilots:
                    description: How many pilots the enlisted corporation has. Will not be included if corporation is not enlisted in faction warfare
                    format: int32
                    title: get_corporations_corporation_id_fw_stats_pilots
                    type: integer
                  victory_points:
                    description: Summary of victory points gained by the given corporation for the enlisted faction
                    properties:
                      last_week:
                        description: Last week's victory points gained by members of the given corporation
                        format: int32
                        title: get_corporations_corporation_id_fw_stats_victory_points_last_week
                        type: integer
                      total:
                        description: Total victory points gained since the given corporation enlisted
                        format: int32
                        title: get_corporations_corporation_id_fw_stats_victory_points_total
                        type: integer
                      yesterday:
                        description: Yesterday's victory points gained by members of the given corporation
                        format: int32
                        title: get_corporations_corporation_id_fw_stats_victory_points_yesterday
                        type: integer
                    required:
                    - yesterday
                    - last_week
                    - total
                    title: get_corporations_corporation_id_fw_stats_victory_points
                    type: object
                required:
                - kills
                - victory_points
                title: get_corporations_corporation_id_fw_stats_ok
                type: object
              example:
                enlisted_on: '2017-10-17T00:00:00Z'
                faction_id: 500001
                kills:
                  last_week: 893
                  total: 684350
                  yesterday: 136
                pilots: 28863
                victory_points:
                  last_week: 102640
                  total: 52658260
                  yesterday: 15980
        '304':
          description: Not modified
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bad_request_2'
              example:
                error: Bad request message
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/unauthorized_2'
              example:
                error: Unauthorized message
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/forbidden_2'
              example:
                error: Forbidden message
        '420':
          description: Error limited
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_limited_2'
              example:
                error: Error limited message
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/internal_server_error_2'
              example:
                error: Internal server error message
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_unavailable_2'
              example:
                error: Service unavailable message
        '504':
          description: Gateway timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/gateway_timeout_2'
              example:
                error: Gateway timeout message
      security:
      - evesso:
        - esi-corporations.read_fw_stats.v1
      summary: Overview of a corporation involved in faction warfare
      tags:
      - Faction Warfare
      x-alternate-versions:
      - latest
      - legacy
      - v1
      - v2
    servers:
    - url: https://esi.evetech.net
  /v1/fw/leaderboards/:
    get:
      description: 'Top 4 leaderboard of factions for kills and victory points separated by total, last week and yesterday


        ---


        This route expires daily at 11:05'
      operationId: get_fw_leaderboards
      parameters:
      - $ref: '#/components/parameters/datasource'
      - $ref: '#/components/parameters/If-None-Match'
      responses:
        '200':
          description: Corporation leaderboard of kills and victory points within faction warfare
          headers:
            Cache-Control:
              description: The caching mechanism used
              schema:
                type: string
            ETag:
              description: RFC7232 compliant entity tag
              schema:
                type: string
            Expires:
              description: RFC7231 formatted datetime string
              schema:
                type: string
            Last-Modified:
              description: RFC7231 formatted datetime string
              schema:
                type: string
          content:
            application/json:
              schema:
                description: 200 ok object
                properties:
                  kills:
                    description: Top 4 rankings of factions by number of kills from yesterday, last week and in total
                    properties:
                      active_total:
                        description: Top 4 ranking of factions active in faction warfare by total kills. A faction is considered "active" if they have participated in faction warfare in the past 14 days
                        items:
                          description: active_total object
                          properties:
                            amount:
                              description: Amount of kills
                              format: int32
                              title: get_fw_leaderboards_amount
                              type: integer
                            faction_id:
                              description: faction_id integer
                              format: int32
                              title: get_fw_leaderboards_faction_id
                              type: integer
                          title: get_fw_leaderboards_active_total_active_total
                          type: object
                        maxItems: 4
                        title: get_fw_leaderboards_active_total
                        type: array
                      last_week:
                        description: Top 4 ranking of factions by kills in the past week
                        items:
                          description: last_week object
                          properties:
                            amount:
                              description: Amount of kills
                              format: int32
                              title: get_fw_leaderboards_last_week_amount
                              type: integer
                            faction_id:
                              description: faction_id integer
                              format: int32
                              title: get_fw_leaderboards_last_week_faction_id
                              type: integer
                          title: get_fw_leaderboards_last_week_last_week
                          type: object
                        maxItems: 4
                        title: get_fw_leaderboards_last_week
                        type: array
                      yesterday:
                        description: Top 4 ranking of factions by kills in the past day
                        items:
                          description: yesterday object
                          properties:
                            amount:
                              description: Amount of kills
                              format: int32
                              title: get_fw_leaderboards_yesterday_amount
                              type: integer
                            faction_id:
                              description: faction_id integer
                              format: int32
                              title: get_fw_leaderboards_yesterday_faction_id
                              type: integer
                          title: get_fw_leaderboards_yesterday_yesterday
                          type: object
                        maxItems: 4
                        title: get_fw_leaderboards_yesterday
                        type: array
                    required:
                    - yesterday
                    - last_week
                    - active_total
                    title: get_fw_leaderboards_kills
                    type: object
                  victory_points:
                    description: Top 4 rankings of factions by victory points from yesterday, last week and in total
                    properties:
                      active_total:
                        description: Top 4 ranking of factions active in faction warfare by total victory points. A faction is considered "active" if they have participated in faction warfare in the past 14 days
                        items:
                          description: active_total object
                          properties:
                            amount:
                              description: Amount of victory points
                              format: int32
                              title: get_fw_leaderboards_active_total_amount
                              type: integer
                            faction_id:
                              description: faction_id integer
                              format: int32
                              title: get_fw_leaderboards_active_total_faction_id
                              type: integer
                          title: get_fw_leaderboards_active_total_active_total_1
                          type: object
                        maxItems: 4
                        title: get_fw_leaderboards_victory_points_active_total
                        type: array
                      last_week:
                        description: Top 4 ranking of factions by victory points in the past week
                        items:
                          description: last_week object
                          properties:
                            amount:
                              description: Amount of victory points
                              format: int32
                              title: get_fw_leaderboards_last_week_amount_1
                              type: integer
                            faction_id:
                              description: faction_id integer
[...]
